<section class="contacts" id="contacts">
	<div class="contacts__title">
		<h2 class="h44">
			Не нашли ответ на свой вопрос?
		</h2>
	</div>
	<div class="contacts__content">
		<div class="contacts__content-iframe">
			<iframe src="https://yandex.by/map-widget/v1/-/CCQ3JPvx9D" height="850" frameborder="1"
				allowfullscreen="true" style="position:relative;"></iframe>
		</div>
		<div class="contacts__content--position">
			<div class="contacts__content-title">
				<p class="txt34 bold">
					Звоните и пишите
				</p>
			</div>
			<div class="contacts__content-soc">
				<a href="#" class="socIcon"><img src="img/svg/whatsapp.svg" alt=""></a>
				<a href="#" class="socIcon"> <img src="img/svg/viber.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="img/svg/telegram.svg" alt=""></a>
			</div>
			<div class="contacts__content-mail">
				<img src="img/svg/mail.svg" alt="">
				<p><a class="txt18" href="mailto:valik_2143@mail.ru">mail@mail.ru</a></p>
			</div>
			<div class="contacts__content-time">
				<p class="txt16 grey">Пн-вс 9:00-21:00</p>
				<p><img src="img/svg/phone.svg" alt=""><a class="txt24 bold" href="tel:+375295179498">+375 29
						517-94-98</a>
				</p>
			</div>
			<div class="contacts__content-subTitle">
				<p class="txt28 bold">
					или заезжайте
				</p>
			</div>
			<div class="contacts__content-adress">
				<img src="img/header/map.png" alt="">
				<p class="txt18">г. Минск, <br>
					ул. Кальварийская, 1</p>
			</div>
			<div class="contacts__content-form">
				<form action="" class="form">
					<span class="input-wrap">
						<span><img src="img/svg/user.svg" alt=""></span>
						<input class="input" type="name" placeholder="Введите ваше имя"></span>
					<span class="input-wrap">
						<span><img src="img/svg/phone1.svg" alt=""></span>
						<input class="input inputTel" type="tel" placeholder="Введите ваш номер"></span>
					<button class="mainBtn txt16 bold">ПЕРЕЗВОНИТЕ МНЕ</button>
				</form>
				<p class="txt13">Нажимая на кнопку, вы соглашаетесь <br>
					на <span class="blue underline terms">обработку персональных данных</span></p>
			</div>
		</div>
	</div>
	<img src="img/contacts/cloud.png" alt="" class="contacts-cloud">
</section>