<section class="contacts">
	<div class="contacts__title">
		<h2 class="h44">
			Не нашли ответ на свой вопрос?
		</h2>
	</div>
	<div class="contacts__content">
		<div class="contacts__content-iframe">
			<iframe src="https://yandex.by/map-widget/v1/-/CCQ3JPvx9D" height="850" frameborder="1"
				allowfullscreen="true" style="position:relative;"></iframe>
		</div>
		<div class="contacts__content">
			<div class="contacts__content-title">
				<p class="txt34 bold">
					Звоните и пишите
				</p>
			</div>
			<div class="contacts__content-soc">
				<img class="socIcon" src="../svg/whatsapp.svg" alt="">
				<img class="socIcon" src="../svg/viber.svg" alt="">
				<img class="socIcon" src="../svg/telegramm.svg" alt="">
			</div>
			<div class="contacts__content-mail">
				<img src="../svg/mail.svg" alt="">
				<p class="txt18">mail@mail.ru</p>
			</div>
			<div class="contacts__content-time">
				<p class="txt16">Пн-вс 9:00-21:00</p>
				<p><img src="../svg/phone.svg" alt=""><a class="txt24" href="tel:+375295179498">+375 29 517-94-98</a>
				</p>
			</div>
			<div class="contacts__content-subTitle">
				<p class="txt28 bold">
					или заезжайте
				</p>
			</div>
			<div class="contacts__content-adress">
				<img src="../img/header/map.png" alt="">
				<p class="txt18">г. Минск, <br>
					ул. Кальварийская, 1</p>
			</div>
			<div class="contacts__content-form">
				<form action="" class="form">
					<input class="input" type="file">
					<input class="input" type="text">
					<input type="text" class="input">
					<button class="mainBtn">перезвоние мне</button>
				</form>
				<p class="txt13">Нажимая на кнопку, вы соглашаетесь
					на <span class="blue underLine">обработку персональных данных</span></p>
			</div>
		</div>
	</div>
</section>