<section class="cost blockPad" id="cost">
	<div class="containerB">
		<div class="cost__title">
			<h2 class="h44">
				Узнайте <span class="blue">стоимость фундамента</span> под ключ <br>
				на вашем участке
			</h2>
		</div>
		<div class="cost__content">
			<div class="cost__descr">
				<div class="cost__descr-title">
					<p class="txt100 exBold blue">
						6
					</p>
					<p class="txt28">
						факторов, определяющих итоговую <br>
						стоимость вашего фундамента:
					</p>
				</div>
				<div class="cost__descr-list">
					<ul>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							геология
							грунтов</li>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							геометрия участка</li>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							перепады
							высот</li>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							уровень
							грунтовых вод
						</li>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							наличие
							насаждений
						</li>
						<li class="txt18"><span class="centerIconLi"><img src="img/svg/check.svg" alt=""></span>
							удаленность от Минска
							<br>
							и подъездные пути</li>
					</ul>
				</div>
				<div class="cost__descr-sign">
					<p class="txt28">
						поэтому <span class="bold">получите консультацию </span> <br>
						нашего мастера-инженера
					</p>
				</div>
			</div>
			<div class="cost__form form-wrap">
				<h3 class="h34">Обсудите задачу
					с мастером</h3>
				<p class="txt18 grey">или прикрепите проект <br>
					вашего дома</p>
				<form action="" class="form">
					<span class="input-file">
						<input type="file" name="file" id="input-file" class="inputfile"
							data-multiple-caption="{count} файлов выбрано" multiple />
						<label for="input-file">
							<span class="txt14 grey">
								Название файла
							</span>
							<strong>
								<img src="img/svg/clip.svg" alt="">
							</strong>
						</label>
					</span>
					<span class="input-wrap">
						<span><img src="img/svg/user.svg" alt=""></span>
						<input class="input" type="name" placeholder="Введите ваше имя"></span>
					<span class="input-wrap">
						<span><img src="img/svg/phone1.svg" alt=""></span>
						<input class="input  inputTel" type="tel" placeholder="Введите ваш номер"></span>
					<button class="mainBtn txt16 bold">Получить рассчёт</button>
				</form>
				<p class="txt13">Нажимая на кнопку, вы соглашаетесь <br>
					на <span class="blue underline terms">обработку персональных данных</span></p>
			</div>
		</div>
	</div>
	<img src="img/cost/leftTree.png" alt="" class="cost-treeL">
	<img src="img/cost/rightTree.png" alt="" class="cost-treeR">
	<img src="img/cost/cloud.png" alt="" class="cost-cloud">
	<img src="img/cost/men.png" alt="" class="cost-men">
</section>