<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__content-descr">
				<p class="txt18">
					2012-2020 - произодство фундаментов <br>
					в Минске и области
				</p>
			</div>
			<div class="footer__content-unp">
				<p class="txt18">
					УНП 333 333 333 <br>
					Все права защищены
				</p>
			</div>
			<div class="footer__content-site">
				<p class="txt18">
					Сделано с умом в <br>
					<a href="#" class="blue underline">constant.agency</a>
				</p>
			</div>
		</div>
	</div>
</footer>