<header class="header">
	<div class="containerH">
		<div class="header--flex">
			<div class="header__logo">
				<a href="#"> <img src="../img/header/logo.png" alt=""></a>
			</div>
			<div class="header__descr">
				<p class="txt16">Установка фундамента
					под ключ в Минске
					с 2010 года</p>
			</div>
			<div class="header__menu">
				<ul>
					<li class="header__menu-item txt18">Наш подход</li>
					<li class="header__menu-item txt18">Виды фундамента</li>
					<li class="header__menu-item txt18">Работы</li>
					<li class="header__menu-item txt18">Цены</li>
					<li class="header__menu-item txt18">Контакты</li>
				</ul>
			</div>
			<div class="header__map">
				<a href="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" target="_blank">
					<img src="../img/header/map.png" alt="">
					<p class="txt16 blue underline">Минск</p>
				</a>
				<div class="header__iframe">
					<iframe src="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" width="560" height="400" frameborder="1"
						allowfullscreen="true" style="position:relative;"></iframe>
				</div>
			</div>
			<div class="header__social">
				<a href="#" class="socIcon"><img src="../svg/whatsapp.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="../svg/viber.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="../svg/telegram.svg" alt=""></a>
			</div>
			<div class="header__time">
				<p class="txt16 timeGrey">Пн-вс 9:00-21:00</p>
				<a class="txt24 bold" href="tel:+375295179498"><span><img src="../svg/phone.svg" alt=""></span>+375 29
					517-94-98</a>
				<a href="tel:+375295179498" class="txt16 blue underline">ПЕРЕЗВОНИТЕ МНЕ</a>
			</div>
		</div>
	</div>
</header>