<header class="header">
	<div class="containerH">
		<div class="header--flex">
			<div class="header__logo">
				<a href="#"> <img src="img/header/logo.png" alt=""></a>
			</div>
			<div class="header__descr">
				<p class="txt16 grey">Установка фундамента
					под ключ в Минске
					с 2010 года</p>
			</div>
			<div class="header__menu">
				<ul>
					<li class="header__menu-item txt18"><a href="#steps">Наш подход</a></li>
					<li class="header__menu-item txt18"><a href="#types">Виды фундамента</a></li>
					<li class="header__menu-item txt18"><a href="#reviews">Работы</a></li>
					<li class="header__menu-item txt18"><a href="#cost">Цены</a></li>
					<li class="header__menu-item txt18"><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
			<div class="header__map">
				<a href="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" target="_blank">
					<img src="img/header/map.png" alt="">
					<p class="txt16 blue underline">Минск</p>
				</a>
				<div class="header__iframe">
					<iframe src="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" width="560" height="400" frameborder="1"
						allowfullscreen="true" style="position:relative;"></iframe>
				</div>
			</div>
			<div class="header__social">
				<a href="#" class="socIcon"><img src="img/svg/whatsapp.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="img/svg/viber.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="img/svg/telegram.svg" alt=""></a>
			</div>
			<div class="header__time">
				<p class="txt16 timeGrey">Пн-вс 9:00-21:00</p>
				<a class="txt24 bold" href="tel:+375295179498"><span><img src="img/svg/phone.svg" alt=""></span>+375
					29
					517-94-98</a>
				<a class="txt16 blue underline order">ПЕРЕЗВОНИТЕ МНЕ</a>
			</div>
			<div class="header__menu-btn">
				<span class="txt18">МЕНЮ</span>
				<img src="img/svg/menu.svg" alt="">
			</div>
		</div>
		<div class="header__menu-mobile">
			<div class="header__logo header__logo-mob ">
				<a href="#"> <img src="img/header/logo.png" alt=""></a>
			</div>
			<div class="header__social header__social-mob">
				<a href="#" class="socIcon"><img src="img/svg/whatsapp.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="img/svg/viber.svg" alt=""></a>
				<a href="#" class="socIcon"><img src="img/svg/telegram.svg" alt=""></a>
			</div>
			<div class="header__map header__map-mob">
				<a href="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" target="_blank">
					<img src="img/header/map.png" alt="">
					<p class="txt16 blue underline">Минск</p>
				</a>
				<div class="header__iframe">
					<iframe src="https://yandex.by/map-widget/v1/-/CCQ3FZRLtD" width="560" height="400" frameborder="1"
						allowfullscreen="true" style="position:relative;"></iframe>
				</div>
			</div>
			<div class="header__time header__time-mob">
				<p class="txt16 timeGrey">Пн-вс 9:00-21:00</p>
				<a class="txt24 bold" href="tel:+375295179498"><span><img src="img/svg/phone.svg" alt=""></span>+375
					29
					517-94-98</a>
				<span><a class="txt16 blue underline order">ПЕРЕЗВОНИТЕ МНЕ</a></span>
			</div>
			<div class="header__menu header__menu-mob">
				<ul>
					<li class="header__menu-item txt18"><a href="#steps">Наш подход</a></li>
					<li class="header__menu-item txt18"><a href="#types">Виды фундамента</a></li>
					<li class="header__menu-item txt18"><a href="#reviews">Работы</a></li>
					<li class="header__menu-item txt18"><a href="#cost">Цены</a></li>
					<li class="header__menu-item txt18"><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
			<span class="header__menu-close"><img src="img/svg/close.svg" alt=""></span>
		</div>
	</div>
</header>