<section class="main">
	<div class="containerB">
		<div class="main__title">
			<h1 class="h60">Фундамент “под ключ”
				от 110 рублей/м.п.</h1>
		</div>
		<div class="main__descr">
			<p class="txt28">
				Получите подбор и расчет фундамента
				с гарантией 50 лет и неограниченным
				сроком службы <span class="blue bold">бесплатно</span>
			</p>
		</div>
		<div class="main__download">
			<button class="mainBtn">
				<p class="txt16 bold">СКАЧАТЬ КАТАЛОГ</p>
				<p class="txt13">Размер: 2,9 Mb (PDF)</p>
			</button>
			<img class="paralax" src="img/main/catalog.png" alt="">
		</div>
		<div class="main__cards">
			<div class="main__cards-item">
				<p class="txt20"><span class="bold">8 лет</span> на рынке</p>
				<p class=" txt72">01</p>
				<span class="centerIcon"><img src="img/svg/check.svg" alt=""></span>
			</div>
			<div class="main__cards-item">
				<p class="txt20"><span class="bold">Гарантия</span> на
					фундамент <span class="bold">50 лет</span></p>
				<p class=" txt72">02</p>
				<span class="centerIcon"><img src="img/svg/check.svg" alt=""></span>
			</div>
			<div class="main__cards-item">
				<p class="txt20">Фундамент для <spanc class="bold">всех видов грунтов</spanc>
				</p>
				<p class=" txt72">03</p>
				<span class="centerIcon"><img src="img/svg/check.svg" alt=""></span>
			</div>
			<div class="main__cards-item">
				<p class="txt20"><span class="bold">Контроль качества</span> на всех этапах <span class="bold">+
						фотоотчёт</span></p>
				<p class=" txt72">04</p>
				<span class="centerIcon"><img src="img/svg/check.svg" alt=""></span>
			</div>
		</div>
	</div>
	<img class="main-leftTreeBack" src="img/main/leftTreeBack.png" alt="">
	<img class="main-leftTreeUp" src="img/main/leftTreeUp.png" alt="">
	<img class="main-rightTreeUp" src="img/main/rightTreeUp.png" alt="">
	<img class="main-rightTreeDown" src="img/main/rightTreeDown.png" alt="">
	<img src="img/main/cloud1.png" alt="" class="main-cloud">
</section>