<section class="objects blockPad">
	<div class="containerB">
		<div class="objects__title">
			<h2 class="h44">
				Строим фундамент<span class="blue"> под любые объекты </span>
			</h2>
		</div>
		<div class="objects-wrap">
			<div class="objects__content">
				<div class="objects__content-item">
					<img src="img/objects/img1.png" alt="">
					<button class="mainBtn bold order txt16 txt18">ЗАКАЗАТЬ</button>
					<p class="txt28 bold">Для дома</p>
				</div>
				<div class="objects__content-item">
					<img src="img/objects/img2.png" alt="">
					<button class="mainBtn bold order txt16 txt18">ЗАКАЗАТЬ</button>
					<p class="txt28 bold">Для дачи</p>
				</div>
				<div class="objects__content-item">
					<img src="img/objects/img3.png" alt="">
					<button class="mainBtn bold order txt16 txt18">ЗАКАЗАТЬ</button>
					<p class="txt28 bold">Для забора</p>
				</div>
				<div class="objects__content-item">
					<img src="img/objects/img4.png" alt="">
					<button class="mainBtn bold order txt16 txt18">ЗАКАЗАТЬ</button>
					<p class="txt28 bold">Для гаража</p>
				</div>
			</div>
		</div>
	</div>
	<img src="img/objects/leftTree.png" alt="" class="objects-tree">
</section>