<section class="partners blockPad">
	<div class="container">
		<div class="partners__title">
			<h2 class="h44">
				Также мы <span class="blue">рекомендуем</span> вам <br>
				<span class="blue">наших партнеров</span>
			</h2>
		</div>
		<div class="partners__content">
			<p class="txt28">Мы являемся партнерами строительных компаний Минска.</p>
			<p class="txt28">Поэтому своим клиентам мы можем предложить так же услуги по возведению стен и кровельные
				работы. </p>
			<p class="txt28">Вы получите современный и качественный дом под ключ, выполненный в соответсвии ГОСТ и СНиП
				республики Беларусь.</p>
		</div>
		<div class="partners-wrap">
			<div class="partners__item">
				<div class="partners__slider-wrap">
					<span class="centerIconArrow  partners__slider-arrowR-1"><img src="../svg/arrowR1.svg"
							alt=""></span>
					<span class="centerIconArrow  partners__slider-arrowL-1"><img src="../svg/arrowL1.svg"
							alt=""></span>
					<div class="partners__slider-1 partners__slider">
						<img src="../img/partners/img1.png" alt="">
						<img src="../img/partners/img2.png" alt="">
						<img src="../img/partners/img3.png" alt="">
					</div>
				</div>
				<div class="partners__item-descr">
					<div class="partners__item-title">
						<p class="txt28 bold">
							Гидроизоляция
						</p>
					</div>
					<div class="partners__item-cost">
						<p class="txt18 blue exBold">
							от 50 ₽/м3
						</p>
					</div>
					<div class="partners__item-more">
						<a href="" class="blue underline txt16">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="partners__item">
				<div class="partners__slider-wrap">
					<span class="centerIconArrow  partners__slider-arrowR-2"><img src="../svg/arrowR1.svg"
							alt=""></span>
					<span class="centerIconArrow  partners__slider-arrowL-2"><img src="../svg/arrowL1.svg"
							alt=""></span>
					<div class="partners__slider-2 partners__slider">
						<img src="../img/partners/img1.png" alt="">
						<img src="../img/partners/img2.png" alt="">
						<img src="../img/partners/img3.png" alt="">
					</div>
				</div>
				<div class="partners__item-descr">
					<div class="partners__item-title">
						<p class="txt28 bold">
							Дренаж
						</p>
					</div>
					<div class="partners__item-cost">
						<p class="txt18 blue exBold">
							от 50 ₽/м3
						</p>
					</div>
					<div class="partners__item-more">
						<a href="" class="blue underline txt16">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="partners__item">
				<div class="partners__slider-wrap">
					<span class="centerIconArrow  partners__slider-arrowR-3"><img src="../svg/arrowR1.svg"
							alt=""></span>
					<span class="centerIconArrow  partners__slider-arrowL-3"><img src="../svg/arrowL1.svg"
							alt=""></span>
					<div class="partners__slider-3 partners__slider">
						<img src="../img/partners/img1.png" alt="">
						<img src="../img/partners/img2.png" alt="">
						<img src="../img/partners/img3.png" alt="">
					</div>
				</div>
				<div class="partners__item-descr">
					<div class="partners__item-title">
						<p class="txt28 bold">
							Технический надзор
						</p>
					</div>
					<div class="partners__item-cost">
						<p class="txt18 blue exBold">
							от 50 ₽/м3
						</p>
					</div>
					<div class="partners__item-more">
						<a href="" class="blue underline txt16">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="../img/partners/tree.png" alt="" class="partners-tree">
</section>