<div class="more">
	<div class="more__title">
		<h3 class="h34">
			Монолитный ленточный фундамент
		</h3>
	</div>
	<div class="more__descr">
		<img src="img/more/img1.png" alt="">
		<span>
			<p class="txt18">Ленточный фундамент - универсальный тип основания для частного дома. Монолитная лента -
				это
				неразрывный контур из бетона. Для прочности выполняется армирование стальной или стеклопластиковой
				арматурой. Железобетон стойко переносит тяжёлые климатические условия, выдерживает большие нагрузки.
				При
				соблюдении конструкторских расчетов и СНиПов риск усадки сводится к минимуму. Данный тип основания
				используется для домов, коттеджей из керамических и газобетонных блоков, а также построенных по
				монолитной
				технологии. Есть возможность устройства цокольного этажа.</p>
			<p class="txt18">Фундамент - монолитная лента подходит для большинства типов грунтов – глинистых,
				песчаных,
				пучинистых.</p>
			</spa>
	</div>
	<div class="more__features">
		<div class="more__features-title">
			<p class="txt28 bold">
				Особенности качественного устройста ленточного монолитного фундамента ленточного монолитного
			</p>
		</div>
		<div class="more__features-content">
			<div class="more__features-ul">
				<div class="more__features-subtitle">
					<p class="txt18">Важнейшими аспектами при устройстве фундамента-монолитной ленты являются:
					</p>
				</div>
				<ul>
					<li class="txt18">Соблюдение глубины залегания фундамента и ширины ленты в соответствии с
						конструкторским расчетом;</li>
					<li class="txt18">Устройство песчаной подушки с трамбовкой;</li>
					<li class="txt18">Вязка углов армокарсов в точном соответствии с конструкторской схемой;</li>
					<li class="txt18">Использование профессиональной опалубки, способной выдержать колоссальное
						давление
						бетона без деформации;</li>
					<li class="txt18">Соблюдение диагоналей фундамента, нулевого уровня (плоскости);</li>
					<li class="txt18">Использование бетонного раствора на шлаке маркой не ниже М350;</li>
					<li class="txt18">Трамбовка бетонного раствора глубинным вибратором для устранения пустот;</li>
					<li class="txt18">Увлажнение бетона во время периода набора прочности.</li>
				</ul>
			</div>
			<div class="more__features-form">
				<form action="" class="form">
					<span class="input-wrap">
						<span><img src="img/svg/user.svg" alt=""></span>
						<input class="input" type="name" placeholder="Введите ваше имя"></span>
					<span class="input-wrap">
						<span><img src="img/svg/phone1.svg" alt=""></span>
						<input class="input" type="name" placeholder="Введите ваш номер"></span>
					<span class="input-file">
						<input type="file" name="file" id="input-file" class="inputfile"
							data-multiple-caption="{count} файлов выбрано" multiple />
						<label for="input-file">
							<span class="txt14 grey">
								Название файла
							</span>
							<strong>
								<img src="img/svg/clip.svg" alt="">
							</strong>
						</label>
					</span>
					<button class="mainBtn txt16 bold">Получить расчет
						стоимости фундамента</button>
				</form>
				<p class="txt13">Нажимая на кнопку, вы соглашаетесь <br>
					на <span class="blue underline terms">обработку персональных данных</span></p>
			</div>
		</div>
	</div>
	<img src="img/more/leftTree.png" alt="" class="more-leftTree">
	<img src="img/more/rightTree.png" alt="" class="more-rightTree">
	<span class="more-close"><img src="img/svg/close.svg" alt=""></span>
</div>