<div class="steps__form form-wrap form-popup">
	<h3 class="h34">Заказать <br> фундамент</h3>
	<p class="txt18 grey">здеcь вы так же можете прикрепить
		проект дома при наличии</p>
	<form action="" class="form">
		<input type="hidden" name="title" value="Форма получения рассчёта">
		<span class="input-file">
			<input type="file" name="file" id="input-file" class="inputfile"
				data-multiple-caption="{count} файлов выбрано" multiple />
			<label for="input-file">
				<span class="txt14 grey">
					Название файла
				</span>
				<strong>
					<img src="img/svg/clip.svg" alt="">
				</strong>
			</label>
		</span>
		<span class="input-wrap">
			<span><img src="img/svg/user.svg" alt=""></span>
			<input required name="name" class="input" type="name" placeholder="Введите ваше имя"></span>
		<span class="input-wrap">
			<span><img src="img/svg/phone1.svg" alt=""></span>
			<input required name="phone" class="input  inputTel" type="tel" placeholder="Введите ваш номер"></span>
		<button class="mainBtn txt16 bold">Получить рассчёт</button>
	</form>
	<p class="txt13 center">Нажимая на кнопку, вы соглашаетесь <br>
		на <span class="blue underline terms">обработку персональных данных</span></p>
	<span class="form-close"><img src="img/svg/close.svg" alt=""></span>
</div>
<div class="popup-background"></div>