<section class="qa blockPad">
	<div class="container">
		<div class="qa__title">
			<h2 class="h44">
				У нас <span class="blue">часто спрашивают</span>
			</h2>
		</div>
		<div class="qa__content">
			<div class="qa__content-item">
				<details class="acordeon" open>
					<summary>
						<p class="txt28 bold">
							Сколько по времени займет строительство фундамента
							и сколько это стоит?
						</p>
						<span class="centerIconArrowDet  ">
							<div class="cl-btn-4"></div>
						</span>
					</summary>
					<div class="qa__content-hidden txt18">
						Строительство фундамента занимает различные сроки от 1 до 30 дней,
						в зависимости от его типа и вида постройки. Цена определяется
						индивидуально под каждый проект.
					</div>
				</details>
			</div>
			<div class="qa__content-item">
				<details class="acordeon" open>
					<summary>
						<p class="txt28 bold">
							Сколько по времени займет строительство фундамента
							и сколько это стоит?
						</p>
						<span class="centerIconArrowDet  ">
							<div class="cl-btn-4"></div>
						</span>
					</summary>
					<div class="qa__content-hidden txt18">
						Строительство фундамента занимает различные сроки от 1 до 30 дней,
						в зависимости от его типа и вида постройки. Цена определяется
						индивидуально под каждый проект.
					</div>
				</details>
			</div>
			<div class="qa__content-item">
				<details class="acordeon" open>
					<summary>
						<p class="txt28 bold">
							Сколько по времени займет строительство фундамента
							и сколько это стоит?
						</p>
						<span class="centerIconArrowDet  ">
							<div class="cl-btn-4"></div>
						</span>
					</summary>
					<div class="qa__content-hidden txt18">
						Строительство фундамента занимает различные сроки от 1 до 30 дней,
						в зависимости от его типа и вида постройки. Цена определяется
						индивидуально под каждый проект.
					</div>
				</details>
			</div>
			<div class="qa__content-item">
				<details class="acordeon" open>
					<summary>
						<p class="txt28 bold">
							Сколько по времени займет строительство фундамента
							и сколько это стоит?
						</p>
						<span class="centerIconArrowDet  ">
							<div class="cl-btn-4"></div>
						</span>
					</summary>
					<div class="qa__content-hidden txt18">
						Строительство фундамента занимает различные сроки от 1 до 30 дней,
						в зависимости от его типа и вида постройки. Цена определяется
						индивидуально под каждый проект.
					</div>
				</details>
			</div>
			<div class="qa__content-item">
				<details class="acordeon" open>
					<summary>
						<p class="txt28 bold">
							Сколько по времени займет строительство фундамента
							и сколько это стоит?
						</p>
						<span class="centerIconArrowDet  ">
							<div class="cl-btn-4"></div>
						</span>
					</summary>
					<div class="qa__content-hidden txt18">
						Строительство фундамента занимает различные сроки от 1 до 30 дней,
						в зависимости от его типа и вида постройки. Цена определяется
						индивидуально под каждый проект.
					</div>
				</details>
			</div>
		</div>
	</div>
	<img src="img/qa/catalog.png" alt="" class="qa-catalog paralax">
	<img src="img/qa/rightTree.png" alt="" class="qa-tree">
	<span class="qa-point">?</span>
</section>