<section class="reviews blockPad" id="reviews">
	<div class="reviews__title">
		<h2 class="h44">
			<span class="blue">Клиенты</span> о нашей работе говорят
		</h2>
	</div>
	<div class="reviews__slider-wrap">
		<span class="centerIconArrowBig  reviews__slider-arrowR"><img src="img/svg/arrowR1.svg" alt=""></span>
		<span class="centerIconArrowBig  reviews__slider-arrowL"><img src="img/svg/arrowL1.svg" alt=""></span>
		<div class="reviews__slider-pagin">
			<p class="reviews__slider-pagination"></p>
		</div>
		<div class="reviews__slider-main">
			<div class="reviews__tab reviews__tab-1">
				<div class="reviews__img-wrap">
					<div class="reviews__img">
						<img src="img/types/img1.png" alt="">
					</div>
					<div class="reviews__img-prev">
						<a href="img/types/img1.png" data-fancybox="gallery1"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery1"><img src="img/types/img2.png" alt=""></a>
						<a href="img/types/img3.png" data-fancybox="gallery1"><img src="img/types/img3.png" alt=""></a>
						<a href="img/types/img1.png" data-fancybox="gallery1"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery1"><img src="img/types/img2.png" alt=""></a>
					</div>
				</div>
				<div class="reviews__descr">
					<div class="reviews__descr-title">
						<p class="txt28 bold">
							Фундамент ленточный 7*8м
						</p>
					</div>
					<div class="reviews__descr-param">
						<div class="reviews__descr-item">
							<img src="img/svg/zoom.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Размер</span>
								<span>7*8</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/clock.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Срок</span>
								<span>15 дней</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/rub.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Стоимость</span>
								<span>7 000р</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/levels.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Тип</span>
								<span>Ленточный</span>
							</p>
						</div>
					</div>
					<div class="reviews__descr-review">
						<p class="txt14 grey">Отзыв клиента</p>
						<p class="txt18 bold">Скворцов Виталий</p>
						<p class="txt18">Заказал фундамент 2 недели назад. Обговорили сроки, на следующий день уже
							приехали устанавливать. Качеством доволен. Спасибо вам.</p>
					</div>
					<div class="reviews__descr-orderBtn">
						<button class="mainBtn bold order txt16 txt18">Хочу такой же</button>
					</div>
				</div>
			</div>
			<div class="reviews__tab reviews__tab-2">
				<div class="reviews__img-wrap">
					<div class="reviews__img">
						<img src="img/types/img1.png" alt="">
					</div>
					<div class="reviews__img-prev">
						<a href="img/types/img1.png" data-fancybox="gallery2"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery2"><img src="img/types/img2.png" alt=""></a>
						<a href="img/types/img3.png" data-fancybox="gallery2"><img src="img/types/img3.png" alt=""></a>
						<a href="img/types/img1.png" data-fancybox="gallery2"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery2"><img src="img/types/img2.png" alt=""></a>
					</div>
				</div>
				<div class="reviews__descr">
					<div class="reviews__descr-title">
						<p class="txt28 bold">
							Фундамент ленточный 7*8м
						</p>
					</div>
					<div class="reviews__descr-param">
						<div class="reviews__descr-item">
							<img src="img/svg/zoom.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Размер</span>
								<span>7*8</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/clock.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Срок</span>
								<span>15 дней</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/rub.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Стоимость</span>
								<span>7 000р</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/levels.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Тип</span>
								<span>Ленточный</span>
							</p>
						</div>
					</div>
					<div class="reviews__descr-review">
						<p class="txt14 grey">Отзыв клиента</p>
						<p class="txt18 bold">Скворцов Виталий</p>
						<p class="txt18">Заказал фундамент 2 недели назад. Обговорили сроки, на следующий день уже
							приехали устанавливать. Качеством доволен. Спасибо вам.</p>
					</div>
					<div class="reviews__descr-orderBtn">
						<button class="mainBtn bold order txt16 txt18">Хочу такой же</button>
					</div>
				</div>
			</div>
			<div class="reviews__tab reviews__tab-3">
				<div class="reviews__img-wrap">
					<div class="reviews__img">
						<img src="img/types/img1.png" alt="">
					</div>
					<div class="reviews__img-prev">
						<a href="img/types/img1.png" data-fancybox="gallery3"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery3"><img src="img/types/img2.png" alt=""></a>
						<a href="img/types/img3.png" data-fancybox="gallery3"><img src="img/types/img3.png" alt=""></a>
						<a href="img/types/img1.png" data-fancybox="gallery3"><img src="img/types/img1.png" alt=""></a>
						<a href="img/types/img2.png" data-fancybox="gallery3"><img src="img/types/img2.png" alt=""></a>
					</div>
				</div>
				<div class="reviews__descr">
					<div class="reviews__descr-title">
						<p class="txt28 bold">
							Фундамент ленточный 7*8м
						</p>
					</div>
					<div class="reviews__descr-param">
						<div class="reviews__descr-item">
							<img src="img/svg/zoom.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Размер</span>
								<span>7*8</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/clock.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Срок</span>
								<span>15 дней</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/rub.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Стоимость</span>
								<span>7 000р</span>
							</p>
						</div>
						<div class="reviews__descr-item">
							<img src="img/svg/levels.svg" alt="">
							<p class="txt28 bold">
								<span class="txt14 grey">Тип</span>
								<span>Ленточный</span>
							</p>
						</div>
					</div>
					<div class="reviews__descr-review">
						<p class="txt14 grey">Отзыв клиента</p>
						<p class="txt18 bold">Скворцов Виталий</p>
						<p class="txt18">Заказал фундамент 2 недели назад. Обговорили сроки, на следующий день уже
							приехали устанавливать. Качеством доволен. Спасибо вам.</p>
					</div>
					<div class="reviews__descr-orderBtn">
						<button class="mainBtn bold order txt16 txt18">Хочу такой же</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>