<section class="reviews">
	<div class="reviews__title">
		<h2 class="h44">
			<span class="blue">Клиенты</span> о нашей работе говорят
		</h2>
	</div>
	<div class="reviews__slider">
		<div class="reviews__slider-item">
			<img src="../svg/arrowR.svg" alt="" class="reviews__slider-arrowR">
			<img src="../svg/arrowL.svg" alt="" class="reviews__slider-arrowL">
			<div class="slider__pagin">
				<p><span class="blue exBold">01</span>/ 05</p>
			</div>
			<div class="reviews__sliders">
				<div class="reviews__slider-wrap">
					<img class="reviews__slider-arrowR" src="../svg/arrowR.svg" alt="">
					<img class="reviews__slider-arrowL" src="../svg/arrowL.svg" alt="">
					<div class="reviews__slider-main">
						<img src="../img/reviews/img1.png" alt="">
						<img src="../img/reviews/img1.png" alt="">
						<img src="../img/reviews/img1.png" alt="">
						<img src="../img/reviews/img1.png" alt="">
					</div>
				</div>
				<div class="reviews__slider-nav">
					<img src="../img/reviews/img1.png" alt="">
					<img src="../img/reviews/img1.png" alt="">
					<img src="../img/reviews/img1.png" alt="">
					<img src="../img/reviews/img1.png" alt="">
				</div>
			</div>
			<div class="reviews__descr">
				<div class="reviews__descr-title">
					<p class="txt28 bold">Фундамент ленточный 7*8м</p>
				</div>
				<div class="reviews__descr-params">
					<div class="reviews__descr-param">
						<img src="../img/reviews/icon1.png" alt="">
						<div class="reviews__descr-txt">
							<p class="txt13 grey">Размер</p>
							<p class="txt28 bold">7*8</p>
						</div>
					</div>
					<div class="reviews__descr-param">
						<img src="../img/reviews/icon1.png" alt="">
						<div class="reviews__descr-txt">
							<p class="txt13 grey">Срок</p>
							<p class="txt28 bold">15 дней</p>
						</div>
					</div>
					<div class="reviews__descr-param">
						<img src="../img/reviews/icon1.png" alt="">
						<div class="reviews__descr-txt">
							<p class="txt13 grey">Стоимость</p>
							<p class="txt28 bold">7 000р</p>
						</div>
					</div>
					<div class="reviews__descr-param">
						<img src="../img/reviews/icon1.png" alt="">
						<div class="reviews__descr-txt">
							<p class="txt13 grey">Тип</p>
							<p class="txt28 bold">Ленточный</p>
						</div>
					</div>
				</div>
				<div class="reviews__descr-review">
					<p class="txt13 grey">Отзыв клиента</p>
					<p class="txt18 bold">Скворцов Виталий</p>
					<p class="txt18">Заказал фундамент 2 недели назад. Обговорили сроки, на следующий день уже приехали
						устанавливать. Качеством доволен. Спасибо вам.</p>
				</div>
				<div class="reviews__descr-btn">
					<button class="mainBtn">
						Хочу такой же
					</button>
				</div>
			</div>
		</div>
	</div>
</section>