<section class="steps blockPad" id="steps">
	<div class="container">
		<div class="steps__title">
			<h2 class="h44">Осуществляем полный цикл работ <br>
				начиная от <span class="blue">
					подбора фундамента исходя из ваших грунтов, <br>
					составления сметы и до готового фундамента
				</span></h2>
		</div>
		<div class="steps__cards">
			<div class="steps__cards-item">
				<p class="txt50 exBold"> Шаг 1</p>
				<p class="txt18"><span class="bold">
						Согласовываем дату
						выезда
					</span> специалиста
					для оценки грунтов</p>
				<span class="centerIconRed"><img src="img/svg/calendar.svg" alt="" class="upImg"></span>
			</div>
			<div class="steps__cards-item">
				<p class="txt50 exBold"> Шаг 2</p>
				<p class="txt18"><span class="bold">Составляем смету </span>
					и озвучиваем примерную
					стоимость работ</p>
				<span class="centerIconRed"><img src="img/svg/contract.svg" alt="" class="upImg"></span>
			</div>
			<div class="steps__cards-item">
				<p class="txt50 exBold"> Шаг 3</p>
				<p class="txt18"><span class="bold">Заключаем договор </span>
					в котором указываем
					окончательную стоимость</p>
				<span class="centerIconRed"><img src="img/svg/money.svg" alt="" class="upImg"></span>
			</div>
			<div class="steps__cards-item">
				<p class="txt50 exBold"> Шаг 4</p>
				<p class="txt18"><span class="bold">Производим работы </span>
					и сдаем готовый
					фундамент</p>
				<span class="centerIconRed"><img src="img/svg/repair.svg" alt="" class="upImg"></span>
			</div>
			<div class="steps__cards-item">
				<p class="txt50 exBold"> Шаг 5</p>
				<p class="txt18"><span class="bold">Вы принимаете работы, </span>
					подписав акт приема-сдачи
					работ</p>
				<span class="centerIconRed"><img src="img/svg/note.svg" alt="" class="upImg"></span>
			</div>
		</div>
		<div class="steps__payment">
			<div class="steps__payment-descrL">
				<p class="txt28">Если у вас есть готовый
					проект вашего объекта
					стрительства, то можете
					просто <span class="bold">прикрепить его</span>,
					и мы подготовим смету</p>
				<img src="img/svg/leftArrow.svg" class="steps-left" alt="">
			</div>
			<div class="steps__form form-wrap">
				<h3 class="h34">Получите расчет</h3>
				<p class="txt18 grey">Заполните форму, и мы вышлем <br>
					вам расчет в течение 5 минут</p>
				<form action="" class="form">
					<span class="input-file">
						<input type="file" name="file" id="input-file" class="inputfile"
							data-multiple-caption="{count} файлов выбрано" multiple />
						<label for="input-file">
							<span class="txt14 grey">
								Название файла
							</span>
							<strong>
								<img src="img/svg/clip.svg" alt="">
							</strong>
						</label>
					</span>
					<span class="input-wrap">
						<span><img src="img/svg/user.svg" alt=""></span>
						<input required class="input" type="name" placeholder="Введите ваше имя"></span>
					<span class="input-wrap">
						<span><img src="img/svg/phone1.svg" alt=""></span>
						<input required class="input inputTel" type="tel" placeholder="Введите ваш номер"></span>
					<button class="mainBtn txt16 bold">Получить рассчёт</button>
				</form>
				<p class="txt13">Нажимая на кнопку, вы соглашаетесь <br>
					на <span class="blue underline terms">обработку персональных данных</span></p>
			</div>
			<div class="steps__payment-descrR">
				<p class="txt28">Если же проекта или
					технического задания нет,
					то <span class="bold">наш мастер поможет</span>
					его <span class="bold">составить</span>, учитывая
					все ваши пожелания
					и условия грунтов</p>
				<img src="img/svg/rightArrow.svg" class="steps-right" alt="">
			</div>
		</div>
	</div>
	<img src="img/steps/cloud.png" class="steps-cloud" alt="">
</section>