<section class="types">
	<div class="containerB">
		<div class="types__title">
			<h2 class="h44">
				<span class="blue">Виды</span> фундаментов <span class="blue">и сравнение </span>
				их характеристик
			</h2>
		</div>
		<div class="types__tabBtn">
			<a href="" class="txt18">Монолитно-ленточный фундамент</a>
			<a href="" class="txt18">Cвайно-ростверковый фундамент</a>
			<a href="" class="txt18">Монолитная плита</a>
			<a href="" class="txt18">Утепленная шведская плита</a>
			<a href="" class="txt18">Сборно-монолитные блоки фбс</a>
		</div>
		<div class="types__tab-1">
			<div class="types__slider-wrap">
				<img src="../svg/arrowR.svg" alt="" class="types__slider-arrowR">
				<img src="../svg/arrowL.svg" alt="" class="types__slider-arrowL">
				<div class="types__slider">
					<img src="../img/types/img1.png" alt="">
					<img src="../img/types/img2.png" alt="">
					<img src="../img/types/img3.png" alt="">
					<img src="../img/types/img1.png" alt="">
					<img src="../img/types/img2.png" alt="">
				</div>
			</div>
			<div class="types__descr">
				<p class="txt18">Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного типа
					выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
				<div class="types__descr-param">
					<div class="types__descr-item">
						<p class="txt18">Несущая способность: </p>
						<div class="types__descr-stars">
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
						</div>
					</div>
					<div class="types__descr-item">
						<p class="txt18">Стоимость устройства: </p>
						<div class="types__descr-stars">
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
						</div>
					</div>
					<div class="types__descr-item">
						<p class="txt18">Технологичность: </p>
						<div class="types__descr-stars">
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
							<span><img src="../svg/star.svg" alt=""></span>
						</div>
					</div>
				</div>
				<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span>
					(работа + материалы)</p>
				<div class="types__descr-btns">
					<div class="types__descr-orderBtn">
						<button class="mainBtn">ЗАКАЗАТЬ</button>
					</div>
					<div class="types__descr-moreBtn">
						<a class="blue underLine">ПОДРОБНЕЕ</a>
					</div>
					<div class class="types__descr-slideBtns">
						<div class="slider__pagin">
							<img class="slider__pagin-arrowR" src="../svg/arrowR.svg" alt="">
							<p><span class="blue exBold">01</span>/ 05</p>
							<img class="slider__pagin-arrowL" src="../svg/arrowL.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>