<section class="types blockPad" id="types">
	<div class="containerB">
		<div class="types__title">
			<h2 class="h44">
				<span class="blue">Виды</span> фундаментов <span class="blue">и сравнение </span> <br>
				их характеристик
			</h2>
		</div>
		<div class="types__tabBtns">
			<a href="" class="txt18 types__tabBtn" data-id="#tab1" id="tab-btn1">Монолитно-ленточный <br> фундамент</a>
			<a href="" class="txt18 types__tabBtn" data-id="#tab2" id="tab-btn2">Cвайно-ростверковый фундамент</a>
			<a href="" class="txt18 types__tabBtn" data-id="#tab3" id="tab-btn3">Монолитная <br> плита</a>
			<a href="" class="txt18 types__tabBtn" data-id="#tab4" id="tab-btn4">Утепленная шведская <br> плита</a>
			<a href="" class="txt18 types__tabBtn" data-id="#tab5" id="tab-btn5">Сборно-монолитные <br> блоки фбс</a>
		</div>
		<div class="types__tabs">
			<div class="types__tab types__tab-1" id="tab1">
				<div class="types__slider-wrap">


					<div class="types__slider">
						<img src="img/types/img1.png" alt="">
					</div>
				</div>
				<div class="types__descr">
					<p class="txt18">1Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного
						типа
						выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
					<div class="types__descr-param">
						<div class="types__descr-item">
							<p class="txt18">Несущая способность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Стоимость устройства: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Технологичность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
					</div>
					<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span> <br>
						(работа + материалы)</p>
					<div class="types__descr-btns">
						<div class="types__descr-orderBtn">
							<button class="mainBtn bold order txt18">ЗАКАЗАТЬ</button>
						</div>
						<div class="types__descr-moreBtn more-btn">
							<a class="blue underline txt18">ПОДРОБНЕЕ</a>
						</div>
						<div class="types__descr-slideBtns">
							<div class="slider__pagin">
								<span class="types__tab-arrowL1" data-id="#tab5" data-tab="#tab-btn5">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M661,3321.5l10.2-9.51,0.8,0.74-9.41,8.77,9.41,8.76-0.8.74-9.409-8.76h0Z"
											transform="translate(-661 -3312)" />
									</svg>
								</span>
								<p class="slider__pagination"><span class="bigPag blue exBold">01
									</span> <span class="grey Bold txt14">/ 05</span></p>
								<span class="types__tab-arrowR1" data-id="#tab2" data-tab="#tab-btn2">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M1287,3320.5l-10.2,9.5-0.8-.74,9.41-8.76-9.41-8.77,0.8-.74,9.4,8.77h0Z"
											transform="translate(-1276 -3311)" />
									</svg>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="types__tab types__tab-2" id="tab2">
				<div class="types__slider-wrap">


					<div class="types__slider">
						<img src="img/types/img2.png" alt="">
					</div>
				</div>
				<div class="types__descr">
					<p class="txt18">2Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного
						типа
						выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
					<div class="types__descr-param">
						<div class="types__descr-item">
							<p class="txt18">Несущая способность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Стоимость устройства: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Технологичность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
					</div>
					<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span> <br>
						(работа + материалы)</p>
					<div class="types__descr-btns">
						<div class="types__descr-orderBtn">
							<button class="mainBtn bold order txt18">ЗАКАЗАТЬ</button>
						</div>
						<div class="types__descr-moreBtn more-btn">
							<a class="blue underline txt18">ПОДРОБНЕЕ</a>
						</div>
						<div class="types__descr-slideBtns">
							<div class="slider__pagin">
								<span class="types__tab-arrowL1" data-id="#tab1" data-tab="#tab-btn1">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M661,3321.5l10.2-9.51,0.8,0.74-9.41,8.77,9.41,8.76-0.8.74-9.409-8.76h0Z"
											transform="translate(-661 -3312)" />
									</svg>
								</span>
								<p class="slider__pagination"><span class="bigPag blue exBold">02
									</span> <span class="grey Bold txt14">/ 05</span></p>
								<span class="types__tab-arrowR1" data-id="#tab3" data-tab="#tab-btn3">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M1287,3320.5l-10.2,9.5-0.8-.74,9.41-8.76-9.41-8.77,0.8-.74,9.4,8.77h0Z"
											transform="translate(-1276 -3311)" />
									</svg>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="types__tab types__tab-3" id="tab3">
				<div class="types__slider-wrap">


					<div class="types__slider">
						<img src="img/types/img3.png" alt="">
					</div>
				</div>
				<div class="types__descr">
					<p class="txt18">3Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного
						типа
						выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
					<div class="types__descr-param">
						<div class="types__descr-item">
							<p class="txt18">Несущая способность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Стоимость устройства: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Технологичность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
					</div>
					<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span> <br>
						(работа + материалы)</p>
					<div class="types__descr-btns">
						<div class="types__descr-orderBtn">
							<button class="mainBtn bold order txt18">ЗАКАЗАТЬ</button>
						</div>
						<div class="types__descr-moreBtn more-btn">
							<a class="blue underline txt18">ПОДРОБНЕЕ</a>
						</div>
						<div class="types__descr-slideBtns">
							<div class="slider__pagin">
								<span class="types__tab-arrowL1" data-id="#tab2" data-tab="#tab-btn2">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M661,3321.5l10.2-9.51,0.8,0.74-9.41,8.77,9.41,8.76-0.8.74-9.409-8.76h0Z"
											transform="translate(-661 -3312)" />
									</svg>
								</span>
								<p class="slider__pagination"><span class="bigPag blue exBold">03
									</span> <span class="grey Bold txt14">/ 05</span></p>
								<span class="types__tab-arrowR1" data-id="#tab4" data-tab="#tab-btn4">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M1287,3320.5l-10.2,9.5-0.8-.74,9.41-8.76-9.41-8.77,0.8-.74,9.4,8.77h0Z"
											transform="translate(-1276 -3311)" />
									</svg>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="types__tab types__tab-4" id="tab4">
				<div class="types__slider-wrap">


					<div class="types__slider">
						<img src="img/types/img1.png" alt="">
					</div>
				</div>
				<div class="types__descr">
					<p class="txt18">4Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного
						типа
						выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
					<div class="types__descr-param">
						<div class="types__descr-item">
							<p class="txt18">Несущая способность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Стоимость устройства: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Технологичность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
					</div>
					<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span> <br>
						(работа + материалы)</p>
					<div class="types__descr-btns">
						<div class="types__descr-orderBtn">
							<button class="mainBtn bold order txt18">ЗАКАЗАТЬ</button>
						</div>
						<div class="types__descr-moreBtn more-btn">
							<a class="blue underline txt18">ПОДРОБНЕЕ</a>
						</div>
						<div class="types__descr-slideBtns">
							<div class="slider__pagin">
								<span class="types__tab-arrowL1" data-id="#tab3" data-tab="#tab-btn3">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M661,3321.5l10.2-9.51,0.8,0.74-9.41,8.77,9.41,8.76-0.8.74-9.409-8.76h0Z"
											transform="translate(-661 -3312)" />
									</svg>
								</span>
								<p class="slider__pagination"><span class="bigPag blue exBold">04
									</span> <span class="grey Bold txt14">/ 05</span></p>
								<span class="types__tab-arrowR1" data-id="#tab5" data-tab="#tab-btn5">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M1287,3320.5l-10.2,9.5-0.8-.74,9.41-8.76-9.41-8.77,0.8-.74,9.4,8.77h0Z"
											transform="translate(-1276 -3311)" />
									</svg>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="types__tab types__tab-5" id="tab5">
				<div class="types__slider-wrap">


					<div class="types__slider">
						<img src="img/types/img2.png" alt="">
					</div>
				</div>
				<div class="types__descr">
					<p class="txt18">5Монолитный ленточный фундамент применяется в пучинистых грунтах. Фундамент данного
						типа
						выдерживает большие нагрузки, есть возможность обустройства цокольного этажа. </p>
					<div class="types__descr-param">
						<div class="types__descr-item">
							<p class="txt18">Несущая способность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Стоимость устройства: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
						<div class="types__descr-item">
							<p class="txt18">Технологичность: </p>
							<div class="types__descr-stars">
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
								<span><img src="img/svg/star.svg" alt=""></span>
							</div>
						</div>
					</div>
					<p class="txt18">Цена под ключ - <span class="blue">от 285 рублей за м.п.</span> <br>
						(работа + материалы)</p>
					<div class="types__descr-btns">
						<div class="types__descr-orderBtn">
							<button class="mainBtn bold order txt18">ЗАКАЗАТЬ</button>
						</div>
						<div class="types__descr-moreBtn more-btn">
							<a class="blue underline txt18">ПОДРОБНЕЕ</a>
						</div>
						<div class="types__descr-slideBtns">
							<div class="slider__pagin">
								<span class="types__tab-arrowL1" data-id="#tab4" data-tab="#tab-btn4">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M661,3321.5l10.2-9.51,0.8,0.74-9.41,8.77,9.41,8.76-0.8.74-9.409-8.76h0Z"
											transform="translate(-661 -3312)" />
									</svg>
								</span>
								<p class="slider__pagination"><span class="bigPag blue exBold">05
									</span> <span class="grey Bold txt14">/ 05</span></p>
								<span class="types__tab-arrowR1" data-id="#tab1" data-tab="#tab-btn1">
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19">
										<defs>
											<style>
												.cls-1 {
													fill: #b2b8c7;
													fill-rule: evenodd;
												}
											</style>
										</defs>
										<path id="Shape_20_copy_4" data-name="Shape 20 copy 4" class="cls-1"
											d="M1287,3320.5l-10.2,9.5-0.8-.74,9.41-8.76-9.41-8.77,0.8-.74,9.4,8.77h0Z"
											transform="translate(-1276 -3311)" />
									</svg>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="img/types/leftTree.png" alt="" class="types-leftTree">
	<img src="img/types/rightTree.png" alt="" class="types-rightTree">
</section>