<div class="papers">
    <div class="container">
        <div class="papers__title">
            <h2>Полезные статьи <span class="light">студии PINCET</span></h2>
        </div>
        <div class="papers__filter">
            <p> Фильт по статьям</p>
            <div class="papers--flex">
                <div class="papers__filter-item dep">
                    <p>Депиляция воском</p>
                </div>
                <div class="papers__filter-item shug">
                    <p>Депиляция воском</p>
                </div>
                <div class="papers__filter-item anti">
                    <p>Депиляция воском</p>
                </div>
                <div class="papers__filter-item disc">
                    <p>Депиляция воском</p>
                </div>
                <div class="papers__filter-item other">
                    <p>Депиляция воском</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="papers--flex">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="papers__content">
                        <div class="paper__item">
                            <div class="paper__item-img">
                                <img src="img/paper/paper1.png" alt="статья">
                                <div class="paper__item-like">
                                    <img src="img/paper/like.png" alt="лайк">
                                    18586
                                </div>
                            </div>
                            <div class="paper__item-descr">
                                <h3>Подготовка к депиляции</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt distinctio
                                    maxime
                                    dicta soluta, facere omnis praesentium beatae nihil odio.</p>
                                <div class="paper__item-descr--link">
                                    <a href="" class="linkColorRoze borderDashed">ПОДРОБНЕЕ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="work__more">
            <div class="work__more-btn">
                <a>Показать ещё
                </a>
                <img src="img/work/loader.png" alt="загрузка">
            </div>
        </div>
    </div>
</div>