<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/img/favicon.png">
    <title>Test</title>

</head>

<body>
    <div class="wrapper_background">
        {{> _partials/header}}
        {{> _partials/main}}
    </div>
</body>

</html>