<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <title>Test</title>

</head>

<body>
    {{> _partials/header}}
    {{> _partials/awesome}}
    {{> _partials/slider}}
    {{> _partials/simpletext}}
    {{> _partials/calculator}}
    {{> _partials/footer}}
</body>

</html>