<footer class="footer">
	<div class="footer__title">
		<h2 class="h60 fontO">
			Приезжайте, записывайтесь к нам <br>
			на производство, мы всегда Вам рады!
		</h2>
	</div>
	<div class="footer__content">
		<div class="footer__map">
			<iframe src="https://yandex.by/map-widget/v1/-/CCQ~QJutsC" allowfullscreen="true"
				style="position:relative;"></iframe>
		</div>
		<div class="footer__contacts">
			<div class="footer__contacts-title">
				<h3 class="h60 fontO">
					Наши контакты
				</h3>
			</div>
			<div class="footer__contacts-phone">
				<p class="txt40 fontO">
					<span><img src="img/svg/phone1.svg" alt=""></span>
					Телефон
				</p>
				<a href="tel:89312553745" class="txt24">8 (931) 255-37-45</a>
			</div>
			<div class="footer__contacts-mail">
				<p class="txt40 fontO">
					<span><img src="img/svg/email.svg" alt=""></span>
					Электронная почта
				</p>
				<a href="mailto:shia@kuhnismart.ru" class="txt24">shia@kuhnismart.ru</a>
			</div>
			<div class="footer__contacts-adress">
				<p class="txt40 fontO">
					<span><img src="img/svg/pin.svg" alt=""></span>
					Адрес
				</p>
				<p class="txt24">
					г. Санкт-Петербург, Михаиловский <br>
					переулок, 7а
				</p>
			</div>
			<div class="footer__contacts-soc">
				<p class="txt40 fontO">
					Мы в социальных сетях
				</p>
				<div class="footer__contacts-socIcon">
					<a href="#"><img src="img/svg/insta.svg" alt=""></a>
					<a href="#"><img src="img/svg/vk.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bot">
		<div class="footer__bot-phone">
			<a href="tel:80298210016" class="txt24 bold">
				8 (029) 821-00-16
			</a>
			<p class="txt16 bold underline">
				Перезвонить Вам?
			</p>
		</div>
		<div class="footer__bot-conf">
			<a class="txt16 politic-btn">
				Политика конфиденциальности
			</a>
		</div>
		<div class="footer__bot-site">
			<p class="txt16">
				Разработка интернет-проектов, <br>
				приносящих прибыль, в <a href="http://rbcenter.ru/landing/" class="bold">Rbcenter.ru</a>
			</p>
		</div>
	</div>
</footer>