{{!-- newyork --}}
<div class="popupPop" id="new">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/n1.jpg" data-fancybox="n"><img src="img/popular/n1.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/n2.jpg" data-fancybox="n"><img src="img/popular/n2.jpg" alt=""></a>
				<a href="img/popular/n3.jpg" data-fancybox="n"><img src="img/popular/n3.jpg" alt=""></a>
				<a href="img/popular/n4.jpg" data-fancybox="n"><img src="img/popular/n4.jpg" alt=""></a>
				<a href="img/popular/n5.jpg" data-fancybox="n"><img src="img/popular/n5.jpg" alt=""></a>
				<a href="img/popular/n1.jpg" data-fancybox="n"><img src="img/popular/n1.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня New York</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады из Премиум пластика Fenix</li>
						<li class="txt20 med">Столешница МДФ+пластик</li>
						<li class="txt20 med">Фартук Шпон</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- tokyo --}}
<div class="popupPop" id="t">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/t1.jpeg" data-fancybox="t"><img src="img/popular/t1.jpeg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/t2.jpeg" data-fancybox="t"><img src="img/popular/t2.jpeg" alt=""></a>
				<a href="img/popular/t3.jpeg" data-fancybox="t"><img src="img/popular/t3.jpeg" alt=""></a>
				<a href="img/popular/t1.jpeg" data-fancybox="t"><img src="img/popular/t1.jpeg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня Tokyo</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады из Премиум акрила REHAU</li>
						<li class="txt20 med">Столешница и фартук из искусств</li>
						<li class="txt20 med">Подъемные механизмы AVENTOS</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- stone --}}
<div class="popupPop" id="s">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/s5.jpg" data-fancybox="s"><img src="img/popular/s5.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/s2.jpg" data-fancybox="s"><img src="img/popular/s2.jpg" alt=""></a>
				<a href="img/popular/s3.jpg" data-fancybox="s"><img src="img/popular/s3.jpg" alt=""></a>
				<a href="img/popular/s4.jpg" data-fancybox="s"><img src="img/popular/s4.jpg" alt=""></a>
				<a href="img/popular/s1.jpg" data-fancybox="s"><img src="img/popular/s1.jpg" alt=""></a>
				<a href="img/popular/s5.jpg" data-fancybox="s"><img src="img/popular/s5.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня Stone</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады "под дерево" из мдф в пластике ARPA</li>
						<li class="txt20 med">Фасады "бетон" из мдф в пластике Cleaf</li>
						<li class="txt20 med">Столешница ДСП+Пластик "Союз" с еврозапилом</li>
						<li class="txt20 med">Фурнитура BLUM и GRASS</li>
						<li class="txt20 med">Встроенная в столешницу розетка</li>
						<li class="txt20 med">Подъемные механизмы AVENTOS</li>
						<li class="txt20 med">Барная стойка из массива дуба</li>
						<li class="txt20 med">Стеллаж с фасадами из графитового стекла</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!--capuch  --}}
<div class="popupPop" id="c">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/c1.jpg" data-fancybox="c"><img src="img/popular/c1.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/c2.jpg" data-fancybox="c"><img src="img/popular/c2.jpg" alt=""></a>
				<a href="img/popular/c3.jpg" data-fancybox="c"><img src="img/popular/c3.jpg" alt=""></a>
				<a href="img/popular/c4.jpg" data-fancybox="c"><img src="img/popular/c4.jpg" alt=""></a>
				<a href="img/popular/c5.jpg" data-fancybox="c"><img src="img/popular/c5.jpg" alt=""></a>
				<a href="img/popular/c1.jpg" data-fancybox="c"><img src="img/popular/c1.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня Cappuchino</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+Пластик Fenix</li>
						<li class="txt20 med">Столешница и фартук: МДФ+пластик</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- showroom --}}
<div class="popupPop" id="sw">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/sw1.jpg" data-fancybox="sw"><img src="img/popular/sw1.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/sw2.jpeg" data-fancybox="sw"><img src="img/popular/sw2.jpeg" alt=""></a>
				<a href="img/popular/sw3.jpg" data-fancybox="sw"><img src="img/popular/sw3.jpg" alt=""></a>
				<a href="img/popular/sw4.jpg" data-fancybox="sw"><img src="img/popular/sw4.jpg" alt=""></a>
				<a href="img/popular/sw5.jpg" data-fancybox="sw"><img src="img/popular/sw5.jpg" alt=""></a>
				<a href="img/popular/sw1.jpg" data-fancybox="sw"><img src="img/popular/sw1.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня В шоуруме</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+Шпон ореха, МДФ+Пластик Fenix</li>
						<li class="txt20 med">Столешница из массива дуба</li>
						<li class="txt20 med">Фурнитура BLUM, Hettich</li>
						<li class="txt20 med">Подъемные механизмы AVENTOS</li>
						<li class="txt20 med">Барная стойка: Массив
							дуба+стабилизированный мох </li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!--cinema  --}}
<div class="popupPop" id="ci">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/si1.jpg" data-fancybox="ci"><img src="img/popular/si1.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/si2.jpg" data-fancybox="ci"><img src="img/popular/si2.jpg" alt=""></a>
				<a href="img/popular/si3.jpg" data-fancybox="ci"><img src="img/popular/si3.jpg" alt=""></a>
				<a href="img/popular/si4.jpg" data-fancybox="ci"><img src="img/popular/si4.jpg" alt=""></a>
				<a href="img/popular/si5.jpg" data-fancybox="ci"><img src="img/popular/si5.jpg" alt=""></a>
				<a href="img/popular/si1.jpg" data-fancybox="ci"><img src="img/popular/si1.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня Cinema</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+Пластик ARPA,</li>
						<li class="txt20 med">Столешница МДФ+пластик</li>
						<li class="txt20 med">Подъемные механизмы AVENTOS</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!--white and wood  --}}
<div class="popupPop" id="w">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/w1.jpg" data-fancybox="w"><img src="img/popular/w1.jpg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/w2.jpg" data-fancybox="w"><img src="img/popular/w2.jpg" alt=""></a>
				<a href="img/popular/w3.jpg" data-fancybox="w"><img src="img/popular/w3.jpg" alt=""></a>
				<a href="img/popular/w4.jpg" data-fancybox="w"><img src="img/popular/w4.jpg" alt=""></a>
				<a href="img/popular/w1.jpg" data-fancybox="w"><img src="img/popular/w1.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня White&Wood</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+Эмаль, Массив дуба,</li>
						<li class="txt20 med">Столешница Массив дуба</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- white gloss --}}
<div class="popupPop" id="wg">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/wg1.jpeg" data-fancybox="wg"><img src="img/popular/wg1.jpeg" alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/wg2.jpg" data-fancybox="wg"><img src="img/popular/wg2.jpg" alt=""></a>
				<a href="img/popular/wg3.jpg" data-fancybox="wg"><img src="img/popular/wg3.jpg" alt=""></a>
				<a href="img/popular/wg1.jpeg" data-fancybox="wg"><img src="img/popular/wg1.jpeg" alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня Wood gloss</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+пластик ARPA</li>
						<li class="txt20 med">Фурнитура Blum,</li>
						<li class="txt20 med">Столешница ДСП+пластик,</li>
						<li class="txt20 med">Фартук ДСП+пластик</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>