<div class="popupSty" id="mod">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/mod/img2.jpg" data-fancybox="mod"><img src="img/styles/mod/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/mod/img3.jpg" data-fancybox="mod"><img src="img/styles/mod/img3.jpg" alt=""></a>
				<a href="img/styles/mod/img4.jpg" data-fancybox="mod"><img src="img/styles/mod/img4.jpg" alt=""></a>
				<a href="img/styles/mod/img5.jpg" data-fancybox="mod"><img src="img/styles/mod/img5.jpg" alt=""></a>
				<a href="img/styles/mod/img1.png" data-fancybox="mod"><img src="img/styles/mod/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Модерн</p>
				<p class="popupSty__descr-txt txt18 med">Большинство современных кухонь тяготеет к стилю модерн.
					И неудивительно – дизайн в этом стиле отвечает динамичности
					современной жизни. Для модерна характерны отсутствие строгих
					линий и тяга к асимметрии. При этом функциональность
					и рациональность ему совсем не чужды.
					Модерн приемлет пластик, стекло, металл, яркость красок
					и разнообразие форм. Освещение может быть совершенно разным
					– для модерна одинаково характерны оригинальные абажуры
					с плавными формами и асимметричной конструкцией
					и точечные светильники.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- classic --}}
<div class="popupSty" id="cls">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/cl/preImg.png" data-fancybox="cl"><img src="img/styles/cl/preImg.png" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/cl/img3.jpg" data-fancybox="cl"><img src="img/styles/cl/img3.jpg" alt=""></a>
				<a href="img/styles/cl/img4.jpg" data-fancybox="cl"><img src="img/styles/cl/img4.jpg" alt=""></a>
				<a href="img/styles/cl/img5.jpg" data-fancybox="cl"><img src="img/styles/cl/img5.jpg" alt=""></a>
				<a href="img/styles/cl/img2.jpg" data-fancybox="cl"><img src="img/styles/cl/img2.jpg" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Классика</p>
				<p class="popupSty__descr-txt txt18 med">Классическую кухню выбирают обычно люди, определившиеся
					в жизни. Для дизайна в стиле классика характерны простые,
					сдержанные линии, натуральные материалы, отсутствие излишней
					декоративности. При этом ставка делается на достаточно дорогие
					материалы – обои должны быть сдержанными, но не дешевыми,
					кухонный гарнитур часто делается из натурального дерева, на полу
					предпочтительнее паркет. Для классики важны симметрия,
					лаконичный неброский рисунок.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- etno --}}
<div class="popupSty" id="et">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/et/img2.jpg" data-fancybox="et"><img src="img/styles/et/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/et/img3.jpg" data-fancybox="et"><img src="img/styles/et/img3.jpg" alt=""></a>
				<a href="img/styles/et/img4.jpg" data-fancybox="et"><img src="img/styles/et/img4.jpg" alt=""></a>
				<a href="img/styles/et/img5.jpg" data-fancybox="et"><img src="img/styles/et/img5.jpg" alt=""></a>
				<a href="img/styles/et/img1.png" data-fancybox="et"><img src="img/styles/et/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Этно-стиль</p>
				<p class="popupSty__descr-txt txt18 med">Здесь все зависит от того, что лежит в основе. Если это кантри
					– то в первую очередь ориентация идет на натуральное дерево,
					грубые рубленные формы мебели, теплые оттенки цветов. Если
					это средиземноморский стиль, то акцент делается на сочетании
					белых и сине-голубых цветов в оформлении интерьера. Если
					это прованс, то общую атмосферу создают открытые полочки,
					обилие декоративных элементов. В любом случае учитывается
					декоративно-прикладное искусство тех народов, в чьем стиле
					создается кухня. На русской кухне будет уместна хохлома, гжель
					и старые антикварные утюги с горшками.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- hi-tech --}}
<div class="popupSty" id="hi">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/hi/img2.jpeg" data-fancybox="hi"><img src="img/styles/hi/img2.jpeg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/hi/img3.jpg" data-fancybox="hi"><img src="img/styles/hi/img3.jpg" alt=""></a>
				<a href="img/styles/hi/img4.jpg" data-fancybox="hi"><img src="img/styles/hi/img4.jpg" alt=""></a>
				<a href="img/styles/hi/img5.jpeg" data-fancybox="hi"><img src="img/styles/hi/img5.jpeg" alt=""></a>
				<a href="img/styles/hi/img1.png" data-fancybox="hi"><img src="img/styles/hi/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Хай-тек</p>
				<p class="popupSty__descr-txt txt18 med">Хай-тек при этом тяготеет к обилию стекла и металла и
					всевозможных
					высокотехнологичных элементов. Для кухонных гарнитуров в стиле
					хай-тек свойственна эргономика, функциональность, удобство. Упор
					делается на применении разнообразной фурнитуры и наполнителей
					для шкафов. Обилие металла в конструкции мебели – тоже признак
					хай-тека. Само помещение обязательно зонируется. Приветствуются
					яркие акценты в оформлении – футуристические цвета текстиля,
					пластиковые обеденные зоны из яркого материала.
					Также отличается сдержанностью линий, минимальностью деталей
					и полным отсутствием интереса к декоративным вычурным элементам.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- loft --}}
<div class="popupSty" id="lof">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/lo/img2.jpg" data-fancybox="lof"><img src="img/styles/lo/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/lo/img3.jpg" data-fancybox="lof"><img src="img/styles/lo/img3.jpg" alt=""></a>
				<a href="img/styles/lo/img4.jpg" data-fancybox="lof"><img src="img/styles/lo/img4.jpg" alt=""></a>
				<a href="img/styles/lo/img5.jpg" data-fancybox="lof"><img src="img/styles/lo/img5.jpg" alt=""></a>
				<a href="img/styles/lo/img1.png" data-fancybox="lof"><img src="img/styles/lo/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Лофт</p>
				<p class="popupSty__descr-txt txt18 med">Этот стиль основан на сочетании стилей, вернее вещей разных
					стилевых направлений. Неудивительно,что переводится название
					стиля, как чердак, ведь именно в это помещение стаскиваются
					все ненужные вещи. Для дизайна «Loft» характерны сочетание грубой
					мебели, оштукатуренных стен, кирпичной кладки с современной
					техникой, антикварными вещицами типа старинных утюгов и ухватов.
					Именно здесь можно смело выставлять старый буфет рядом
					с индукционной плитой, приправляя все красной телефонной будкой
					и шторами с пляшущими человечками на фоне ядерного взрыва.
					Такой стиль крайне провокационен.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- minimal --}}
<div class="popupSty" id="min">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/min/img2.jpg" data-fancybox="min"><img src="img/styles/min/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/min/img3.jpg" data-fancybox="min"><img src="img/styles/min/img3.jpg" alt=""></a>
				<a href="img/styles/min/img4.jpg" data-fancybox="min"><img src="img/styles/min/img4.jpg" alt=""></a>
				<a href="img/styles/min/img5.jpg" data-fancybox="min"><img src="img/styles/min/img5.jpg" alt=""></a>
				<a href="img/styles/min/img1.png" data-fancybox="min"><img src="img/styles/min/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Минимал</p>
				<p class="popupSty__descr-txt txt18 med">Отличается сдержанностью линий, минимальностью деталей
					и полным отсутствием интереса к декоративным вычурным
					элементам. Такой дизайн любят выбирать те, кто молод. Для дизайна
					в стиле минимализм характерны подчеркнуто простые линии,
					геометрические формы, минимум деталей. Из материалов
					приветствуется стекло, металл, пластик, МДФ.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- barock --}}
<div class="popupSty" id="bar">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/b/img2.jpg" data-fancybox="b"><img src="img/styles/b/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/b/img3.jpg" data-fancybox="b"><img src="img/styles/b/img3.jpg" alt=""></a>
				<a href="img/styles/b/img4.jpeg" data-fancybox="b"><img src="img/styles/b/img4.jpeg" alt=""></a>
				<a href="img/styles/b/img5.jpg" data-fancybox="b"><img src="img/styles/b/img5.jpg" alt=""></a>
				<a href="img/styles/b/img1.png" data-fancybox="b"><img src="img/styles/b/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Барокко</p>
				<p class="popupSty__descr-txt txt18 med">Характерные черты мебели – это лакировка, большое количество
					резьбы, позолота и изогнутых линий.
					Здесь очень просто переборщить, но грамотно сделанная мебель
					будет выглядеть как роскошь характерная для высшего класса людей.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>
{{!-- provan --}}
<div class="popupSty" id="pro">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				<a href="img/styles/pr/img2.jpg" data-fancybox="pr"><img src="img/styles/pr/img2.jpg" alt=""></a>
			</div>
			<div class="popupSty__imgs-sm">
				<a href="img/styles/pr/img3.jpg" data-fancybox="pr"><img src="img/styles/pr/img3.jpg" alt=""></a>
				<a href="img/styles/pr/img4.jpg" data-fancybox="pr"><img src="img/styles/pr/img4.jpg" alt=""></a>
				<a href="img/styles/pr/img5.jpg" data-fancybox="pr"><img src="img/styles/pr/img5.jpg" alt=""></a>
				<a href="img/styles/pr/img1.png" data-fancybox="pr"><img src="img/styles/pr/img1.png" alt=""></a>
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Прованс</p>
				<p class="popupSty__descr-txt txt18 med">Стиль самобытный и оригинальный, поэтому легкоузнаваемый.
					Он вобрал в себя черты, присущие архитектуре одноименной
					французской провинции. Изначально деревенские дома оформлялись
					просто и без излишеств, но сейчас в этом и есть их главная
					особенность. Уютная винтажная атмосфера выглядит естественно,
					но модно. Современный прованс не терпит вычурности, по максимуму
					прост и функционален. Для этого стиля характерно использование
					натуральных и экологичных материалов, и дизайнеры
					останавливаются на древесине.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<span class="input-wrap">
					<input class="inputTel" required class="txt18" type="tel" placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>