<section id="block4">
	<div class="test padTop padBotBig" id='test'
		style="background: url(../img/quiz/back.jpg) center no-repeat; background-size: cover;">
		<div class="container-supm">
			<h2 class="h50 fontO test__title">
				Пройдите короткий тест, узнайте стоимость Вашей идеальной кухни, <br>
				<span class="colorM2">получите подарки</span> и торт ручной работы весом <span class="colorM2">2кг в
					подарок!</span>
			</h2>
		</div>
		<div class="container-supm gl test-container">
			<div class="test-scroll-js"></div>
			<div class="test-wrap">
				<form action="#" class="test-cont">
					<input type="hidden" name="title" value='Тест'>
					<input type="hidden" name="formname" value='test'>
					<div class="test__quests rel">
						<div class="test__fl-num fwb bas">
							<span class="fl-num-js txt100 fontO">01</span>
						</div>
						<div class="text tac line-text gl txt20 test__quiz-title">
							<span class="txt20">Вопрос <span class="num-current txt20">1</span></span> из <span
								class="num-all txt20">5</span>
						</div>
						<div class="progress-bar msm">
							<div class="progress-bar__line-wrap">
								<div class="progress-bar__line">
								</div>
							</div>
						</div>

						<div class="test__blocks">

							<!-- 1 -->
							<div class="test-item">
								<h5 class="txt35 fontO fw7 tac mb test-item__title">
									Какая именно кухня вам нужна?
								</h5>

								<div class="tiem-block">

									<!-- 1 -->
									<label for="qw1-1" class="tiem-block__item tiem mb">

										<input type="radio" class="checkbox-inp" name='qw1' id='qw1-1' value="Прямая">
										<span class="checkbox-block">
											<div class="checkbox-block__bg rel"
												style="background: url(../img/quiz/q1-1.jpg) center no-repeat; background-size: cover;">

											</div>
											<span class="checkbox-psevdo">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="txt20">
												Прямая
											</span>
										</span>
									</label>
									<!-- 2 -->
									<label for="qw1-2" class="tiem-block__item tiem mb">

										<input type="radio" class="checkbox-inp" name='qw1' id='qw1-2'
											value="Негабаритная">
										<span class="checkbox-block">
											<div class="checkbox-block__bg rel"
												style="background: url(../img/quiz/q1-2.jpg) center no-repeat; background-size: cover;">

											</div>
											<span class="checkbox-psevdo">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="txt20">
												Негабаритная
											</span>
										</span>
									</label>
									<!-- 3 -->
									<label for="qw1-3" class="tiem-block__item tiem mb">

										<input type="radio" class="checkbox-inp" name='qw1' id='qw1-3' value="Угловая">
										<span class="checkbox-block">
											<div class="checkbox-block__bg rel"
												style="background: url(../img/quiz/q1-3.jpg) center no-repeat; background-size: cover;">

											</div>
											<span class="checkbox-psevdo">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="txt20">
												Угловая
											</span>
										</span>
									</label>
									<!-- 4 -->
									<label for="qw1-4" class="tiem-block__item tiem mb">

										<input type="radio" class="checkbox-inp" name='qw1' id='qw1-4'
											value="С островом">
										<span class="checkbox-block">
											<div class="checkbox-block__bg rel"
												style="background: url(../img/quiz/q1-4.jpg) center no-repeat; background-size: cover;">
											</div>
											<span class="checkbox-psevdo">
												<span class="checkbox-psevdo-active">
												</span>
											</span>
											<span class="txt20">
												С островом
											</span>
										</span>
									</label>
								</div>

							</div>
							<!-- 2 -->
							<div class="test-item" style="display: none;">
								<h5 class="txt35 fontO fw7 tac mb test-item__title">
									У вас уже есть проект кухни?
								</h5>

								<div class="tiem-block t2">

									<!-- 1 -->
									<label for="qw2-1" class="tiem-block__item tiem t2">

										<input type="radio" class="checkbox-inp" name='qw2' id='qw2-1' value="Да">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Да
											</span>
										</span>
									</label>
									<!-- 2 -->
									<label for="qw2-2" class="tiem-block__item tiem t2">

										<input type="radio" class="checkbox-inp" name='qw2' id='qw2-2'
											value="Нет, но знаю чего хочу">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Нет, но знаю чего хочу
											</span>
										</span>
									</label>
									<!-- 3 -->
									<label for="qw2-3" class="tiem-block__item tiem t2">

										<input type="radio" class="checkbox-inp" name='qw2' id='qw2-3'
											value="Нет, предложите решение">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Нет, предложите решение
											</span>
										</span>
									</label>


								</div>

							</div>


							<!-- 3 -->
							<div class="test-item" style="display: none;">
								<h5 class="txt35 fontO fw7 tac mb test-item__title">
									В каком стиле кухню вы хотите?
								</h5>

								<div class="tiem-block t3">

									<!-- 1 -->
									<label for="qw3-1" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-1' value="Классика">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Классика
											</span>
										</span>
									</label>
									<!-- 2 -->
									<label for="qw3-2" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-2' value="Хай-тек">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Хай-тек
											</span>
										</span>
									</label>
									<!-- 3 -->
									<label for="qw3-3" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-3' value="Лофт">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Лофт
											</span>
										</span>
									</label>
									<!-- 4 -->
									<label for="qw3-4" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-4'
											value="Этно-стиль">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Этно-стиль
											</span>
										</span>
									</label>
									<!-- 5 -->
									<label for="qw3-5" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-5' value="Прованс">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Прованс
											</span>
										</span>
									</label>
									<!-- 6 -->
									<label for="qw3-6" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-6' value="Модерн">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Модерн
											</span>
										</span>
									</label>
									<!-- 7 -->
									<label for="qw3-7" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-7' value="Минимал">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Минимал
											</span>
										</span>
									</label>
									<!-- 8 -->
									<label for="qw3-8" class="tiem-block__item tiem t2 t3">

										<input type="radio" class="checkbox-inp" name='qw3' id='qw3-8' value="Барокко">
										<span class="checkbox-block t2">
											<span class="checkbox-psevdo t2 mrm">
												<span class="checkbox-psevdo-active">
												</span>
											</span>

											<span class="text fw5 txt20">
												Барокко
											</span>
										</span>
									</label>


								</div>

							</div>

							<!-- 4 -->
							<div class="test-item" style="display: none;">
								<h5 class="txt24 fw7 tac mb test-item__title fontO txt35">
									Какая именно кухня вам нужна?
								</h5>

								<div class="tiem-block">
									<div class="test-slider" id="test-slider">
										<!-- 1 -->
										<label for="qw4-1" class="tiem-block__item test-slider__item tiem mb">
											<input type="radio" class="checkbox-inp" name='qw4' id='qw4-1'
												value="Прямая">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-1.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>

												<span class="text tac fw5 txt20">
													Прямая
												</span>
											</span>
										</label>
										<!-- 2 -->
										<label for="qw4-2" class="tiem-block__item test-slider__item tiem mb">
											<input type="radio" class="checkbox-inp" name='qw4' id='qw4-2'
												value="Негабаритная">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-2.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>
												<span class="text tac fw5 txt20">
													Негабаритная
												</span>
											</span>
										</label>
										<!-- 3 -->
										<label for="qw4-3" class="tiem-block__item test-slider__item tiem mb">
											<input type="radio" class="checkbox-inp" name='qw4' id='qw4-3'
												value="Угловая">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-3.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>
												<span class="text tac fw5 txt20">
													Угловая
												</span>
											</span>
										</label>
										<!-- 4 -->
										<label for="qw4-4" class="tiem-block__item test-slider__item tiem mb">
											<input type="radio" class="checkbox-inp" name='qw4' id='qw4-4'
												value="С островом">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-4.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>

												<span class="text v fw5 txt20">
													С островом
												</span>
											</span>
										</label>
										<!-- 5 -->
										<label for="qw4-5" class="tiem-block__item test-slider__item tiem mb">
											<input type="radio" class="checkbox-inp" name='qw5' id='qw4-5'
												value="С островом">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-5.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>

												<span class="text v fw5 txt20">
													С островом
												</span>
											</span>
										</label>
										<!-- 6-->
										<label for="qw4-6" class="tiem-block__item test-slider__item tiem mb">

											<input type="radio" class="checkbox-inp" name='qw6' id='qw4-6'
												value="С островом">
											<span class="checkbox-block">
												<div class="checkbox-block__img mbs rel">
													<img src="img/quiz/q4-6.png" alt="">
												</div>
												<span class="checkbox-psevdo">
													<span class="checkbox-psevdo-active">
													</span>
												</span>

												<span class="text v fw5 txt20">
													С островом
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
							<div class="test-item t-end" style="display: none;">
								<h5 class="txt35 fontO fw7 tac white-space mbs test-item__title">
									Оставьте ваши контактные данные <br>
									для расчета стоимости
								</h5>
								<div class="tac mb tsm12 txt13">
									Нажимая на кнопку, вы соглашаетесь с Политикой конфиденциальности <br>
									работки персональных данных
								</div>
								<div class="t-end-block col-center">
									<span class="input-wrap">
										<input required class="txt18" type="name" placeholder="Ваше имя">
									</span>
									<span class="input-wrap">
										<input class="inputTel" required class="txt18" type="tel"
											placeholder="Ваш телефон">
									</span>
									<span class="btn-wrap">
										<button class="txt20 bold mainBtn fontAb">ОТПРАВИТЬ ЗАЯВКУ </button>
									</span>
								</div>
							</div>
						</div>

						<div class="test__btns">
							<button class="quiz__prev  mainBtn txt22 fontAb" style="display: none;">ПРЕДЫДУЩИЙ
								ВОПРОС</button>
							<div class="quiz__next-wrap">
								<div class="btn-lbs"></div>
								<button class="btn quiz__next quiz__btn mainBtn" disabled>
									<span class="text white ttu fwb  txt22 fontAb">СЛЕДУЮЩИЙ ВОПРОС</span>
								</button>
							</div>
						</div>
					</div>
					<div class="test-right forest rel test__right"
						style="background: url(../img/quiz/back2.jpg) bottom center no-repeat; background-size: cover;">
						<div class="test-right__item">
							<div class="txt24 tac white fw3 mbm">
								До получения <br>
								подарка осталось:
							</div>
							<div class="fwb white tac t-min h50 fontO">
								4 вопроса
							</div>
						</div>
						<div class="test-right__item" style="display: none;">
							<div class="txt24 tac white fw3 mbm">
								До получения <br>
								бонуса осталось:
							</div>
							<div class="fwb white tac t-min h50 fontO">
								3 вопроса
							</div>
						</div>
						<div class="test-right__item" style="display: none;">
							<div class="txt24 tac white fw3 mbm">
								До получения <br>
								бонуса осталось:
							</div>
							<div class="fwb white tac t-min h50 fontO">
								2 вопроса
							</div>
						</div>
						<div class="test-right__item" style="display: none;">
							<div class="txt24 tac white fw3 mbm">
								До получения <br>
								бонуса осталось:
							</div>
							<div class="fwb white tac t-min h50 fontO">
								1 вопроса
							</div>
						</div>
						<div class="test-right__item" style="display: none;">
							<div class="t-min tac white fwb mbm h50 fontO">
								Поздравляем!
							</div>
							<div class="fw3 white tac text-md txt20">
								Оставьте свои контактные <br>
								данные, чтобы мы могли <br>
								закрепить бонус за Вами
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>