<section class="team padTop padBot" id="block8">
	<div class="container">
		<div class="pagin-wrap">
			<div class="team__title">
				<h2 class="h50 fontO">
					Наша команда
				</h2>
			</div>
			<div class="team__cards">
				<div class="team__cards-item">
					<img src="img/team/men1.png" alt="">
					<div class="team__cards-descr">
						<p class="h50 fontO">
							Алексей
						</p>
						<p class="txt25">
							Начальник производства
						</p>
						<p class="txt20">Моя главная задача - чтобы мебель
							заказчика была изготовлена качественно
							и в срок. Поэтому мне важно поддерживать
							мотивацию и эмоциональный настрой
							на производстве.</p>
					</div>
				</div>
				<div class="team__cards-item">
					<img src="img/team/men2.png" alt="">
					<div class="team__cards-descr">
						<p class="h50 fontO">
							Андрей
						</p>
						<p class="txt25">
							Плотник
						</p>
						<p class="txt20">Я работаю плотником около 20 лет и уже
							не могу представить жизни без дерева
							в своих руках. Мне нравится, что в нашей
							компании попадаются необычные
							и интересные заказы и приходится искать
							пути их осуществления.</p>
					</div>
				</div>
				<div class="team__cards-item">
					<img src="img/team/men3.png" alt="">
					<div class="team__cards-descr">
						<p class="h50 fontO">
							Максим
						</p>
						<p class="txt25">
							Сборщик
						</p>
						<p class="txt20">Мне нравится собирать мебель. Запах
							дерева и то, что с помощью моих усилий
							из неопределенных деталей получается
							красивая и надежная мебель - меня очень
							вдохновляет.</p>
					</div>
				</div>
			</div>
			<div class="pagin paginColor txt24">
				<a href="#block1" class="paginColor txt24">01</a>
				<a href="#block2" class="paginColor txt24">02</a>
				<a href="#block3" class="paginColor txt24">03</a>
				<a href="#block4" class="paginColor txt24">04</a>
				<a href="#block6" class="paginColor txt24">06</a>
				<a href="#block7" class="paginColor txt24">07</a>
				<a href="#block8" class="paginFlex"><span class="paginBlack">
						08</span> <img src="img/line.png" alt="">
				</a>
				<a href="#block9" class="paginColor txt24">09</a>
			</div>
		</div>
	</div>
</section>