.cost
    position: relative
    &__cont
        display: flex
        justify-content: space-between
        align-items: center
    &__left
        // position: relative
        width: 38%
    &__right
        width: 62%
    &-form
        &-wrap
        &-right
            width: 100%
    &__img
        // position: relative
        .main-form-img-item
            position: absolute
            top: -5%
            right: -13%
            width: 16vw
        .main-play
            left: 87%
            top: 13%
            transform: translate(-50%, -50%) scale(0.5)


.dark-block-wrap
    &.row
        display: flex
        align-items: center
        justify-content: center

.cost-img-1
    position: relative
    left: -36%
    width: 54vw
    max-width: none
    max-height: none
    animation: transform-shiver 5000ms linear 0ms infinite normal both
.cost-img-2
    position: absolute
    top: 2%
    right: -35%
    width: 27vw
    max-width: none
    max-height: none
.cost-img-3
    z-index: 3
    position: absolute
    top: 34%
    right: -19%
    width: 12vw
    max-width: none
    max-height: none

.cost-cr-1
    z-index: 4
    position: absolute
    left: 20%
    width: 6.5vw
    bottom: 10%
    pointer-events: none
    animation: transform-shiver 3000ms linear 0ms infinite normal both
