.mob-show
	display: none
@media (max-width: 900px)
	.tooltip
		width: 20rem
		padding: 0.8rem
		bottom: 100%
	.title-lg
		font-size: 3.2rem
	.t-lgg
		font-size: 3.4rem
	.t-max
		font-size: 3.8rem
	.title-mslg
		font-size: 5.5rem
		letter-spacing: .2rem
	.title-elg
		font-size: 6.6rem
		letter-spacing: .2rem
	.title
		font-size: 2.6rem
	.tgg
		padding: 0.1rem 0.4rem
		margin: 0.2rem 0
	.t-min
		font-size: 1.95rem
	.t-ss
		font-size: 1.7rem
	.t-min2
		font-size: 1.9rem
	.text-tg
		margin-left: 1.5rem
	.text-md
		font-size: 1.4rem
	// 16-17px
	.text
		font-size: 1.2rem

	.small-text
		font-size: 1.1rem
	.tsm8
		font-size: 0.8rem
	.tsm
		font-size: 0.9rem
	.tsm12
		font-size: 1rem
	.tsm13
		font-size: 1.1rem
	.mr
		margin-right: 1rem
	.tnum
		font-size: 2.9rem
	// 24
	.text24
		font-size: 1.5rem
	// 23
	.text23
		font-size: 1.3rem
	// 21
	.text21
		font-size: 1.3rem
	.text20
		font-size: 1.25rem
	.container
		max-width: 90vw
		margin: 0 auto
		&-min
			max-width: 90vw
			margin: 0 auto
		&-md
			max-width: 90vw
			margin: 0 auto
		&-mm
			max-width: 90vw
			margin: 0 auto
	.mlg
		margin-bottom: 4.5rem
	.msm
		margin-bottom: 2.4rem
	.mb
		margin-bottom: 1.5rem
	.mbm
		margin-bottom: 0.7rem
	.mbs
		margin-bottom: 0.41rem
	.section
		padding: 4rem 0
	.btn
		height: 5rem
		padding: 0.8rem 1rem
		&.big
			padding: 2rem 1rem
		&.min
			padding-top: 0.6rem
			padding-bottom: 0.6rem
	.input
		height: 5rem
		padding: 0.3rem 1rem
		padding-left: 2rem
		&.t2
			padding-left: 1.5rem
	.btn-mod
		padding: 1.2rem 1.5rem
	.check
		&-box
			cursor: pointer
			display: block
		&-line
			display: flex
			align-items: center
			// a
			// 	color: #5bd273
		&-label
			width: 1.4rem
			height: 1.4rem
			padding: 0.2rem
			margin-right: .5rem
			&.v2
				width: 1.8rem
				height: 1.8rem
				padding: 0.2rem
				.check-label-act
					width: 1.2rem
					height: 1.2rem
					padding: 0.2rem

		&.min
			width: 1.4rem
			height: 1.4rem
	.vf
		padding: 2.6rem 2rem
	.pb
		padding-bottom: 1.5rem
	.num-text
		font-size: 4.3rem
	.logo__img
		max-width: 14rem
	.tiem-qw7-w-img
		right: 0
	.load-img
		width: 21rem
	.ph-end
		right: 0
		width: 60vw
	
	.close
		width: 2rem
		height: 2rem

	.mrm
		margin-right: 0.5rem
	.modal-wrap
		width: 30rem
	.modal-big
		width: 70rem
	
	
	.tsm10
		font-size: 1rem

	.logo__img 
		max-width: 13rem
		padding-right: 0
		margin-right: 1rem
	.social-item__img
		width: 1.2rem
		height: 1.2rem
	.social-item
		width: 3rem
		height: 3rem
		padding: 0.4rem 0.4rem
		margin: 0 0.34rem
	.phones__item-img
		width: 1.2rem
		height: 1.2rem
		margin-right: 0.4rem
	.phones__item-wraps
		padding: 0.7rem 1.4rem
		padding-top: 0.9rem
	.burger
		width: 3rem
		height: 2.6rem
	.main-form-img1
		right: -1rem
		width: 30rem
	.text-df:before
		width: 3.4rem
	.main__advas-item-num img
		width: 3.1rem
		right: -1.3rem
		top: -0.7rem
	.main__advas-item-num
		font-size: 3.5rem
	.main-form
		padding: 3rem 2rem
		padding-bottom: 2rem
	.main-form-img
		left: -3rem
		top: -1rem
	.main-play
		width: 4rem
		height: 4rem
	.main-play:before
		width: 6rem
		height: 6rem
	.crc
		left: -1.4rem
		top: -1.2rem
		width: 1.4rem
	.main-form-label
		right: -3rem
		top: 101%
	.main-form-right
		width: 72%
	.logos
		padding: 1rem 0
	.logos-bf2
		width: 20rem
	.main-cr3
		width: 4rem
		top: -1rem
	.logos-bf
		width: 30rem
	.logos-item
		padding: 0.7rem
		height: 5.5rem
	.logos-item-right 
		padding: 0.7rem
	.tasks-list__item
		margin-bottom: 2rem
	.tasks-list__img
		padding-top: 1rem
	.tasks-list__line
		height: 5rem
	.tasks-list__num.one
		width: 1.5rem
		height: 4rem
	.tasks-list__im
		width: 10rem
	.tasks-list__text
		padding-left: 0
	.tasks-list__label
		bottom: -10%
	.tasks
		padding-bottom: 0
	.start-bf
		width: 20rem
		height: 22rem
	.start-cr1
		left: -3rem
		width: 8.5rem
	.start-cr2
		width: 5rem
	.start__cont
		padding-top: 2rem
	.start__img
		width: 24rem
	.start-cir1
		width: 3.5rem
	.start-subtitle:before
		width: 3.5rem
	.start-subtitle
		padding-left: 5rem
	.start
		padding-bottom: 0
	.start-list__s
		width: 8rem
		top: -11rem
		right: -1rem
	.start-bf2
		width: 20rem
	.problem-list__item
		width: 32%
		padding: 1rem 2rem
		padding-left: 3rem
		margin-bottom: 2rem
		height: 11rem
		&:nth-child(3n)
			margin-right: 0%
		&:nth-child(4n)
			// margin-right: 2%
	.problem-list__img
		width: 4rem
	.program__tab
		padding: 1.8rem 2rem
	.program-weeks-list__item
		padding: 0.25rem
		padding-top: 1.5rem
		padding-bottom: 1rem
		margin-bottom: 2rem
		height: 10rem
		.small-text
			font-size: 0.8rem
	.program-weeks-list__label
		width: 70%
	.check
		width: 1.5rem
		height: 1.5rem
	.program-res
		padding: 2rem 1.5rem
	.cases__itemin
		height: 28rem
		padding: 2rem
	.cases__text:before
		top: 0.75rem
		width: 0.5rem
		height: 0.5rem
	.program-list__item:hover .program-list__text-wr
		margin-bottom: 30%
	.program__btn
		text-align: center
	.program-list__img
		width: 9rem
	.cases__item
		margin-bottom: 2rem
	.import-bf
		font-size: 5.5rem
	.import-list
		justify-content: center
		flex-wrap: wrap
	.import-list__item
		padding: 2rem
		height: 16rem
		width: 30%
		margin-left: 1.5%
		margin-right: 1.5%
		margin-bottom: 2rem
	.import-list__img
		top: -1rem
		left: -1rem
		width: 8rem
	.import-list__img.two
		width: 9rem
		left: -1rem
	.import-list__img.three
		top: -2.5rem
		left: 0.5rem
	.import-list__img.md
		width: 8rem
		left: 0
	.import-list__img.sm
		left: 2rem
		width: 6rem
		top: -2rem
	.cost-img-1
		width: 54rem
		left: -105%
	.cost__img
		top: 2rem
	.cost__img .main-form-img-item
		width: 16rem
		right: -7%
	.cost-img-3
		width: 12rem
		right: 1%
	.cost-form-right
		width: 100%
	.dark-block
		padding: 0.8rem 1.2rem
		padding-top: 1rem
	.cost__right
		width: 100%
	.cases__logo.center
		width: 10rem
	.cases__logo
		left: 2rem
		width: 8rem
	.cases__label
		margin-bottom: 0.25rem
		padding: 0.5rem
	.cases__text
		padding-left: 1.2rem
	.cases__more
		padding: 1.2rem 1.5rem
	.about__wo
		width: 27rem
	.about__bf
		width: 20rem
	.about-cr-1
		width: 4rem
	.crc-c
		left: -2rem
		width: 1rem
	.about-list__sub-wr span:nth-child(1)
		width: 28%
	.about-books
		padding: 2rem 2.5rem
		margin-left: -3rem
	.about-books__img
		width: 6rem
	.about-spec
		width: 130%
	.check2
		width: 0.8rem
		margin-right: 0.4rem
	.info
		margin-left: 0.5rem
		width: 1rem
	.garant__item.v1
		width: 35rem
	.garant__wo
		width: 30rem
		left: -70%
	.garant-form
		padding: 2rem
	div.fancy-select
		height: 5rem
		margin-bottom: 1.5rem
	div.fancy-select div.trigger 
		padding: 0.3rem 1rem
		padding-left: 2rem
		padding-right: 2.2rem
		font-size: 1.2rem
		height: 5rem
	div.fancy-select div.trigger:after
		right: 1rem
	.checkbox-block.t3
		height: 5rem
	.img-soc-end
		width: 1.4rem
		height: 1.4rem
		margin-right: 0.5rem
	.tiem
		padding: 0 0.7rem
	.garant__book
		right: -70rem
		width: 73rem
	.garant-cr-1
		width: 4rem
	.line
		width: 5rem
	.contacts-gallery__img
		height: 20rem
	.contacts__item.v2
		width: 24%
	.contacts__item.v3
		width: 46%
	.contacts__saim
		width: 2rem
	.contacts__butt
		padding: 0.5rem 1rem
	.seob__text
		height: 5rem
	.seob__btn
		width: 3rem
		height: 3rem
	.footer__links
		position: relative
		top: auto
		left: auto
		transform: none
	.footer
		padding: 2rem 0
	.modal
		padding: 3.3rem 3.4rem
	.modal__im1
		left: -30%
		width: 45rem
	.modal__cont
		padding-left: 35%
	.modal__m1
		width: 8.5rem
	.modal__cir1, .modal__cir2
		width: 4.5rem
	.modal__nums
		width: 31rem
	.modal-tabs
		padding: 1rem 2rem
		height: 4rem
	.modal__im3
		width: 12rem
	.modal__cir3, .modal__cir4
		width: 4rem
	.modal-bigg
		width: 60rem
	.modal__bf4
		width: 10rem
		animation: none
	.modal__wo
		width: 20rem
	.modal-words
		.modal__cont
			padding-left: 28%
	.modal__wo5
		width: 30rem
	.modal-offer
		.modal__col.v1
			width: 40%
		.modal__col.v2
			width: 60%
	.contacts__text .social-item
		margin-right: 1rem
	.contacts__text .social-item
		display: flex
		align-items: center
		justify-content: center
	.modal-norm
		width: 50rem
	.modal__im6
		bottom: -10%
		width: 27rem
	.modal__cir8
		width: 4.5rem
	.modal__im7
		bottom: -5%
		width: 37rem
	.modal-conten .portfolio__form-check
		width: 150%
	.modal-biggest
		width: 90%
		.modal__bf4
			width: 20rem
	.modal__wo8
		bottom: -3.3rem
		width: 36rem
	.modal-garant
		padding: 1.5rem 1rem
	.modal-list-center__item:before
		width: 1rem
		height: 0.9rem
	.modal__agree, .modal__deny 
		padding: 1rem
		border-radius: 10px
	.modal-smin
		width: 24rem
	.modal-loadim
		width: 3.5rem
	.program__chess
		width: 10rem
	.main__info
		width: 78%
	.main-form-img1
		right: -10rem
	.main__advas
		width: 90%
	.main-bf
		width: 40rem
	.main-form-label
		color: #282828
	.program__tab.v1
		width: 44%
	.program-weeks
		width: 40%
	.program-desc
		width: 58%
	.contacts__bottom
		flex-wrap: wrap
	.contacts__bottom-item
		width: 50%
		&:nth-child(1), 
		&:nth-child(2)
			margin-bottom: 2rem
	&.footer__cont
		.tsm13
			&:nth-child(3)
				width: 35%
				// br
				// 	display: none
	.header
		padding-bottom: 1rem
		padding-top: 1rem
	.text-df
		padding-left: 4.8rem
	.tasks-list__num
		left: 2.5rem
		width: 2rem
		height: 5rem
	.tasks-list__num.big
		width: 3rem
	.start-form
		padding: 4rem 2rem

	.start__left
		left: -78%
		top: -2%
	.start-list
		br
			display: none
	.program-label
		top: -1rem
	.crc-ar
		width: 9rem
	.about__right
		position: relative
		left: auto
		right: auto
		top: 0
	.about__left
		width: 100%
	.about-books
		width: 20rem
		left: -60%
	.about__wo
		transform: translate(4%, 2%) scale(1.1)
	.seob__text-wrap
		padding-bottom: 2rem
	.seob
		.text24
			br
				display: none
	.cases__item
		&:nth-child(3n)
			margin-right: 2%
		&:nth-child(2n)
			margin-right: 0
	.main-form
		margin-bottom: 6rem
	.program-desc__cont
		padding: 2rem 3rem
	.about-spec-list__item
		margin-bottom: 1rem
	div.fancy-select ul.options
		max-height: 22rem
	div.fancy-select ul.options li
		padding: 1.1rem
	div.fancy-select
		font-size: 1.2rem
	
	.modal-tabs__item.active
		font-size: 1.4rem
	.modal-garant__mo
		width: 5rem
	.mistakes
		width: 50rem
		padding: 3rem 2rem
		br
			display: none
	.plan__img
		width: 30rem
	.prlx-q
		width: 6rem
	.case-book
		right: -50%
	.case-garant .garant-cr-1
		width: 2rem
	.prlx-q-2
		width: 5rem
	.main-2
		padding-bottom: 3rem
	.main-res__img
		height: 6rem
	.video
		width: 60rem
		height: 30rem

	.label-el
		padding: 1rem 2.5rem
		padding-top: 1.2rem
		padding-bottom: 0.9rem
	.main-ans__item
		padding: 1rem
	.logo__text
		display: none
	.main-links .btn
		width: 14rem
	.fact
		width: 54rem
		padding: 3rem
	.prlx-q-7
		width: 1.2rem
	.forwh-btn__img
		width: 14rem
	.forwh-btn .btn
		padding-right: 7rem
	.tasks-lst__imge
		width: 15rem
		margin-left: -5rem
	.tasks-lst__cir
		width: 3rem
	.consist__img
		top: 25%
	.cases
		.cases__item:nth-child(2n)
			margin-right: 2%
		.cases__item:nth-child(3n)
			margin-right: 0
	.service-garant
		.case-book
			width: 73rem
	.fact .prlx-q-2
		width: 4.5rem
	.tasks-lst__item
		margin-bottom: 2rem
		padding: 0.5rem 2rem
	.consist__img
		width: 54rem
	.consist__pen
		width: 12rem
	.nav
		li
			a
				padding: 0.5rem
				&:hover
					color: #deb662
					&:before
						width: 12rem
		&__wrap
			width: 70%
			padding: 2.3rem 2rem
			padding-top: 5rem
			padding-right: 12vw
			&.active
				transform: translateX(0)
		&-block
			display: flex
			justify-content: space-between
			// flex-wrap: wrap

			.nav-block-item
				width: 48%
				&.v1
					width: 40%
					position: relative

	.close-nav
		left: 2rem
		top: 2rem !important
		width: 2.7rem !important
		height: 2rem !important

	.nav__btn-wrap
		bottom: 1.5rem
	.modal-offer
		transform: translateX(-50%) scale(1)
		top: 2rem
	.modal-bonus
		transform: translateX(-50%) scale(1)
		top: 2rem
	.pt2
		padding-top: 4rem
	.start-play
		width: 6rem
		height: 6rem

@media (max-width: 767px)
	.logo__text 
		display: none
	.phones__block-work
		text-align: center
	.header__soc
		display: none
	.main__info
		width: 100%
		.text24
			&.mlg
				margin-bottom: 2rem

	.main-form-img1
		// position: relative
		// margin-top: -5rem
	.main-form
		// margin-top: -3rem
	.main__advas
		width: 60%
		flex-direction: column
	.main__advas-item-num
		// width: 8rem
		text-align: center
	.main__advas-item
		margin-bottom: 2rem
		br
			display: none
	.main-form-block
		flex-direction: column
		.input 
			width: 100%
			margin-bottom: 1rem
		.btn
			width: 100%
	.logos-item
		width: 49%
	.logos-item.v2
		width: 100%
		.btn
			width: 100%
	.tasks-list__item
		width: 48%
	.tasks-list__im
		width: 15rem
	.tasks-list__text
		br
			display: none
	.tasks-list__line
		top: -8%
	.tasks-list__ten
		width: 100%
	.tasks-list__label
		bottom: 20%
	.start-form
		br
			display: none
		padding: 4rem 5rem
	.start__btn
		width: 90%
	.start__left
		position: relative
		top: auto
		left: auto
		text-align: center
	.start__right
		margin-left: 0
		width: 100%
	.start-bf
		left: 10%
	.start-label
		right: 0
	.title
		br
			display: none
	.problem-list__item
		width: 48%
		&:nth-child(2)
			margin-right: 0
		&:nth-child(3)
			margin-right: 3%
	.program__tab.v1
		width: 49%
	.program__tab.v2
		width: 49%
		margin-left: 1%
		margin-right: 0
	.program__tab
		padding: 1.2rem 1rem
	.program__cont
		flex-wrap: wrap
		justify-content: space-between
	.program-list__item
		margin-right: 0
	.program-weeks, .program-desc
		width: 100%
	.cases__item
		width: 48%
	.cases__link
		width: 50%
	.program-list__end
		width: 100%
		br
			display: none
		.header__soc
			display: block
			margin-right: 1rem
	.program-list__img
		width: 14rem
	.program-label
		// display: none
	.program-list__end
		.program-list__top.v2
			justify-content: center
			align-items: flex-start
	.phones__item-wraps
		padding: 1.2rem 1.4rem
	.import-bf
		font-size: 4rem
	.import-list__item
		width: 47%
	.cases__bottom
		margin-top: 5%
	.cases__itemout
		flex-wrap: wrap
		justify-content: center
		.cases__btn
			width: 100%
			margin-bottom: 2rem
		.cases__link
			text-align: center
			width: 80%

	.about__cont
		flex-wrap: wrap
		flex-direction: column
	.about-list
		flex-wrap: wrap
		flex-direction: column
	.about-list-col.v1, .about-list-col.v2
		width: 100%
	.about-list__item
		margin-left: 2rem
		br
			display: none
	.about-spec
		width: 100%
	.about-spec-list
		width: 100%
	.about-spec-list__item
		width: 48%
	.about-spec-list__item:nth-child(3), .about-spec-list__item:nth-child(6)
		width: 48%
	.about__wo
		transform: translate(36%, 2%) scale(1)
	.about-books
		width: 25rem
	.garant__wo
		display: none
	.contacts__cont
		flex-wrap: wrap
		// flex-direction: column
		justify-content: center
	.contacts__item.v1
		width: 48%
	.contacts__item.v2
		width: 48%
	.contacts__item.v3
		width: 100%
	.contacts-gallery__img
		height: 27rem
	.contacts__bottom
		br
			display: none
	.contacts__butt
		width: 17rem
		text-align: center

	.seob__text
		height: 10rem
	.footer__cont
		flex-direction: column
		text-align: center
		justify-content: center
		.tsm13
			margin-bottom: 2rem
			&:nth-child(3)
				margin-bottom: 0
				text-align: center
				width: 100%

	.tasks-list__item
		.small-text
			font-size: 1.4rem

	.program-list__item
		&:hover
			.program-list__text-wr
				margin-bottom: 45%
		.program-list__text-wr
			margin-bottom: 45%

				
	.program-list__item
		.program-list__btns
			opacity: 1
			transform: translateY(0%)	

	.program__btn
		margin-top: 1rem
		width: 100%
	.modal-big
		width: 96%
	.modal__im1 
		left: -50%
	.modal__cont
		padding-left: 25%

			
	.modal__nums
		width: 27rem
		right: -8%
	.modal-bigg
		width: 92%
	.modal__soc
		.header__soc
			display: block

	.modal__wo5
		width: 26rem
		margin-top: 10%
	.modal-offer .modal__col.v2
		width: 70%
	.modal-offer .modal__col.v1
		width: 30%
	.modal__wo8
		left: -140%
	.modal__col.v3
		width: 30%
	.modal__col.v4
		width: 100%
	.modal__bot
		br
			display: none
	.video
		width: 44rem
		height: 26rem
	
	.meet
		.text24
			br
				display: none
	.decomp-list
		flex-wrap: wrap
	.decomp-list__item
		width: 47%
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 1rem
	.plan__img
		margin-left: 0
		width: 25rem
	.case-book
		width: 47rem
	.case-garant__cont
		.garant-cr-1
			right: -2%

	.main-ans
		flex-wrap: wrap
	.main-ans__item
		// width: 40%
		margin-bottom: 1rem
		justify-content: center
		display: flex
		align-items: center

	.cases
		.cases__item:nth-child(2n)
			margin-right: 0%
		.cases__item:nth-child(3n)
			margin-right: 2%
	.service-garant
		.case-book
			width: 47rem

	.fact
		width: 49rem
	.forwh-list
		width: 100%
	.tasks-lst__imge
		margin-left: -2rem
	.check2
		width: 1.5rem
		margin-right: 0.8rem
	.consist__img
		width: 43rem
		
	.consist-imgs
		top: 10%
		left: -40%
	.social-item-sm.v0 .social-item__img
		width: 0.7rem
		height: 0.7rem
	.contacts
		.header__soc
			display: block 



@media (max-width: 567px)
	.header
		.phones
			display: none
	.title__main-wrap
		br
			display: none
	.main-form-img
		width: 28rem
		left: 0
		top: -80%
		// bottom: -50%
	.main-form-img1
		position: relative
		right: 0
		z-index: 1
	.main-bf
		z-index: -1
	.main__advas
		width: 100%
		&.mlg
			margin-bottom: 0
	.main-form
		z-index: 2
		.main-play
			transform: none
			top: 50%
			bottom: auto
			left: auto
			right: 30%
	.main-form-right
		width: 100%
	.main-form-img-item
		
		// display: none
	.main-form-label
		// color: #ffffff
		right: -1rem
		top: 60%
	.main-form-img
		height: 10rem
	.logos__cont
		flex-direction: column
		justify-content: center
	.logos-left
		width: 100%
	.logos-right
		width: 100%
	.logos-item.v2
		margin-top: 2rem
	.tasks-list__item
		// width: 100%
		text-align: center
	.tasks-list__num
		left: 15%
	.tasks-list__im
		width: 11rem
	.tasks-list__ten
		order: 10
	.tasks-list__label
		bottom: -9%
	.start-cr1
		top: -9%
	.start-form
		padding: 3rem 1rem
		padding-bottom: 4rem
	.start-cr2
		right: -10%
	.start-list__sign
		margin-left: 0
	.start-list__s 
		top: -5rem
	
	.problem-list__link
		.link:before
			display: none
		.link
			text-decoration: underline
	.program__tabs
		flex-wrap: wrap
		// flex-direction: column
		justify-content: center
		justify-content: space-between
		margin-bottom: 6rem
	.program__tab
		font-size: 1.2rem
	// .program__tab.v1
	// 	width: 100%
	// .program__tab.v2
	// 	width: 100%
	.program__chess
		width: 6rem
	.program-weeks-list__item
		// width: 100%
		.text
			font-size: 1.4rem
		.small-text
			font-size: 1.3rem
	.program-desc__cont
		padding: 2.2rem 2rem
	.program-desc-list__item
		width: 100%
	.program-res-list
		flex-wrap: wrap
	.program-res-list__item
		width: 100%
		margin-bottom: 1rem
		&:last-child
			margin-bottom: 0
	.main-form-img
		top: 0
	.import-list__item
		width: 100%
	.import-list__item
		height: auto
	.import-list__img.two
		top: -1.5rem
	.cost__cont
		flex-wrap: wrap
		flex-direction: column
		justify-content: center
	.cost__left
		order: 2
		width: 100%
		height: auto
		.main-form-img
			height: auto
			position: relative
	.cost__right
		order: 1
	.start__right .title-lg
		    font-size: 2.6rem
	.start__right
		.title-lg
			text-align: center
	.dark-block-wrap
		flex-wrap: wrap
		flex-direction: column
		justify-content: center
	.cost-img-1
		left: -10%
		width: 32rem
	.cost__img .main-play
		width: 12rem
		height: 12rem
	.main-play:before
		width: 140%
		height: 140%
	.cases__item
		width: 100%
	.about-spec-list__item
		width: 100%
	.small-text
		font-size: 1.3rem
	.about__right
		width: 100%
		text-align: center
		order: 1
		margin-bottom: 2rem
	.about__left
		order: 2
		
	.about-books
		position: relative
		left: 0
		margin-left: 0
	.about__wo
		transform: none
	.about-books
		width: 29rem
		margin-left: auto
		margin-right: auto
	.contacts__item.v1
		width: 100%
	.contacts__item.v2
		width: 100%
	.contacts__butt
		width: 21rem
	.cost-img-2
		width: 20rem
	.main-label
		right: -4rem
		width: 10rem
		top: auto
		bottom: -1rem
		span
			transform: rotate(90deg)
			display: block
		.crc-ar
			width: 6rem
			left: -3rem
			bottom: 0
		.crc
			left: 2rem
			top: -5rem
	.info
		width: 2rem
	.about-spec-list__item:nth-child(3), .about-spec-list__item:nth-child(6)
		width: 100%

	.checkbox-block
		.tsm13 
			display: none
	.img-soc-end
		width: 2.4rem
		height: 2.4rem
	.contacts-gallery
		flex-wrap: wrap
		flex-direction: column
		justify-content: center
	.contacts-gallery__item
		width: 100%
		margin-bottom: 2rem
		&:nth-last-child
			margin-bottom: 0
	.contacts__bottom-item
		width: 100%
	.contacts__bottom
		text-align: center
	.contacts__bottom-item
		&:nth-child(3)
			margin-bottom: 2rem
	.modal-title-wrap
		flex-wrap: wrap
		flex-direction: column
		justify-content: center
		text-align: center
	.modal__cont
		padding-left: 0
	.modal
		padding: 2rem
		.t-max
			font-size: 2.35rem
	.modal__im1
		width: 35rem
		left: -10%
		top: auto
		bottom: -30%
		z-index: 0
	.modal__m1
		top: -5%
		left: 70%
	.modal__cir1
		bottom: -2%
	.modal__cont.v2
		width: 100%
	.modal__nums
		top: auto
		bottom: -25%
		right: 0
	.modal-tabs
		padding-top: 2rem
		flex-wrap: wrap
		// flex-direction: column
		justify-content: center
		text-align: center
		height: auto
	.modal-tabs__item
		width: 48%
		margin-bottom: 1rem
	.modal__wo
		left: -32%
	.modal-words .modal__cont
		padding-left: 18%
		position: relative
		z-index: 2
		br
			display: none
		.inp-md
			width: 100%
	.modal__wo5
		display: none
	.modal__cont.v5
		flex-direction: column
		justify-content: center
		text-align: center
	.modal-offer .modal__col.v1
		width: 100%
		order: 2
	.modal-offer .modal__col.v2
		width: 100%
		order: 1
		.garant-form
			padding: 0
			.text24 
				width: 90%
			br
				display: none
	.social-item
		width: 5rem
		height: 5rem
	.social-item-sm.v0, .social-item-sm
		width: 4rem
		height: 4rem
	.social-item-sm.v0 .social-item__img
		width: 2rem
		height: 2rem
	.social-item__img
		width: 2.2rem
		height: 2.2rem
	.modal-norm
		width: 96%
	.modal__cont.v7
		padding-left: 0
	.modal__im6
		width: 19rem
	.modal-conten .portfolio__form-check
		width: 100%
	.modal__im7
		bottom: -26%
		width: 23rem
		left: -60%
	.modal__cont.v5
		flex-direction: column
		justify-content: center
		text-align: center
	.modal__col.v3
		width: 100%
		order: 2
	.modal__wo8
		width: 25rem
		position: relative
		left: auto
		bottom: -2.1rem
	.modal-garant-wr, .modal__bot
		width: 100%
	.program-weeks-list__item
		height: auto
	.label-el
		&.mlg
			margin-bottom: 2rem
	.title__main-wrap
		.title-lg
			font-size: 3rem
	.main-ans__item
		margin-left: 0
		margin-right: 0
		width: 32.5%
		padding: 0.5rem 0.25rem
		.social-item
			width: 3rem
			height: 3rem
		.social-item__img
			width: 1.2rem
			height: 1.2rem
		.text
			
			font-size: 0.7rem
			&.ttu
				text-transform: none
	.main-ans
		justify-content: space-between
	.main-res
		flex-wrap: wrap
	.main-res__item
		margin-bottom: 2rem
		&:last-child
			margin-bottom: 0
	.video
		width: 100%
		height: 20rem
		border-radius: 15px
	.mistakes
		width: 100%
	.decomp-list__item
		width: 100%
		margin-left: 0
		margin-right: 0
	.plan-label

		position: relative
		top: auto
		left: auto
		right: auto
		margin-left: 2rem
		margin-top: 2rem
		br
			display: none

	.case-book
		position: relative
		width: 39rem
		right: -10%
		// display: none
	.case-garant__item
		&.v1
			width: 100%		
	.case-garant__cont	
		width: 100%
		display: flex
		flex-direction: column	
	.main-links .btn
		width: 16rem		
	.fact
		width: 100%				
	.tasks-lst__item
		flex-direction: column
		padding: 2rem
	.tasks-lst__txt
		width: 100%
	.tasks-lst__imge
		margin-left: 1rem
	.tasks-lst__imge.v2
		margin-left: 1rem
		margin-right: 0
		order: 1
	.tasks-lst__txt
		order: 2
	.consist__right
		width: 100%
	.consist__img
		position: relative
		order: 2
		width: 36rem
	.consist-imgs
		left: -15%
		order: 2
		position: relative
	.consist__cont
		flex-direction: column
	.consist__pen
		left: auto
		right: -33%

	.cases__itemin
		height: 32rem


	.nav
		li
			a
				padding: 0.5rem
				&:hover
					color: #deb662
					&:before
						width: 12rem
		&__wrap
			width: 100%
			padding: 2.3rem 2rem
			padding-top: 5rem
			padding-right: 2rem
			&.active
				transform: translateX(0)
		&-block
			display: flex
			justify-content: space-between
			// flex-wrap: wrap

			.nav-block-item
				width: 48%
				
				.social-item
					width: 2.5rem
					height: 2.5rem
					padding: 0.3rem
				.social-item__img img
					width: 80%


	.close-nav
		left: 2rem
		top: 2rem !important
		width: 2.7rem !important
		height: 2rem !important

	.nav__btn-wrap
		position: relative
		left: auto
		bottom: auto
		margin-top: 1.2rem
		.cases__link
			width: 100%
			font-size: 1rem
	
	.tooltip
		width: 100%

	.main-form-img
		margin-top: -7rem
		width: 100%
		text-align: center
		position: relative
		height: auto
	.main-form-img-item 
		width: 26rem
		max-width: none
		max-height: none
		position: relative

	.main-form
		flex-direction: column

	.main-form
	
	// .problem-list__item:nth-child(4n)
	// 	margin-right: 0
	// .problem-list__item:nth-child(2n)
	// 	margin-right: 3%
	

	// .problem-list__item:nth-child(3n)
	// 	margin-right: 0%
	// .problem-list__item
	// 	margin-right: 3%
	// .problem-list__item:nth-child(2n)
	// 	margin-right: 0
	.problem-list__item
		// width: 100%
		width: 47.5%
		margin-right: 3%
		padding: 1rem 1rem
		padding-left: 1.25rem
		margin-bottom: 1rem
		height: 19.5rem
	.program-label
		top: 18rem
		br
			display: none
	.program-label .crc-ar
		width: 9rem
		bottom: 3rem
	.import-list__item
		.small-text
			color: #868585
	.cases__itemin
		height: 100%
		display: flex
		flex-direction: column

	.garant__item.v1
		width: 100%
		display: flex
		flex-direction: column
	.garant__book
		right: 0
		order: 1
		position: relative
		width: 40rem
	.garant-form
		order: 2
	.nav-block .nav-block-item
		width: 51%

	.close-nav
		left: 2rem
		top: 2rem !important
		width: 3.7rem !important
		height: 3rem !important
	.nav__wrap
		padding-top: 7rem
	.seob__text
		text-align: left
	.case-garant__item.v1
		order: 2
	
	.mob-show
		display: block
	.mob-hide
		display: none
	.title__main-wrap
		.title-lg
			width: 90%
	.main-form-img1
		left: 55%
		transform: translateX(-50%)
	.main-form-img-item
		margin-left: -10rem
		margin-top: -5rem
	.crc-ar2
		width: 1.7rem
		transform: rotate(-65deg)
	.main-form-label
		top: 75%
	.start-play
		width: 8rem
		height: 8rem
		top: 48%
	.problem-list__item
		height: 18rem
	.cost-img-1
		// transform: translateY(9rem)

	.cases__itemin
		height: 35rem
	.cases__bottom
		margin-top: 20%
	.mob-show
		margin-top: 7rem
		margin-bottom: -7rem
		z-index: 10
	.dark-block
		&.mr
			margin-right: 0
	.dark-block-wrap
		.text-md
			margin-bottom: 1rem

	.main-form, .garant-form
		background: #ececec !important
		border-radius: 10px



	