.main-links
    display: flex
    align-items: center
    justify-content: center
    .btn
        width: 14vw
        margin-right: 3vw

.fact
    width: 54vw
    margin-left: auto
    margin-right: auto
    padding: 3vw
    position: relative
    .prlx-q-2
        top: -10%
        right: 0
        width: 4.5vw

.bf-el-1-1
    top: 10%
.bf-el-1-2
    top: 0%
    right: -20%
.bf-el-1-3
    top: 24%
    left: -13%
.bf-el-1-4
    top: auto
    bottom: 15%
    right: -13%

.prlx-q-7
    left: 7%
    top: 25%
    width: 1.2vw

.forwh-list
    margin-left: auto
    margin-right: auto
    width: 56%
    &__item
        display: flex
        align-items: center
        margin-bottom: 2rem
.forwh
    position: relative
.forwh-btn
    display: inline-block
    position: relative

    &__img
        z-index: 3
        position: absolute
        width: 14vw
        top: -30%
        right: -30%
        max-width: none
        max-height: none
        animation: transform-shiver 4000ms linear 0ms infinite normal both
    .btn
        z-index: 1
        position: relative
        padding-right: 7vw
.tasks
    position: relative
.tasks-lst
    width: 100%
    &__item
        width: 100%
        margin-bottom: 2vw
        border-radius: 20px
        border: 1px dashed #969595
        padding: 0.5vw 2vw
        display: flex
        align-items: center
        position: relative
    &__cir
        z-index: -1
        top: 3%
        right: 40%
        position: absolute
        max-width: none
        max-height: none
        width: 3vw
        animation: transform-shiver 3000ms linear 0ms infinite normal both
    &__imge
        position: relative
        width: 15vw
        margin-left: -5vw
        &.v2
            margin-left: auto
            margin-right: -8vw
            order: 2
    &__im
        width: 100%
    &__txt
        width: 90%

.consist
    position: relative
    &__cont
        position: relative
    &-imgs
        position: absolute
        top: 0
        left: -30%
        right: 0
    &__img
        // position: absolute
        // top: 4%
        // left: -16%
        max-width: none
        max-height: none
        width: 54vw
        animation: transform-shiver 5000ms linear 0ms infinite normal both
    &__pen
        position: absolute
        top: 35%
        left: 40%
        max-width: none
        max-height: none
        width: 12vw
    &__cont
        display: flex
        justify-content: flex-end
    &__right
        width: 60%
    
.main-3
    min-height: auto
.info-2
    background-color: #e6b453
.main-cr-0
    position: absolute
    top: -8%
    right: 24%
    width: 4.5vw
    max-width: none
    max-height: none
    animation: transform-shiver 4000ms linear 0ms infinite normal both
.page-service-about
    .about-books
        box-shadow: none