.cosmetic {
  background-image: url(../img/catalog/cosmetic/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 2.5vw;
    @include lg_900 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    @include md_767 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    @include sm_567 {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
  &--flex {
    display: flex;
    justify-content: space-between;
    @include lg_900 {
      justify-content: space-evenly;
    }
    @include md_767 {
      justify-content: space-evenly;
    }
    @include sm_567 {
      justify-content: space-evenly;
    }
  }
  &__catalog {
    margin-right: 1.5vw;
    &-accordeon {
      & details {
        margin-bottom: 2vw;
        cursor: pointer;
        @include lg_900 {
          margin: 0 auto 2rem auto;
        }
        @include md_767 {
          width: 40rem;
          margin: 0 auto 2rem auto;
        }
        @include sm_567 {
          width: 28rem;
          margin: 0 auto 2rem auto;
        }
        & summary {
          background-color: #fff;
          box-shadow: 0px 4px 18px 0 rgba(176, 148, 149, 0.2);
          font: $fontMuseoSansCyrlBold_30;
          padding: 2.031vw 0 2.031vw 1.563vw;
          border-radius: 20px;
          justify-content: end;
          align-items: center;
          @include lg_900 {
            padding: 1.5rem;
          }
          @include md_767 {
            padding: 1.5rem;
          }
          @include sm_567 {
            padding: 1rem;
          }
          & span {
            margin-right: 1.563vw;
            width: 2.083vw;
            height: 2.083vw;
            background: $colorGray;
            border-radius: 50%;
            text-align: center;
            transform: rotate(270deg);
            @include lg_900 {
              width: 2rem;
              height: 2rem;
            }
            @include md_767 {
              width: 2rem;
              height: 2rem;
            }
            @include sm_567 {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
      & details[open] {
        & summary {
          & span {
            transform: rotate(360deg);
            background-image: linear-gradient(to top, #ee858c, #fabcbc);
          }
        }
      }
    }
    &-item {
      display: flex;
      margin-left: 4.948vw;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0px 4px 18px 0 rgba(176, 148, 149, 0.2);
      border-radius: 20px;
      padding: 1vw 0;
      align-items: center;
      @include lg_900 {
        justify-content: center;
        margin: 1rem auto;
      }
      @include md_767 {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        align-items: stretch;
        position: relative;
        padding-bottom: 6rem;
      }
      @include sm_567 {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        align-items: stretch;
        position: relative;
        padding-bottom: 6rem;
      }
    }
    &-img {
      width: 4.583vw;
      margin-left: 2.5vw;
      @include lg_900 {
        width: auto;
        margin: 0 2rem 1rem 0;
        text-align: center;
      }
      @include md_767 {
        width: 100%;
        margin: 0 0 1rem 0;
        text-align: center;
      }
      @include sm_567 {
        width: 10rem;
        margin: 0 0 1rem 0;
      }
    }
    &-descr {
      margin-left: 5.208vw;
      margin-right: 5vw;
      @include lg_900 {
        text-align: center;
        margin-bottom: 1rem;
        margin-right: 2rem;
      }
      @include md_767 {
        text-align: center;
        margin-bottom: 1rem;
      }
      @include sm_567 {
        text-align: center;
        margin-bottom: 1rem;
      }
      &--upt {
        font-size: 0.729vw;
        color: $colorGreen;
        display: flex;
        align-items: center;
        @include lg_900 {
          justify-content: center;
        }
        @include md_767 {
          justify-content: center;
        }
        @include sm_567 {
          justify-content: center;
        }
        & span {
          @include callDot;
        }
      }
      &--title {
        font: $fontMuseoSansCyrlBold_20;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &--hardness,
      &--weight {
        font: $fontMuseoSansCyrlLight_16;
      }
    }
    &-amount {
      margin-right: 5vw;
      @include lg_900 {
        width: auto;
        margin-bottom: 1rem;
        margin-right: 2rem;
      }
      @include md_767 {
        width: 45%;
        margin-bottom: 1rem;
        margin-right: 0;
      }
      @include sm_567 {
        width: 45%;
        margin-bottom: 1rem;
        margin-right: 0;
      }
      &--title {
        margin-bottom: 10px;
        @include lg_900 {
          text-align: center;
        }
        @include md_767 {
          text-align: center;
        }
        @include sm_567 {
          text-align: center;
        }
        & p {
          font: $fontMuseoSansCyrlLight_16;
        }
      }
      &--count {
        @include lg_900 {
          width: 17rem;
          margin: 0 auto;
        }
        @include md_767 {
          width: auto;
          margin: 0 auto;
        }
        @include sm_567 {
          width: auto;
          margin: 0 auto;
        }
      }
    }
    &-wraper {
      &--btns {
        display: flex;
        justify-content: flex-end;
        width: 8.125vw;
        @include lg_900 {
          width: auto;
        }
        @include md_767 {
          width: auto;
        }
        @include sm_567 {
          width: auto;
        }
      }
      &--input {
        height: 3.281vw;
        font: $fontMuseoSansCyrlBold_24;
        border-right: none;
        border-left: none;
        width: 30%;
        height: 55px;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        @include lg_900 {
          font-size: 1.6rem;
        }
        @include md_767 {
          font-size: 1.5rem;
        }
        @include sm_567 {
          font-size: 1.4rem;
        }
      }
      &--btn {
        color: #afafaf;
        font-weight: 500;
        border-radius: 0;
        cursor: pointer;
        font-size: 18px;
        background-color: #fff;
        transition: all 0.15s ease 0.05s;
        background: none;
        padding: 0 5px;
        border: 1px solid #f4f2f2;
        width: 33%;
        &.one {
          border-right: unset;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
        }
        &.two {
          border-left: unset;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
        &:hover {
          color: #ffffff;
          background-color: $colorRozeDarkText;
        }
      }
    }
    &-price {
      text-align: center;
      @include md_767 {
        width: 45%;
        display: flex;
        flex-direction: column;
      }
      @include sm_567 {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &--title {
        font: $fontMuseoSansCyrlLight_16;
      }
      &--main {
        font: $fontMuseoSansCyrlBold_36;
        margin: 9px 0;
        @include md_767 {
          margin-top: 2.5rem;
        }
        & span {
          font: $fontMuseoSansCyrlBold_18;
          margin-left: -5px;
          @include lg_900 {
            font-size: 1.4rem;
            margin-left: 0;
          }
          @include md_767 {
            font-size: 1.4rem;
            margin-left: 0;
          }
          @include sm_567 {
            font-size: 1.4rem;
            margin-left: 0;
          }
        }
      }
      &--btn {
        @include mainBtn;
        @include mainBtnBlick;
        @include mainBtnHover;
        padding: 0.677vw 1.302vw;
        @include lg_900 {
          padding: 1rem;
          width: 15rem;
        }
        @include md_767 {
          padding: 1rem;
          width: 15rem;
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translate(-50%);
        }
        @include sm_567 {
          padding: 1rem;
          width: 15rem;
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translate(-50%);
        }
        & a {
          color: #fff;
        }
      }
    }
  }
  &__cart {
    background-color: #fff;
    box-shadow: 0px 4px 73px 0 rgba(176, 148, 149, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 1.719vw 3.385vw;
    @include lg_900 {
      padding: 2rem 1rem;
    }
    @include md_767 {
      padding: 2rem 1rem;
    }
    @include sm_567 {
      padding: 2rem 1rem;
    }
    &-title {
      font: $fontMuseoSansCyrlBold_30;
      margin-bottom: 1.5vw;
      @include lg_900 {
        margin-bottom: 1.5rem;
      }
      @include md_767 {
        margin-bottom: 1.5rem;
      }
      @include sm_567 {
        margin-bottom: 1.5rem;
      }
    }
    &-item {
      @include lg_900 {
        margin-bottom: 2rem;
      }
      @include md_767 {
        margin-bottom: 2rem;
      }
      @include sm_567 {
        margin-bottom: 2rem;
      }
      &--title {
        font: $fontMuseoSansCyrlLight_20;
        margin-bottom: 0.781vw;
      }
      &--content {
        display: flex;
        justify-content: space-between;
        margin: 0 7px;
        margin-bottom: 0.781vw;
        padding-bottom: 0.938vw;
        border-bottom: 1px solid $colorGray;
        & p {
          font: $fontMuseoSansCyrlBold_18;
        }
      }
    }
    &-total {
      padding: 0.7vw 0;
      background-color: $colorRozeVeryLight;
      border-radius: 10px;
      margin-bottom: 2vw;
      @include lg_900 {
        margin-bottom: 1.5rem;
      }
      @include md_767 {
        margin-bottom: 1.5rem;
      }
      @include sm_567 {
        margin-bottom: 1.5rem;
      }
      & p:nth-of-type(1) {
        font: $fontMuseoSansCyrlLight_18;
      }
      & p:nth-of-type(2) {
        font: $fontMuseoSansCyrlBold_30;
        & span {
          font: $fontMuseoSansCyrlBold_18;
        }
      }
    }
    &-request {
      &--title {
        font: $fontMuseoSansCyrlBold_24;
        margin-bottom: 1vw;
        @include lg_900 {
          margin-bottom: 1rem;
        }
        @include md_767 {
          margin-bottom: 1rem;
        }
        @include sm_567 {
          margin-bottom: 1rem;
        }
      }
      &--inputs {
        & input {
          width: 100%;
          border-radius: 10px;
          padding: 1vw 0 1vw 1.25vw;
          border: 1px solid $colorGray;
          margin-bottom: 10px;
          font: $fontMuseoSansCyrlLight_18;
          @include lg_900 {
            font-size: 1.6rem;
            padding: 1rem;
          }
          @include md_767 {
            font-size: 1.5rem;
            padding: 1rem;
          }
          @include sm_567 {
            font-size: 1.4rem;
            padding: 1rem;
          }
          &::placeholder {
            font: $fontMuseoSansCyrlLight_18;
            @include lg_900 {
              font-size: 1.6rem;
            }
            @include md_767 {
              font-size: 1.5rem;
            }
            @include sm_567 {
              font-size: 1.4rem;
            }
          }
        }
      }
      &--delivery {
        & p {
          font: $fontMuseoSansCyrlMed_19;
          margin-bottom: 15px;
        }
        & label {
          padding-top: 3px;
          font: $fontMuseoSansCyrlLight_14;
          @include lg_900 {
            font-size: 1.4rem;
          }
          @include md_767 {
            font-size: 1.4rem;
          }
          @include sm_567 {
            font-size: 1.4rem;
          }
          &::before {
            border-radius: 50% !important;
          }
        }
        & input[type="radio"]:not(:checked) + label:after,
        input[type="radio"]:checked + label:after {
          left: 3px;
        }
        & input[type="radio"]:not(:checked) + label:before,
        input[type="radio"]:checked + label:before {
          left: 0px;
          right: unset;
        }
        & input[type="radio"]:not(:checked) + label {
          padding-left: 2.302vw;
          @include lg_900 {
            padding-left: 25px;
          }
          @include md_767 {
            padding-left: 25px;
          }
          @include sm_567 {
            padding-left: 25px;
          }
        }
        & input[type="radio"]:checked + label {
          padding-left: 2.302vw;
          @include lg_900 {
            padding-left: 25px;
          }
          @include md_767 {
            padding-left: 25px;
          }
          @include sm_567 {
            padding-left: 25px;
          }
        }
      }
      &--submit {
        margin-top: 2vw;
        @include mainBtn;
        @include mainBtnBlick;
        @include mainBtnHover;
        padding: 1.094vw 0;
        width: 100%;
        color: #fff;
        font: $fontMuseoSansCyrlBold_18;
        @include lg_900 {
          padding: 1rem;
          width: 20rem;
          margin-top: 1.5rem;
        }
        @include md_767 {
          padding: 1rem;
          width: 20rem;
          margin-top: 1.5rem;
        }
        @include sm_567 {
          padding: 1rem;
          width: 20rem;
          margin-top: 1.5rem;
        }
        & button {
          letter-spacing: 2.16px;
        }
      }
      &--adress {
        margin-top: 1vw;
        display: none;
        @include lg_900 {
          margin-top: 1rem;
        }
        @include md_767 {
          margin-top: 1rem;
        }
        @include sm_567 {
          margin-top: 1rem;
        }
      }
    }
  }
  &__blur {
    position: absolute;
    left: -4vw;
    top: 10vw;
    z-index: -1;
    @include lg_900 {
      width: 12rem;
    }
    @include md_767 {
      width: 12rem;
    }
    @include sm_567 {
      width: 9rem;
    }
  }
  &__leaveLeft {
    position: absolute;
    left: 3vw;
    top: 11vw;
    @include lg_900 {
      width: 5rem;
    }
    @include md_767 {
      width: 3rem;
    }
    @include sm_567 {
      width: 3rem;
    }
  }
  &__leavesRight {
    position: absolute;
    top: 0;
    right: -5vw;
    @include lg_900 {
      width: 12rem;
    }
    @include md_767 {
      width: 10rem;
    }
    @include sm_567 {
      width: 5rem;
    }
  }
}
