<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
   {{> _partials/header}}
   <div class="content-wraper">
       {{> _partials/aside}}
       <div class="main-wraper">
           {{> _partials/bread}}
           {{> _partials/main}}
       </div>
   </div>
</body>
</html>