.video {
  padding: 30px 0;
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 3vw;
  }
  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__reviews {
    z-index: 2;
    &-item {
      width: 13.438vw;
      position: relative;
      @include lg_900 {
        width: auto;
        margin-bottom: 2rem;
        margin-right: 1rem;
      }
      @include md_767 {
        width: auto;
        margin-bottom: 2rem;
        margin-right: 1rem;
      }
      @include sm_567 {
        width: auto;
        margin-bottom: 2rem;
        margin-right: 1rem;
      }
    }
    &-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include videoBtn;
      & span {
        padding: 1vw;
      }
      & svg {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__blur {
    position: absolute;
    bottom: 4vw;
    left: -11vw;
    z-index: 1;
    @include lg_900 {
      width: 31rem;
    }
    @include md_767 {
      width: 23rem;
    }
    @include sm_567 {
      width: 10rem;
    }
  }
  &__leaves {
    position: absolute;
    top: -12vw;
    right: -2vw;
    @include lg_900 {
      width: 8rem;
    }
    @include md_767 {
      width: 5rem;
    }
    @include sm_567 {
      width: 4rem;
    }
  }
  &__leave {
    position: absolute;
    bottom: 7vw;
    left: 2vw;
    width: 3vw;
    @include lg_900 {
      width: 6rem;
    }
    @include md_767 {
      width: 4rem;
    }
    @include sm_567 {
      width: 3rem;
    }
  }
}
