<section class="categories">
	<div class="categories__title">
		<h1 class="txt56 fw8 ta-center">
			Categories
		</h1>
	</div>
	<div class="container-fluid">
		<div class="row justify-content-between">
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="categories__item d-flex flex-column flex-lg-row">
					<img src="img/categories/item-1.png" alt="">
					<div class="categories__item-content d-flex flex-column justify-content-between">
						<div class="categories__item--wrap">
							<div class="categories__item-title">
								<h5 class="txt20 fw7">Camera</h5>
							</div>
							<div class="categories__item-descr d-flex flex-column">
								<span class="txt16"><span class="txt14 colorSec">Auctions</span> 1</span>
								<span class="txt16"><span class="txt14 colorSec">Price from</span> $2400</span>
							</div>
						</div>
						<div class="categories__item-more d-flex align-items-center">
							<span class="txt14 fw5">view</span>
							<img src="img/categories/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>