<footer class="footer">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-between">
			<div class="col">
				<div class="footer__menu">
					<a class="txt16" href="#">
						Feedback
					</a>
					<a class="txt16" href="#">
						FAQ
					</a>
					<a class="txt16" href="#">
						Platform News
					</a>
					<a class="txt16" href="#">
						Platform News
					</a>
				</div>
			</div>
			<div class="col-4">
				<div class="footer__social d-flex justify-content-end">
					<a href="#"><img src="img/footer/twit.svg" alt=""></a>
					<a href="#"><img src="img/footer/insta.svg" alt=""></a>
					<a href="#"><img src="img/footer/face.svg" alt=""></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="footer__policy">
					<a class="txt14" href="#">Privacy Policy</a>
					<a class="txt14" href="#">Term and Condition</a>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col">
				<div class="footer__devby">
					<a class="txt11" href="#">Development by <br> Merkeleon</a>
				</div>
			</div>
		</div>
	</div>
</footer>