<header class="header">
	<div class="container-fluid">
		<div class="row justify-content-between align-items-center flex-column flex-sm-row">
			<div class="col">
				<div class="logo">
					<a href="#"><img src="img/header/logo.svg" alt=""></a>
					<img class="header__menu-btn" src="img/header/menu.svg" alt="">
				</div>
			</div>
			<div class="col d-flex justify-content-end header--hidden">
				<div class="search d-flex align-items-center justify-content-around">
					<a><img src="img/header/zoom.svg" alt=""></a>
					<p class="txt16">USD</p>
				</div>
				<div class="lang d-flex align-items-center">
					<img src="img/header/flag.svg" alt="">
					<a class="txt16">EN</a>
				</div>
				<div class="login d-flex align-items-center">
					<a class="txt16 fw8">LOG IN</a>
					<a class="txt16">Sign-up</a>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col col-lg-2">
				<nav class="nav txt16 fw8 d-flex justify-content-between">
					<a href="#">Home</a>
					<a href="#">Auctions</a>
					<a href="#">Shops</a>
				</nav>
			</div>
		</div>
	</div>
	<div class="header__menu-mob">
		<div class="header__menu-close">
			<img src="img/header/close.svg" alt="">
		</div>
		<div class="header__menu-mob--wrap">
			<div class="logo">
				<a href="#"><img src="img/header/logo.svg" alt=""></a>
			</div>
			<div class="lang d-flex align-items-center">
				<img src="img/header/flag.svg" alt="">
				<a class="txt16">EN</a>
			</div>
		</div>
		<div class="login d-flex align-items-center">
			<a class="txt16 fw8">LOG IN</a>
			<a class="txt16">Sign-up</a>
		</div>
		<div class="search d-flex align-items-center justify-content-center">
			<a><img src="img/header/zoom.svg" alt=""></a>
			<p class="txt16">USD</p>
		</div>
		<nav class="nav txt16 fw8 d-flex align-items-center flex-column">
			<a href="#">Home</a>
			<a href="#">Auctions</a>
			<a href="#">Shops</a>
		</nav>
	</div>
</header>