<section class="sign">
	<div class="container-fluid">
		<div class="sign--wrap d-flex align-items-center justify-content-center flex-column flex-sm-row">
			<div class="sign__title">
				<h4 class="txt33 fw9"><span><img src="img/signUp/ico.svg" alt=""></span> Email Sign Up</h4>
			</div>
			<div class="sign__form">
				<form action="#" name="formname">
					<input class="txt14" name="mail" type="mail" placeholder="Email">
					<button type="submit" class="txt14 colorWhite">Send</button>
				</form>
			</div>
		</div>
	</div>
</section>