<section class="qa">
  <div class="container">
    <div class="qa__title">
      <h1>ВОПРОСЫ</h1>
      <p>ВСЁ ЧТО ВЫ ХОТИТЕ ЗНАТЬ</p>
    </div>
    <div class="qa__accordeon">
      <div class="qa__accorderon-question">
        <button class="accordion">Вопрос 1</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
      </div>
      <div class="qa__accorderon-question">P
        <button class="accordion">Вопрос 1</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
      </div>
      <div class="qa__accorderon-question">
        <button class="accordion">Вопрос 1</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
      </div>
      <div class="qa__accorderon-question">
        <button class="accordion">Вопрос 1</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
      </div>
      <div class="qa__accorderon-question">
        <button class="accordion">Вопрос 1</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
      </div>
    </div>
  </div>
</section>