.price {
  padding: 60px 0;
  position: relative;
  background-image: url(../img/dep/price/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  &--flex {
    display: flex;
  }
  &__title {
    text-align: center;
    width: 50vw;
    margin: 0 auto 3.125vw auto;
    @include lg_900 {
      width: 100%;
    }
    @include md_767 {
      width: 100%;
    }
    @include sm_567 {
      width: 100%;
    }
  }
  &__example {
    position: relative;
    margin-top: 9vw;
    &-wraper {
      position: relative;
      display: inline-flex;
      position: absolute;
      top: -8vw;
      @include lg_900 {
        position: relative;
      }
      @include md_767 {
        position: relative;
      }
      @include sm_567 {
        position: relative;
      }
      & img {
        width: 23vw;
        @include lg_900 {
          width: auto;
        }
        @include md_767 {
          width: auto;
        }
        @include sm_567 {
          width: auto;
        }
      }
    }
    @include lg_900 {
      text-align: center;
    }
    @include md_767 {
      text-align: center;
    }
    @include sm_567 {
      text-align: center;
    }
    & > img {
      max-height: 53.49vw;
      @include lg_900 {
        max-height: 100%;
      }
      @include md_767 {
        max-height: 100%;
      }
      @include sm_567 {
        max-height: 100%;
      }
    }
    &-action {
      position: absolute;
      display: flex;
      top: 4vw;
      left: 0;
      & p {
        width: 5.208vw;
        margin-left: 5px;
        font-size: 0.833vw;
        @include lg_900 {
          font-size: 1.6rem;
        }
        @include md_767 {
          font-size: 1.4rem;
        }
        @include sm_567 {
          font-size: 1.2rem;
        }
      }
      & img {
        width: 1.302vw;
        height: 1.563vw;
        @include lg_900 {
          width: 4rem;
          height: auto;
        }
        @include md_767 {
          width: 4rem;
          height: auto;
        }
        @include sm_567 {
          width: 3rem;
          height: 4rem;
        }
      }
    }
    &-descr {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        border: 1px solid #ee858c;
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        border-radius: 50%;
        -webkit-animation: smPulse 1.8s linear infinite;
        animation: smPulse 1.8s linear infinite;
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        border: 1px solid #ee858c86;
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        border-radius: 50%;
        -webkit-animation: smPulse 1.8s linear infinite;
        animation: smPulse 1.8s linear infinite;
        opacity: 0;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }
      & > img {
        width: 2.5vw;
        cursor: pointer;
        @include lg_900 {
          width: 4rem;
        }
        @include md_767 {
          width: 4rem;
        }
        @include sm_567 {
          width: 4rem;
        }
      }
      &:hover .price__example-info {
        display: block;
        z-index: -1;
      }
      &.dotW1 {
        top: 5%;
        right: 33%;
      }
      &.dotW2 {
        top: 12%;
        right: 22%;
        z-index: 3;
      }
      &.dotW3 {
        top: 14%;
        left: 29%;
      }
      &.dotW4 {
        top: 21%;
        left: 29%;
      }
      &.dotW5 {
        top: 24%;
        right: 2%;
        @include sm_567 {
          z-index: 20;
        }
      }
      &.dotW6 {
        top: 31%;
        left: 9%;
      }
      &.dotW7 {
        top: 36%;
        right: 31%;
      }
      &.dotW8 {
        top: 37%;
        right: 14%;
      }
      &.dotW9 {
        top: 42%;
        right: 26%;
      }
      &.dotW10 {
        top: 47%;
        left: 45%;
      }
      &.dotW11 {
        top: 68%;
        right: 34%;
      }
      &.dotM1 {
        top: 5%;
        right: 33%;
      }
      &.dotM2 {
        top: 12%;
        right: 22%;
        z-index: 3;
      }
      &.dotM3 {
        top: 14%;
        left: 29%;
      }
      &.dotM4 {
        top: 21%;
        left: 29%;
      }
      &.dotM5 {
        top: 24%;
        right: 2%;
        @include sm_567 {
          z-index: 20;
        }
      }
      &.dotM6 {
        top: 31%;
        left: 9%;
      }
      &.dotM7 {
        top: 36%;
        right: 31%;
      }
      &.dotM8 {
        top: 37%;
        right: 14%;
      }
      &.dotM9 {
        top: 42%;
        right: 26%;
      }
      &.dotM10 {
        top: 47%;
        left: 45%;
      }
      &.dotM11 {
        top: 68%;
        right: 34%;
      }
    }
    &-info {
      display: none;
      position: absolute;
      width: 13.563vw;
      z-index: 1;
      top: -5.5vw;
      right: 0;
      @include lg_900 {
        width: 25rem;
        top: unset;
        bottom: 0;
      }
      @include md_767 {
        width: 25rem;
        top: unset;
        bottom: 0;
      }
      @include sm_567 {
        width: 15rem;
        top: unset;
        bottom: 0;
      }
      &.info6 {
        @include lg_900 {
          left: 0;
          right: unset;
        }
        @include md_767 {
          left: 0;
          right: unset;
        }
        @include sm_567 {
          left: 0;
          right: unset;
        }
      }
      &--wrapper {
        padding: 6px;
        background-color: #fff;
        border-radius: 10px;
      }
    }
    &-text {
      border: 1px dashed $colorRozeDark;
      padding: 1.25vw 1.719vw 0.833vw 1.51vw;
      background-color: #fff;
      border-radius: 10px;
      & p:nth-of-type(1) {
        font-size: 0.938vw;
        @include lg_900 {
          font-size: 1.6rem;
        }
        @include md_767 {
          font-size: 1.5rem;
        }
        @include sm_567 {
          font-size: 1.4rem;
        }
      }
      & p:nth-of-type(2) {
        font-size: 0.729vw;
        margin-top: 10px;
        @include lg_900 {
          font-size: 1.6rem;
        }
        @include md_767 {
          font-size: 1.5rem;
        }
        @include sm_567 {
          font-size: 1.4rem;
        }
      }
      & p:nth-of-type(3) {
        font-size: 0.938vw;
        margin-top: 10px;
        @include lg_900 {
          font-size: 1.6rem;
        }
        @include md_767 {
          font-size: 1.5rem;
        }
        @include sm_567 {
          font-size: 1.4rem;
        }
      }
    }
    &-leave {
      position: absolute;
      bottom: -35vw;
      left: -5vw;
      pointer-events: none;
    }
  }
  &__calc {
    @include lg_900 {
      margin-top: 2rem;
    }
    @include md_767 {
      margin-top: 2rem;
    }
    @include sm_567 {
      margin-top: 2rem;
    }
    &-main {
      padding: 1.823vw 0;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 2vw;
      position: relative;
      @include sm_567 {
        width: 100%;
        margin: 2rem auto;
      }
      & > div:nth-last-of-type(2) {
        border: none;
      }
    }
    &-switch {
      display: flex;
      align-items: center;
      margin-left: 5vw;
      @include lg_900 {
        justify-content: center;
        margin-left: 0;
      }
      @include md_767 {
        justify-content: center;
        margin-left: 0;
      }
      @include sm_567 {
        justify-content: center;
        margin-left: 0;
      }
      &--women {
        & a {
          font: $fontMuseoSansCyrlLight_48;
          border-bottom: 1px dashed #000;
          margin-right: 4.167vw;
          cursor: pointer;
          @include lg_900 {
            font-size: 2rem;
          }
          @include md_767 {
            font-size: 2rem;
          }
          @include sm_567 {
            font-size: 1.8rem;
          }
        }
      }
      &--men {
        & a {
          font: $fontMuseoSansCyrlLight_48;
          border-bottom: 1px dashed #000;
          margin-right: 4.167vw;
          cursor: pointer;
          @include lg_900 {
            font-size: 2rem;
          }
          @include md_767 {
            font-size: 2rem;
          }
          @include sm_567 {
            font-size: 1.8rem;
          }
        }
      }
    }
    &-row {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.136);
      padding-left: 2vw;
      &-title {
        border-bottom: none;
        & p {
          font: $fontMuseoSansCyrlBold_24;
          & span {
            font-size: 0.8vw;
          }
        }
        &--column {
          @include lg_900 {
            display: flex;
            flex-direction: column;
          }
          @include md_767 {
            display: flex;
            flex-direction: column;
          }
          @include sm_567 {
            display: flex;
            flex-direction: column;
          }
        }
      }
      & label {
        width: 80%;
        @include lg_900 {
          width: 50%;
        }
        @include md_767 {
          width: 50%;
        }
      }
      & p:nth-of-type(1) {
        width: 45%;
        @include lg_900 {
          width: 31%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 32%;
        }
      }
      & p:nth-of-type(2) {
        width: 21%;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 18%;
        }
      }
      & p:nth-of-type(3) {
        width: 15%;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 25%;
        }
      }
      & p:nth-of-type(4) {
        width: 15%;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 24%;
        }
      }
      & div:nth-of-type(1) {
        width: 15%;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 22%;
        }
      }
      & div:nth-of-type(2) {
        width: 17%;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 24%;
          & label {
            margin-left: 1rem;
          }
        }
      }
      & p {
        font-size: 1.094vw;
        margin-bottom: 7px;
        margin-top: 7px;
      }
      & label {
        font-size: 1.094vw;
        font-weight: 300;
        margin-bottom: 7px;
        margin-top: 7px;
        @include lg_900 {
          font-size: 1.4rem;
        }
        @include md_767 {
          font-size: 1.3rem;
        }
        @include sm_567 {
          font-size: 1.2rem;
          width: 80%;
        }
      }
    }
    &-total {
      display: flex;
      align-items: center;
      margin: 2vw 2.375vw 0 2.375vw;
      @include lg_900 {
        margin-right: 0;
        margin-bottom: 1rem;
      }
      @include md_767 {
        margin: 2rem 0;
      }
      @include sm_567 {
        margin: 1rem 0;
      }
      & > p {
        font: $fontMuseoSansCyrlBold_30;
        margin-right: 20px;
        @include lg_900 {
          margin-right: 1rem;
          margin-bottom: 1rem;
        }
        @include md_767 {
          margin-right: 0;
          margin-bottom: 1rem;
        }
        @include sm_567 {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
      &--wraper {
        @include dashedBtn;
        padding: 6px 7px;
        @include md_767 {
          width: 50rem;
        }
        @include sm_567 {
          width: 34rem;
        }
      }
      &-descr {
        display: flex;
      }
      &-full {
        margin-right: 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.823vw;
        color: #fff;
        text-align: center;
        & p {
          font: $fontMuseoSansCyrlLight_16;
          width: 9.844vw;
        }
        & .tbig {
          font: $fontMuseoSansCyrlLight_30;
          @include lg_900 {
            font-size: 2rem;
          }
          @include md_767 {
            font-size: 2rem;
          }
          @include sm_567 {
            font-size: 2rem;
          }
        }
      }
      &-discount {
        background-color: #fff;
        border-radius: 15px;
        margin: 0.729vw 0.729vw 0.729vw 0;
        padding: 1.042vw 1.563vw;
        display: flex;
        align-items: center;
        @include sm_567 {
          margin-right: 0;
          text-align: center;
          padding: 0.5rem;
          margin: 0.5rem;
        }
        & p {
          font: $fontMuseoSansCyrlBold_16;
          margin-right: 20px;
          width: 10vw;
          @include sm_567 {
            margin-right: 0;
            width: 25rem;
          }
        }
        & .tbig {
          font: $fontMuseoSansCyrlBold_30;
          width: 5.844vw;
          margin: 0;
          @include lg_900 {
            font-size: 2rem;
            width: auto;
          }
          @include md_767 {
            font-size: 2rem;
            width: 100%;
            text-align: center;
          }
          @include sm_567 {
            font-size: 2rem;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    &-blur {
      position: absolute;
      top: -11vw;
      right: -11vw;
      z-index: -1;
    }
  }
  &__leaveTop {
    position: absolute;
    top: -10vw;
    left: 0;
    width: 6.552vw;
  }
  &__tab {
    &-target {
      @include mainBtn;
      padding: 1.875vw 2.427vw;
      border-radius: 57.5px;
      cursor: pointer;
      font: $fontMuseoSansCyrlLight_48;
      color: #fff;
      @include lg_900 {
        font-size: 2rem;
        padding: 2rem;
      }
      @include md_767 {
        font-size: 2rem;
        padding: 2rem;
      }
      @include sm_567 {
        font-size: 1.8rem;
        padding: 2rem;
      }
    }
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  @include lg_900 {
    padding-right: 0;
  }
  @include md_767 {
    padding-right: 0;
  }
  @include sm_567 {
    padding-right: 0;
  }
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: $colorInputBtn;
  @include md_767 {
    right: -15px;
  }
  @include sm_567 {
    right: -14px;
  }
}
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:not(:checked) + label:before {
  background-color: #fff;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  right: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  background-color: $colorInputBtn;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  @include md_767 {
    right: -11px;
  }
  @include sm_567 {
    right: -10px;
  }
}
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
