.advantages {
  padding: $padding_section 0;

  background: url(../img/advantagesBackgroundRight.jpg) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  &--flex {
    display: flex;
  }
}
.section__descr {
  &--uptext {
    font: $ExoMedium_16;
    color: $color-redLight;
  }
  &--head {
    margin-top: $margin_top_20;
    & h2 {
      font: $ExoMedium_40;
    }
  }
  &--dots {
    color: $color-redLight;
  }
  &--main {
    margin-top: $margin_top_40;
    & p {
      font: $ExoMedium_16;
      color: $color-grayText;
      line-height:  1.857;
      &:nth-child(2) {
        margin-top: 20px;
      }
    }
  }
}
