.design {
    background: url(../img/designBackground.jpg) no-repeat;
    background-size: cover;
  padding: $padding_section;
  &--flex {
    display: flex;
  }
  &__notebook {
    margin: 40px 40px 0 0;
  }
}
