.header {
  padding-top: 1vw;
  @include adap(padding-bottom, 15px, 35px);
  &--flex {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: vw(30px);
    &-wrap {
      justify-content: space-between;
      align-items: center;
    }
  }
  &__descr {
    @include md_900 {
      display: none;
    }
  }
  &__menu {
    & ul {
      display: flex;
    }
    &-item {
      margin-right: vw(60px);
      &::before {
        background-color: #272f42;
      }
    }
    @include md_900 {
      display: none;
    }
  }
  &__work {
    display: flex;
    align-items: center;
    @include xs_500 {
      display: none;
    }
    & img {
      width: 20px;
      margin-right: 15px;
    }
    & a {
      &::before {
        background-color: #272f42;
      }
    }
    &-txt {
      & p:nth-of-type(1) {
        margin-bottom: 5px;
      }
    }
  }
  &__burger {
    display: none;
    @include md_900 {
      display: block;
      width: 3rem;
    }
  }
  &__mob {
    display: none;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100vw !important;
    z-index: 1010;
    &--wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem;
      height: 100%;
    }
    & .header__logo {
      margin-right: 0;
      & img {
        width: 30rem;
      }
    }
    & .header__work {
      display: flex;
      & > a {
        & img {
          width: 3rem;
        }
      }
      &-txt {
        & p {
          font-size: 2.5rem;
          @include xs_500 {
            font-size: 1.5rem;
          }
        }
        & a {
          font-size: 3rem;
          @include xs_500 {
            font-size: 2rem;
          }
        }
      }
    }
    & .header__menu {
      display: block;
      height: 50%;
      & ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        & li {
          & a {
            font-size: 3rem;
          }
        }
      }
    }
    & .close {
      width: 4rem;
      height: 4rem;
    }
    @include md_900 {
      width: 3rem;
    }
  }
}
.aside {
  @include adap(width, 60px, 120px);
  position: relative;
  &__soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1.56vw;
    top: 45%;
    transition: transform 0.3s ease;
    @include md_900 {
      right: 0.8rem;
      top: 35%;
      z-index: 2000;
    }
    &-item {
      background: #e8e9eb;
      border-radius: 50%;
      width: vw(55px);
      height: vw(55px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: vw(20px) vw(18px);
      margin-bottom: 10px;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      @include md_900 {
        width: 40px;
        height: 40px;
      }
      &:hover {
        box-shadow: inset 0 0 0 3px #272f42, 0 0 0 4px #e8e9eb;
      }
      & img {
        width: vw(20px);
        max-width: unset;
        max-height: unset;
        @include md_900 {
          width: 2rem;
        }
      }
    }
  }
  &--bottom {
    //transform: translateY(45%);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    & > div {
      position: static;
    }
  }
  @include sm_700 {
    display: none;
  }
}
