.header {
  padding-top: 1vw;
  @include adap(padding-bottom, 15px, 35px);
  &--flex {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: vw(30px);
    &-wrap {
      justify-content: space-between;
    }
  }
  &__menu {
    display: flex;
    &-item {
      margin-right: vw(60px);
      &::before {
        background-color: #272f42;
      }
    }
  }
  &__work {
    display: flex;
    align-items: center;
    & img {
      width: 20px;
      margin-right: 15px;
    }
    & a {
      &::before {
        background-color: #272f42;
      }
    }
    &-txt {
      & p:nth-of-type(1) {
        margin-bottom: 5px;
      }
    }
  }
}
.aside {
  width: vw(120px);
  position: relative;
  &__soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1.3vw;
    top: 45%;
    &-item {
      background: #e8e9eb;
      border-radius: 50%;
      width: vw(55px);
      height: vw(55px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: vw(20px) vw(18px);
      margin-bottom: 10px;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      &:hover {
        box-shadow: inset 0 0 0 3px #272f42, 0 0 0 4px #e8e9eb;
      }
      & img {
        width: 20px;
        max-width: unset;
        max-height: unset;
      }
    }
  }
}
