.main {
  @include adap(padding-bottom, 30px, 70px);
  &-wrap {
    margin-left: vw(60px);
    &--flex {
      @include adap(padding-top, 100px, 250px);
      justify-content: space-between;
      @include md_900 {
        flex-direction: column;
      }
    }
    @include md_900 {
      margin-left: 0;
    }
  }
  &__title {
    @include adap(margin-bottom, 30px, 75px);
  }
  &__descr {
    display: flex;
    @include adap(margin-top, 30px, 170px);
    @include xs_500 {
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      align-items: center;
      @include xs_500 {
        width: 100%;
        margin-bottom: 1rem;
      }
      & p {
        @include adap(margin-right, 10px, 15px);
        &:nth-of-type(2) {
          margin-right: 0;
        }
      }
    }
    & > span {
      width: 1px;
      background: #fff;
      opacity: 0.15;
      @include adap(margin-right, 10px, 35px);
      @include adap(margin-left, 10px, 35px);
      @include xs_500 {
        display: none;
      }
    }
  }
  &__btn {
    & a {
      text-transform: uppercase;
      padding: vw(40px) vw(70px);
      @include md_900 {
        width: 31rem;
        height: 7rem;
        padding: 2rem;
      }
      @include xs_500 {
        width: 20rem;
      }
    }
  }
  &__pluses {
    margin-right: vw(135px);
    margin-top: vw(30px);
    &-item {
      display: flex;
      align-items: center;
      @include adap(margin-bottom, 10px, 55px);
      & p {
        &:nth-of-type(1) {
          @include adap(margin-right, 10px, 30px);
        }
      }
      @include md_900 {
        width: 50%;
      }
      @include xs_500 {
        width: 100%;
      }
    }
    @include md_900 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 0;
      margin-top: 3rem;
    }
  }
}
