.do {
  @include adap(padding-top, 30px, 125px);
  position: relative;
  &__content {
    @include adap(margin-top, 30px, 55px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      padding: vw(27px) vw(27px) vw(15px) vw(48px);
      width: 15%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      @include adap(margin-right, 10px, 25px);
      margin-bottom: 20px;
      @include md_900 {
        width: 31%;
        padding: 1.5rem;
      }
      @include sm_700 {
        width: 48%;
        margin-right: 0;
      }
      @include xs_500 {
        width: 100%;
        & br {
          display: none;
        }
      }
      &:nth-of-type(6n) {
        margin-right: 0;
        @include md_900 {
          @include adap(margin-right, 10px, 25px);
        }
      }
      &:nth-of-type(3n) {
        @include md_900 {
          margin-right: 0;
        }
      }
      & img {
        margin-bottom: 10px;
        @include xs_500 {
          width: 8rem;
        }
      }
    }
    &-descr {
      text-align: left;
      width: 100%;
      & p:nth-of-type(1) {
        @include adap(margin-bottom, 10px, 15px);
      }
    }
  }
  & > img {
    top: 2vw;
    right: 0;
    z-index: -1;
    height: vw(192px);
  }
}
