.download {
  @include adap(margin-top, 30px, 80px);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  @include adap(padding-top, 50px, 140px);
  @include adap(padding-bottom, 50px, 140px);
  @include md_900 {
    display: flex;
    flex-direction: column;
  }
  &-wrap {
    flex-direction: column;
    @include adap(margin-right, 30px, 150px);
    @include xs_500 {
      margin-right: 0;
      padding: 0 15px;
    }
  }
  &__title {
    & p {
      @include adap(margin-top, 20px, 28px);
    }
  }
  &__form {
    @include adap(margin-top, 20px, 30px);
    & form {
      display: flex;
      @include xs_500 {
        flex-direction: column;
      }
    }
    & input {
      margin-right: 10px;
      width: 50%;
      @include xs_500 {
        width: 29rem;
        height: 6rem;
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
    & button {
      width: 50%;
      @include xs_500 {
        width: 29rem;
        height: 6rem;
      }
    }
    & > span {
      @include adap(margin-top, 10px, 40px);
    }
  }
  &__cata {
    position: absolute;
    left: -7vw;
    top: -1vw;
    width: vw(1100px);
    @include md_900 {
      position: relative;
      left: 0;
      top: 0;
      margin-bottom: 2rem;
    }
    @include sm_700 {
      width: 45rem;
    }
    @include xs_500 {
      width: 28rem;
    }
    &-icon {
      position: absolute;
      bottom: 8vw;
      left: 40vw;
      @include sm_700 {
        left: 31rem;
      }
      @include xs_500 {
        left: 20rem;
      }
      & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include xs_500 {
          width: 100%;
          text-align: center;
        }
        & img {
          @include sm_700 {
            width: 5rem;
          }
          @include xs_500 {
            width: 3rem;
          }
        }
      }
      & p {
        margin-top: 15px;
        @include xs_500 {
          margin-top: 0;
        }
      }
    }
  }
  & > img {
    bottom: -7vw;
    right: 0;
    z-index: -1;
  }
}
