.footer {
  background-color: #272f42;
  @include adap(padding-top, 30px, 65px);
  @include adap(padding-bottom, 30px, 30px);
  @include adap(padding-right, 30px, 120px);
  &-wrap {
    justify-content: space-between;
    @include md_900 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__logo {
    @include adap(margin-right, 20px, 40px);
    &-wrap {
      display: flex;
      @include md_900 {
        align-items: center;
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md_900 {
      width: 100%;
    }
  }
  &__descr {
    width: vw(240px);
    @include md_900 {
      width: 25rem;
    }
  }
  &__right {
    display: flex;
    width: 50%;
    justify-content: space-between;
    @include md_900 {
      width: 100%;
      margin-top: 3rem;
    }
    @include xs_500 {
      flex-wrap: wrap;
    }
    & > div > p {
      @include adap(margin-bottom, 10px, 20px);
    }
    & > div > div > p {
      @include adap(margin-bottom, 5px, 10px);
    }
    & > div > div a {
      @include adap(margin-bottom, 5px, 10px);
    }
    &-menu {
      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        & a {
          display: inline;
        }
      }
    }
    &-contacts {
      & a {
        @include adap(margin-bottom, 5px, 10px);
      }
      & p:nth-last-of-type(2) {
        @include adap(margin-top, 5px, 10px);
      }
      @include xs_500 {
        margin-top: 1rem;
      }
    }
  }
  &__bot {
    display: flex;
    justify-content: space-between;
    @include adap(margin-top, 30px, 70px);
    align-items: center;
    @include md_900 {
      flex-wrap: wrap;
      & > p {
        width: 50%;
        margin-bottom: 1rem;
        &:last-of-type {
          text-align: end;
        }
      }
    }
    @include xs_500 {
      flex-direction: column;
      align-items: baseline;
      & a {
        margin-bottom: 1rem;
      }
      & > p {
        &:last-of-type {
          text-align: left;
        }
      }
    }
  }
  &__soc {
    display: flex;
    align-items: center;
    margin-bottom: vw(30px);
    @include md_900 {
      margin-top: 3rem;
      margin-bottom: 0;
    }
    @include xs_500 {
      flex-wrap: wrap;
    }
    & p {
      margin-right: 20px;
      @include xs_500 {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    & a {
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
