.rew {
  @include adap(padding-top, 30px, 80px);
  &__slider {
    &-wrap {
      @include adap(margin-top, 30px, 50px);
    }
    &-item {
      @include adap(padding-left, 15px, 45px);
      @include adap(padding-right, 15px, 45px);
      @include adap(padding-top, 15px, 40px);
      @include adap(padding-bottom, 15px, 55px);
      background-color: #f5f7f6;
      @include adap(margin-right, 20px, 20px);
      outline: none;
      @include xs_500 {
        margin-right: 0;
      }
    }
    &-imgs {
      display: flex;
      & > span {
        // display: block;
        position: relative;
        @include adap(margin-left, 10px, 10px);
        position: relative;
        @include md_900 {
          width: 100%;
          & img {
            width: 100%;
          }
        }
      }
      & > a {
        @include md_900 {
          width: 40%;
          display: flex;
          & img {
            width: 100%;
          }
        }
      }
    }
    &-descr {
      @include adap(margin-top, 15px, 35px);
      & > p {
        &:nth-of-type(2) {
          @include adap(margin-top, 10px, 40px);
        }
      }
      &-sign {
        display: flex;
        justify-content: space-between;
        @include adap(margin-top, 10px, 20px);
      }
    }
    &-pag {
      display: flex;
      align-items: center;
      & > div {
        &:nth-of-type(2) {
          @include adap(margin-right, 10px, 40px);
          @include adap(margin-left, 10px, 40px);
        }
      }
      &-content {
        width: 4vw;
        @include md_900 {
          width: auto;
        }
      }
    }
    &-btn {
      & a {
        background-color: #444c5d;
        padding: vw(28px) vw(65px);
        @include md_900 {
          padding: 1rem;
          width: 22rem;
          height: 5rem;
          margin-right: 2rem;
        }
        @include xs_500 {
          width: 16rem;
          margin-right: 0;
        }
        &:hover {
          box-shadow: 0 0 0 2px #444c5d inset, 0 0 0 4px white inset;
        }
      }
    }
  }
  &-wrap {
    justify-content: space-between;
    @include adap(margin-top, 30px, 30px);
  }
}
