.schema {
  @include adap(padding-top, 30px, 95px);
  &__title {
    & p {
      @include adap(margin-top, 10px, 25px);
    }
  }
  &__content {
    @include adap(margin-top, 30px, 40px);
    @include md_900 {
      flex-direction: column;
    }
  }
  &__stages {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #f5f7f6;
    @include adap(padding-left, 30px, 120px);
    @include adap(padding-right, 30px, 75px);
    @include adap(margin-right, 30px, 65px);
    position: relative;
    justify-content: space-between;
    @include md_900 {
      width: 100%;
      padding: 2rem;
      align-items: baseline;
      margin-bottom: 3rem;
    }
    @include xs_500 {
      flex-wrap: wrap;
      margin-right: 0;
    }
    & > span {
      position: absolute;
      &:nth-of-type(1) {
        left: 12vw;
        top: 6vw;
        @include md_900 {
          left: 20%;
          top: 40%;
        }
        @include xs_500 {
          left: 43%;
          top: 23%;
        }
      }
      &:nth-of-type(2) {
        left: 26vw;
        top: 6vw;
        @include md_900 {
          left: 46%;
          top: 40%;
        }
        @include xs_500 {
          left: 43%;
          top: 66%;
        }
      }
      &:nth-of-type(3) {
        left: 40vw;
        top: 6vw;
        @include md_900 {
          left: 73%;
          top: 40%;
        }
        @include xs_500 {
          display: none;
        }
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      text-align: center;
      @include adap(margin-right, 30px, 125px);
      @include md_900 {
        flex: 1 0 0%;
      }
      @include xs_500 {
        width: 50%;
        margin-right: 0;
        flex: none;
        &:nth-of-type(-1n + 2) {
          margin-bottom: 2rem;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      //   @include adap(margin-right, 20px, 50px);
      //   @include adap(margin-left, 10px, 25px);
      //   &:last-of-type {
      //     margin-right: 0;
      //   }
      //   &:first-of-type {
      //     margin-left: 0;
      //   }
      & img {
        @include adap(margin-bottom, 15px, 25px);
        max-width: vw(85px);
        @include md_900 {
          width: 6rem;
          max-width: unset;
        }
      }
    }
  }
  &__form {
    @include md_900 {
      padding: 0 3rem;
    }
    @include xs_500 {
      padding: 0 1.5rem;
    }
    &-title {
      text-align: center;
      & p {
        &:nth-of-type(1) {
          margin-bottom: 5px;
        }
        &:nth-of-type(2) {
          @include adap(margin-bottom, 10px, 25px);
          & > span {
            margin-right: 10px;
          }
        }
      }
      & span {
        & img {
          width: 20px;
        }
      }
    }
    &-content {
      @include adap(margin-top, 20px, 25px);
      @include xs_500 {
        flex-direction: column;
      }
    }
    &-descr {
      max-width: vw(250px);
      @include adap(margin-right, 20px, 45px);
      @include md_900 {
        width: auto;
        max-width: unset;
      }
      @include xs_500 {
        margin-right: 0;
        margin-bottom: 2rem;
      }
      &-item {
        display: flex;
        align-items: center;
        @include adap(margin-bottom, 15px, 15px);
        &:last-of-type {
          margin-bottom: 0;
        }
        & p {
          &:nth-of-type(1) {
            @include adap(margin-right, 10px, 15px);
          }
        }
      }
    }
    &-form {
      @include md_900 {
        width: 50%;
      }
      @include xs_500 {
        width: 29rem;
        margin: 2rem auto 0 auto;
      }
      & form {
        display: flex;
        flex-direction: column;
        max-width: vw(250px);
        @include md_900 {
          max-width: unset;
        }
      }
      & input {
        @include adap(margin-bottom, 10px, 10px);
        background-color: #f5f7f6;
        height: 50px;
        @include md_900 {
          max-height: unset;
          height: 5rem;
        }
      }
      & button {
        max-height: vw(60px);
        margin-bottom: 10px;
        @include md_900 {
          max-height: unset;
          height: 5rem;
        }
      }
    }
  }
}
