<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="about-wraper">
        {{> _partials/header}}
        {{> _partialsAbout/aboutDescr}}
        {{> _partialsAbout/screenshots}}
        {{> _partialsAbout/video}}
    </div>
    {{> _partialsAbout/team}}
    {{> _partialsAbout/work}}
    {{> _partialsAbout/same}}
    {{> _partials/services}}
    {{> _partials/footer}}
</body>

</html>