<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="catalog-wraper">
        {{> _partials/header}}
        {{> _partialsCatalog/main}}
    </div>
    {{> _partialsCatalog/cosmetic}}
    {{> _partialsCatalog/order}}
    {{> _partialsCatalog/material}}
    {{> _partials/footer}}

</body>

</html>