<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="wrapper_background">
        {{> _partials/header}}
        {{> _partialsDep/main}}
    </div>

    <div class="save-fact--wraper">
        {{> _partialsDep/save}}
        {{> _partialsDep/facts}}
    </div>
    {{> _partialsDep/pain}}

    {{> _partials/work}}
    {{> _partialsDep/price}}
    {{> _partialsDep/request}}
    {{> _partialsDep/complex}}
    {{> _partials/qualification}}
    {{> _partials/reviews}}
    {{> _partialsDep/wait}}
    {{> _partialsDep/qa}}
    {{> _partialsDep/online}}
    {{> _partialsDep/learn}}
    {{> _partials/footer}}
    {{> _partials/popup}}
</body>

</html>