<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/img/favicon.png">
    <link href="/src/app/components/imgZoom/css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Pincet</title>

</head>

<body>
    <div class="wrapper_background">
        {{> _partials/header}}
        {{> _partials/main}}
    </div>
    {{> _partials/relocation}}
    {{> _partials/services}}
    {{> _partials/work}}
    {{> _partials/qualification}}
</body>

</html>