<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="masage-wraper">
        {{> _partials/header}}
        {{> _partialsMasage/main}}
    </div>
    {{> _partialsMasage/indications}}
    {{> _partialsMasage/benefit}}
    {{> _partialsMasage/effect}}
    <div class="masage__result-wraper">
        {{> _partialsMasage/result}}
        {{> _partialsMasage/watch}}
        {{> _partialsMasage/cost}}
        {{> _partialsDep/request}}
    </div>
    {{> _partialsMasage/warning}}
    {{> _partialsMasage/master}}
    {{> _partials/reviews}}
    {{> _partialsMasage/wait}}
    {{> _partialsDep/qa}}
    {{> _partialsMasage/online}}
    {{> _partials/footer}}
    {{> _partials/popup}}

</body>

</html>