.footer {
  &__title {
    text-align: center;
    @include adap(margin-bottom, 30px, 60px);
  }
  &__content {
    display: flex;
  }
  &__map {
    width: 57.5%;
    & iframe {
      height: 100%;
      width: 100%;
      border: none;
    }
  }
  &__contacts {
    width: 42.5%;
    background-color: #f4efea;
    padding: vw(75px) vw(50px) vw(75px) vw(95px);
    & img {
      width: 30px;
      margin-left: vw(-41px);
      @include md_900 {
        width: 20px;
        margin-left: 0;
      }
    }
    & > div {
      @include adap(margin-bottom, 20px, 50px);
    }
    &-title {
      @include adap(margin-bottom, 20px, 50px);
    }
    &-phone {
      & a {
        transition: color 0.3s ease;
        &:hover {
          color: $colorMain;
        }
      }
      & p {
        @include adap(margin-bottom, 10px, 20px);
      }
    }
    &-mail {
      & a {
        transition: color 0.3s ease;
        &:hover {
          color: $colorMain;
        }
      }
      & p {
        @include adap(margin-bottom, 10px, 20px);
      }
    }
    &-adress {
      & p {
        @include adap(margin-bottom, 10px, 20px);
      }
    }
    &-soc {
      @include adap(margin-top, 30px, 70px);
      & p {
        @include adap(margin-bottom, 10px, 25px);
      }
      & img {
        width: 65px;
        @include adap(margin-right, 10px, 25px);
        margin-left: 0;
        transition: border-radius 0.3s ease;
        @include md_900 {
          width: 30px;
        }
        &:hover {
          border-radius: 50%;
        }
      }
    }
  }
  &__bot {
    padding: vw(85px) vw(355px);
    background: $btnGrad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md_900 {
      padding: 30px 50px;
    }
    & > div {
      flex: 1 1 0%;
    }
    &-phone {
      display: flex;
      flex-direction: column;
      & a {
        transition: color 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
      & p {
        transition: text-shadow 0.3s ease;
        cursor: pointer;
        display: inline;
        transition: color 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
    }
    &-conf {
      text-align: center;
      & a {
        border-bottom: 1px solid #1d1d1d;
        padding-bottom: 5px;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
    }
    &-site {
      text-align: right;
    }
  }
}
