.popular {
  &__title {
    text-align: center;
    & p {
      @include adap(margin-top, 10px, 30px);
    }
    @include sm_700 {
      margin-bottom: 40px;
    }
  }
  &__tabBtn {
    @include adap(margin-top, 15px, 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include md_900 {
      justify-content: space-evenly;
    }
    & a {
      @include adap(margin-right, 5px, 20px);
      &:last-of-type {
        margin-right: 0;
      }
      @include md_900 {
        width: 45%;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  &__tabs {
    position: relative;
    @include sm_700 {
      & .pagin {
        @include adap(top, -130px, -150px);
      }
    }
  }
  &__slider {
    padding: 0 vw(100px);
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: vw(10px) vw(10px) 0 vw(10px);
      border-radius: 10px;
      /*  box-shadow: 6.9px 1.3px 22.3px 1.7px rgba(49, 49, 49, 0.1); */
      height: vw(680px);
      @include md_900 {
        padding: 5px 5px 10px 5px;
        height: auto;
      }
      & img {
        height: vw(400px);
        width: vw(500px);
        border-radius: 10px;
        @include sm_700 {
          width: 100%;
        }
      }
      & p {
        @include adap(margin-top, 10px, 35px);
        @include adap(margin-left, 5px, 40px);
        &:last-of-type {
          @include adap(margin-top, 5px, 15px);
          @include md_900 {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    &-more {
      @include adap(margin-top, 25px, 50px);
      text-align: center;
      & button {
        padding: vw(20px) vw(55px);
        cursor: pointer;
        @include md_900 {
          padding: 10px 25px;
        }
      }
    }
    & .slick-track {
      @include adap(margin-bottom, 10px, 50px);
      @include adap(margin-top, 10px, 50px);
    }
    & .slick-slide {
      transform: scale(0.8);
      transition: all 0.3s ease;
      /* @include sm_700 {
        opacity: 0;
      } */
    }
    & .slick-active {
      box-shadow: 6.9px 1.3px 22.3px 1.7px rgba(49, 49, 49, 0.1);
      border-radius: 10px;
      /* @include sm_700 {
        opacity: 0;
        display: none;
      } */
    }
    & .slick-cloned {
      transform: scale(0.8);
      transition: all 0.3s ease;
    }
    .slick-current {
      transform: scale(1) !important;
      /* @include sm_700 {
        opacity: 1;
        width: 450px !important;
        display: block;
      } */
    }
  }
}
