.requests {
  background-image: url(../img/requests/back.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    text-align: center;
    @include sm_700 {
      margin-bottom: 40px;
    }
  }
  &__cards {
    position: relative;
    margin: 0 auto;
    @include adap(margin-top, 30px, 55px);
    width: vw(1300px);
    @include md_900 {
      width: auto;
    }
    @include sm_700 {
      margin-top: 20px;
    }
    &-title {
      z-index: 2;
      @include md_900 {
        text-align: center;
      }
    }
    &-form {
      z-index: 2;
      @include md_900 {
        width: 100%;
      }
    }
    &-item {
      padding: 10px;
      background-color: #f4efea;
      border-radius: 30px;
      box-shadow: 7.9px 1.5px 17.9px 3.2px rgba(0, 0, 0, 0.07);
      position: relative;
      @include adap(margin-bottom, 15px, 40px);
    }
    &-content {
      height: vw(180px);
      background-color: #f4efea;
      border-radius: 30px;
      border: 1px solid #c4c4c4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include adap(padding-top, 10px, 50px);
      @include adap(padding-bottom, 10px, 60px);
      @include adap(padding-left, 10px, 60px);
      @include adap(padding-right, 10px, 50px);
      @include md_900 {
        flex-direction: column;
        height: auto;
      }
      & > img {
        position: absolute;
        bottom: 0;
        left: 35%;
        width: vw(253px);
        z-index: 1;
        @include md_900 {
          left: -10%;
          pointer-events: none;
          width: auto;
        }
      }
    }
    & form {
      display: flex;
      align-items: center;
      @include md_900 {
        justify-content: space-evenly;
        margin-top: 20px;
      }
      & > span {
        @include adap(margin-right, 10px, 30px);
        width: vw(290px);
        overflow: hidden;
        & label {
          background-color: #f4efea;
        }
        @include md_900 {
          padding-left: 15px;
          text-align: center;
          width: 45%;
        }
      }
      & a {
        @include adap(padding-left, 10px, 40px);
        @include adap(padding-right, 10px, 40px);
        width: vw(290px);
        @include md_900 {
          width: 45%;
          text-align: center;
        }
      }
    }
    &--absolute {
      position: absolute;
      left: -5%;
      top: 0;
      top: 10%;
    }
    &--absolute2 {
      bottom: -25% !important;
    }
  }
  &-lastBtn {
    width: auto !important;
  }
}
