.today {
  &__title {
    text-align: center;
  }
  &__cards {
    @include adap(margin-top, 30px, 50px);
    padding: 0 vw(80px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      width: 31.8%;
      padding: vw(35px) vw(20px) 0 vw(40px);
      height: vw(450px);
      position: relative;
      &:nth-of-type(1) {
        & img {
          @include adap(width, 80px, 322px);
        }
      }
      &:nth-of-type(2) {
        & img {
          @include adap(width, 80px, 438px);
        }
      }
      &:nth-of-type(3) {
        & img {
          @include adap(width, 80px, 241px);
        }
      }
      &:nth-of-type(4) {
        & img {
          @include adap(width, 80px, 391px);
        }
      }
      &:nth-of-type(5) {
        & > img {
          @include adap(width, 80px, 336px);
        }
      }
      @include adap(margin-right, 10px, 20px);
      @include adap(margin-bottom, 10px, 20px);
      @include md_900 {
        width: 47%;
        height: 280px;
      }
      & > img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &:nth-of-type(1) {
        background-color: #e5e5e8;
      }
      &:nth-of-type(2) {
        background-color: #f4efea;
        @include md_900 {
          margin-right: 0;
        }
      }
      &:nth-of-type(3) {
        background-color: #c6b59a;
        margin-right: 0;
      }
      &:nth-of-type(4) {
        background-color: #ffd48d;
        @include md_900 {
          margin-right: 0;
        }
      }
      &:last-of-type {
        width: 66%;
        background-color: #f4efea;
        margin-right: 0;
        @include md_900 {
          width: 100%;
        }
        @include sm_700 {
          height: 295px;
        }
        & > img {
          top: 0;
        }
        & form {
          display: flex;
          align-items: flex-end;
          @include adap(margin-top, 30px, 85px);
          @include sm_700 {
            flex-wrap: wrap;
            justify-content: center;
          }
          & > span {
            @include md_900 {
              width: 25%;
            }
            @include sm_700 {
              width: 45%;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
  @include sm_700 {
    & .pagin {
      top: 40px;
    }
  }
}
