@import "functions";


//--------------------------------------
// Primary Colors
//--------------------------------------

$colorMain:#eeab09;
$colorMain2:#e9ad03;
$txtColor:#111111;
$btnGrad:linear-gradient(to top, #f79000, #ffdd7d);
$paginColor:#be7c39;
//--------------------------------------
// Metrics
//--------------------------------------
$padTop:100px;
$padTopBig:150px;
$padBot:100px;
$padBotBig:150px;
$ttlMarBot:50px;
$marR:20px;
