<!DOCTYPE html>
<html>

<head lang="ru">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Test</title>

</head>

<body>
	<div class="first">
		{{> _partials/header}}
		{{> _partials/main}}
	</div>
	{{> _partials/steps}}
	<div class="second">
		{{> _partials/types}}
		{{> _partials/reviews}}
	</div>
	{{> _partials/objects}}
	{{> _partials/cost}}
	{{> _partials/partners}}
	{{> _partials/qa}}
	{{> _partials/contacts}}
	{{> _partials/footer}}
	{{> _partials/popupMainBtn}}
	{{> _partials/popupForm}}
	{{> _partials/popupMore}}
	{{> _partials/popupTerms}}
	{{> _partials/endForm}}
</body>

</html>