@keyframes pulseicon {
	0% {
		transform: translate(-50%, -50%) scale(0.6);
	}

	50% {
		transform: translate(-50%, -50%) scale(0.9);
	}

	100% {
		transform: translate(-50%, -50%) scale(0.6);
	}
}

@keyframes blink {
	0% {
		left: -30px;
		margin-left: 0px;
	}

	30% {
		left: 110%;
		margin-left: 80px;
	}

	100% {
		left: 110%;
		margin-left: 80px;
	}
}

@keyframes slide-up-in {
	0% {
		-webkit-transform: translate(0px, 100%);
		transform: translateY(20px);
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		transform: translateY(0px);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}
}