.cost {
	background-image: url(../img/cost/back.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	&__title {
		text-align: center;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: get-vw(90px);

		@include md_900 {
			flex-wrap: wrap;
			margin-top: 30px;
			justify-content: center;
		}

		@include xs_500 {
			flex-wrap: wrap;
			margin-top: 30px;
			justify-content: center;
		}
	}

	&__descr {
		&-title {
			display: flex;
			align-items: center;

			& p:nth-of-type(1) {
				margin-right: 5px;
			}
		}

		&-list {
			& ul {
				display: flex;
				flex-wrap: wrap;
				margin-left: 1vw;
				margin-top: get-vw(30px);
				width: get-vw(580px);

				@include md_900 {
					width: auto;
					margin-top: 15px;
					margin-left: 0;
					flex-direction: column;
					margin-left: 15px;
				}

				@include xs_500 {
					width: auto;
					margin-top: 15px;
					margin-left: 0;
					flex-direction: column;
					margin-left: 15px;
				}


				& li {
					display: flex;
					align-items: center;
					width: 50%;
					margin-bottom: get-vw(40px);

					@include md_900 {
						margin-bottom: 20px;
						width: auto;
					}

					@include xs_500 {
						margin-bottom: 20px;
						width: auto;
					}
				}
			}
		}

		&-sign {
			margin-top: get-vw(30px);

			@include md_900 {
				margin-top: 15px;
				margin-bottom: 15px;
			}

			@include xs_500 {
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	}

	&-men {
		position: absolute;
		right: 32%;
		bottom: 0;
		width: get-vw(470px);

		@include md_900 {
			position: relative;
			width: 280px;
			margin: 20px auto 0 auto;
			right: unset;
			bottom: -7px;
			display: block;
		}

		@include xs_500 {
			position: relative;
			width: 280px;
			margin: 20px auto 0 auto;
			right: unset;
			bottom: -7px;
			display: block;
		}
	}

	&-treeL {
		position: absolute;
		left: 0;
		bottom: -42%;
		width: get-vw(230px);
		z-index: 3;
	}

	&-treeR {
		position: absolute;
		right: 0;
		top: 10%;
		width: get-vw(187px);
	}

	&-cloud {
		position: absolute;
		bottom: 0;
		z-index: 2;
		height: 20%;
		width: 100%;

		@include md_900 {
			height: 10%;
		}

		@include xs_500 {
			height: 10%;
		}
	}
}