.popup-terms {
	padding: get-vw(65px);
	background-color: #fff;
	width: 85%;
	margin: 0 auto;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2222;
	overflow-y: scroll;
	height: 93vh;
	border-radius: 10px;

	&::-webkit-scrollbar {
		/* chrome based */
		width: 0px;
		/* ширина scrollbar'a */
		background: transparent;
		/* опционально */
	}

	& h2 {
		text-align: center;
	}
}

.terms-close {
	width: get-vw(30px);
	position: absolute;
	right: 3%;
	top: 3%;
	cursor: pointer;
}