@keyframes pulseInfo {
  0% {
    box-shadow: 0 0 0 0 rgba(209, 119, 122, 0.49);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(209, 119, 122, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(209, 119, 122, 0);
  }
}
@keyframes pulseicon {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes blink {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes jump {
  0% {
    margin-top: 0.5rem;
  }
  25% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 1.5rem;
  }
  75% {
    margin-top: 1rem;
  }
  100% {
    margin-top: 0.5rem;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    bottom: 12%;
  }
  25% {
    bottom: 12.5%;
  }
  50% {
    bottom: 13%;
  }
  75% {
    bottom: 12.5%;
  }
  100% {
    bottom: 12%;
  }
}
