.wrapper_background {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.masage-wraper {
  background-image: url(../img/masage/main/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.masage__result-wraper {
  background-image: url(../img/masage/result/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.catalog-wraper {
  background-image: url(../img/catalog/main/background.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.learn-wraper {
  background-image: url(../img/learn/main/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-wraper {
  background-image: url(../img/about/back1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  @include lg_900 {
    background-size: cover;
  }
  @include md_767 {
    background-size: cover;
  }
  @include sm_567 {
    background-size: cover;
  }
}
h1 {
  font: $fontMuseoSansCyrlBold_48;
}
h2 {
  font: $fontMuseoSansCyrlBold_48;
}
h3 {
  font: $fontMuseoSansCyrlBold_30;
}
p {
  font: $fontMuseoSansCyrlLight_24;
}

.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}
.light {
  font-weight: 300;
}
.borderDashed {
  padding-bottom: 5px;
  border-bottom: 1px dashed #ff6078;
  display: inline-block;
}
.linkColorRoze {
  color: #ff6078;
  font: $fontMuseoSansCyrlMed_15;
  letter-spacing: 1.5px;
}
.tbig {
  font: $fontMuseoSansCyrlLight_30;
}
.tlism {
  font: $fontMuseoSansCyrlLight_30;
}
.roze {
  color: $colorRozeDarkText;
}
.bigIcon {
  border: 1px solid #fbe3e5;
  width: 2.865vw;
  height: 2.865vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 0 2px #fcbfc4 inset;
  }
  @include sm_567 {
    width: 4rem;
    height: 4rem;
  }
  @include md_767 {
    width: 5rem;
    height: 5rem;
  }
  @include lg_900 {
    width: 5rem;
    height: 5rem;
  }
}
.smallIcon {
  box-shadow: 0px 3px 20px 0 rgba(68, 68, 68, 0.21);
  width: 1.823vw;
  height: 1.823vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm_567 {
    width: 3rem;
    height: 3rem;
  }
  @include md_767 {
    width: 4rem;
    height: 4rem;
  }
  @include lg_900 {
    width: 4rem;
    height: 4rem;
  }
}
.flex {
  display: flex;
}
details:focus,
summary:focus {
  outline: 0;
  outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style: none;
}
details[open] {
  & summary {
    padding-bottom: 0;
    & span {
      transform: rotate(180deg);
    }
  }
}
summary {
  display: flex;
  justify-content: space-between;
  & > span {
    display: inline-block;
    transition: transform 0.2s;
  }
}
.flexWrap {
  @include lg_900 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include md_767 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include sm_567 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.posRel {
  @include lg_900 {
    position: relative;
  }
  @include md_767 {
    position: relative;
  }
  @include sm_567 {
    position: relative;
  }
}
.mtxt {
  @include lg_900 {
    font-size: 1.6rem !important;
  }
  @include md_767 {
    font-size: 1.5rem !important;
  }
  @include sm_567 {
    font-size: 1.4rem !important;
  }
  & p {
    @include lg_900 {
      font-size: 1.6rem !important;
      width: auto;
    }
    @include md_767 {
      font-size: 1.5rem !important;
      width: auto;
    }
    @include sm_567 {
      font-size: 1.4rem !important;
      width: auto;
    }
    & span {
      @include lg_900 {
        font-size: 1.6rem !important;
      }
      @include md_767 {
        font-size: 1.5rem !important;
      }
      @include sm_567 {
        font-size: 1.4rem !important;
      }
    }
  }
  & a {
    @include lg_900 {
      font-size: 1.6rem !important;
    }
    @include md_767 {
      font-size: 1.5rem !important;
    }
    @include sm_567 {
      font-size: 1.4rem !important;
    }
  }
  & li {
    @include lg_900 {
      font-size: 1.6rem !important;
    }
    @include md_767 {
      font-size: 1.5rem !important;
    }
    @include sm_567 {
      font-size: 1.4rem !important;
    }
  }
}
.mbtxt {
  @include lg_900 {
    font-size: 2rem;
    width: auto;
  }
  @include md_767 {
    font-size: 2rem;
    width: auto;
  }
  @include sm_567 {
    font-size: 2rem;
    width: auto;
  }
  & p {
    @include lg_900 {
      font-size: 2rem;
      width: auto;
    }
    @include md_767 {
      font-size: 2rem;
      width: auto;
    }
    @include sm_567 {
      font-size: 2rem;
      width: auto;
    }
    & span {
      @include lg_900 {
        font-size: 2rem;
      }
      @include md_767 {
        font-size: 2rem;
      }
      @include sm_567 {
        font-size: 2rem;
      }
    }
  }
  & a {
    @include lg_900 {
      font-size: 2rem;
    }
    @include md_767 {
      font-size: 2rem;
    }
    @include sm_567 {
      font-size: 2rem;
    }
  }
  & ul {
    & li {
      @include lg_900 {
        font-size: 2rem;
      }
      @include md_767 {
        font-size: 2rem;
      }
      @include sm_567 {
        font-size: 2rem;
      }
    }
  }
}
.ptxtsm {
  @include lg_900 {
    font-size: 1.4rem !important;
  }
  @include md_767 {
    font-size: 1.3rem !important;
  }
  @include sm_567 {
    font-size: 1.2rem !important;
  }
  & p {
    @include lg_900 {
      font-size: 1.4rem;
    }
    @include md_767 {
      font-size: 1.3rem;
    }
    @include sm_567 {
      font-size: 1.2rem;
    }
    & span {
      @include lg_900 {
        font-size: 1.4rem;
      }
      @include md_767 {
        font-size: 1.3rem;
      }
      @include sm_567 {
        font-size: 1.2rem;
      }
    }
  }
}
.btnTxt {
  @include lg_900 {
    font-size: 1.8rem;
  }
  @include md_767 {
    font-size: 1.7rem;
  }
  @include sm_567 {
    font-size: 1.6rem;
  }
}
