@mixin box($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin mainBtn {
  overflow: hidden;
  cursor: pointer;
  background-color: #ff6078;
  border-radius: 39.2px;
  border-image-source: linear-gradient(
    to top,
    rgba(243, 158, 162, 0.5),
    #ffffff
  );
  border-image-slice: 1;
  background-image: linear-gradient(to top, #ee858c, #fabcbc);
  box-shadow: 0 8px 13px rgba(243, 158, 162, 0.5), inset 0 -4px 1px #d7747a;
}
