@mixin vw($size) {
	font-size: get-vw($size);
}

@mixin md_900 {
	@media (max-width: 992px) {
		@content;
	}
}

@mixin sm_700 {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin xs_500 {
	@media (max-width: 576px) {
		@content;
	}
}

@mixin mainBtn {
	padding: get-vw(24px) get-vw(50px);
	background: $orangeGrad;
	border-radius: 12px;
	position: relative;
	color: $white;
	overflow: hidden;
	transition: all 0.3s ease;
	box-shadow: inset 0 -4px 1px #d76a03;

	@include xs_500 {
		padding: 13px 20px;
	}

	& p:nth-of-type(1) {
		margin-bottom: get-vw(4px);

		@include xs_500 {
			margin-bottom: 4px;
		}
	}

}

@mixin mainBtnBlick {
	&::after {
		margin-left: -30px;
		content: " ";
		width: 30px;
		height: 300px;
		background: #fff;
		-webkit-animation-delay: 0.05s;
		animation-delay: 0.05s;
		position: absolute;
		left: -40px;
		top: -150px;
		-webkit-transition: all 0.1s;
		-o-transition: all 0.1s;
		transition: all 0.1s;
		-webkit-animation-name: blink;
		animation-name: blink;
		-webkit-animation-duration: 3.5s;
		animation-duration: 3.5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

@mixin mainBtnHover {
	&:hover {
		box-shadow: inset 0px 4px 4px #fa8703;
	}
}

@mixin underline {
	position: relative;
	transition: all 0.3s ease;
	text-shadow: 0 0 0.65px $blue, 0 0 0.65px $blue;

	&:hover {
		text-shadow: 0 0 0.9px $blue, 0 0 0.9px $blue;

		&::before {
			width: 50%;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 100%;
		width: 100%;
		height: 1px;
		opacity: 0.4;
		border-bottom: 1px dashed $blue;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	}
}

@mixin socIcon {
	padding: get-vw(10px);
	border-radius: 50%;
	width: get-vw(40px);
	height: get-vw(40px);
	transition: box-shadow 0.3s ease;

	@include xs_500 {
		padding: 5px;
		height: 25px;
		width: 25px;
	}

	& img {
		width: get-vw(20px);
		height: get-vw(20px);

		@include xs_500 {
			width: 17.5px;
			height: 17.5px;
		}
	}

	&:nth-of-type(1) {
		background-color: #00ad00;

		&:hover {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #00ad00;
		}
	}

	&:nth-of-type(2) {
		background-color: #6b5db0;
		margin-left: get-vw(-5px);

		&:hover {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #6b5db0;
		}
	}

	&:nth-of-type(3) {
		background-color: #00bcf5;
		margin-left: get-vw(-5px);

		&:hover {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #00bcf5;
		}
	}
}

@mixin centerIcon($backGround, $top, $left, $pos) {
	position: $pos;
	top: $top;
	left: $left;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	display: flex;

	& img {
		padding: get-vw(9px);
		background: $backGround;
		border-radius: 50%;
	}

	z-index: 1;

	&::before {
		position: absolute;
		content: "";
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 170%;
		height: 170%;
		z-index: -1;
		background-color: $backGround;
		opacity: 0.5;
		border-radius: 100%;
		animation: pulseicon 3.3s infinite linear;
	}
}

@mixin transTxt {
	background: linear-gradient(to top, #ffffff, #b4d3e9), linear-gradient(to bottom, rgba(233, 239, 244, 0.48), rgba(233, 239, 244, 0.48));
	opacity: 0.48;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin form {
	border-radius: 12px;
	background-color: #fff;
	text-align: center;
	width: get-vw(414px);
	padding: get-vw(65px) get-vw(45px);

	@include xs_500 {
		width: auto;
		padding: 25px 20px;
	}

	& h3 {
		margin-bottom: get-vw(20px);

		@include xs_500 {
			margin-bottom: 10px;
		}
	}

	& p {
		margin-bottom: get-vw(35px);

		@include xs_500 {
			margin-bottom: 0;
		}
	}

	& button {
		margin-bottom: get-vw(20px);

		@include xs_500 {
			margin-bottom: 10px;
		}
	}

	& form {
		display: flex;
		flex-direction: column;
	}
}

@mixin input-wrap {
	position: relative;
	display: grid;

	&>span {
		position: absolute;
		left: 0;
		z-index: 2;
		top: 22px;
		margin-left: 24px;
		padding-right: get-vw(20px);
		border-right: 1px solid #d8dce4;

		@include xs_500 {
			padding-right: 4px;
			margin-left: 10px;
			top: 12px;
		}

		& img {
			width: get-vw(20px);
			height: get-vw(20px);

			@include xs_500 {
				width: 20px;
				height: 20px;
			}
		}
	}
}

@mixin input {
	padding: get-vw(26px) 0;
	padding-left: get-vw(82px);
	background-color: #f4f9fc;
	outline: none;
	border: none;
	margin-bottom: get-vw(15px);
	border-radius: 12px;
	position: relative;

	@include xs_500 {
		padding: 15px;
		padding-left: 40px;
		margin-bottom: 10px;
	}

	&::placeholder {
		font-size: get-vw(14px);
		color: $smTxt;

		@include md_900 {
			font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (992 - 320)));
		}
	}
}

@mixin input-file {
	cursor: pointer;

	&:hover {
		& strong {
			box-shadow: inset 0px 4px 4px #2186cd;
		}
	}

	& label {
		display: flex;
		align-items: center;
		padding: get-vw(26px) 0;
		padding-left: get-vw(24px);
		background-color: #f4f9fc;
		outline: none;
		border: none;
		margin-bottom: get-vw(15px);
		border-radius: 12px;
		position: relative;
		cursor: pointer;

		@include xs_500 {
			padding: 15px 0;
			padding-left: 11px;
			margin-bottom: 7px;
		}

		& strong {
			position: absolute;
			right: 0;
			width: get-vw(70px);
			height: get-vw(70px);
			border-radius: 12px;
			background-image: linear-gradient(to top, #379de4, #a8d2ef);
			box-shadow: inset 0 -4px 1px #2186cd;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: box-shadow 0.3s ease;

			@include xs_500 {
				width: 40px;
				height: 40px;
			}

			& img {
				width: 20px;
				height: 20px;
			}
		}
	}
}