<header class="header">
    <div class="container">
        <div class="row">
            <div class="header_flex">
                <div class="col-xl-2 col-xs-6 col-sm-6">
                    <div class="header__logo">
                        <a href="#">
                            <img src="img/header/logo.png" alt="PINCET студия депиляции">
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-xs-6 col-sm-6">
                    <div class="header__descr">
                        <p>
                            Студия депиляции и
                            массажный кабинет
                            в Бресте
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-6 col-sm-6">
                    <div class="header__map">
                        <div class="header__map-icon">
                            <img src="img/header/map.png" alt="карта">
                        </div>
                        <div class="header__map-descr">
                            <p class="header__map-descr_bold">Мы находимся в центре:</p>
                            <p class="header__map-descr_normal">г. Брест, ул. Гоголя, д.65</p>
                            <div class="header_flex">
                                <p class="header__map-descr_hover">Смотреть на карте</p>
                            </div>
                        </div>
                        <div class="header__map-iframe">
                            <iframe src="https://yandex.by/map-widget/v1/-/CCQheJcX2D" width="100%" height="100%"
                                frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-6 col-sm-6">
                    <div class="header__contact">
                        <div class="header__contact-phone">
                            <div class="header__contact-icon">
                                <a href="tel:+375333822499">
                                    <img src="img/header/phone.png" alt="+375333822499">
                                </a>
                            </div>
                            <div class="header__contact-tel">
                                <div class="header__contact-tel_wraper">
                                    <span></span>
                                    <p>Звоните, мы сейчас работаем</p>
                                </div>
                                <a href="tel:+375333822499">+375 33 382 24 99</a>
                            </div>
                        </div>
                        <div class="header__contact-days">
                            <div class="header__contact-icon">
                                <img src="img/header/time.png" alt="время">
                            </div>
                            <p>Пн-Вс <span>9:00-21:00</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="header__rec">
                        <img src="img/header/calendar.png" alt="календарь">
                        <span>Записаться онлайн</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="header__menu">
                <a href="#">Главная</a>
                <a href="#">Шугаринг и депиляция воском</a>
                <a href="#">Антицеллюлитный массаж</a>
                <a href="#">Классический массаж</a>
                <a href="#">Обучение</a>
                <a href="#">Косметика для мастеров</a>
                <a href="#">Статьи</a>
                <a href="#">О студии</a>
                <a href="#">Контакты</a>
            </div>
            <div class="header_boxShadow"></div>
        </div>
    </div>
    <div class="header_blurRight">
        <img src="img/main/rightBlur1.png" alt="">
    </div>
</header>