<div class="endForm">
	<p class="txt24 bold">
		Спасибо,
	</p>
	<div class="txt18">
		что уделили время, <br>
		наш менеджер свяжется с вами<br>
		в течении 15 минут.
	</div>
	<span class="endForm-close"><img src="img/svg/close.svg" alt=""></span>
</div>