<div class="steps__form form-wrap form-popupMainBtn">
	<h3 class="h34">Заполните данные <br> чтобы получить каталог</h3>
	<form action="" class="form">
		<span class="input-wrap">
			<span><img src="img/svg/user.svg" alt=""></span>
			<input required name="name" class="input" type="name" placeholder="Введите ваше имя"></span>
		<span class="input-wrap">
			<span><img src="img/svg/phone1.svg" alt=""></span>
			<input required name="phone" class="input  inputTel" type="tel" placeholder="Введите ваш номер"></span>
		<button class="mainBtn txt16 bold">Получить каталог</button>
	</form>
	<p class="txt13 center">Нажимая на кнопку, вы соглашаетесь <br>
		на <span class="blue underline terms">обработку персональных данных</span></p>
	<span class="form-popupMainBtn-close"><img src="img/svg/close.svg" alt=""></span>
</div>