<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer--flex">
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 footer--order-2">
                    <div class="footer__insta">
                        <img src="img/footer/insta.png" alt="@pincet_brest">
                        <div class="footer__insta-blur">
                            <img src="img/footer/blur.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 footer--order-1">
                    <div class="footer__descr">
                        <div class="footer__descr-title">
                            <h2><span class="light">Мы находимся</span> в центре</h2>
                        </div>
                        <div class="footer__descr-phones">
                            <div class="footer__descr-phones--icon">
                                <a class="smallIcon" href="tel:+375333822499">
                                    <img src="img/footer/phone.png" alt="+375333822499">
                                </a>
                            </div>
                            <div class="footer__descr-phones--text">
                                <p>Телефоны:</p>
                                <p><a href="tel:+375333822499">+375 33 382 24 99 <span>(для записей)</span></a></p>
                                <p><a href="tel:+375292249503">+375 29 224 95 03 <span>(руководитель)</span></a></p>
                            </div>
                        </div>
                        <div class="footer__descr-time">
                            <div class="footer__descr-time--icon">
                                <div class="smallIcon"><img src="img/footer/time.png" alt="пн-вс 9-21"></div>
                            </div>
                            <div class="footer__descr-time--text">
                                <p>Режим работы:</p>
                                <p>Пн-Вс 9:00-21:00</p>

                            </div>
                        </div>
                        <div class="footer__descr-line"></div>
                        <div class="footer__descr-mesanger">
                            <div class="footer__descr-mesanger--text">
                                <p>Задай вопрос в удобный месенджер:</p>
                            </div>
                            <div class="footer__descr-mesanger--icons">
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/viber.png"
                                        alt="viber"></a>
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/telega.png"
                                        alt="telegram"></a>
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/whatsapp.png"
                                        alt="whatsapp"></a>

                            </div>
                        </div>
                        <div class="footer__descr-social">
                            <div class="footer__descr-social--text">
                                <p>Мы в социальных сетях:</p>
                            </div>
                            <div class="footer__descr-social--icons">
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/instaIcon.png"
                                        alt="instagram"></a>
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/vk.png" alt="vk"></a>
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/ok.png" alt="ok"></a>
                                <a class="bigIcon" href="" target="_blank"><img src="img/footer/fb.png"
                                        alt="facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 footer__map--flex footer--order-3">
                    <div class="footer__map">
                        <div class="footer__map-illustration">
                            <div class="footer__map-illustration--left">
                                <div class="footer__map-title">Здание Delta</div>
                                <a href="img/footer/illustration1.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration1.png" alt="здание"></a>
                                <a href="img/footer/illustration2.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration2.png" alt="здание"></a>
                                <a href="img/footer/illustration3.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration3.png" alt="здание"></a>
                            </div>
                            <div class="footer__map-illustration--right">
                                <div class="footer__map-title">Наш кабинет</div>
                                <a href="img/footer/illustration4.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration4.png" alt="кабинет"></a>
                                <a href="img/footer/illustration5.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration5.png" alt="кабинет"></a>
                                <a href="img/footer/illustration6.png" data-fancybox="gallery"><img
                                        src="img/footer/illustration6.png" alt="кабинет"></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__map-img">
                        <img src="img/footer/map.png" alt="карта">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__privacy">
            <div class="footer__privacy-rights">
                <p>© Все права защищены.</p>
                <p> Копирование материалов сайта преследуется по закону</p>
            </div>
            <div class="footer__privacy-unp">
                <p>УНП 25481616
                    Брест 2020</p>
            </div>
            <div class="footer__privacy-paradigma">
                <p>Сделано с любовью
                    в <a href="https://paradigma.website/" target="_blank" class="linkColorRoze"> paradigma.website</a>
                </p>
            </div>
        </div>
    </div>
</div>