<div class="main__popup">
    <div class="main__popup-close">
        <img src="img/main/popupCloseIcon.png" alt="закрыть">
    </div>
    <div class="main__popup-content">
        <h2><span>Получите</span> карту клиента бесплатно</h2>
        <div class="main__popup-inputs">
            <div class="main__popup-name">
                <input type="text" placeholder="Ваше имя">
            </div>
            <div class="main__popup-tel">
                <input class="inputTel" type="tel" placeholder="Ваш номер телефона">
            </div>
            <div class="main__popup-submit--wraper">
                <div class="main__popup-submit">
                    <a>Получить карту клиента</a>
                </div>
                <div class="main__popup-submit_img">
                    <img src="img/main/popupSubmitImg.png" alt="цветок">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main__popup-complete">
    <div class="main__popup-complete_close">
        <img src="img/main/popupCloseIcon.png" alt="закрыть">
    </div>
    <div class="main__popup-complete_check">
        <img src="img/main/check.png" alt="принято">
    </div>
    <div class="main__popup-complete_text">
        <p><span>Ваш заказ принят</span></p>
        <p>Ожидайте звонка</p>
    </div>
    <div class="main__popup-complete_img">
        <img src="img/main/popupCompleteImg.png" alt="растение">
    </div>
</div>
<div class="main__popup_background"></div>

<div class="popup__leave">
    <div class="popup__leave-close">
        &#215;
    </div>
    <div class="popup__leave-uptxt">
        <p class="mtxt">Получите</p>
    </div>
    <div class="popup__leave-title">
        <h3><span class="light">Депиляция подмышек </span>БЕСПЛАТНО</h3>
    </div>
    <div class="popup__leave--flex">
        <div class="popup__leave-phone">
            <div class="popup__leave-phone--img">
                <img src="img/popup/phone.png" alt="">
            </div>
            <div class="popup__leave-phone--line">
                <img src="img/popup/arrow.png" alt="">
            </div>
        </div>
        <div class="popup__leave-descr">
            <p class="mtxt">Условия простые</p>
            <ul class="mtxt">
                <li>Подпишитесь на наш инстаграмм;</li>
                <li>При обращении использовать промокод: <p>WEBSITE2020@</p>
                </li>
            </ul>
            <div class="popup__leave-descr--pincet">
                <img src="img/popup/pincet.png" alt="">
            </div>
        </div>
    </div>
    <div class="popup__leave-branchL">
        <img src="img/popup/branchL.png" alt="">
    </div>
    <div class="popup__leave-branchR">
        <img src="img/popup/branchR.png" alt="">
    </div>
</div>