<div class="request" id="request">
    <div class="container">
        <div class="request__title">
            <h2>Оставьте заявку через сайт <span class="light">
                    на первую процедур
                    и получите карту гостя
                </span> </h2>
        </div>
        <div class="request__form">
            <div class="request__form-img">
                <img src="img/request/ipad.png" alt="ipad">
            </div>
            <div class="request__form-inputs">
                <div class="request__form-select">
                    <label for="select">Выберите услугу</label>
                    <select class="basic" name="select" id="">
                        <option value="1">Шугаринг 1</option>
                        <option value="2">Шугаринг 2</option>
                        <option value="3">Шугаринг 3</option>
                    </select>
                </div>
                <div class="request__form-name">
                    <label for="name">Как Вас зовут</label>
                    <input type="text" id="name" placeholder="Ваше имя">
                </div>
                <div class="request__form-tel">
                    <label for="tel">Ваш номер телефона</label>
                    <input id="inputTel" type="tel" id="tel" placeholder="+375 -- --- -- --">
                </div>
                <div class="request__form-btn">
                    <button>ОСТАВИТЬ ЗАЯВКУ</button>
                    <img src="img/request/plant.png" alt="растение">
                </div>
            </div>
            <div class="request__form-women">
                <img src="img/request/women.png" alt="женщина">
                <div class="request__form-women--name">
                    <p class="purple">ЕКАТЕРИНА</p>
                </div>
                <div class="request__form-women--master">
                    <p>Руководитель студии PINCET</p>
                </div>
            </div>
            <div class="request__form-rightImg blur">
                <img src="img/request/branch.png" alt="лепестки">
            </div>
            <div class="request__form-leftImg blur">
                <img src="img/request/leaves.png" alt="лепестки">
            </div>
        </div>
    </div>
    <div class="request__blur blur">
        <img src="img/request/blur.png" alt="пятно">
    </div>
</div>