<section class="about">
	<div class="container">
		<div class="about__title">
			<h2 class="h48 fontO">
				О компании "Кухни SMART"
			</h2>
		</div>
		<div class="about__descr">
			<div class="about__descr-content">
				<p class="txt22">До основания компании я уже работал в фирме по производству мебели.
					На тот момент, мы с женой переезжали, и нужно было заказывать новый
					кухонный гарнитур. Кухню мне сделали, и вскоре я посоветовал этого
					мебельщика своим друзьям. А он, взяв аванс, скрылся. </p>
				<p class="txt22">После этого случая я начал замечать, что такие ситуации - не редкость.
					Я интересовался у знакомых, читал отзывы и понял, что большинство
					производителей делают непростительные ошибки. Поэтому мы
					с напарником решили открывать свое производство. Все началось
					с одного верстака и 3-х квадратов склада. А пришло - к команде из 20-ти
					человек, цеху с шоу-румом площадью более 500 метров.
					И мы продолжаем развиваться. Сейчас я очень часто общаюсь
					с клиентами и лично контролирую большую часть заказов. Мне нравится
					наблюдать за результатами. Это то, чего я искренне хочу - чтобы люди
					становились счастливее после получения своей мебели.</p>
				<p class="txt30 fontAi">
					Основатель и руководитель <br>
					Илья Шлепаков
				</p>
			</div>
			<div class="about__descr-sign">
				<p class="txt20 fontAi">
					"Мне важно, чтобы всем в моей команде
					было комфортно работать, и чтобы
					каждый был заинтересован в общем успехе."
				</p>
			</div>
		</div>
		<img src="img/about/men1.jpg" class="about-men" alt="">
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p>02</p>
			<p>03</p>
			<p>04</p>
			<p>05</p>
			<p class="paginFlex"><span class="paginBlack">
					06</span> <img src="img/line.png" alt="">
			</p>
			<p>07</p>
			<p>08</p>
			<p>09</p>
		</div>
	</div>
</section>