<section class="about" id="block6">
	<div class="container">
		<div class="about__title">
			<h2 class="h48 fontO">
				О компании "Кухни SMART"
			</h2>
		</div>
		<div class="about__descr">
			<div class="about__descr-content">
				<p class="txt22">До основания компании я уже работал в фирме по производству мебели.
					На тот момент, мы с женой переезжали, и нужно было заказывать новый
					кухонный гарнитур. Кухню мне сделали, и вскоре я посоветовал этого
					мебельщика своим друзьям. А он, взяв аванс, скрылся. </p>
				<p class="txt22">После этого случая я начал замечать, что такие ситуации - не редкость.
					Я интересовался у знакомых, читал отзывы и понял, что большинство
					производителей делают непростительные ошибки. Поэтому мы
					с напарником решили открывать свое производство. Все началось
					с одного верстака и 3-х квадратов склада. А пришло - к команде из 20-ти
					человек, цеху с шоу-румом площадью более 500 метров.
					И мы продолжаем развиваться. Сейчас я очень часто общаюсь
					с клиентами и лично контролирую большую часть заказов. Мне нравится
					наблюдать за результатами. Это то, чего я искренне хочу - чтобы люди
					становились счастливее после получения своей мебели.</p>
				<span>
					<p class="txt30 fontAi">
						Основатель и руководитель <br>
						Илья Шлепаков
					</p>
					</spa>
			</div>
			<div class="about__descr-sign">
				<p class="txt20 fontAi">
					"Мне важно, чтобы всем в моей команде
					было комфортно работать, и чтобы
					каждый был заинтересован в общем успехе."
				</p>
			</div>
		</div>
	</div>
	<img src="img/about/men.jpg" class="about-men" alt="">
	<div class="pagin paginColor txt24">
		<a href="#block1" class="paginColor txt24">01</a>
		<a href="#block2" class="paginColor txt24">02</a>
		<a href="#block3" class="paginColor txt24">03</a>
		<a href="#block4" class="paginColor txt24">04</a>
		<a href="#block5" class="paginColor txt24">05</a>
		<a href="#block6" class="paginFlex"><span class="paginBlack">
				06</span> <img src="img/line.png" alt="">
		</a>
		<a href="#block7" class="paginColor txt24">07</a>
		<a href="#block8" class="paginColor txt24">08</a>
		<a href="#block9" class="paginColor txt24">09</a>
	</div>
</section>