<header class="header">
	<div class="container">
		<div class="header--wrap">
			<div class="header__logo">
				<img src="img/header/logo.png" alt="">
			</div>
			<div class="header__phone">
				<span class="header__phone-ico">
					<img src="img/svg/phone.svg" alt="">
				</span>
				<span class="header__phone-num">
					<a class="txt28 bold" href="tel:89312553745">8 931 255 37 45</a>
				</span>
				<span class="header__phone-txt">
					<a class="txt24 bold underline" href="tel:89312553745">Перезвонить Вам?</a>
				</span>
			</div>
		</div>
	</div>
</header>