<section class="main padTop padBot" id="block1">
	<div class="container">
		<div class="main__title">
			<h1 class="h50 bold">
				Произведем Вашу идеальную кухню <br>
				в любом из <span class="colorM">7 стилей</span> с бесплатным проектом <br>
				<span class="colorM">по цене до 40%</span> ниже "салонной"
			</h1>
			<p class="txt30 med">
				Под ключ от 21 дня, с бесплатной доставкой, сборкой <br>
				и 2кг тортом ручной работы в подарок
			</p>
		</div>
		<div class="main__features">
			<div class="main__features-item">
				<div class="main__features--wrap">
					<div class="main__features-content">
						<img src="img/main/img1.png" alt="">
						<span class="txt20 bold">Рассрочка 0%</span>
					</div>
				</div>
			</div>
			<div class="main__features-item">
				<div class="main__features--wrap">
					<div class="main__features-content">
						<img src="img/main/img3.png" alt="">
						<span class="txt20 bold">Кредитование <br>
							в 7 банках</span>
					</div>
				</div>
			</div>
			<div class="main__features-item">
				<div class="main__features--wrap">
					<div class="main__features-content">
						<img src="img/main/img2.png" alt="">
						<span class="txt20 bold">Открытое для визита <br>
							производство и офис</span>
					</div>
				</div>
			</div>
		</div>
		<div class="main__request">
			<div class="main__request-title">
				<p class="txt24 med">
					Оставьте заявку до (таймер) и получите фирменный торт ручной работы <br>
					весом до 2кг в подарок + дизайн проект и сборку!
				</p>
			</div>
			<div class="main__request-form">
				<form action="">
					<span class="input-wrap">
						<img src="img/svg/user.svg" alt="">
						<input class="txt18" type="name" placeholder="Ваше имя">
					</span>
					<span class="input-wrap">
						<img src="img/svg/phone1.svg" alt="">
						<input class="txt18" type="tel" placeholder="Ваш телефон">
					</span>
					<span class="btn-wrap">
						<img src="img/main/btnImg.png" alt="">
						<button class="txt20 bold mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
					</span>
				</form>
			</div>
		</div>
	</div>
</section>