<div class="popupPop" id="w">
	<div class="popupPop-wrap">
		<div class="popupPop__imgs">
			<div class="popupPop__imgs-big">
				<a href="img/popular/w1.jpg" data-fancybox="w"><img class="lazyVis" data-src="img/popular/w1.jpg"
						alt=""></a>
			</div>
			<div class="popupPop__imgs-sm">
				<a href="img/popular/w2.jpg" data-fancybox="w"><img class="lazyVis" data-src="img/popular/w2.jpg"
						alt=""></a>
				<a href="img/popular/w3.jpg" data-fancybox="w"><img class="lazyVis" data-src="img/popular/w3.jpg"
						alt=""></a>
				<a href="img/popular/w4.jpg" data-fancybox="w"><img class="lazyVis" data-src="img/popular/w4.jpg"
						alt=""></a>
				<a href="img/popular/w1.jpg" data-fancybox="w"><img class="lazyVis" data-src="img/popular/w1.jpg"
						alt=""></a>
			</div>
		</div>
		<div class="popupPop__descr">
			<div class="popupPop__descr-content">
				<p class="popupPop__descr-title txt30 bold">Кухня White&Wood</p>
				<div class="popupPop__descr-ul">
					<ul>
						<li class="txt20 med">Фасады МДФ+Эмаль, Массив дуба,</li>
						<li class="txt20 med">Столешница Массив дуба</li>
						<li class="txt20 med">Фурнитура BLUM</li>
					</ul>
				</div>
				<p class="popupPop__descr-cost txt20">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span>
				</p>
			</div>
			<form action="">
				<input type="hidden" name="title" value="Форма кухни уайт & вуд">
				<span class="input-wrap">
					<input name="phone" class="inputTel" required class="txt18" type="tel"
						placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input name="name" required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 fontAb mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>