<section class="popular">
	<div class="container">
		<div class="popular__title">
			<h2 class="h50 fontO">
				Ниже представлены самые популярные модели кухонь за 2019-2020 годы
			</h2>
			<p class="txt30">Вы можете выбрать понравившуюся модель или заказать индивидуальную разработку проекта</p>
		</div>
		<div class="popular__tabBtn">
			<a class="txt28 tabBtn" data-id="#tab1" id="tabBtn1">Весь каталог</a>
			<a class="txt28 tabBtn" data-id="#tab2" id="tabBtn1">Кухни студии</a>
			<a class="txt28 tabBtn" data-id="#tab3" id="tabBtn1">Средний сегмент</a>
			<a class="txt28 tabBtn" data-id="#tab4" id="tabBtn1">Эконом сегмент</a>
		</div>
		<div class="popular__tab1" id="tab1">
			<div class="popular__slider">
				<div class="popular__slider-item">
					<img src="img/popular/n1.jpg" alt="">
					<p class="txt30 bold">Кухня New York</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/w1.jpg" alt="">
					<p class="txt30 bold">Кухня White&Wood</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/c1.jpg" alt="">
					<p class="txt30 bold">Кухня Cappuchino</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/sw1.jpg" alt="">
					<p class="txt30 bold">Кухня в ShowRoom</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/si1.jpg" alt="">
					<p class="txt30 bold">Кухня Cinema</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/s1.jpg" alt="">
					<p class="txt30 bold">Кухня Stone</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/t1.jpg" alt="">
					<p class="txt30 bold">Кухня Tokyo</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
				<div class="popular__slider-item">
					<img src="img/popular/wg1.jpg" alt="">
					<p class="txt30 bold">Кухня White gloss</p>
					<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
					<div class="popular__slider-more">
						<a class="txt28 fontO">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="slider-pagin">
				<img src="img/svg/arrowL" alt="">
				<p>
					<span class="txt36 colorM2">01
					</span> <span class="txt36"> / 08</span>
				</p>
				<img src="img/svg/arrowR" alt="">
			</div>
		</div>
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p>02</p>
			<p>03</p>
			<p>04</p>
			<p class="paginFlex"><span class="paginBlack">
					05</span> <img src="img/line.png" alt="">
			</p>
			<p>06</p>
			<p>07</p>
			<p>08</p>
			<p>09</p>
		</div>
	</div>
</section>