<section class="popular padTopBig padBot" id="block5">
	<div class="container">
		<div class="popular__title">
			<h2 class="h50 fontO">
				Ниже представлены самые популярные модели кухонь за <span class="colorM2">2019-2020</span> годы
			</h2>
			<p class="txt30">Вы можете выбрать понравившуюся модель или заказать индивидуальную разработку проекта</p>
		</div>
		<div class="popular__tabBtn">
			<a class="txt28 tabBtn" data-id="#tab1" id="tabBtn1">Весь каталог</a>
			<a class="txt28 tabBtn" data-id="#tab2" id="tabBtn1">Кухни студии</a>
			<a class="txt28 tabBtn" data-id="#tab3" id="tabBtn1">Средний сегмент</a>
			<a class="txt28 tabBtn" data-id="#tab4" id="tabBtn1">Эконом сегмент</a>
		</div>
		<div class="popular__tabs">
			<div class="popular__tab1" id="tab1">
				<div class="popular__slider">
					<div class="popular__slider-item">
						<img src="img/popular/n1.jpg" alt="">
						<p class="txt30 bold">Кухня New York</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/w1.jpg" alt="">
						<p class="txt30 bold">Кухня White&Wood</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/c1.jpg" alt="">
						<p class="txt30 bold">Кухня Cappuchino</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/sw1.jpg" alt="">
						<p class="txt30 bold">Кухня в ShowRoom</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/si1.jpg" alt="">
						<p class="txt30 bold">Кухня Cinema</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/s1.jpg" alt="">
						<p class="txt30 bold">Кухня Stone</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/t1.jpeg" alt="">
						<p class="txt30 bold">Кухня Tokyo</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
					<div class="popular__slider-item">
						<img src="img/popular/wg1.jpeg" alt="">
						<p class="txt30 bold">Кухня White gloss</p>
						<p class="txt18">Цена за пог.м. от: <span class="txt25 bold">17 000 р.</span></p>
						<div class="popular__slider-more">
							<button class="txt28 fontO mainBtn">Подробнее</button>
						</div>
					</div>
				</div>
				<div class="slider-pagin">
					<span class="popular__slider-arrowL"><img src="img/svg/arrowL.svg" alt=""></span>
					<p class="slider-pagin-status">
						<span class="txt36 colorM2">01
						</span> <span class="txt36"> / 08</span>
					</p>
					<span class="popular__slider-arrowR"><img src="img/svg/arrowR.svg" alt=""></span>
				</div>
			</div>
			<div class="pagin paginColor txt24">
				<a href="#block1" class="paginColor txt24">01</a>
				<a href="#block2" class="paginColor txt24">02</a>
				<a href="#block3" class="paginColor txt24">03</a>
				<a href="#block4" class="paginColor txt24">04</a>
				<a href="#block5" class="paginFlex"><span class="paginBlack">
						05</span> <img src="img/line.png" alt="">
				</a>
				<a href="#block6" class="paginColor txt24">06</a>
				<a href="#block7" class="paginColor txt24">07</a>
				<a href="#block8" class="paginColor txt24">08</a>
				<a href="#block9" class="paginColor txt24">09</a>
			</div>
		</div>
	</div>
</section>