<section class="requests">
	<div class="container">
		<div class="requests__title">
			<h2 class="h50 fontO">Для самых оперативных Клиентов, которые знают чего хотят,
				мы предусмотрели коммуникацию в один клик</h2>
		</div>
		<div class="requests__cards">
			<div class="requests__cards-item">
				<div class="requests__cards-content">
					<div class="requests__cards-title">
						<p class="txt36 bold">
							У Вас есть дизайн проект
							и Вы знаете чего хотите
						</p>
					</div>
					<div class="requests__cards-form">
						<form action="">
							<input type="hidden" name="title" value="Форма получения рассчёта">
							<span class="input-file">
								<input type="file" name="file" id="input-file" class="inputfile"
									data-multiple-caption="{count} файлов выбрано" multiple />
								<label for="input-file">
									<span class="txt20">
										Прикрепить файл
									</span>
								</label>
							</span>
							<button class="mainBtn txt20 fontAb">ОСТАВИТЬ ЗАЯВКУ</button>
						</form>
					</div>
					<img src="img/requests/img1.png" alt="">
				</div>
				<img src="img/requests/img4.png" alt="">
			</div>
			<div class="requests__cards-item">
				<div class="requests__cards-content">
					<div class="requests__cards-title">
						<p class="txt36 bold">
							Вы четко знаете чего хотите
							и у Вас есть фотография
							идеальной кухни
						</p>
					</div>
					<div class="requests__cards-form">
						<form action="">
							<input type="hidden" name="title" value="Форма получения рассчёта">
							<span class="input-file">
								<input type="file" name="file" id="input-file" class="inputfile"
									data-multiple-caption="{count} файлов выбрано" multiple />
								<label for="input-file">
									<span class="txt20">
										Прикрепить фото
									</span>
								</label>
							</span>
							<button class="mainBtn txt20 fontAb">ОСТАВИТЬ ЗАЯВКУ</button>
						</form>
					</div>
					<img src="img/requests/img2.png" alt="">
				</div>
			</div>
			<div class="requests__cards-item">
				<div class="requests__cards-content">
					<div class="requests__cards-title">
						<p class="txt36 bold">
							Вам нужен оперативный
							выезд дизайнера?
						</p>
					</div>
					<div class="requests__cards-form">
						<form action="">
							<input type="hidden" name="title" value="Форма получения рассчёта">
							<button class="mainBtn txt20  fontAb">ОСТАВИТЬ ЗАЯВКУ и вызвать дизайнера</button>
						</form>
					</div>
					<img src="img/requests/img3.png" alt="">
				</div>
			</div>
		</div>
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p class="paginFlex"><span class="paginBlack">
					02</span> <img src="img/line.png" alt="">
			</p>
			<p>03</p>
			<p>04</p>
			<p>05</p>
			<p>06</p>
			<p>07</p>
			<p>08</p>
			<p>09</p>
		</div>
	</div>
</section>