<section class="requests padTop padBotBig" id="block2">
	<div class="container">
		<div class="requests__title">
			<h2 class="h50 fontO">Для самых оперативных Клиентов, которые знают чего хотят,
				мы предусмотрели коммуникацию в один клик</h2>
		</div>
		<div class="pagin-wrap">
			<div class="requests__cards">
				<div class="requests__cards-item">
					<div class="requests__cards-content">
						<div class="requests__cards-title">
							<p class="h36 bold">
								У Вас есть дизайн проект <br>
								и Вы знаете чего хотите
							</p>
						</div>
						<div class="requests__cards-form">
							<form action="">
								<input type="hidden" name="title" value="Форма получения рассчёта">
								<span class="input-file">
									<input type="file" name="file" id="input-file" class="inputfile"
										data-multiple-caption="{count} файлов выбрано" multiple />
									<label for="input-file">
										<span class="txt20 med">
											Прикрепить файл
										</span>
									</label>
								</span>
								<button class="mainBtn txt20 fontAb">ОСТАВИТЬ ЗАЯВКУ</button>
							</form>
						</div>
						<img src="img/requests/img2.png" alt="">
					</div>
					<img src="img/requests/img1.png" alt="" class="requests__cards--absolute">
				</div>
				<div class="requests__cards-item">
					<div class="requests__cards-content">
						<div class="requests__cards-title">
							<p class="h36 bold">
								Вы четко знаете чего хотите <br>
								и у Вас есть фотография <br>
								идеальной кухни
							</p>
						</div>
						<div class="requests__cards-form">
							<form action="">
								<input type="hidden" name="title" value="Форма получения рассчёта">
								<span class="input-file">
									<input type="file" name="file" id="input-file" class="inputfile"
										data-multiple-caption="{count} файлов выбрано" multiple />
									<label for="input-file">
										<span class="txt20 med">
											Прикрепить фото
										</span>
									</label>
								</span>
								<button class="mainBtn txt20 fontAb">ОСТАВИТЬ ЗАЯВКУ</button>
							</form>
						</div>
						<img src="img/requests/img3.png" alt="">
					</div>
				</div>
				<div class="requests__cards-item">
					<div class="requests__cards-content">
						<div class="requests__cards-title">
							<p class="h36 bold">
								Вам нужен оперативный <br>
								выезд дизайнера?
							</p>
						</div>
						<div class="requests__cards-form">
							<form action="">
								<input type="hidden" name="title" value="Форма получения рассчёта">
								<button class="mainBtn txt20  fontAb">ОСТАВИТЬ ЗАЯВКУ И ВЫЗВАТЬ ДИЗАЙНЕРА</button>
							</form>
						</div>
						<img src="img/requests/img4.png" alt="" class="requests__cards--absolute2">
					</div>
				</div>
			</div>
			<div class="pagin paginColor txt24">
				<a href="#block1" class="paginColor txt24">01</a>
				<a href="#block2" class="paginFlex"><span class="paginBlack">
						02</span> <img src="img/line.png" alt="">
				</a>
				<a href="#block3" class="paginColor txt24">03</a>
				<a href="#block4" class="paginColor txt24">04</a>
				<a href="#block5" class="paginColor txt24">05</a>
				<a href="#block6" class="paginColor txt24">06</a>
				<a href="#block7" class="paginColor txt24">07</a>
				<a href="#block8" class="paginColor txt24">08</a>
				<a href="#block9" class="paginColor txt24">09</a>
			</div>
		</div>
	</div>

</section>