<section class="styles padTop padBotBig" id="block3">
	<div class="container">
		<div class="styles__title">
			<h2 class="h50 fontO">
				В каких стилях будет исполнена Ваша любимая кухня
			</h2>
		</div>
		<div class="styles__cards">
			<div class="styles__cards-item">
				<img src="img/styles/mod/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/cl/preImg.png" alt="">
				<p class="txt35 fontAb white">Классика</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/et/preImg.png" alt="">
				<p class="txt35 fontAb white">Этно-стиль</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/hi/preImg.png" alt="">
				<p class="txt35 fontAb white">Хай-тек</p>
			</div>
			<div class="styles__cards-item">
				<p class="txt30 fontAb">Выберите подходящий
					под Ваши задачи стиль,
					оставьте заявку
					и мы свяжемся с Вами
					в течение 15 минут!</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/lo/preImg.png" alt="">
				<p class="txt35 fontAb white">Лофт</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/min/preImg.png" alt="">
				<p class="txt35 fontAb white">Минимал</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/b/preImg.png" alt="">
				<p class="txt35 fontAb white">Барокко</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/pr/preImg.png" alt="">
				<p class="txt35 fontAb white">Прованс</p>
			</div>
			<div class="pagin paginColor txt24">
				<a href="#block1" class="paginColor txt24">01</a>
				<a href="#block2" class="paginColor txt24">02</a>
				<a href="#block3" class="paginFlex"><span class="paginBlack">
						03</span> <img src="img/line.png" alt="">
				</a>
				<a href="#block4" class="paginColor txt24">04</a>
				<a href="#block5" class="paginColor txt24">05</a>
				<a href="#block6" class="paginColor txt24">06</a>
				<a href="#block7" class="paginColor txt24">07</a>
				<a href="#block8" class="paginColor txt24">08</a>
				<a href="#block9" class="paginColor txt24">09</a>
			</div>
		</div>
	</div>
</section>