<section class="styles">
	<div class="container">
		<div class="styles__title">
			<h2 class="h50 fontO">
				В каких стилях будет исполнена Ваша любимая кухня
			</h2>
		</div>
		<div class="styles__cards">
			<div class="styles__cards-item">
				<img src="img/styles/mod/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/cl/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/et/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/hi/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<p class="txt30 fontAb">Выберите подходящий
					под Ваши задачи стиль,
					оставьте заявку
					и мы свяжемся с Вами
					в течение 15 минут!</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/lo/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/min/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/b/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
			<div class="styles__cards-item">
				<img src="img/styles/pr/preImg.png" alt="">
				<p class="txt35 fontAb white">Модерн</p>
			</div>
		</div>
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p>02</p>
			<p class="paginFlex"><span class="paginBlack">
					03</span> <img src="img/line.png" alt="">
			</p>
			<p>03</p>
			<p>04</p>
			<p>05</p>
			<p>06</p>
			<p>07</p>
			<p>08</p>
			<p>09</p>
		</div>
	</div>
</section>