<section class="team">
	<div class="container">
		<div class="team__title">
			<h2 class="h50 fontO">
				Наша команда
			</h2>
		</div>
		<div class="team__cards">
			<div class="team__cards-item">
				<img src="img/team/men1.jpg" alt="">
				<p class="h50 fontO">
					Алексей
				</p>
				<p class="txt25">
					Начальник производства
				</p>
				<p class="txt20">Моя главная задача - чтобы мебель
					заказчика была изготовлена качественно
					и в срок. Поэтому мне важно поддерживать
					мотивацию и эмоциональный настрой
					на производстве.</p>
			</div>
			<div class="team__cards-item">
				<img src="img/team/men2.jpg" alt="">
				<p class="h50 fontO">
					Андрей
				</p>
				<p class="txt25">
					Плотник
				</p>
				<p class="txt20">Я работаю плотником около 20 лет и уже
					не могу представить жизни без дерева
					в своих руках. Мне нравится, что в нашей
					компании попадаются необычные
					и интересные заказы и приходится искать
					пути их осуществления.</p>
			</div>
			<div class="team__cards-item">
				<img src="img/team/men3.jpg" alt="">
				<p class="h50 fontO">
					Максим
				</p>
				<p class="txt25">
					Сборщик
				</p>
				<p class="txt20">Мне нравится собирать мебель. Запах
					дерева и то, что с помощью моих усилий
					из неопределенных деталей получается
					красивая и надежная мебель - меня очень
					вдохновляет.</p>
			</div>
		</div>
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p>02</p>
			<p>03</p>
			<p>04</p>
			<p>05</p>
			<p>06</p>
			<p>07</p>
			<p class="paginFlex"><span class="paginBlack">
					08</span> <img src="img/line.png" alt="">
			</p>
			<p>09</p>
		</div>
	</div>
</section>