<section class="today">
	<div class="contaienr">
		<div class="today__title">
			<h2 class="h50 fontO">
				Что мы имеем на сегодняшний момент
			</h2>
		</div>
		<div class="today__cards">
			<div class="today__cards-item">
				<p class="txt24 bold">
					Более 400 живых материалов
					представлено в нашем
					шоу-руме для вашего удобства
				</p>
				<img src="img/today/img1.png" alt="">
			</div>
			<div class="today__cards-item">
				<p class="txt24 bold">
					Команда из 20 человек
					ежегодно повышающая свою
					квалификацию на мебельных
					выставках и форумах
				</p>
				<img src="img/today/img2.png" alt="">
			</div>
			<div class="today__cards-item">
				<p class="txt24 bold">
					Производство площадью
					500 кв.м с европейским
					оборудованием
					и сертифицированными
					специалистами
				</p>
				<img src="img/today/img3.png" alt="">
			</div>
			<div class="today__cards-item">
				<p class="txt24 bold">
					170 - столько едениц мебели
					выпускается ежемесячно
				</p>
				<img src="img/today/img4.png" alt="">
			</div>
			<div class="today__cards-item">
				<p class="txt40 fontAb">
					Оставьте заявку и получите
					подборку из 3 подходящих
					для вас кухонь, а также
					бесплатный дизайн-проект!

				</p>
				<img src="img/today/cata.png" class="today-cata" alt="">
				<div class="today__cards-form">
					<form action="">
						<input class="txt20" type="name" placeholder="Ваше имя">
						<input class="txt20" type="tel" placeholder="Ваш телефон">
						<button class="txt22 fontAb mainBtn">ОСТАВИТЬ ЗАЯВКУ <span><img src="img/main/img4.png"
									alt=""></span></button>
					</form>
				</div>
			</div>
		</div>
		<div class="pagin paginColor txt24">
			<p>01</p>
			<p>02</p>
			<p>03</p>
			<p>04</p>
			<p>05</p>
			<p>06</p>
			<p class="paginFlex"><span class="paginBlack">
					07</span> <img src="img/line.png" alt="">
			</p>
			<p>08</p>
			<p>09</p>
		</div>
	</div>
</section>