.partner {
  @include adap(padding-bottom, 30px, 120px);
  @include adap(padding-top, 30px, 120px);
  &__content {
    width: 50%;
    @include md_900 {
      width: 100%;
    }
    & h2 {
      @include adap(margin-bottom, 20px, 40px);
    }
    & p {
      @include adap(margin-bottom, 10px, 20px);
      &:last-of-type {
        @include adap(margin-bottom, 20px, 50px);
      }
    }
  }
  &__btn {
    & a {
      width: vw(250px);
      height: vw(60px);
      @include md_900 {
        width: 25rem;
        height: 6rem;
      }
    }
  }
}
