.header {
  &_blurRight {
    position: absolute;
    top: 4vw;
    right: -8vw;
    max-width: 15.625vw;
  }
}
.main {
  &__descr {
    &_blurLeft {
      position: absolute;
      top: -5vw;
      left: -10vw;
      max-width: 15.625vw;
      z-index: -1;
    }
  }
}
