.complex {
  position: relative;
  &--background {
    background-image: url(../img/dep/complex/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-top: 6vw;
    text-align: center;
    @include lg_900 {
      margin-top: 5rem;
      margin-bottom: 2rem;
    }
    @include md_767 {
      margin-top: 5rem;
      margin-bottom: 3rem;
    }
    @include sm_567 {
      margin-top: 5rem;
      margin-bottom: 4rem;
    }
  }
  &--flex {
    display: flex;
    @include lg_900 {
      justify-content: center;
    }
    @include md_767 {
      justify-content: center;
    }
    @include sm_567 {
      justify-content: center;
    }
  }
  &--margin {
    margin-top: 3.125vw;
  }
  &__item {
    background-color: #fff;
    margin-right: 1.927vw;
    padding: 2.271vw 4.167vw 3.125vw 4.167vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    @include lg_900 {
      margin-bottom: 2rem;
    }
    @include md_767 {
      margin-bottom: 2rem;
      padding: 2rem 4rem 4rem 4rem;
    }
    @include sm_567 {
      margin-bottom: 2rem;
      padding: 3rem;
      padding-top: 1.5rem;
    }
    &-discount {
      position: absolute;
      top: -1vw;
      right: -2vw;
      text-align: right;
      position: relative;
      font: $fontAppetite_30;
      color: #fff;
      @include lg_900 {
        font-size: 2rem;
      }
      @include md_767 {
        font-size: 2rem;
      }
      @include sm_567 {
        font-size: 2rem;
      }
      &--img {
        position: absolute;
        right: -0.8vw;
        width: 4.271vw;
        z-index: -1;
        top: 0vw;
        @include lg_900 {
          width: 25%;
        }
        @include md_767 {
          width: 25%;
        }
        @include sm_567 {
          width: 25%;
        }
      }
    }
    &-title {
      border-bottom: 1px solid #e6e5e5;
      width: 16.313vw;
      @include lg_900 {
        width: auto;
        text-align: center;
      }
      @include md_767 {
        width: auto;
        text-align: center;
      }
      @include sm_567 {
        width: auto;
        text-align: center;
      }
      & p {
        font: $fontMuseoSansCyrlBold_48;
        margin-bottom: 1.927vw;
        @include lg_900 {
          font-size: 2rem;
        }
        @include md_767 {
          font-size: 2rem;
        }
        @include sm_567 {
          font-size: 2rem;
        }
      }
    }
    &-content {
      margin-top: 1.927vw;
      position: relative;
      flex-grow: 5;
      & ul {
        list-style-image: url(../img/dep/complex/check.png);
        font: $fontMuseoSansCyrlLight_24;
        @include lg_900 {
          margin-left: 2rem;
        }
        @include md_767 {
          margin-left: 2rem;
        }
        @include sm_567 {
          margin-left: 2rem;
        }
      }
    }
    &-price {
      border-top: 1px solid #e6e5e5;
      margin-top: 1.927vw;
      padding-top: 1.719vw;
      &--text {
        display: flex;
        justify-content: space-between;
      }
      &--number {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &--smallUpT {
      font: $fontMuseoSansCyrlLight_16;
      @include lg_900 {
        font-size: 1.4rem;
      }
      @include md_767 {
        font-size: 1.4rem;
      }
      @include sm_567 {
        font-size: 1.4rem;
      }
    }
    &--smallT {
      font: $fontMuseoSansCyrlLight_30;
      margin-left: -0.5vw;
      @include sm_567 {
        font-size: 2rem;
      }
    }
    &--bigT {
      font: $fontMuseoSansCyrlBold_48;
      @include lg_900 {
        font-size: 3rem;
      }
      @include md_767 {
        font-size: 3rem;
      }
      @include sm_567 {
        font-size: 3rem;
      }
    }
    &--bigerT {
      font: $fontMuseoSansCyrlBold_60;
      color: $colorRozeDark;
      @include lg_900 {
        font-size: 3.5rem;
      }
      @include md_767 {
        font-size: 3.5rem;
      }
      @include sm_567 {
        font-size: 3.5rem;
      }
    }
    &-btn {
      @include mainBtn;
      @include mainBtnHover;
      @include mainBtnBlick;
      width: 16.146vw;
      height: 4.167vw;
      margin-top: 2.344vw;
      display: flex;
      justify-content: center;
      align-items: center;
      @include lg_900 {
        width: 80%;
        margin: 2rem auto 0 auto;
        padding: 2rem 1rem;
      }
      @include md_767 {
        width: 80%;
        margin: 2rem auto 0 auto;
        padding: 2rem 1rem;
      }
      @include sm_567 {
        width: 80%;
        margin: 2rem auto 0 auto;
        padding: 2rem 1rem;
      }
      & a {
        font: $fontMuseoSansCyrlBold_18;
        color: #fff;
        text-align: center;
      }
    }
    &--img {
      position: absolute;
      right: -3.4vw;
      top: 12vw;
      width: 9.625vw;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(237deg);
      @include lg_900 {
        width: 35%;
        right: -12%;
        top: 28%;
      }
      @include md_767 {
        width: 35%;
        right: -12%;
        top: 28%;
      }
      @include sm_567 {
        width: 35%;
        right: -12%;
        top: 28%;
      }
    }
  }
  &__more {
    text-align: center;
    margin-top: 3.646vw;
    cursor: pointer;
    & a {
      position: relative;
      @include beforeLine;
      transition: all 0.2s ease;
      &::before {
        width: 100%;
        color: #ff6078;
        top: 115%;
        opacity: 1;
      }
      &:hover::before {
        width: 40%;
      }
      &:hover {
        text-shadow: 0 0 0.65px #e07c89, 0 0 0.65px #ff6078;
      }
    }
  }
  &__blur {
    position: absolute;
    left: -9vw;
    top: 4vw;
    @include lg_900 {
      width: 20rem;
      top: 50%;
    }
    @include md_767 {
      width: 20rem;
      top: 50%;
    }
    @include sm_567 {
      width: 20rem;
      top: 50%;
    }
  }
  &__leaves {
    position: absolute;
    right: -3vw;
    top: 7vw;
    @include lg_900 {
      width: 10rem;
      top: 29%;
    }
    @include md_767 {
      width: 10rem;
      top: 29%;
    }
    @include sm_567 {
      width: 10rem;
      top: 29%;
    }
  }
}
