.facts {
  padding: 60px 0 120px 0;
  position: relative;
  @include lg_900 {
    padding: 60px 0;
  }
  @include md_767 {
    padding: 30px 0;
  }
  @include sm_567 {
    padding: 30px 0;
  }
  &--flex {
    display: flex;
  }
  &__title {
    text-align: center;
    margin-bottom: 4.792vw;
    & p {
      margin-top: 20px;
      font: $fontMuseoSansCyrlLight_30;
      color: $colorRozeSubText;
      @include lg_900 {
        font-size: 1.6rem;
      }
      @include md_767 {
        font-size: 1.5rem;
      }
      @include sm_567 {
        font-size: 1.4rem;
      }
    }
  }
  &__macbook {
    position: absolute;
    left: 0;
    width: 46.875vw;
    @include lg_900 {
      width: 100%;
    }
    @include md_767 {
      width: 100%;
    }
    @include sm-567 {
      width: 100%;
    }
    &-btn {
      @include videoBtn;
      top: 11vw;
      left: 22vw;
      @include lg_900 {
        top: 28%;
        right: 42%;
        left: unset;
      }
      @include md_767 {
        top: 28%;
        right: 42%;
        left: unset;
      }
      @include sm_567 {
        top: 28%;
        right: 42%;
        left: unset;
      }
      & span {
        padding: 1.5vw;
      }
    }
    &-line {
      position: absolute;
      top: 3vw;
      right: 17vw;
      transform: rotate(235deg);
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
    &-descr {
      position: absolute;
      top: 5vw;
      right: 6vw;
      width: 7.031vw;
      @include lg_900 {
        width: 10rem;
        right: 7vw;
      }
      @include md_767 {
        width: 10rem;
        right: 11vw;
        top: 12vw;
      }
      @include sm_567 {
        width: 10rem;
        right: 6vw;
        top: 7vw;
      }
      & p {
        font: $fontMuseoSansCyrlLight_18;
        color: $colorRozeDark;
      }
    }
    &-flower {
      position: absolute;
      z-index: -1;
      bottom: 11vw;
      right: -15vw;
      width: 43.802vw;
      @include md_767 {
        width: 23rem;
        bottom: 22vw;
      }
      @include sm_567 {
        width: 23rem;
        bottom: 22vw;
      }
    }
    &-blur {
      position: absolute;
      bottom: 12vw;
      right: -9vw;
      width: 23vw;
      z-index: -2;
      @include md_767 {
        width: 21rem;
        right: -12vw;
      }
      @include sm_567 {
        width: 21rem;
        right: -12vw;
      }
    }
    &-leave {
      position: absolute;
      z-index: -1;
      position: absolute;
      top: -3vw;
      left: 4vw;
    }
  }
  &__descr {
    margin-top: 2vw;
    @include md_767 {
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
    }
    @include sm_567 {
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 45%;
      display: flex;
      align-items: center;
      margin-right: 2vw;
      margin-bottom: 2vw;
      @include sm_567 {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
    &-number {
      @include bigNumber;
      font-size: 4vw;
      &--text {
        @include bigNumber;
        font-size: 1vw;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        margin-left: -6px;
        & p {
          font-size: 1.3vw;
        }
      }
    }
    &-text {
      margin-left: 1.823vw;
      text-align: left;
      & p {
        font: $fontMuseoSansCyrlLight_18;
      }
    }
    &-btn {
      @include mainBtn;
      @include mainBtnBlick;
      @include mainBtnHover;
      padding: 1.802vw 7.917vw 1.802vw 2.135vw;
      font: $fontMuseoSansCyrlBold_18;
      letter-spacing: 1.4px;
      @include md_767 {
        padding: 2rem 0 2rem 5rem;
        width: 25rem;
      }
      @include sm_567 {
        padding: 2rem 0 2rem 5rem;
        width: 25rem;
      }
      & a {
        color: #fff;
      }
      &--wraper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;
        margin-top: 3.208vw;
        @include lg_900 {
        }
        @include md_767 {
          margin: 2rem auto 0 auto;
          display: inline-flex;
          justify-content: center;
        }
        @include sm_567 {
          margin: 2rem auto 0 auto;
          justify-content: center;
          display: inline-flex;
        }
      }
    }
    &-clockImg {
      position: absolute;
      width: 15vw;
      bottom: 0.5vw;
      right: -7vw;
      pointer-events: none;
      @include md_767 {
        right: -28%;
        width: 17rem;
      }
      @include sm_567 {
        width: 15rem;
        right: -21%;
      }
    }
  }
  &__leaves {
    position: absolute;
    right: -1vw;
    top: 8vw;
    width: 9vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
}
