.pain {
  padding: 30px 0 0 0;
  background-image: url(../img/dep/pain/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include md_767 {
    padding: 40px 0 0 0;
  }
  @include sm_567 {
    padding: 30px 0 0 0;
  }
  &-wraper {
  }
  &--flex {
    display: flex;
  }
  &__text {
    @include lg_900 {
      margin-bottom: 2rem;
    }
    @include md_767 {
      margin-bottom: 2rem;
    }
    @include sm_567 {
      margin-bottom: 2rem;
    }
    &-title {
      @include md_767 {
        text-align: center;
      }
      @include sm_567 {
        text-align: center;
      }
      & p {
        margin-top: 2.604vw;
        font-size: 1.25vw;
        width: 90%;
        @include lg_900 {
          font-size: 1.6rem;
          width: auto;
          text-align: left;
        }
        @include md_767 {
          font-size: 1.5rem;
          width: auto;
          text-align: left;
        }
        @include sm_567 {
          font-size: 1.4rem;
          width: auto;
          text-align: left;
        }
      }
      & ul {
        @include md_767 {
          text-align: left;
          margin-left: 2rem;
        }
        @include sm_567 {
          text-align: left;
          margin-left: 2rem;
        }
        margin-top: 15px;
        list-style-image: url(../img/dep/pain/check.png);
        margin-left: 1vw;
        & li {
          font: $fontMuseoSansCyrlLight_20;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__img {
    @include lg_900 {
      margin-bottom: 2rem;
    }
    @include md_767 {
      margin-bottom: 2rem;
    }
    @include sm_567 {
      margin-bottom: 2rem;
    }
  }
  &__leaves {
    position: absolute;
    right: 7vw;
    bottom: 8vw;
    @include lg_900 {
      width: 5rem;
      bottom: 3rem;
    }
    @include md_767 {
      width: 5rem;
      bottom: 3rem;
    }
    @include sm_567 {
      width: 5rem;
      bottom: 3rem;
    }
  }
}
