.request-dep {
  z-index: 1;
  & .request__form {
    display: block;
    &--wraper {
      display: flex;
      margin-top: 1.604vw;
      position: relative;
      justify-content: center;
    }
    &-img {
      width: 22.042vw;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &-title {
      text-align: center;
    }
    &-inputs {
      width: 32.031vw;
      margin-left: 3vw;
      margin-right: 0;
    }
    &-women {
      width: 20.073vw;
      position: absolute;
      right: -2vw;
      &--name {
        bottom: 3vw;
        right: 1vw;
      }
      &--master {
        bottom: 1vw;
        right: 4vw;
      }
    }
    &-name {
      margin-right: 15px;
      & input {
        font: $fontMuseoSansCyrlLight_16;
        &::placeholder {
          font: $fontMuseoSansCyrlLight_16;
        }
      }
    }
    &-tel {
      margin: 0;
      & input {
        font: $fontMuseoSansCyrlLight_16;
        &::placeholder {
          font: $fontMuseoSansCyrlLight_16;
        }
      }
    }
    &-btn {
      & button {
        width: 80%;
        letter-spacing: 1.92px;
        text-transform: uppercase;
      }
      & img {
        width: 12.063vw;
        right: 1vw;
      }
    }
    &-call {
      margin-top: 3.385vw;
      margin-bottom: 3.125vw;
      &--boldT {
        font: $fontMuseoSansCyrlBold_24;
      }
      &--smallT {
        font: $fontMuseoSansCyrlMed_14;
        color: #48cb7d;
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
          @include callDot;
        }
      }
    }
    &--flex {
      display: flex;
      justify-content: center;
    }
    &-phone {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-top: 1.302vw;
      &--link {
        font: $fontMuseoSansCyrlBold_18;
      }
    }
    &-work {
      display: flex;
      align-items: center;
      margin-top: 1.302vw;
      &--text {
        font: $fontMuseoSansCyrlBold_18;
      }
    }
  }
}
@include lg_900 {
  .request-dep {
    z-index: 1;
    & .request__form {
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: center;
      &-img {
        margin-bottom: 2rem;
        width: 100%;
        position: relative;
        margin-right: 0;
        text-align: center;
      }
      &-inputs {
        margin: 0;
        width: 100%;
      }
      &-women {
        width: 100%;
        position: relative;
      }
      &-name {
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 8rem;
        margin-bottom: 1rem;
        margin-right: 25px;
        & label {
          font-size: 1.6rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.6rem;
          }
        }
      }
      &-tel {
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 8rem;
        margin-bottom: 1rem;
        & label {
          font-size: 1.6rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.6rem;
          }
        }
      }
      &-btn {
        margin-bottom: 2rem;
        display: inline-block;
        & button {
          width: 35rem;
          height: 7rem;
          font-size: 1.6rem;
          padding-left: 3rem;
        }
        & img {
          width: 25rem;
          right: -35%;
          bottom: 13%;
        }
      }
      &-women {
        text-align: center;
        &--name {
          bottom: 10rem;
          right: 19rem;

          & p {
            font-size: 1.6rem;
          }
        }
        &--master {
          bottom: 7rem;
          right: 22rem;
        }
      }
      &-leftImg {
        width: 15rem;
        left: -2rem;
        top: -4rem;
      }
      &-rightImg {
        width: 9rem;
        right: -2rem;
        top: 1rem;
        z-index: 1;
      }
      &__blur {
        width: 20rem;
        bottom: 29rem;
        z-index: 1;
      }
    }
  }
}
@include md_767 {
  .request-dep {
    z-index: 1;
    & .request__form {
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: center;
      &-img {
        margin-bottom: 2rem;
        width: 100%;
        position: relative;
        margin-right: 0;
        text-align: center;
      }
      &-inputs {
        margin: 0;
        width: 100%;
      }
      &-women {
        width: 100%;
        position: relative;
      }
      &-name {
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 8rem;
        margin-bottom: 1rem;
        & label {
          font-size: 1.6rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.5rem;
          }
        }
      }
      &-tel {
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 8rem;
        margin-bottom: 1rem;
        & label {
          font-size: 1.6rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.5rem;
          }
        }
      }
      &-btn {
        margin-bottom: 2rem;
        display: inline-block;
        & button {
          width: 35rem;
          height: 7rem;
          font-size: 1.6rem;
          padding-left: 3rem;
        }
        & img {
          width: 25rem;
          right: -35%;
          bottom: 13%;
        }
      }
      &-women {
        text-align: center;
        &--name {
          bottom: 10rem;
          right: 8rem;
          & p {
            font-size: 1.6rem;
          }
        }
        &--master {
          bottom: 7rem;
          right: 11rem;
        }
      }
      &-leftImg {
        width: 15rem;
        left: -2rem;
        top: -4rem;
      }
      &-rightImg {
        width: 9rem;
        right: -2rem;
        top: 1rem;
        z-index: 1;
      }
      &__blur {
        width: 20rem;
        bottom: 29rem;
        z-index: 1;
      }
    }
  }
}
@include sm_567 {
  .request-dep {
    z-index: 1;
    & .request__form {
      flex-wrap: wrap;
      padding: 1.5rem;
      justify-content: center;
      &-img {
        margin-bottom: 2rem;
        width: 100%;
        position: relative;
        margin-right: 0;
        text-align: center;
      }
      &-inputs {
        margin: 0;
        width: 100%;
      }
      &-women {
        width: 100%;
        position: relative;
      }
      &-name {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 5rem;
        margin-bottom: 1rem;
        margin-right: 0;
        & label {
          font-size: 1.4rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.4rem;
          }
        }
      }
      &-tel {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 5rem;
        margin-bottom: 1rem;
        & label {
          font-size: 1.4rem;
        }
        & input {
          width: 100%;
          height: 100%;
          padding: 2rem 3rem 1rem 3rem;
          &::placeholder {
            font-size: 1.4rem;
          }
        }
      }
      &-btn {
        margin-bottom: 2rem;
        display: inline-block;
        & button {
          width: 20rem;
          height: 5rem;
          font-size: 1.2rem;
          padding-left: 2rem;
        }
        & img {
          width: 16rem;
          right: -35%;
          bottom: 13%;
        }
      }
      &-women {
        text-align: center;
        &--name {
          bottom: 6rem;
          right: 2rem;
          & p {
            font-size: 1.6rem;
          }
        }
        &--master {
          bottom: 3rem;
          right: 5rem;
        }
      }
      &-leftImg {
        width: 8rem;
        left: -1rem;
        top: -1rem;
      }
      &-rightImg {
        width: 5rem;
        right: -1rem;
        top: 1rem;
        z-index: 1;
      }
      &__blur {
        width: 10rem;
        bottom: 22rem;
        z-index: 1;
      }
    }
  }
}
