.save {
  background-image: url(../img/dep/save/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 5.573vw;
  background-position: bottom;
  &--flex {
    display: flex;
    @include lg_900 {
      flex-wrap: wrap;
    }
    @include md_767 {
      flex-wrap: wrap;
    }
    @include sm-567 {
      flex-wrap: wrap;
    }
  }
  &__title {
    text-align: center;
    max-width: 57.552vw;
    margin: 0 auto;
    margin-bottom: 3.646vw;
    @include lg_900 {
      max-width: unset;
      margin-bottom: 3rem;
    }
    @include md_767 {
      max-width: unset;
      margin-bottom: 3rem;
    }
    @include sm-567 {
      max-width: unset;
      margin-bottom: 3rem;
    }
  }
  &__descr {
    &-title {
      @include dashedBtn;
      color: #fff;
      width: 18.125vw;
      text-align: center;
      margin: 0 auto;
      & p {
        padding: 1.354vw 2.76vw;
        font: $fontMuseoSansCyrlBold_24;
        border: 1px dashed #fff;
        border-radius: 15px;
      }
      @include lg_900 {
        width: 85%;
        & p {
          font-size: 2rem;
        }
      }
      @include md_767 {
        width: 60%;
        & p {
          font-size: 2rem;
        }
      }
      @include sm-567 {
        width: 60%;
        & p {
          font-size: 2rem;
        }
      }
    }
    &-item {
      display: flex;
      margin-top: 2.865vw;
      &--revers {
        flex-direction: row-reverse;
      }
      @include lg_900 {
        margin-top: 2rem;
      }
      @include md_767 {
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
      }
      @include sm-567 {
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &-img {
      margin-right: 1.823vw;
      width: 100%;
      position: relative;
      text-align: center;
      @include lg_900 {
        width: 85%;
        & p {
          font-size: 2rem;
        }
      }
      @include md_767 {
        width: auto;
        & p {
          font-size: unset;
        }
      }
      @include sm-567 {
        width: 60%;
        & p {
          font-size: 2rem;
        }
      }
      &--margin {
        margin-right: 0;
      }
      &--number {
        @include bigNumber;
        font-size: 2.474vw;
        position: absolute;
        &-1 {
          left: -2vw;
          top: 2vw;
        }
        &-2 {
          bottom: 2vw;
          left: 1vw;
        }
        &-3 {
          top: 0;
        }
        &-4 {
          top: -1vw;
        }
        &-5 {
          left: -0.5vw;
          bottom: -1vw;
        }
        &-6 {
          right: 0;
          bottom: -1vw;
        }
      }
    }
    &-text {
      @include md_767 {
        width: 60%;
      }
      @include sm_567 {
        width: 90%;
      }
      & h3 {
        font: $fontMuseoSansCyrlBold_24;
        width: 18.76vw;
        @include lg_900 {
          width: auto;
        }
        @include md_767 {
          width: auto;
        }
        @include sm_567 {
          width: auto;
        }
      }
      & p {
        font: $fontMuseoSansCyrlLight_16;
        margin-top: 20px;
      }
      &--marginR {
        margin-right: 1.823vw;
        text-align: right;
      }
      @include lg_900 {
        text-align: center;
        & p {
          font-size: 1.5rem;
        }
      }
      @include md_767 {
        text-align: center;
        & p {
          font-size: 1.5rem;
        }
      }
      @include sm-567 {
        text-align: center;
        & p {
          font-size: 1.5rem;
        }
      }
    }
    &-content {
      &--revers {
        flex-direction: row-reverse;
      }
    }
  }
  &__master {
    position: relative;
    margin: 5vw 25px 0 25px;
    text-align: center;
    @include lg_900 {
      margin: 3rem 2rem;
    }
    @include md_767 {
      margin: 3rem 2rem;
    }
    @include sm-567 {
      margin: 3rem 2rem;
    }
    &-title {
      position: relative;
      top: -18vw;
      @include lg_900 {
        position: absolute;
        top: 35%;
      }
      @include md_767 {
        position: absolute;
        top: 35%;
      }
      @include sm-567 {
        position: absolute;
        top: 35%;
      }
    }
    &-name {
      @include nameCard;
      color: $colorPurple;
      left: 1vw;
      top: 0;
      right: unset;
      bottom: unset;
      box-shadow: 1px -0.2px 90px 0 rgba(122, 122, 122, 0.38);
      @include lg_900 {
        width: 25rem;
        left: 0;
      }
      @include md_767 {
        width: 22rem;
        left: 0;
      }
      @include sm-567 {
        width: 21rem;
        left: 0;
        padding: 1rem 0.5rem;
      }
      & p {
        font: $fontMuseoSansCyrlBold_19;
        transform: skew(11deg);
      }
    }
    &-rank {
      @include masterCard;
      left: -1vw;
      top: 2.5vw;
      bottom: unset;
      right: unset;
      padding: 0.677vw 0.885vw;
      box-shadow: 1px -0.2px 90px 0 rgba(122, 122, 122, 0.38);
      text-align: center;
      transform: skew(-11deg);
      color: #000;
      @include lg_900 {
        width: 22rem;
        top: 51px;
        left: -30px;
        & p {
          width: 100%;
        }
      }
      @include md_767 {
        width: 22rem;
        top: 38px;
        left: -30px;
        & p {
          width: 100%;
        }
      }
      @include sm-567 {
        width: 22rem;
        top: 30px;
        left: -30px;
        & p {
          width: 100%;
        }
      }
      & p {
        font: $fontMuseoSansCyrlMed_12;
        width: 10.313vw;
        transform: skew(11deg);
      }
    }
    &-btn {
      @include videoBtn;
      bottom: 3vw;
      right: 6vw;
      & span {
        padding: 1.5vw;
      }
      @include lg_900 {
        top: unset;
        bottom: 15%;
        right: 35%;
        & span {
          padding: 2rem;
        }
      }
      @include md_767 {
        top: unset;
        bottom: 15%;
        right: 25%;
        & span {
          padding: 2rem;
        }
      }
      @include sm-567 {
        top: unset;
        bottom: 7%;
        right: 25%;
        & span {
          padding: 2rem;
        }
      }
    }
  }
}
