@import "functions";

//--------------------------------------
// Primary Colors
//--------------------------------------

$mainColorYell: #ffde00;
$colorGray: #c9c3f3;
$colorOrange: #ff885e;
$colorMainGrad: linear-gradient(90deg, #8159c6 0%, #6c7cff 100%);
$colorOrangeGrad: linear-gradient(90deg, #ff9d66 0%, #ff7256 100%);

//--------------------------------------
// fonts
//--------------------------------------
