@keyframes blink {
  0% {
    left: -30px;
    transform: translate(0, 0) rotate(45deg);
  }

  100% {
    left: 110%;
    transform: translate(305px, 0) rotate(45deg);
  }
}

@keyframes slide-up-in {
  0% {
    -webkit-transform: translate(0px, 100%);
    transform: translateY(20px);
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translateY(0px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -70%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -30%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
