.header {
  @include adap(padding-top, 20px, 50px);
  &--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include adap(width, 100px, 150px);
    cursor: pointer;
  }
  &__phone {
    display: flex;
    align-items: center;
    @include xs_500 {
      flex-direction: column;
      justify-items: center;
      align-items: flex-end;
      & > span {
        display: flex;
        align-items: center;
      }
    }
    &-ico {
      @include adap(margin-right, 10px, 15px);

      & img {
        width: 20px;
        height: 20px;
      }
    }
    &-num {
      @include adap(margin-right, 10px, 35px);
      & a {
        transition: all 0.3s ease-out;
        &:hover {
          color: $colorMain;
        }
      }
    }
    &-txt {
      @include adap(margin-right, 10px, 115px);
      & p {
        transition: all 0.3s ease-out;
        cursor: pointer;
        &:hover {
          color: $colorMain;
        }
      }
    }
  }
}
