.popupSty {
  padding: vw(70px) vw(80px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15.4px 0.6px rgba(161, 161, 160, 0.54);
  width: vw(1170px);
  display: none;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  @include md_900 {
    width: 80vw;
    height: 80vw;
    padding: 25px;
    overflow-y: scroll;
  }
  @include xs_500 {
    height: 95%;
  }
  &-wrap {
    display: flex;
    align-items: center;
    @include md_900 {
      flex-wrap: wrap;
    }
  }
  &__imgs {
    @include adap(margin-right, 20px, 80px);
    width: vw(350px);
    @include md_900 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    & img {
      border-radius: 10px;
    }
    &-big {
      @include adap(margin-bottom, 10px, 20px);
      & img {
        @include adap(height, 330px, 335px);
        width: 100%;
        object-fit: cover;
      }
      @include xs_500 {
        height: 200px;
        & img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &-sm {
      display: flex;
      justify-content: center;
      & a {
        height: vw(90px);
        width: 25%;
        @include md_900 {
          height: auto;
        }
        @include xs_500 {
          height: 50px;
        }
        & img {
          width: 100%;
          height: 100%;
        }
        @include adap(margin-right, 5px, 10px);
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &__descr {
    flex: 1 0 0%;
    &-title {
      @include adap(margin-bottom, 10px, 20px);
    }
    &-txt {
      @include adap(margin-bottom, 10px, 25px);
    }
  }
  & form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include xs_500 {
      flex-direction: column;
    }
    & .input-wrap {
      border-bottom: none;
      width: 47%;
      margin-right: 15px;
      padding: 0;
      margin-bottom: 15px;
      &:nth-of-type(2) {
        margin-right: 0;
      }
      @include md_900 {
        width: 45%;
        &:nth-of-type(2) {
          margin-right: 0;
        }
      }
      @include xs_500 {
        width: 100%;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    & input {
      border: 3px solid #eeab09;
      border-radius: 37.5px;
      text-align: center;
      padding: vw(30px) 15px;
      width: 100%;
      @include md_900 {
        padding: 15px;
      }
      &::placeholder {
        color: #a4a7a8;
      }
    }
    & .btn-wrap {
      width: 47%;
      @include xs_500 {
        width: 100%;
      }
    }
    & button {
      width: 100%;
      padding: vw(30px) 0;
      text-align: center;
      @include md_900 {
        padding: 20px 0;
      }
    }
  }
  &--close {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    @include md_900 {
      top: -15px;
      right: -21px;
    }
    & svg {
      width: 20px;
      height: 20px;
    }
  }
}
.close-wrap {
  @include md_900 {
    position: sticky;
    bottom: 100%;
  }
}
