<header class="header" id="header">
    <div class="container-main">
        <div class="row">
            <div class="header_flex">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header__logo">
                        <a href="/">
                            <img src="img/header/logo.png" alt="PINCET студия депиляции">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header__burger">
                        <p>МЕНЮ</p>
                        <div class="header__burger-img">
                            <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1"
                                viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z" />
                            </svg>
                        </div>
                        <div class="header__burger-menu">
                            <div class="header__burger-close">
                                <span>
                                    &#215;</span>
                            </div>
                            <div class="header__burger-menu--wraper">
                                <div class="header__burger-logo">
                                    <a href="/"><img src="img/header/logo.png" alt="Pincet"></a>
                                </div>
                                <div>
                                    <div class="header__map-descr menu-show">
                                        <p class="header__map-descr_bold">Мы находимся в центре:</p>
                                        <p class="header__map-descr_normal">г. Брест, ул. Гоголя, д.65</p>
                                        <div class="header_flex">
                                            <p class="header__map-descr_hover header__map--none">СМОТРЕТЬ НА КАРТЕ</p>
                                            <p class="header__map-descr_hover header__map-link map_click--mob">Смотреть
                                                на карте</p>
                                        </div>
                                        <div class="header__map-iframe iframe__mob">
                                            <iframe src="https://yandex.by/map-widget/v1/-/CCQheJcX2D" width="100%"
                                                height="100%" frameborder="1" allowfullscreen="true"
                                                style="position:relative;"></iframe>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="header__contact">
                                            <div class="header__contact-phone">
                                                <div class="header__contact-icon menu-icon">
                                                    <a href="tel:+375333822499">
                                                        <img src="img/header/phone.png" alt="+375333822499">
                                                    </a>
                                                </div>
                                                <div class="header__contact-tel">
                                                    <div class="header__contact-tel_wraper menu-hidden">
                                                        <span></span>
                                                        <p>Звоните, мы сейчас работаем</p>
                                                    </div>
                                                    <a href="tel:+375333822499">+375 33 382 24 99</a>
                                                </div>
                                            </div>
                                            <div class="header__contact-days menu-show--flex">
                                                <div class="header__contact-icon">
                                                    <img src="img/header/time.png" alt="время">
                                                </div>
                                                <p>Пн-Вс <span>9:00-21:00</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="header__rec menu__rec">
                                            <img src="img/header/calendar.png" alt="календарь">
                                            <span>Записаться онлайн</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/">Главная</a>
                                    <a href="depilation.html">Шугаринг и депиляция воском</a>
                                    <a href="masage.html">Антицеллюлитный массаж</a>
                                    <a href="masage.html">Классический массаж</a>
                                    <a href="learn.html">Обучение</a>
                                    <a href="catalog.html">Косметика для мастеров</a>
                                    <a href="papers.html">Статьи</a>
                                    <a href="about.html">О студии</a>
                                    <a href="contacts.html">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header__descr">
                        <p>
                            Студия депиляции и
                            массажный кабинет
                            в Бресте
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header__map">
                        <div class="header__map-icon">
                            <img src="img/header/map.png" alt="карта">
                        </div>
                        <div class="header__map-descr">
                            <p class="header__map-descr_bold">Мы находимся в центре:</p>
                            <p class="header__map-descr_normal">г. Брест, ул. Гоголя, д.65</p>
                            <div class="header_flex">
                                <p class="header__map-descr_hover header__map--none">СМОТРЕТЬ НА КАРТЕ</p>
                                <a class="header__map-descr_hover header__map-link"
                                    href="https://yandex.ua/maps/153/brest/house/ZkoYcA5oSEMPQFtofXx4cn9gZw==/?from=mapframe&ll=23.698168%2C52.093333&sll=23.698168%2C52.093333&sspn=0.361176%2C0.127318&z=16">Смотреть
                                    на карте</a>
                            </div>
                        </div>
                        <div class="header__map-iframe">
                            <iframe src="https://yandex.by/map-widget/v1/-/CCQheJcX2D" width="100%" height="100%"
                                frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="header__contact">
                        <div class="header__contact-phone">
                            <div class="header__contact-icon">
                                <a href="tel:+375333822499">
                                    <img src="img/header/phone.png" alt="+375333822499">
                                </a>
                            </div>
                            <div class="header__contact-tel">
                                <div class="header__contact-tel_wraper">
                                    <span></span>
                                    <p>Звоните, мы сейчас работаем</p>
                                </div>
                                <a href="tel:+375333822499">+375 33 382 24 99</a>
                            </div>
                        </div>
                        <div class="header__contact-days">
                            <div class="header__contact-icon">
                                <img src="img/header/time.png" alt="время">
                            </div>
                            <p>Пн-Вс <span>9:00-21:00</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6">
                    <div class="header__rec">
                        <?xml version="1.0" encoding="iso-8859-1"?>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px" height="20px">
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" stop-color="#ee858c" />
                                <stop offset="100%" stop-color="#fabcbc" />
                            </linearGradient>
                            <g>
                                <g>
                                    <path fill="url(#linear-gradient)" d="M452,40h-24V0h-40v40H124V0H84v40H60C26.916,40,0,66.916,0,100v352c0,33.084,26.916,60,60,60h392
			c33.084,0,60-26.916,60-60V100C512,66.916,485.084,40,452,40z M472,452c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V188
			h432V452z M472,148H40v-48c0-11.028,8.972-20,20-20h24v40h40V80h264v40h40V80h24c11.028,0,20,8.972,20,20V148z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="76" y="230" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="156" y="230" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="236" y="230" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="316" y="230" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="396" y="230" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="76" y="310" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="156" y="310" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="236" y="310" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="316" y="310" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="76" y="390" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="156" y="390" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="236" y="390" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="316" y="390" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect fill="url(#linear-gradient)" x="396" y="310" width="40" height="40" />
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                        <span>Записаться онлайн</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="header__menu">
                <a href="/">Главная</a>
                <a href="depilation.html">Шугаринг и депиляция воском</a>
                <a href="masage.html">Антицеллюлитный массаж</a>
                <a href="masage.html">Классический массаж</a>
                <a href="learn.html">Обучение</a>
                <a href="catalog.html">Косметика для мастеров</a>
                <a href="papers.html">Статьи</a>
                <a href="about.html">О студии</a>
                <a href="contacts.html">Контакты</a>
            </div>
            <div class="header_boxShadow"></div>
        </div>
    </div>
    <div class="header_blurRight blur">
        <img src="img/main/rightBlur1.png" alt="">
    </div>
    <div class="upBtn">
        <img src="img/header/up.png" alt="">
    </div>
</header>