.cases {
  &__title {
    text-align: center;
  }
  &__slider {
    @include adap(margin-bottom, 20px, 50px);
    &-wrap {
      @include adap(margin-top, 20px, 50px);
    }
    &-item {
      display: flex !important;
      padding: vw(20px) vw(50px) vw(20px) vw(20px);
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 6.9px 1.3px 22.3px 1.7px rgba(49, 49, 49, 0.06);
      width: vw(1300px) !important;
      margin: 0 auto;
      & img {
        width: vw(550px);
      }
      @include md_900 {
        width: auto !important;
        padding: 10px;
        flex-direction: column;
        & img {
          width: 50%;
        }
      }
      @include xs_500 {
        & img {
          width: 100%;
        }
      }
    }
    &-descr {
      @include adap(margin-left, 15px, 55px);
      & p:first-of-type {
        text-transform: uppercase;
        @include adap(margin-bottom, 15px, 60px);
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -20px;
          width: 35%;
          height: 1px;
          border-bottom: 1px solid #bd992d;
          @include xs_500 {
            bottom: -5px;
          }
        }
      }
      & p {
        @include adap(margin-bottom, 10px, 25px);
      }
      @include md_900 {
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 769px) {
  .cases .pagin {
    top: 40px;
  }
}
@media (max-width: 575px) {
  .cases .pagin {
    top: 35px;
  }
}
