#block4 {
  @include xs_500 {
    padding: 0 15px;
  }
}
.container-supm {
  position: relative;
  & .pagin {
    right: -7.5vw;
    @include md_900 {
      right: 15px;
    }
    @include sm_700 {
      right: unset;
    }
  }
  & h2 {
    /* @include sm_700 {
      margin-bottom: 40px;
    } */
  }
}
.test {
  position: relative;
  &-container {
    width: vw(1280px);
    margin: 0 auto;
    @include md_900 {
      width: auto;
      padding: 0 50px;
    }
    @include xs_500 {
      padding: 0;
    }
  }
  &-wrap {
    height: vw(680px);
    @include md_900 {
      height: auto;
    }
    & form {
      height: 100%;
      border-radius: 10px;
    }
  }
  &__title {
    text-align: center;
    @include adap(margin-bottom, 20px, 55px);
    @include md_900 {
      & br {
        display: none;
      }
    }
  }
  &__quiz {
    &-title {
      text-align: center;
    }
  }
  &-item {
    &__title {
      text-align: center;
      @include adap(margin-bottom, 20px, 50px);
    }
  }
  & .mainBtn {
    border-radius: 46px;
    color: #000;
    & span {
      color: #000;
    }
  }
}

.test-wrap {
  box-shadow: 4px 4px 30px rgba(23, 34, 45, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.test__right {
  width: 27%;
  padding: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.test__quests {
  width: 73%;
  padding: 3vw vw(80px);
  min-height: 32vw;
  position: relative;
}

.test__quests-progress {
  display: flex;
  align-items: center;
}

.test__fl-num {
  color: rgba(223, 224, 219, 0.5);
  font-size: 8vw;
  position: absolute;
  right: 0vw;
  line-height: 0.7;
  white-space: nowrap;
  bottom: 0vw;
}

.test-cont {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.test-right {
  border-radius: 0 10px 10px 0;
  background-image: linear-gradient(-27deg, #ffe324 0%, #ffb533 100%);
  @include sm_700 {
    display: none;
  }
}

.line-text {
  color: #d0d0d0;
}

.progress-bar {
  display: flex;
  align-items: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.progress-bar__title {
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1.5vw;
  flex-shrink: 0;
}

.progress-bar__line {
  position: absolute;
  left: 0;
  margin-right: 0.4vw;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd964;
  background-image: repeating-linear-gradient(
      -55deg,
      transparent,
      transparent 6px,
      #eeaf1d 5px,
      #eeaf1d 10px
    ),
    linear-gradient(
      to top,
      rgba(255, 188, 27, 0.9) 0%,
      rgba(255, 188, 27, 0.9) 100%
    );
  animation: progres 2.8s linear infinite;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.3);
  transition: width 0.4s;
  border-radius: 4rem;
  padding: 1vw;
}

.progress-bar__line-wrap {
  height: 1.6vw;
  box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4rem;
  background-color: #eff4f7;
  width: 90%;
  margin-top: -2vw;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar__line-num {
  font-size: 0.8vw;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes progres {
  from {
    background-position: 0 0, 0 0;
  }

  to {
    background-position: 60px 0, 0 0;
  }
}

.quiz__next-wrap {
  position: relative;
  width: vw(355px);
  border-radius: 45px;
  @include md_900 {
    width: 26rem;
  }
  @include xs_500 {
    width: 22rem;
    & button {
      padding: 15px;
    }
  }
}

.quiz__prev {
  width: vw(355px);
  margin-right: 3vw;
  border-radius: 45px;
  opacity: 0.5;
  color: #fff;
  @include xs_500 {
    width: 22rem;
    padding: 15px;
  }
}

.quiz__next {
  display: inline-block;
  width: 100%;
  border-radius: 50px;
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
}

.test-item {
  position: relative;
  &-4 {
    & .checkbox-block {
      & span {
        text-align: center;
      }
      @include xs_500 {
        height: 110px;
        align-content: space-between;
        justify-content: space-between;
        & span:nth-of-type(2) {
          overflow: scroll;
        }
      }
    }
  }
}

.test-item.t2 {
  justify-content: space-between;
}

.test-item__title,
.test-item .tsm12 {
  width: 100%;
}

.test-item__qw2 {
  width: 50%;
}

.test-slider {
  width: 100%;
}

.test-slider__item {
  height: auto;
}

.tiem {
  position: relative;
  width: 47%;
  margin: 0 1.4%;
  margin-bottom: 0.5vw;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  @include xs_500 {
    margin-bottom: 10px;
  }
}

.tiem:hover {
  z-index: 12;
}

.tiem.t2 {
  align-items: flex-start;
}

.tiem.t2 .text,
.tiem.t2 .tsm13 {
  margin-top: 0.3vw;
}

.tiem.t3 {
  margin: 0;
  margin-bottom: vw(30px);
}

.tiem.t5 {
  width: auto;
}

.tiem.t9 {
  width: 100%;
}

.tiem-img {
  height: 15.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tiem-img.v2 {
  height: 21vw;
}

.tiem-block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  @include xs_500 {
    flex-wrap: wrap;
  }
  & .quiz__slider-arrowL-1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    @include adap(width, 30px, 40px);
    @include adap(height, 30px, 40px);
    @include xs_500 {
      left: -3rem;
    }
  }
  & .quiz__slider-arrowR-1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    @include adap(width, 30px, 40px);
    @include adap(height, 30px, 40px);
    @include xs_500 {
      right: -3rem;
    }
  }
}

.tiem-block.t2 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tiem-block.t3 {
  flex-wrap: wrap;
}

.tiem-block.t3 .tiem {
  width: 22%;
  @include xs_500 {
    width: 50%;
  }
}

.forms__block {
  display: flex;
  justify-content: space-between;
}

.checkbox-block-it {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tiem-before-mod {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #dadada;
  transition: all 0.4s;
}

.slick-slide {
  outline: none;
}

.checkbox-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include md_900 {
    & span:nth-of-type(2) {
      margin-left: 10px;
    }
  }
}

.checkbox-block .small-text,
.checkbox-block .tsm13,
.checkbox-block .tsm12,
.checkbox-block .text {
  color: #757575;
  font-weight: 500;
}

.checkbox-block.v2 {
  margin-bottom: -0.8vw;
}

.checkbox-block.t2 {
  flex-direction: row;
}

.checkbox-block__bg {
  border-radius: 10px;
  margin-bottom: 0.5vw;
  width: 6vw;
  height: 6vw;
}

.checkbox-block__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 6vw;
  min-height: 5vw;
}

.checkbox-block__img img {
  max-width: none;
  width: 100%;
  @include xs_500 {
    height: 50px;
  }
}

.checkbox-inp {
  display: none;
}

.checkbox-psevdo {
  border-radius: 100%;
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.06);
  background-color: #f5f5f8;
  border-radius: 111px;
  width: 1.3vw;
  height: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5vw;
  flex-shrink: 0;
  order: 1;
  margin-right: 10px;
  @include md_900 {
    margin-right: 0;
  }
}

.checkbox-psevdo.t2 {
  order: 0;
}

.checkbox-psevdo.t3 {
  border-radius: 2px;
  margin-top: -1.5vw;
  background-color: #fff;
}

.checkbox-psevdo.t3 .checkbox-psevdo-active {
  border-radius: 2px;
  background-color: #dddddd;
}

.checkbox-psevdo.t9 {
  margin-right: 0.5vw;
  border: 1px solid #dddddd;
}

.checkbox-psevdo-active {
  width: 55%;
  height: 55%;
  border-radius: 100%;
  padding: 0.2vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
}

.checkbox-psevdo-active img {
  align-self: center;
  transform: scale(0);
  transition: all 0.3s;
}

.checkbox-inp:checked ~ .tiem-img {
  opacity: 1;
}

.checkbox-inp:checked ~ .checkbox-block {
  opacity: 1;
}

.checkbox-inp:checked ~ .checkbox-block .small-text,
.checkbox-inp:checked ~ .checkbox-block .tsm13,
.checkbox-inp:checked ~ .checkbox-block .tsm12,
.checkbox-inp:checked ~ .checkbox-block .text {
  color: #282828;
  opacity: 1;
}

.checkbox-inp:checked ~ .checkbox-block .end-soc__text {
  font-weight: 500;
}

.checkbox-inp:checked ~ .tiem-before-mod {
  border: 1px solid #ffcd83;
}

.checkbox-inp:checked ~ span .qw9-social {
  filter: grayscale(0);
}

.checkbox-inp:checked ~ span .checkbox-psevdo {
  border: 1px solid #fff;
}

.checkbox-inp:checked ~ span .checkbox-psevdo-active {
  opacity: 1;
}

.checkbox-inp:checked ~ span .checkbox-psevdo-active img {
  transform: scale(1);
}

.checkbox-inp:checked ~ span .checkbox-psevdo .checkbox-psevdo-active {
  background-image: linear-gradient(to top, #ffbc1b 0%, #ffec91 100%),
    linear-gradient(-18deg, #167ec2 0%, #6abaef 100%);
}

.test__btns {
  @include adap(margin-top, 30px, 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lbs {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  cursor: pointer;
  @include xs_500 {
    width: 220px;
  }
}

.btn-lbs:before {
  content: "Выберие вариант ответа";
  position: absolute;
  top: -1.5vw;
  left: 50%;
  transform: translateX(-50%);
  color: #e42a2e;
  font-size: 1vw;
  white-space: nowrap;
  transition: all 0.4s;
  opacity: 0;
  @include adap(font-size, 10px, 20px);
  @include md_900 {
    top: -15px;
  }
}

.btn-lbs.act:before {
  opacity: 1;
}

.t-end-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.t-end-block__left {
  width: 100%;
}

.t-end-soc {
  display: flex;
  justify-content: space-between;
}

.t-end-form {
  width: 70%;
}

.qw3inp-wrap {
  display: flex;
  align-items: center;
  margin-bottom: -2vw;
}

.qw3inp-wrap .input.t2 {
  border-radius: 5px;
  height: 2.5vw;
  box-shadow: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  width: 6vw;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.qw3inp-wrap .text {
  white-space: nowrap;
}

.irs {
  width: 100%;
}

.irs--flat .irs-line {
  border-radius: 0.521vw;
  background-color: #fff;
  top: 1.51vw;
  height: 1.042vw;
  border: 0.052vw solid rgba(0, 0, 0, 0.1);
}

.irs--flat .irs-bar {
  border-radius: 0.521vw;
  background-color: #52bba3;
  top: 1.771vw;
  height: 0.521vw;
}

.irs--flat .irs-handle {
  width: 1.406vw;
  height: 1.406vw;
  box-shadow: 0 0 0.521vw rgba(133, 138, 160, 0.19);
  border: none;
  background-color: #52bba3;
  border-radius: 100%;
  cursor: pointer;
  top: 1.302vw;
}

.irs--flat .irs-handle:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0.625vw;
  height: 0.625vw;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.irs--flat .irs-handle i {
  display: none !important;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  padding: 0.5vw;
  border-radius: 0.26vw;
  background-color: transparent;
  color: #1d1d1d;
  font-weight: 300;
  min-width: 4vw;
  text-align: center;
  cursor: pointer;
  top: -1vw;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  display: none;
}

.irs-single {
  display: none;
}

.range-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-block__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-block {
  width: 100%;
}

.ranges-inp {
  width: 5vw;
  padding: 0.7vw;
  padding-left: 1vw !important;
  border-radius: 5px;
  height: 2.7vw;
  margin: 0 0.6vw;
}

.bgts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9vw;
  margin-bottom: -1vw;
}

.qw2w {
  min-height: 21vw;
}

.tiem-block_range {
  width: 100% !important;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: auto;
  bottom: -3.7vw;
  color: #232323;
  font-size: 1vw;
  ont-family: Gilroy;
  background-color: transparent;
}

.test__dop-info {
  color: rgba(35, 35, 35, 0.5) !important;
}

.rhide:checked ~ span .check-label-act {
  background-color: #52bba3;
  width: 55%;
  height: 55%;
  border-radius: 2px;
}

.test-end__btn {
  border-radius: 50px;
}

.t-end-block {
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
}

.t-end-block__input {
  color: #111 !important;
}

.t-end-block__btn {
  width: 100%;
}
.t-end-block {
  display: flex;
  flex-direction: column;
  & .input-wrap {
    border-bottom: none;
    width: 100%;
    margin-right: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  & input {
    border-radius: 43px;
    box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    text-align: center;
    padding: vw(30px) 15px;
    width: 100%;
    @include md_900 {
      padding: 20px 0;
    }
    &::placeholder {
      color: #a4a7a8;
    }
  }
  & .btn-wrap {
    width: 100%;
  }
  & button {
    width: 100%;
    padding: vw(30px) 0;
    text-align: center;
    border-radius: 43px;
    @include md_900 {
      padding: 20px 0;
    }
  }
}
.t-end {
  & h5 {
    @include adap(margin-bottom, 10px, 20px);
  }
  & .txt13 {
    text-align: center;
    color: #d0d0d0;
    @include adap(margin-bottom, 5px, 15px);
  }
}
.test-right__item {
  text-align: center;
  & > div:first-child {
    @include adap(margin-bottom, 20px, 60px);
  }
  & > div {
    color: #111111;
  }
}

@media (max-width: 992px) {
  .test__fl-num {
    font-size: 9rem;
  }

  .checkbox-psevdo {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.5rem;
  }

  .checkbox-psevdo-active {
    padding: 0.2rem;
  }

  .checkbox-block__bg {
    width: 8rem;
    height: 8rem;
    margin-bottom: 0.5rem;
  }

  .progress-bar__line-wrap {
    height: 2rem;
    margin-top: 0;
  }

  .quiz__prev {
    width: 26rem;
  }

  .test__btns {
    margin-top: 3rem;
  }

  .slideNext.test-ar {
    right: 0rem;
  }

  .arrows {
    width: 2.6rem;
    padding: 0;
  }

  .slidePrev.test-ar {
    left: 0;
  }

  .checkbox-block__img {
    width: 8rem;
    min-height: 5rem;
  }

  .t-end-block {
    width: 18rem;
  }

  .test-item__title {
    white-space: normal;
    font-size: 2rem;
  }

  .test .t-min2 {
    font-size: 2.2rem;
  }

  .progress-bar {
    margin-top: 1rem;
  }
  .progress-bar.test.t-min2 br {
    display: none;
  }
  .test-item__title {
    font-size: 1.8rem;
  }

  .test-item__title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .test__quests {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    @include sm_700 {
      width: 100%;
    }
  }

  .test__btns {
    flex-direction: column;
    align-items: center;
  }

  .quiz__prev {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
