.benefit {
  padding: 30px 0;
  position: relative;
  background: no-repeat url(../img/masage/benefit/back.png);
  background-position: top;
  background-size: cover;
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 4.167vw;
  }
  &--flex {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    position: absolute;
    left: 1vw;
    @include lg_900 {
      position: static;
      width: 70rem;
      margin: 0 auto;
    }
    @include md_767 {
      position: static;
      width: 50rem;
      margin: 0 auto;
    }
    @include sm-567 {
      position: static;
      width: 30rem;
      margin: 0 auto;
    }
  }
  &__list {
    margin-left: 2vw;
    @include lg_900 {
      margin-left: 10%;
    }
    @include md_767 {
      margin-left: 10%;
    }
    @include sm-567 {
      margin-left: 10%;
    }
    & ul {
      list-style: none;
      & li {
        display: flex;
        align-items: center;
        font: $fontMuseoSansCyrlLight_24;
        margin-bottom: 2.24vw;
        & span {
          & img {
            max-width: unset;
            width: 3.188vw;
            box-shadow: -4.9px 3.5px 79px 0 rgba(159, 96, 96, 0.3);
            background-color: #ffffff;
            border-radius: 50%;
            margin-right: 15px;
            @include lg_900 {
              width: 2rem;
            }
            @include md_767 {
              width: 2rem;
            }
            @include sm-567 {
              width: 2rem;
            }
          }
        }
      }
      & li:nth-of-type(1) {
        margin-left: -11vw;
      }
      & li:nth-of-type(2) {
        margin-left: -8vw;
      }
      & li:nth-of-type(3) {
        margin-left: -5vw;
      }
      & li:nth-of-type(4) {
        margin-left: -2vw;
      }
      & li:nth-of-type(6) {
        margin-left: -2vw;
      }
      & li:nth-of-type(7) {
        margin-left: -5vw;
      }
      & li:nth-of-type(8) {
        margin-left: -8vw;
      }
      & li:nth-of-type(9) {
        margin-left: -11vw;
      }
    }
  }
  &__blur {
    position: absolute;
    right: -11vw;
    top: 0;
    @include lg_900 {
      width: 10rem;
    }
    @include md_767 {
      width: 10rem;
    }
    @include sm-567 {
      width: 10rem;
    }
  }
  &__leaveR {
    top: 4vw;
    position: absolute;
    right: 6vw;
    @include lg_900 {
      width: 5rem;
      top: -2rem;
    }
    @include md_767 {
      width: 5rem;
      top: -2rem;
    }
    @include sm-567 {
      width: 5rem;
      top: -2rem;
    }
  }
  &__leaveL {
    position: absolute;
    top: 5vw;
    left: 3vw;
    @include lg_900 {
      width: 4rem;
      top: 6rem;
    }
    @include md_767 {
      width: 4rem;
      top: 6rem;
    }
    @include sm-567 {
      width: 4rem;
      top: 6rem;
    }
  }
  &__leaveC {
    position: absolute;
    right: 5vw;
    bottom: 19vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm-567 {
      display: none;
    }
  }
}
