.indications {
  padding: 30px 0;
  position: relative;
  background: no-repeat url(../img/masage/indications/back.png);
  background-position: bottom;
  background-size: cover;
  &__masage {
    box-shadow: -0.8px 0.6px 59px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top, #905fbd, #d2a7f1);
    color: #fff;
    border-radius: 15px;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    &--wraper {
      display: flex;
      border-radius: 15px;
      background: linear-gradient(to top, #905fbd, #d2a7f1);
      border: 1px dashed #fff;
      padding: 1.302vw 2.344vw;
      align-items: center;
      @include lg_900 {
        text-align: center;
      }
      @include md_767 {
        text-align: center;
      }
      @include sm-567 {
        text-align: center;
      }
      & p:nth-of-type(1) {
        font: $fontMuseoSansCyrlBold_30;
        margin-right: 1.5vw;
        @include lg_900 {
          font-size: 2.5rem;
        }
        @include md_767 {
          font-size: 2.5rem;
        }
        @include sm-567 {
          font-size: 2rem;
        }
      }
      & p:nth-of-type(2) {
        font: $fontMuseoSansCyrlLight_18;
        width: 60%;
        @include lg_900 {
          width: auto;
          font-size: 2rem;
        }
        @include md_767 {
          width: auto;
          font-size: 2rem;
        }
        @include sm-567 {
          width: auto;
          font-size: 1.6rem;
        }
      }
    }
  }
  &__title {
    margin-top: 4.688vw;
    text-align: center;
  }
  &__content {
    display: flex;
    padding: 0 7.083vw;
    &-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      margin-right: 2vw;
      text-align: center;
      @include lg_900 {
        width: 45%;
      }
      @include md_767 {
        width: 45%;
      }
      @include sm-567 {
        width: 100%;
      }
    }
    & div:nth-of-type(4) {
      margin-right: 0;
    }
    &-img {
      margin-bottom: 2vw;
    }
    &-subtitle {
      margin-bottom: 1.5vw;
      flex-basis: 27%;
    }
    &-text {
      font: $fontMuseoSansCyrlLight_18;
    }
    &--wraper {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
  }
  &__leaveR {
    position: absolute;
    top: 5vw;
    right: 13vw;
    @include lg_900 {
      width: 6.5rem;
    }
    @include md_767 {
      width: 6.5rem;
    }
    @include sm-567 {
      width: 5rem;
    }
  }
  &__leaveL {
    position: absolute;
    top: 8vw;
    left: 0;
    @include lg_900 {
      width: 7rem;
    }
    @include md_767 {
      width: 7rem;
    }
    @include sm-567 {
      width: 5rem;
    }
  }
}
