.masage-main {
  & .main {
    position: relative;
    &__descr {
      &-btn {
        width: 19.792vw;
        padding: 1.7vw 0;
        @include lg_900 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        @include md_767 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        @include sm_567 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        & p {
          margin-left: 2.344vw;
        }
      }
      &-img {
        bottom: 0vh;
        left: 7vw;
        & img {
          max-width: 14vw;
          @include lg_900 {
            max-width: 100%;
          }
          @include md_767 {
            max-width: 100%;
          }
          @include sm_567 {
            max-width: 100%;
          }
        }
        @include lg_900 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 16rem;
        }
        @include md_767 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 16rem;
        }
        @include sm_567 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 15rem;
        }
      }
      &-list {
        @include lg_900 {
          margin-top: 2rem;
        }
        @include md_767 {
          margin-top: 2rem;
        }
        @include sm_567 {
          margin-top: 2rem;
        }
      }
    }
    &__women {
      bottom: 0;
      max-width: 43.408vw;
      @include lg_900 {
        max-width: 100%;
        bottom: -7rem;
      }
      @include md_767 {
        max-width: 100%;
        bottom: -4rem;
      }
      @include sm_567 {
        max-width: 100%;
        bottom: -4rem;
      }
    }
    &__blur {
      position: absolute;
      top: 8vw;
      left: -9vw;
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
    &__leaveR {
      position: absolute;
      top: 15vw;
      right: 4vw;
      width: 4vw;
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
    &__leaveC {
      position: absolute;
      top: 21vw;
      right: 31vw;
      width: 4vw;
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
    &__leaveL {
      position: absolute;
      bottom: 17vw;
      left: 50%;
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
  }
}
