.master {
  padding: 30px 0;
  position: relative;
  &--wraper {
    background-image: url(../img/masage/master/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 8vw;
    @include lg_900 {
      padding-top: 5rem;
    }
    @include md_767 {
      padding-top: 5rem;
    }
    @include sm_567 {
      padding-top: 5rem;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 2vw;
    @include lg_900 {
      margin-top: 5rem;
    }
    @include md_767 {
      margin-top: 5rem;
    }
    @include sm_567 {
      margin-top: 5rem;
    }
  }
  &--flex {
    display: flex;
    justify-content: space-around;
  }
  &__workers {
    position: relative;
    &-slider {
      & .slick-slide {
        margin-left: 2.0835vw;
        margin-right: 2.0835vw;
      }
    }
    &-item {
      margin-right: 100px;
    }
    &-card {
      text-align: center;
    }
    &-img {
      display: inline-block;
      position: relative;
      width: 22vw;
    }
    &-name {
      position: absolute;
      bottom: 3vw;
      right: 1vw;
      padding: 0.938vw 1.719vw;
      background-color: #fff;
      border-radius: 10px;
      transform: skew(-11deg);
      box-shadow: 0px 9px 90px 0 rgba(122, 122, 122, 0.3);
      z-index: 5;
      & p {
        transform: skew(10deg);
        font-weight: 700;
      }
    }
    &-master {
      position: absolute;
      bottom: 1vw;
      right: 4vw;
      padding: 1.042vw 0.885vw;
      border-radius: 10px;
      background-color: #fdfdfd;
      & p {
        font: $fontMuseoSansCyrlMed_11;
      }
    }
    & ul {
      margin-top: 2.083vw;
      list-style-image: url(../img/qualification/check.png);
      margin-left: 1vw;
      & li {
        font: $fontMuseoSansCyrlLight_18;
      }
    }
    &-link {
      display: inline-block;
      margin-top: 1.563vw;
      margin-left: 1vw;
      padding-bottom: 5px;
      & a {
        position: relative;
        @include beforeLine;
        transition: all 0.2s ease;
        &::before {
          width: 100%;
          color: #ff6078;
          top: 115%;
        }
        &:hover::before {
          width: 40%;
        }
        &:hover {
          text-shadow: 0 0 0.65px #e07c89, 0 0 0.65px #ff6078;
        }
      }
      @include lg_900 {
        margin-left: 2rem;
      }
      @include md_767 {
        margin-left: 2rem;
      }
      @include sm_567 {
        margin-left: 2rem;
      }
    }
    & .slick-disabled {
      opacity: 0.3;
    }
  }
  &__certificate {
    position: relative;
    display: flex;
    margin-top: 2.792vw;
    align-items: center;
    &-link {
      & a {
        position: relative;
        @include beforeLine;
        transition: all 0.2s ease;
        &::before {
          width: 100%;
          color: #ff6078;
          top: 115%;
          opacity: 1;
        }
        &:hover::before {
          width: 40%;
        }
        &:hover {
          text-shadow: 0 0 0.65px #e07c89, 0 0 0.65px #ff6078;
        }
      }
    }
    &-descr {
      text-align: left;
      width: 18.523vw;
      padding-right: 3.906vw;
    }
    &-items {
      width: 49.5vw;
      position: relative;
      & .slick-disabled {
        opacity: 0.3;
      }
    }
    &-wraper {
      position: relative;
    }
    &-img {
      position: absolute;
      z-index: 2;
      left: -6vw;
      bottom: -1vw;
      width: 14.292vw;
      pointer-events: none;
    }
    &-background {
      @include zoomBackground;
    }
    &-zoom {
      @include zoomIcon;
    }
    &-item {
      position: relative;
      &:hover .qualification__certificate-background {
        opacity: 0.4;
      }
      &:hover .qualification__certificate-zoom {
        opacity: 1;
      }
    }
    & .slick-slide {
      padding-right: 10px;
    }
  }
  &__descr {
    &-title {
      margin: 3.146vw 0 1.5vw 0;
    }
    &-text {
      & p {
        margin-bottom: 1.5vw;
        font: $fontMuseoSansCyrlLight_18;
      }
    }
    &-diploms {
      &--title {
        margin-top: 4.167vw;
        margin-bottom: 1.5vw;
        @include lg_900 {
          text-align: center;
        }
        @include md_767 {
          text-align: center;
        }
        @include sm_567 {
          text-align: center;
        }
      }
    }
  }
  &__blur {
    position: absolute;
    top: 8vw;
    right: -10vw;
    width: 22vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
  &__leave {
    position: absolute;
    top: 10vw;
    width: 4vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
  &__leaveC {
    position: absolute;
    top: 25vw;
    width: 4vw;
    left: 15vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
  & .arrowLeft {
    position: absolute;
    top: 40%;
    left: 0vw;
    cursor: pointer;
    z-index: 2;
    @include lg_900 {
      left: 0%;
      top: 40%;
    }
    @include md_767 {
      left: 10%;
      top: 40%;
    }
    @include sm_567 {
      left: 00%;
      top: 40%;
    }
  }
  & .arrowRightBot {
    position: absolute;
    top: 50%;
    right: -3.5vw;
    transform: translate(0, -50%);
    cursor: pointer;
    @include lg_900 {
      right: -10%;
    }
    @include md_767 {
      right: -10%;
    }
    @include sm_567 {
      right: -13%;
    }
  }
  & .arrowLeftBot {
    position: absolute;
    top: 50%;
    left: -6.5vw;
    transform: translate(0, -50%);
    z-index: 3;
    cursor: pointer;
    @include lg_900 {
      left: -15%;
    }
    @include md_767 {
      left: -15%;
    }
    @include sm_567 {
      left: -15%;
    }
  }
  & .arrowRight {
    position: absolute;
    top: 40%;
    right: 0vw;
    cursor: pointer;
    @include lg_900 {
      right: 0%;
      top: 40%;
    }
    @include md_767 {
      right: 0%;
      top: 40%;
    }
    @include sm_567 {
      right: 0%;
      top: 40%;
    }
  }
}
@include lg_900 {
  .master {
    &__workers {
      margin-left: -1.5rem;
      margin-top: 2rem;
      &-img {
        width: auto;
      }
      &-name {
        bottom: 5rem;
        padding: 1.5rem 3.5rem;
      }
      &-master {
        bottom: 2rem;
        padding: 1rem 1rem;
        right: 2rem;
        & p {
          font-size: 1.4rem;
        }
      }
      &-slider {
        & .slick-slide {
          margin-left: 2rem;
          margin-right: 0;
        }
      }
      & ul {
        margin-left: 2rem;
        & li {
          font-size: 1.6rem;
        }
      }
    }
    &__descr {
      &-diploms {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }
    &__certificate {
      flex-wrap: wrap;
      margin-top: 0rem;
      &-descr {
        margin: 0 auto;
        padding: 0;
        width: auto;
        text-align: center;
      }
      &-items {
        margin: 2rem auto 0 auto;
      }
      &-item {
        & img {
          margin: 0 auto;
        }
      }
      &-img {
        width: 24rem;
        left: -9rem;
        bottom: -1rem;
        & img {
          margin: 0 auto;
        }
      }
    }
  }
}
@include md_767 {
  .master {
    &__workers {
      margin-left: -1.5rem;
      margin-top: 2rem;
      &-img {
        width: auto;
      }
      &-name {
        bottom: 5rem;
        padding: 1.5rem 3.5rem;
      }
      &-master {
        bottom: 2rem;
        padding: 1rem 1rem;
        right: 2rem;
        & p {
          font-size: 1.4rem;
        }
      }
      &-slider {
        & .slick-slide {
          margin-left: 2rem;
          margin-right: 0;
        }
      }
      & ul {
        margin-left: 2rem;
        & li {
          font-size: 1.6rem;
        }
      }
    }
    &__descr {
      &-diploms {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }
    &__certificate {
      flex-wrap: wrap;
      margin-top: 0rem;
      &-descr {
        margin: 0 auto;
        padding: 0;
        width: auto;
        text-align: center;
      }
      &-items {
        margin: 2rem auto 0 auto;
      }
      &-item {
        padding: 0;
        & img {
          margin: 0 auto;
        }
      }
      &-img {
        width: 24rem;
        left: -5rem;
        bottom: -1rem;
        & img {
          margin: 0 auto;
        }
      }
    }
  }
}
@include sm_567 {
  .master {
    &__workers {
      width: 29rem;
      margin: 2rem auto;

      &-img {
        width: auto;
      }
      &-name {
        bottom: 5rem;
        padding: 1.5rem 3.5rem;
      }
      &-master {
        bottom: 2rem;
        padding: 1rem 1rem;
        right: 2rem;
        & p {
          font-size: 1.2rem;
        }
      }
      &-slider {
        & .slick-slide {
          margin-left: 0rem;
          margin-right: 0;
        }
      }
      & ul {
        margin-left: 2rem;
        & li {
          font-size: 1.6rem;
        }
      }
      &-img {
        width: 25rem;
        & img {
          margin: 0 auto;
        }
      }
    }
    &__descr {
      &-diploms {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }
    &__certificate {
      margin-top: 0rem;
      & .slick-slide {
        padding-right: 0;
      }
    }
    &__certificate {
      flex-wrap: wrap;
      &-descr {
        margin: 0 auto;
        padding: 0;
        width: auto;
        text-align: center;
      }
      &-items {
        margin: 2rem auto 0 auto;
      }
      &-item {
        padding: 0;
        & img {
          margin: 0 auto;
        }
      }
      &-img {
        width: 17rem;
        left: -6rem;
        bottom: -1rem;
      }
    }
  }
}
