.master {
  padding: 30px 0;
  position: relative;
  &--wraper {
    background-image: url(../img/masage/master/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 8vw;
    @include lg_900 {
      padding-top: 5rem;
    }
    @include md_767 {
      padding-top: 5rem;
    }
    @include sm_567 {
      padding-top: 5rem;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 2vw;
    @include lg_900 {
      margin-top: 5rem;
    }
    @include md_767 {
      margin-top: 5rem;
    }
    @include sm_567 {
      margin-top: 5rem;
    }
  }
  &--flex {
    display: flex;
  }
  &__workers {
    margin-top: $elemMarginTop_60;
    position: relative;
    &-item {
      margin-right: 100px;
      @include lg_900 {
        margin-right: 0;
      }
      @include md_767 {
        margin-right: 0;
      }
      @include sm_567 {
        margin-right: 0;
      }
    }
    &-descr {
      @include lg_900 {
        text-align: left;
      }
      @include md_767 {
        text-align: left;
      }
      @include sm_567 {
        text-align: left;
      }
    }
    text-align: left;
    &-card {
      text-align: center;
    }
    &-img {
      display: inline-block;
      position: relative;
    }
    &-name {
      position: absolute;
      bottom: 3vw;
      right: 1vw;
      padding: 0.538vw 2.719vw;
      background-color: #fff;
      border-radius: 10px;
      transform: skew(-11deg);
      box-shadow: 0px 9px 90px 0 rgba(122, 122, 122, 0.3);
      z-index: 5;
      @include lg_900 {
        bottom: 12rem;
        padding: 1rem 3rem;
        right: 3rem;
      }
      @include md_767 {
        bottom: 12rem;
        padding: 1rem 3rem;
        right: 3rem;
      }
      @include sm_567 {
        bottom: 12rem;
        padding: 1rem 3rem;
        right: 3rem;
      }
      & p {
        transform: skew(10deg);
        font-weight: 700;
      }
    }
    &-master {
      position: absolute;
      bottom: 1vw;
      right: 3vw;
      padding: 1.042vw 1.885vw;
      border-radius: 10px;
      background-color: #fdfdfd;
      @include lg_900 {
        bottom: 8rem;
        width: 17rem;
        right: 2rem;
      }
      @include md_767 {
        bottom: 8rem;
        width: 17rem;
        right: 2rem;
      }
      @include sm_567 {
        bottom: 8rem;
        width: 17rem;
        right: 2rem;
      }
      & p {
        font: $fontMuseoSansCyrlMed_11;
      }
    }
    &-link {
      display: inline-block;
      margin-top: 1.563vw;
      @include lg_900 {
        margin-left: 2rem;
      }
      @include md_767 {
        margin-left: 2rem;
      }
      @include sm_567 {
        margin-left: 2rem;
      }
    }
    &-ul {
      @include lg_900 {
        display: flex;
        justify-content: end;
        text-align: left;
      }
      @include md_767 {
        display: flex;
        justify-content: end;
        text-align: left;
      }
      @include sm_567 {
        display: flex;
        justify-content: end;
        text-align: left;
      }
      & ul {
        margin-top: 2.083vw;
        list-style-image: url(../img/qualification/check.png);
        @include lg_900 {
          margin-left: 2rem;
        }
        @include md_767 {
          margin-left: 2rem;
        }
        @include sm_567 {
          margin-left: 2rem;
        }
        & li {
          font: $fontMuseoSansCyrlLight_18;
        }
      }
    }
  }
  &__descr {
    &-title {
      margin: 3.146vw 0 1.5vw 0;
    }
    &-text {
      & p {
        margin-bottom: 1.5vw;
        font: $fontMuseoSansCyrlLight_18;
      }
    }
    &-diploms {
      &--title {
        margin-top: 4.167vw;
        margin-bottom: 1.5vw;
        @include lg_900 {
          text-align: center;
        }
        @include md_767 {
          text-align: center;
        }
        @include sm_567 {
          text-align: center;
        }
      }
    }
  }
  &__certificate {
    padding: 0 6.25vw;
    position: relative;
    display: flex;
    margin-top: 4.792vw;
    &--wraper {
      display: flex;
    }
    &-descr {
      text-align: left;
      width: 14.323vw;
      padding-right: 3.906vw;
    }
    &-items {
      width: 81%;
      position: relative;
      margin-left: 4vw;
    }
    &-link {
      display: inline-block;
      margin-top: 1.302vw;
    }
    &--wraper {
      position: relative;
    }
    &-img {
      position: absolute;
      z-index: 2;
      left: -5vw;
      bottom: -1vw;
      width: 13.292vw;
      pointer-events: none;
      @include lg_900 {
        display: none;
      }
      @include md_767 {
        display: none;
      }
      @include sm_567 {
        display: none;
      }
    }
    &-background {
      @include zoomBackground;
    }
    &-zoom {
      @include zoomIcon;
    }
    &-item {
      position: relative;
      margin-right: 10px;
      @include lg_900 {
        margin-bottom: 1rem;
      }
      @include md_767 {
        margin-bottom: 1rem;
      }
      @include sm_567 {
        margin-bottom: 1rem;
        margin-right: 0;
      }
      &:hover .master__certificate-background {
        opacity: 0.4;
      }
      &:hover .master__certificate-zoom {
        opacity: 1;
      }
    }
  }
  &__blur {
    position: absolute;
    top: 8vw;
    right: -10vw;
    width: 22vw;
  }
  &__leave {
    position: absolute;
    top: 10vw;
    width: 4vw;
  }
}
