.watch {
  padding: 30px 0;
  background: no-repeat url(../img/masage/watch/back.png);
  background-position: top;
  background-size: cover;
  position: relative;
  &__title {
    margin-bottom: 3.646vw;
    text-align: center;
  }
  &--flex {
    display: flex;
  }
  &__macbook {
    position: absolute;
    width: 57vw;
    left: 4vw;
    top: 6.5vw;
  }
  &__content {
    &-row {
      display: flex;
    }
    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
