.watch {
  padding: 30px 0;
  position: relative;
  &__title {
    margin-bottom: 3.646vw;
    text-align: center;
  }
  &--flex {
    display: flex;
  }
  &--rel {
    position: relative;
  }
  &__macbook {
    position: absolute;
    width: 64vw;
    left: -8vw;
    top: -3.5vw;
    pointer-events: none;
    @include lg_900 {
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
    }
    @include md_767 {
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
    }
    @include sm_567 {
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
    }
    &-btn {
      @include videoBtn;
      top: 10vw;
      left: 15.5vw;
      @include lg_900 {
        top: 33%;
        left: 36%;
      }
      @include md_767 {
        top: 33%;
        left: 36%;
      }
      @include sm_567 {
        top: 33%;
        left: 36%;
      }
      & span {
        padding: 1.5vw;
      }
    }
    &-text {
      position: absolute;
      font: $fontMuseoSansCyrlLight_18;
      color: $colorRozeDark;
      width: 8.4vw;
      text-align: right;
      top: 8vw;
      right: 25vw;
      @include lg_900 {
        top: 16%;
        left: 47%;
        width: 14rem;
      }
      @include md_767 {
        top: 13%;
        left: 42%;
        width: 14rem;
      }
      @include sm_567 {
        display: none;
      }
    }
    &-line {
      position: absolute;
      left: -4vw;
      top: 0.5vw;
      width: 6vw;
      @include lg_900 {
        width: 7rem;
        top: 37%;
        left: -39%;
      }
      @include md_767 {
        display: none;
      }
    }
  }
  &__content {
    &-row {
      display: flex;
      @include lg_900 {
        justify-content: space-around;
      }
      @include md_767 {
        justify-content: space-around;
      }
    }
    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
      @include lg_900 {
        width: 45%;
        margin-right: 0;
      }
      @include md_767 {
        width: 45%;
        margin-right: 0;
      }
      @include sm_567 {
        width: 45%;
        margin-right: 0;
      }
    }
  }
}
