.watch {
  padding: 30px 0;
  position: relative;
  &__title {
    margin-bottom: 3.646vw;
    text-align: center;
  }
  &--flex {
    display: flex;
  }
  &__macbook {
    position: absolute;
    width: 57vw;
    left: 4vw;
    top: 6.5vw;
    &-btn {
      @include videoBtn;
      top: 12vw;
      left: 21vw;
      & span {
        padding: 1.5vw;
      }
    }
    &-text {
      position: absolute;
      font: $fontMuseoSansCyrlLight_18;
      color: $colorRozeDark;
      width: 7.854vw;
      text-align: right;
      top: 5vw;
      right: 19vw;
    }
    &-line {
      position: absolute;
      left: -6vw;
      top: 1vw;
      width: 7vw;
    }
  }
  &__content {
    &-row {
      display: flex;
    }
    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
