* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "MuseoSansCyrl";
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;

  align-self: center;
}

.container {
  padding: 0 9.375vw;
  margin: 0 auto;
}

///////
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/*.qa__content details>div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}*/
details>div {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.showDet {
  & summary {
    & span {
      transform: rotate(180deg) translate(0, -2.5rem) !important;
    }
  }
}

.showDet2 {
  & summary {
    & span {
      transform: rotate(0deg) !important;
    }
  }
}

.showDet3 {
  & summary {
    & span {
      transform: rotate(270deg) !important;
    }
  }
}

.pad1 {
  padding-bottom: 20px;
}


/////////////
@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/fonts";
//general style
@import "scss/wawes.scss";
//main style
@import "scss/header.scss";
@import "scss/main.scss";
@import "scss/relocation.scss";
@import "scss/services.scss";
@import "scss/work.scss";
@import "scss/qualification.scss";
@import "scss/reviews.scss";
@import "scss/wait.scss";
@import "scss/request.scss";
@import "scss/paper.scss";
@import "scss/footer.scss";
//depilation style
@import "scss/dep/main.scss";
@import "scss/dep/save.scss";
@import "scss/dep/facts.scss";
@import "scss/dep/pain.scss";
@import "scss/dep/price.scss";
@import "scss/dep/request.scss";
@import "scss/dep/complex.scss";
@import "scss/dep/qa.scss";
@import "scss/dep/online.scss";
@import "scss/dep/learn.scss";
//masage style
@import "scss/masage/main.scss";
@import "scss/masage/indications.scss";
@import "scss/masage/benefit.scss";
@import "scss/masage/effect.scss";
@import "scss/masage/result.scss";
@import "scss/masage/watch.scss";
@import "scss/masage/cost.scss";
@import "scss/masage/warning.scss";
@import "scss/masage/online.scss";
@import "scss/masage/master.scss";
@import "scss/masage/reviews.scss";
//catalog style
@import "scss/catalog/main.scss";
@import "scss/catalog/cosmetic.scss";
@import "scss/catalog/order.scss";
@import "scss/catalog/materials.scss";
//about
@import "scss/about/aboutDescr.scss";
@import "scss/about/same.scss";
@import "scss/about/screenshots.scss";
@import "scss/about/video.scss";
@import "scss/about/team.scss";
//learn style
@import "scss/learn/main.scss";
@import "scss/learn/cost.scss";
@import "scss/learn/graduate.scss";
@import "scss/learn/joy.scss";
@import "scss/learn/look.scss";
@import "scss/learn/programm.scss";
@import "scss/learn/request.scss";
@import "scss/learn/who.scss";
//papers style
@import "scss/papers/papers.scss";
//paperName style
@import "scss/paperName/paperName.scss";
//contact style
@import "scss/contact/description.scss";
//components style
@import "components/popup/popup.scss";
@import "components/map/map.scss";
@import "components/blur/blur.scss";
@import "components/titleFade/titleFade.scss";
@import "components/burger/burger.scss";
//lib style
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~fancyselect/style.css";
//media
@import "scss/media.scss";