@media (max-width:575px) and (min-width:320px){

    .col-xs-12 {
        width: 100%;
    }
    .col-xs-6 {
        width: 50px;
    }
    * {
        flex-wrap: wrap;
        font-size: 12px;
    }
    .container {
        width: 100%;
        padding: 0 15px;
    }
//header
    .header__content-button {
        right: 15px;
    }
//nav
    .nav__menu {
        width: inherit;
    }
//banner    
    .banner__descr-button {
        & button {
            padding:10px 30px ;
        }
    }
//about
    .about__descr {
        margin-top: 20px;
        text-align: center;
    }
//works
    .works__img {
        margin-right: 0;
    }
//services
    .services__descr-flex {
        margin-bottom: 0;
        &>div {
            margin-bottom: 15px;
        }
    }
    .services__descr-margin {
        margin-left: 10px;
    }
    .services__descr-text {
        margin-right: 0;
        margin-bottom: 0;
    }    
//team
    .team__content {
        margin-right: 0;
    }
    .team__descr {
        right: 15px;
    }
//says
    .says__slider-descr {
        padding: 30px 20px;
        margin-top: 15px;
    }
    .says__slider-btn button {
        padding: 15px;
    }
//companies
    .companies-flex {
        justify-content: space-around;
    }
//contact
    .contact__form {
        margin-right: 0;
        margin-bottom: 10px;
    }
}