<!DOCTYPE html>
<html>

<head lang="ru">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Test</title>

</head>

<body>
	{{> _partials/header}}
	{{> _partials/main}}
	{{> _partials/requests}}
	{{> _partials/styles}}
	{{> _partials/quiz}}
	{{> _partials/popular}}
	{{> _partials/about}}
	{{> _partials/today}}
	{{> _partials/team}}
	{{> _partials/cases}}
	{{> _partials/footer}}
	{{> _partials/popupForm}}
	{{> _partials/popupTy}}
	{{> _partials/popupStyle}}
	{{> _partials/popupPopular}}

</body>

</html>