.call {
  @include adap(margin-top, 30px, 65px);
  @include adap(padding-top, 30px, 60px);
  @include adap(padding-bottom, 30px, 90px);
  @include adap(padding-right, 30px, 115px);
  position: relative;
  background-color: #f5f7f6;
  &__title {
    &-wrap {
      & p:last-of-type {
        & img {
          width: vw(20px);
        }
      }
    }
    &-sub {
      @include adap(margin-top, 10px, 70px);
      display: flex;
      justify-content: space-between;
    }
    &-wrap {
      text-align: end;
      & p:last-of-type {
        @include adap(margin-top, 5px, 15px);
      }
      & img {
        margin-right: 5px;
      }
    }
  }
  &__men {
    display: flex;
    bottom: 0vw;
    position: absolute;
    left: 37vw;
    & img {
      width: vw(320px);
    }
    &-name {
      @include names(vw(70px), vw(-70px));
    }
  }
  &--flex {
    justify-content: space-between;
  }
  & .input-w {
    background-color: #fff;
  }
  & form {
    & button {
      @include adap(margin-bottom, 10px, 40px);
    }
  }
}
