.header {
  &_blurRight {
    position: absolute;
    top: 4vw;
    right: -8vw;
    max-width: 15.625vw;
  }
}
.main {
  &__descr {
    &_blurLeft {
      position: absolute;
      top: -3vw;
      left: -10vw;
      max-width: 15.625vw;
      z-index: -1;
    }
  }
}
@keyframes transform-shiver {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: translate(-5px, 0px) rotate(0deg);
    transform: translate(-5px, 0px) rotate(0deg);
  }

  75% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
    transform: translate(5px, 0px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes transform-shiver2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: translate(5px, 0px) rotate(0deg);
    transform: translate(5px, 0px) rotate(0deg);
  }

  75% {
    -webkit-transform: translate(-5px, 0px) rotate(0deg);
    transform: translate(-5px, 0px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.blur {
  //animation: transform-shiver 4000ms linear 0ms infinite normal both;
}
.blur2 {
  //animation: transform-shiver2 3000ms linear 0ms infinite normal both;
}
