.companies {
    padding: $paddingSection60;
}
.companies-flex {
    display: flex;
    justify-content: center;
    align-items:center;
}
.companies-img {
    display: flex;
    justify-content: center;
}