<div class="popupSty" id="mod">
	<div class="popupSty-wrap">
		<div class="popupSty__imgs">
			<div class="popupSty__imgs-big">
				{{!-- <a href="img/styles/mod/img2.jpg" data-fancybox="mod"><img class="lazyVis"
								data-src="img/styles/mod/img2.jpg" alt=""></a> --}}
			</div>
			<div class="popupSty__imgs-sm">
				{{!-- <a href="img/styles/mod/img3.jpg" data-fancybox="mod"><img class="lazyVis"
								data-src="img/styles/mod/img3.jpg" alt=""></a>
						<a href="img/styles/mod/img4.jpg" data-fancybox="mod"><img class="lazyVis"
								data-src="img/styles/mod/img4.jpg" alt=""></a>
						<a href="img/styles/mod/img5.jpg" data-fancybox="mod"><img class="lazyVis"
								data-src="img/styles/mod/img5.jpg" alt=""></a>
						<a href="img/styles/mod/img1.png" data-fancybox="mod"><img class="lazyVis"
								data-src="img/styles/mod/img1.png" alt=""></a> --}}
			</div>
		</div>
		<div class="popupSty__descr">
			<div class="popupSty__descr-content">
				<p class="popupSty__descr-title txt24 bold">Модерн</p>
				<p class="popupSty__descr-txt txt18 med">Большинство современных кухонь тяготеет к стилю модерн.
					И неудивительно – дизайн в этом стиле отвечает динамичности
					современной жизни. Для модерна характерны отсутствие строгих
					линий и тяга к асимметрии. При этом функциональность
					и рациональность ему совсем не чужды.
					Модерн приемлет пластик, стекло, металл, яркость красок
					и разнообразие форм. Освещение может быть совершенно разным
					– для модерна одинаково характерны оригинальные абажуры
					с плавными формами и асимметричной конструкцией
					и точечные светильники.
				</p>
				<p class="popupSty__descr-txt txt18 med">Оставьте заявку, если вам понравился данный стиль. Наш
					дизайнер сделает небольшую подборку наших работ схожих
					с этой и подарит скидку 10%
				</p>
			</div>
			<form action="">
				<input type="hidden" name="title" value="Форма стиля модерн">
				<span class="input-wrap">
					<input name="phone" class="inputTel" required class="txt18" type="tel"
						placeholder="Введите ваш телефон">
				</span>
				<span class="input-wrap">
					<input name="name" required class="txt18" type="name" placeholder="Введите ваше имя">
				</span>
				<span class="btn-wrap">
					<button class="txt20 fontAb mainBtn">ОСТАВИТЬ ЗАЯВКУ </button>
				</span>
			</form>
		</div>
	</div>
	<div class="close-wrap">
		<span class="popupSty--close close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512"
				viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg">
				<path fill="#eeab09"
					d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
			</svg></span>
	</div>
</div>