 <section class="services" id="services">
        <div class="container">
            <div class="servicec__title title">
                <h2>OUR SERVICES</h2>
                <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR, ADIPISICING ELIT.</p>
            </div>
            <div class="services__descr">
                <div class="row">
                    <div class="services__descr-flex">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-1">
                                <div class="services__descr-margin">
                                    <h3>DESIGN IS THE COOL LOVE FOR</h3>
                                    <p>Our most popular service is our we know that sometimes it’s something and you
                                        middle
                                        most
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>
                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-2">
                                <div class="services__descr-margin">
                                    <h3>COOL PSD DESIGN</h3>
                                    <p>Our most popular service is our we know that sometimes it’s something and you
                                        middle
                                        most
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>
                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="services__descr-flex">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-3">
                                <div class="services__descr-margin">
                                    <h3>DESIGNING IS THE COOL</h3>
                                    <p>Our most popular service is our Virtual Receptionist. We know that
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>

                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-4">
                                <div class="services__descr-margin">
                                    <h3>PSD TO HTML KORT</h3>
                                    <p>We know that sometimes it’s something and you middle most
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>

                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="services__descr-flex">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-5">
                                <div class="services__descr-margin">
                                    <h3>COOL PSD DESIGN</h3>
                                    <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s
                                        something and you
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>
                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div class="services__descr-text services-background-6">
                                <div class="services__descr-margin">
                                    <h3>DEIGNING IS THE COOL FOR</h3>
                                    <p>Our most popular service is our new virtual Receptionist you middle most
                                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi eum
                                            veritatis inventore placeat quas ex ducimus numquam, deleniti
                                            doloribus.</span>

                                    </p>
                                    <button>KNOW MORE<svg width="22px" height="15px">
                                            <path fill-rule="evenodd" opacity="0.702" fill="rgb(255, 255, 255)"
                                                d="M21.000,8.027 L21.000,8.998 L20.366,8.998 L13.371,14.998 L12.685,14.270 L12.000,13.542 L17.297,8.998 L-0.000,8.998 L-0.000,7.998 L-0.000,6.998 L17.729,6.998 L12.612,2.400 L13.281,1.657 L13.949,0.912 L20.722,6.998 L21.000,6.998 L21.000,7.248 L21.387,7.596 L21.000,8.027 Z" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>