<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="wrapper_background">
        {{> _partials/header}}
        {{> _partialsContact/description}}
        {{> _partials/footer}}
        {{> _partials/popup}}
    </div>
</body>

</html>