<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../img/favicon.png">
    <title>Pincet</title>

</head>

<body>
    <div class="learn-wraper">
        {{> _partials/header}}
        {{> _partialsLearn/main}}
    </div>
    {{> _partialsLearn/who}}
    {{> _partialsLearn/programm}}
    {{> _partialsLearn/look}}
    {{> _partialsLearn/cost}}
    {{> _partialsLearn/graduate}}
    {{> _partialsLearn/joy}}
    {{> _partialsLearn/request}}
    {{> _partials/footer}}
    {{> _partials/popup}}

</body>

</html>