<section class="features">
    <div class="container">
        <div class="features__title section__title">
            <div class="features__title--uptext section__title--uptext">
                <p>NEW FEATURES</p>
            </div>
            <div class="features__title--head section__title--head">
                <h2>Some awesome features</h2>
            </div>
        </div>
        <div class="row">
            <div class="features--flex">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features__descr">
                        <div class="features__descr--img">
                            <img src="img/featuresPicture.png" alt="picture">
                        </div>
                        <div class="features__descr--head">
                            <h3>Some awesome features</h3>
                        </div>
                        <div class="features__descr--main">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam reiciendis minima ipsam
                                fugit inventore possimus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features__descr">
                        <div class="features__descr--img">
                            <img src="img/featuresAirplane.png" alt="airplane">
                        </div>
                        <div class="features__descr--head">
                            <h3>Some awesome features</h3>
                        </div>
                        <div class="features__descr--main">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam reiciendis minima ipsam
                                fugit inventore possimus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features__descr">
                        <div class="features__descr--img">
                            <img src="img/featuresBulb.png" alt="bulb">
                        </div>
                        <div class="features__descr--head">
                            <h3>Some awesome features</h3>
                        </div>
                        <div class="features__descr--main">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam reiciendis minima ipsam
                                fugit inventore possimus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>