<section class="clients">
    <div class="container">
        <div class="row">
            <div class="clients--flex">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="clients__item">
                        <div class="clients__item--img">
                            <img src="img/clientsProfile.png" alt="profile">
                        </div>
                        <div class="clients__item--name">
                            <a href="#">Mr.Smith</a>
                        </div>
                        <div class="clients__item--downtext">
                            <p>Co Founder</p>
                        </div>
                        <div class="clients__item--main">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum excepturi enim, alias
                                non
                                aliquam iure ipsum?</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="clients__item">
                        <div class="clients__item--img">
                            <img src="img/clientsProfile.png" alt="profile">
                        </div>
                        <div class="clients__item--name">
                            <a href="#">Mr.Smith</a>
                        </div>
                        <div class="clients__item--downtext">
                            <p>Co Founder</p>
                        </div>
                        <div class="clients__item--main">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum excepturi enim, alias
                                non
                                aliquam iure ipsum?</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="clients__item">
                        <div class="clients__item--img">
                            <img src="img/clientsProfile.png" alt="profile">
                        </div>
                        <div class="clients__item--name">
                            <a href="#">Mr.Smith</a>
                        </div>
                        <div class="clients__item--downtext">
                            <p>Co Founder</p>
                        </div>
                        <div class="clients__item--main">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum excepturi enim, alias
                                non
                                aliquam iure ipsum?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="clients--flex">
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <div class="clients__companies">
                        <div class="clients__companies--img">
                            <a href=""><img src="img/clientsLogo1.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <div class="clients__companies">
                        <div class="clients__companies--img">
                            <a href=""><img src="img/clientsLogo2.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <div class="clients__companies">
                        <div class="clients__companies--img">
                            <a href=""><img src="img/clientsLogo1.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <div class="clients__companies">
                        <div class="clients__companies--img">
                            <a href=""><img src="img/clientsLogo2.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                    <div class="clients__companies">
                        <div class="clients__companies--img">
                            <a href=""><img src="img/clientsLogo1.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>