<header class="header">
    <div class="container">
        <div class="header__background"></div>
        <div class="header__descr">
            <h1>There is no other platforms for you as like</h1>
        </div>
        <div class="header__video">
            <div class="header__iframe">
                <iframe src="https://www.youtube.com/embed/tTyMVwdyaE4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <button class="header__video--btn">
                <svg width="20px" height="20px">
                    <path fill-rule="evenodd" fill="rgb(244, 245, 247)"
                        d="M17.000,9.500 L0.000,19.000 L0.000,-0.000 L17.000,9.500 Z" />
                </svg>
            </button>
        </div>
        <div class="header__action">
            <a class="header__action--btn" href="#try">Try now</a>
            <p class="header__action--descr">*No need to add cards detail</p>
        </div>
    </div>
</header>