.result {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  &__title {
    text-align: center;
    margin-bottom: 6.771vw;
    @include lg_900 {
      margin-top: 5rem;
    }
    @include md_767 {
      margin-top: 5rem;
    }
    @include sm_567 {
      margin-top: 5rem;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-item {
      display: flex;
      @include lg_900 {
        margin-top: 3rem;
      }
      @include md_767 {
        margin-top: 3rem;
      }
      @include sm_567 {
        margin-top: 3rem;
      }
    }
    & div:nth-of-type(2) {
      margin-right: 0;
    }
    &-before {
      position: relative;
      & p {
        position: absolute;
        top: -2vw;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        @include lg_900 {
          top: -2rem;
        }
        @include md_767 {
          top: -2rem;
        }
        @include sm_567 {
          top: -2rem;
        }
      }
    }
    &-after {
      position: relative;
      & p {
        position: absolute;
        top: -2vw;
        text-align: center;
        transform: translate(-50%);
        left: 50%;
        width: 100%;
        border-radius: 7px;
        background: linear-gradient(to top, #905fbd, #d2a7f1);
        padding: 0.6vw 1vw;
        color: #fff;
        width: 14.833vw;
        @include lg_900 {
          width: 22rem;
          top: -2rem;
        }
        @include md_767 {
          width: 22rem;
          top: -2rem;
        }
        @include sm_567 {
          width: 15rem;
          top: -2rem;
        }
      }
    }
  }
  &__blur {
    position: absolute;
    right: -7vw;
    bottom: -12vw;
    z-index: -1;
    @include lg_900 {
      width: 13rem;
    }
    @include md_767 {
      width: 13rem;
    }
    @include sm_567 {
      width: 13rem;
    }
  }
  &__leaves {
    position: absolute;
    left: 0;
    top: -15vw;
    @include lg_900 {
      width: 3rem;
    }
    @include md_767 {
      width: 3rem;
    }
    @include sm_567 {
      width: 3rem;
    }
  }
}
