@import "functions";

$font-base: "Inter", sans-serif;

//--------------------------------------
// Primary Colors
//--------------------------------------
$prim: #1a181d;
$second: #939393;
$white: #fff;
$inpColor: #a4a4a4;
$bordColor: #adadad;
//--------------------------------------
// Main colors
//--------------------------------------

//--------------------------------------
// Metrics
//--------------------------------------
