<nav class="bread">
    <ul class="bread__menu">
        <li class="bread__menu-item">
            Home
        </li>
        <li class="bread__menu-item">
            Products
        </li>
        <li class="bread__menu-item">
            XYZ
        </li>
        <li class="bread__menu-item">
            Features
        </li>
    </ul>
</nav>