<nav class="bread">
    <ul class="bread__menu">
        <li class="bread__menu-item">
            <a href="#">Home</a>
        </li>
        <li class="bread__menu-item">
            <a href="#">Products</a>
        </li>
        <li class="bread__menu-item">
            <a href="#">XYZ</a>
        </li>
        <li class="bread__menu-item">
           <a href="#"> Features</a>
        </li>
    </ul>
</nav>