<header class="header">
    <ul class="header__menu">
        <li class="header__menu-item">
            Home
        </li>
        <li class="header__menu-item">
            Products
        </li>
        <li class="header__menu-item">
            Company
        </li>
        <li class="header__menu-item">
            Blog
        </li>
    </ul>
</header>