<section class="main">
    <div class="container">
        <div class="main__content">
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
         <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic1.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic2.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
            <div class="main__content-item">
                <img src="img/pic3.jpg" alt="">
                <p class="main__content-subtitle">Sub Title</p>
            </div>
        </div>
    </div>
</section>