<section class="team" id="team">
        <div class="container">
            <div class="team__title title">
                <h2>SMALL TEAM</h2>
                <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT.</p>
            </div>
            <div class="row">
                <div class="team__content-flex">
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="img/team/team1.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="./img/team/team2.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="./img/team/team3.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="./img/team/team4.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="./img/team/team5.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="team__content">
                            <img src="./img/team/team1.jpg" alt="">
                            <div class="team__descr">
                                <h3>AL RAYHAN <span>/UI Designer</span></h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis officia eaque in!
                                    Animi, temporibus provident?</p>
                                <div class="team__descr-link">
                                    <a href="">
                                        <img src="./img/team/facebook.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/twitter.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/ball.svg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="./img/team/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>