<div class="alerts">
    <div>
<button class="alert">Alert</button>
<button class="alert__debuger">Alert debuger</button>
</div>
</div>

<div class="types">
    <div>
<button class="string">String</button>
<button class="number"> 42</button>
<button class="boolean">Boolean</button>
<button class="object">Object</button>
<button class="undefined">Undefined</button>    
<button class="null">Null</button>
</div>
</div>
<p>Здесь можно потыкать на кнопки переменных, чтобы увидеть результат</p>
<div class="logic">
    <button class="logic__string">If string</button>
    <button class="logic__number">If number</button>
    <button class="logic__boolean">If boolean</button>
    <button class="logic__object">If object</button>
    <button class="logic__undefined">If undefined</button>
    <button class="logic__null">If null</button>
</div>
<p>Если верхние кнопочки нажимались, то перезагрузи страницу, чтобы с нижними не было проблем=)</p>
<div class="math">
    <div class="string">
<button class="string__string">String + String</button>
<button class="string__number">String + Number</button>
<button class="string__boolean">String + Boolean</button>
<button class="string__object">String + Object</button>
<button class="string__undefined">String + Undefined</button>
<button class="string__null">String + Null</button>
</div>
<div class="number">
<button class="number__number">Number + Number</button>
<button class="number__boolean">Number + Boolean</button>
<button class="number__object">Number + Object</button>
<button class="number__undefined">Number + Undefined</button>
<button class="number__null">Number + Null</button>
</div>
<div class="boolean">
<button class="boolean__boolean">Boolean + Boolean</button>
<button class="boolean__object">Boolean + Object</button>
<button class="boolean__undefined">Boolean + Undefined</button>
<button class="boolean__null">Boolean + Null</button>
</div>
<div class="object">
<button class="object__object">Object + Object</button>
<button class="object__undefined">Object + Undefined</button>
<button class="object__null">Object + Null</button>
</div>
<div class="undefined">
    <button class="undefined__undefined">Undefined + Undefined</button>
    <button class="undefined__null">Undefined + Null</button>
</div>
<!--<div class="nullNull">
    <button class="null_null">Null + Null</button>
</div>-->
</div>
