.variant {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  @include adap(padding-top, 30px, 80px);
  @include adap(padding-bottom, 30px, 95px);
  padding-left: vw(195px);
  padding-right: vw(195px);
  background: #ecefee;
  @include md_900 {
    position: static;
    padding: 3rem !important;
  }
  &__title {
    @include adap(margin-bottom, 30px, 60px);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @include md_900 {
      flex-wrap: wrap;
    }
    &-item {
      padding: vw(30px) vw(25px);
      border-radius: 15px;
      background: #fff;
      @include md_900 {
        padding: 1rem 1rem 2rem 1rem;
      }
      & > p {
        @include adap(margin-bottom, 10px, 15px);
        text-transform: uppercase;
      }
      &:nth-of-type(2) {
        background: #272f42;
        padding-top: vw(15px);
        width: vw(520px);
        @include md_900 {
          width: 55%;
          order: -1;
          margin: 0 auto;
        }
        @include xs_500 {
          width: 100%;
        }
        & span {
          color: #fff;
        }
        & > p {
          display: flex;
          align-items: center;
          & img {
            margin-right: 5px;
          }
        }
        & a {
          height: vw(65px);
          width: 100%;
          margin-top: vw(20px);
          text-transform: uppercase;
          @include md_900 {
            height: 5rem;
            margin-top: 2rem;
          }
        }
      }
      &:nth-of-type(2n + 1) {
        @include adap(margin-top, 30px, 70px);
        width: vw(413px);
        height: 100%;
        @include md_900 {
          width: 48%;
        }
        @include xs_500 {
          width: 100%;
        }
      }
      &:last-of-type {
        border: 4px solid #000;
      }
    }
    &-order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: vw(20px);
      @include md_900 {
        margin-top: 1rem;
      }
      @include sm_700 {
        display: flex;
        flex-direction: column;
      }
      & a {
        width: vw(160px);
        height: vw(65px);
        text-transform: uppercase;
        @include md_900 {
          width: 14rem;
          height: 5rem;
        }
        @include sm_700 {
          margin-top: 1rem;
          width: 20rem;
        }
      }
    }
    &-list {
      margin-top: vw(20px);
      margin-left: vw(20px);
      @include md_900 {
        margin: 2rem 0 0 2rem;
      }
      & ul {
        list-style-type: disc;
        color: #f9817b;
      }
      & span {
        color: #282828;
      }
    }
  }
}
// html {
//   height: 100%;
//   overflow: hidden;
// }

// body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   perspective: 1px;
// }

// .parala {
//   position: relative;
//   width: 100%;
//   box-sizing: border-box;
//   background: 50% 50% / cover;
//   z-index: 2;
// }
// .parala2 {
//   transform: translateZ(-1px) scale(2);
//   z-index: 1;
// }
