<div class="container">
    <div class="list">
    </div>
    <div class="filters">
        <div class="filters__search--name">
            <label for="seatch">Name search</label>
            <input class="name--search" type="search" name="search">
        </div>
        <div class="filters__checkbox--eye">
        </div>
        <div class="filters__age">
            from
            <input class="ageFrom--input" type="number">
            to
            <input class="ageTo--input" type="number">
        </div>
        <div class="filters__radio--fruit">
        </div>
        <div class="filters__range--balance">
            <input class="balance--range" type="range" min="0" max="4000" step="0.01" value="0">
        </div>
        <div class="submit">
            <button class="filters__submit">Submit</button>
        </div>
    </div>
</div>