<div class="container">
    <div class="list">
        <div class="list__select-city">
        </div>
        <div class="list-flex">
        </div>
        <div class="list__companies">
        </div>
    </div>
</div>