.types {
	position: relative;

	&__title {
		text-align: center;
	}

	&__tabBtns {
		display: flex;
		text-align: center;

		@include md_900 {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		@include xs_500 {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	&__tabBtn {
		padding: get-vw(40px) 0 get-vw(33px) 0;
		margin-top: get-vw(90px);
		width: 20%;
		//background: $blueGrad;
		border-radius: 10px;
		position: relative;
		color: $white;
		overflow: hidden;
		transition: all 0.3s ease;
		border: 1px solid rgba(176, 183, 199, 0.35);
		color: black;
		font-weight: 300;

		@include md_900 {
			padding: 15px 5px;
			width: 20%;
			height: 100px;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include xs_500 {
			/* padding: 15px 5px; */
			width: 45%;
			/* margin-top: 15px; */
		}

		&:hover {
			background: $blueGrad;
			box-shadow: inset 0 -4px 1px #2186cd;
			color: #fff;
		}
	}

	&__tab {
		display: flex;
		padding: get-vw(60px);
		padding-right: get-vw(150px);
		background-color: $back;
		margin-top: get-vw(80px);
		border-radius: 10px;

		@include md_900 {
			flex-wrap: wrap;
			padding: 0;
			margin-top: 40px;
			background-color: unset;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			justify-content: center;
		}

		/* @include xs_500 {
			 flex-wrap: wrap;
			padding: 0;
			margin-top: 40px;
			background-color: unset;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			justify-content: center; 
		} */
	}

	&__slider {
		width: get-vw(612px);
		height: get-vw(396px);

		@include md_900 {
			width: auto;
			height: auto;
		}

		/* @include xs_500 {
			width: auto;
			height: auto;
		} */

		&-wrap {
			position: relative;
			margin-right: get-vw(50px);
			display: flex;
			align-items: center;

			@include md_900 {
				margin-right: 0;
				margin-bottom: 20px;
				padding: 15px 15px 0 15px;
			}

			@include xs_500 {
				/* margin-right: 0;
				margin-bottom: 20px; */
				padding: 5px 5px 0 5px;
			}

		}
	}

	&__descr {
		position: relative;

		@include md_900 {
			padding: 0 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&>p:first-of-type {
				width: 50%;
			}

			&>p:last-of-type {
				width: 100%;
				margin-top: 20px;
			}
		}

		@include xs_500 {
			padding: 0 5px;
			display: block;

			&>p:first-of-type {
				width: auto;
			}

			&>p:last-of-type {
				width: auto;
				margin-top: 0;
			}
		}

		&-param {
			margin: get-vw(35px) 0 get-vw(25px) 0;

			@include md_900 {
				margin: 0;
				width: auto;
			}

			@include xs_500 {
				margin: 15px 0 15px 0;

			}
		}

		&-item {
			display: flex;
			margin-bottom: get-vw(15px);

			@include md_900 {
				margin-bottom: 10px;
				justify-content: space-between;
			}

			@include xs_500 {
				margin-bottom: 10px;
				justify-content: space-between;
			}


			& p {
				margin-right: get-vw(25px);
				width: get-vw(220px);

				@include md_900 {
					margin-right: 10px;
					width: auto;
					flex: 1 1 0%;
				}

				@include xs_500 {
					margin-right: 10px;
					width: auto;
					flex: 1 1 0%;
				}
			}
		}

		&-stars {
			@include md_900 {
				margin-right: 10px;
			}

			@include xs_500 {
				margin-right: 10px;
			}

			& span {
				margin-right: 5px;

				& img {
					@include md_900 {
						width: 15px;
					}

					@include xs_500 {
						width: 15px;
					}
				}
			}
		}

		&-btns {
			margin-top: get-vw(60px);
			display: flex;
			align-items: center;

			@include md_900 {
				margin-top: 30px;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				margin-bottom: 30px;
			}

			@include xs_500 {
				margin-top: 30px;
				flex-wrap: wrap;
				justify-content: center;
				width: auto;
				margin-bottom: 0;
			}
		}

		&-orderBtn {
			margin-right: get-vw(40px);

			@include md_900 {
				margin-right: 20px;
			}

			@include xs_500 {
				margin-right: 20px;
			}

			& button {
				width: get-vw(220px);

				@include md_900 {
					width: auto;
				}

				@include xs_500 {
					width: auto;
				}
			}
		}

		&-moreBtn {
			cursor: pointer;
		}

		&-slideBtns {
			position: absolute;
			right: -10%;

			@include md_900 {
				margin-top: 20px;
				margin-bottom: 20px;
				width: auto;
				position: absolute;
				right: 10px;
			}

			@include xs_500 {
				width: 100%;
				position: static;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&-leftTree {
		position: absolute;
		width: get-vw(211px);
		left: 0;
		top: 20%;
	}

	&-rightTree {
		position: absolute;
		width: get-vw(220px);
		right: 0;
		bottom: -40%;
	}
}