@import "functions";

$font-base: "MuseoSansCyrl", sans-serif;

//--------------------------------------
// Primary Colors
//--------------------------------------

$mainColor: #f0318a;
$blackColor: #232323;
$blackColorLight: #454545;
//--------------------------------------
// Fonts
//--------------------------------------

//--------------------------------------
// Metrics
//--------------------------------------
