 <section class="companies" id="companies">
        <div class="container">
            <div class="row">
                <div class="companies-flex">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/rko.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/aoudiopro.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/infinity.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="companies-flex">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/sport.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/swan.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/swanser.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/aoudiopro.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/infinity.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        <div class="companies-img">
                            <img class="companies-img" src="./img/companies/rko.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>