 <section class="works" id="works">
        <div class="container">
            <div class="works__title title">
                <h2>FEATURED WORKS</h1>
                    <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT.</p>
            </div>
            <div class="row">
                    <div class="works__img-flex">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg1.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg2.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg3.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg4.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg5.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="works__img">
                                <a href=""><img src="./img/works/worksImg6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>