@import "functions";

//--------------------------------------
// Fonts
//--------------------------------------

$h2FontTitle:700 2.375rem 'Montserrat';
$subTitle: 400 1.125rem 'Merriweather';
$h3Font:700 1.25rem 'Merriweather';
$textFont:400 1rem 'Raleway';

//--------------------------------------
// Primary Colors
//--------------------------------------

$colorMain:#eff0f2;
$colorGray:#f8fafa;
$colorAqua:#70f5ea;

//--------------------------------------
// Padding/margin
//--------------------------------------

$paddingBotTitle60:30px;
$paddingSection60:30px 0;
$marginBot15:15px;
$marginRight15:15px;

//--------------------------------------
// Metrics
//--------------------------------------
