.cost {
  background-image: url(../img/learn/cost/background.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 30px;
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 3vw;
  }
  &--flex {
    display: flex;
  }
  &--margin {
    margin-bottom: 8.854vw;
  }
  &__box {
    width: 15.104vw;
    margin: 0 auto;
    &-img {
      margin-bottom: 1.5vw;
    }
    &-descr {
      font: $fontMuseoSansCyrlLight_30;
      text-align: center;
      margin-bottom: 1.5vw;
    }
    &-time {
      @include daysPurple;
      margin-bottom: 1.5vw;
    }
    &-price {
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
        letter-spacing: 1.2px;
      }
      & p:nth-of-type(1) {
        color: $colorRozeDark;
        font: $fontMuseoSansCyrlBold_48;
        & span {
          font: $fontMuseoSansCyrlLight_30;
          margin-left: -15px;
        }
      }
      & p:nth-of-type(2) {
        font: $fontMuseoSansCyrlBold_36;
        margin-left: 1vw;
        & span {
          font: $fontMuseoSansCyrlLight_24;
        }
      }
    }
  }
  &__leavesTop {
    position: absolute;
    top: -2vw;
    right: 23vw;
  }
  &__leaves {
    position: absolute;
    bottom: 35vw;
    left: 0;
    width: 8vw;
  }
}
