.programm {
  padding: 30px 0;
  background-image: url(../img/learn/programm/background.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 3vw;
  }
  &__tabs {
    &--flex {
      display: flex;
      align-items: center;
      margin-bottom: 3vw;
    }
    &-item {
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      margin-right: 2vw;
      box-shadow: 1px -0.2px 109px 0 rgba(220, 178, 180, 0.25);
      width: 18.4vw;
      cursor: pointer;
      transition: all 0.3s linear;
      @include lg_900 {
        width: auto;
        margin: 0 1rem 1.5rem auto;
      }
      @include md_767 {
        width: auto;
        margin: 0 1rem 1.5rem auto;
      }
      @include sm_567 {
        width: 30rem;
        margin: 0 auto 1.5rem auto;
      }
      &:hover {
        background: linear-gradient(to top, #ee858c, #fabcbc);
      }
      &:hover .programm__tabs-inner {
        background: linear-gradient(to top, #ee858c, #fabcbc);
        border-color: #fff;
        box-shadow: 1px -0.2px 109px 0 rgba(220, 178, 180, 0.55);
      }
      &:hover .programm__tabs-descr {
        color: #fff;
      }
    }
    &-inner {
      display: flex;
      background-color: #fff;
      border: 1px dashed $colorRozeLighter;
      border-radius: 10px;
      align-items: center;
      padding: 2vw 1vw 1.5vw 1vw;
      position: relative;
      height: 9.844vw;
      transition: all 0.2s linear;
      @include lg_900 {
        height: 13rem;
        padding: 1rem;
      }
      @include md_767 {
        height: 13rem;
        padding: 1rem;
      }
      @include sm_567 {
        height: 13rem;
        padding: 1rem;
      }
    }
    &-img {
      position: absolute;
      top: 1.5vw;
      width: 6vw;
      left: 0.5vw;
      @include lg_900 {
        width: 12rem;
        position: static;
      }
      @include md_767 {
        width: 12rem;
        position: static;
      }
      @include sm_567 {
        width: 12rem;
        position: static;
      }
    }
    &-descr {
      font: $fontMuseoSansCyrlLight_24;
      margin-left: 6vw;
      transition: all 0.2s linear;
      @include lg_900 {
        width: 13rem;
      }
      @include md_767 {
        width: 13rem;
      }
      @include sm_567 {
        width: 13rem;
      }
    }
    &-sign {
      top: -1vw;
      right: 2vw;
      @include daysPurple;
      position: absolute;
      width: 9vw;
      @include lg_900 {
        padding: 1rem;
        width: auto;
      }
      @include md_767 {
        padding: 1rem;
        width: auto;
      }
      @include sm_567 {
        padding: 1rem;
        width: auto;
        & img {
          display: none;
        }
      }
    }
  }
  &__content {
    &-descr {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vw;
      &--title {
        margin: 0 auto;
        margin-bottom: 2vw;
        width: 60%;
        text-align: center;
      }
    }
    &-course {
      width: 48%;
      background-color: #fff;
      box-shadow: 1px -0.2px 150px 0 rgba(139, 117, 118, 0.1);
      border-radius: 10px;
      padding: 3.385vw 4.688vw 0 4.688vw;
      margin-left: 3.854vw;
      @include lg_900 {
        width: auto;
      }
      @include md_767 {
        width: auto;
      }
      @include sm_567 {
        width: auto;
      }
    }
    &-title {
      text-align: center;
    }
    &-days {
      margin-top: 2.604vw;
      &--title {
        display: flex;
        align-items: flex-end;
        & p:nth-of-type(1) {
          @include daysPurple;
          padding: 0.938vw 2.135vw;
          margin: 0;
          width: 9.479vw;
          font: $fontMuseoSansCyrlMed_19;
          margin-right: 3vw;
          margin-bottom: 10px;
          @include lg_900 {
            width: auto;
          }
          @include md_767 {
            width: auto;
          }
          @include sm_567 {
            width: auto;
          }
        }
        & p:nth-of-type(2) {
          font: $fontAppetite_100;
          color: $colorRozeLighter;
          line-height: 0;
          @include lg_900 {
            font-size: 6rem !important;
          }
          @include md_767 {
            font-size: 6rem !important;
          }
          @include sm_567 {
            font-size: 6rem !important;
          }
          & span {
            font: $fontAppetite_55;
            @include lg_900 {
              font-size: 4rem !important;
            }
            @include md_767 {
              font-size: 4rem !important;
            }
            @include sm_567 {
              font-size: 4rem !important;
            }
          }
        }
      }
      &--accordeon {
        margin-bottom: 1.5vw;
        & details {
          font: $fontMuseoSansCyrlLight_20;
          margin-bottom: 10px;
          & summary {
            font: $fontMuseoSansCyrlBold_20;
            cursor: pointer;
            margin-bottom: 10px;
            justify-content: end;
            align-items: center;
            & span {
              transform: rotate(270deg);
              margin-right: 10px;
              @include lg_900 {
                width: 2rem;
                display: inline-table;
              }
              @include md_767 {
                width: 2rem;
                display: inline-table;
              }
              @include sm_567 {
                width: 2rem;
                display: inline-table;
              }
            }
          }
        }
        & details[open] {
          & summary {
            span {
              transform: rotate(360deg);
            }
          }
        }
      }
      &--hidden {
        padding-left: 2vw;
      }
      &--result {
        border-bottom: 1px solid $colorRozeLighter;
        padding-bottom: 2.5vw;
        @include lg_900 {
          width: 60rem;
        }
        @include md_767 {
          width: 50rem;
        }
        & p:nth-of-type(1) {
          @include daysPurple;
          padding: 0.938vw 2.135vw;
          margin: 0;
          width: auto;
          font: $fontMuseoSansCyrlMed_19;
          margin-right: 3vw;
          margin-bottom: 10px;
          width: 9.479vw;
          @include lg_900 {
            width: 12rem;
          }
          @include md_767 {
            width: 10rem;
          }
          @include sm_567 {
            width: 8.8rem;
          }
        }
      }
      &--borderB {
        border: none;
      }
    }
    &-pluses {
      margin-left: 7.604vw;
      position: relative;
      @include lg_900 {
        margin-left: 0;
        margin-top: 2rem;
      }
      @include md_767 {
        margin-left: 0;
        margin-top: 2rem;
      }
      @include sm_567 {
        margin-left: 0;
        margin-top: 2rem;
      }
      & > div:nth-child(2n) {
        flex-direction: row-reverse;
        & .programm__content-pluses--descr:nth-of-type(2n) {
          margin-right: 3vw;
          margin-left: 0;
        }
      }
      &--img {
        width: 13vw;
        @include lg_900 {
          width: 25rem;
        }
        @include md_767 {
          width: 20rem;
        }
        @include sm_567 {
          width: 15rem;
        }
      }
      &--item {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 2vw;
      }
      &--descr {
        font: $fontMuseoSansCyrlLight_24;
        max-width: 16.885vw;
        margin-left: 3vw;
        @include lg_900 {
          width: 15rem;
          max-width: unset;
        }
        @include md_767 {
          width: 15rem;
          max-width: unset;
        }
        @include sm_567 {
          width: 15rem;
          max-width: unset;
        }
      }
      &--number {
        position: absolute;
        @include bigNumber;
        &-1 {
          left: -1vw;
          top: 4vw;
        }
        &-2 {
          right: 8vw;
          bottom: 1vw;
        }
        &-3 {
          left: -1vw;
          top: 4vw;
        }
        &-4 {
          right: 10vw;
          top: 2vw;
        }
        &-5 {
          left: -1vw;
          top: 6vw;
        }
      }
      &--leavesBig {
        position: absolute;
        top: 0;
        left: 5vw;
        @include lg_900 {
          width: 45rem;
        }
        @include md_767 {
          width: 40rem;
        }
        @include sm_567 {
          width: 35rem;
        }
      }
      &--leaveR {
        top: 27vw;
        position: absolute;
        right: -5vw;
        @include lg_900 {
          width: 5rem;
        }
        @include md_767 {
          width: 5rem;
        }
        @include sm_567 {
          width: 5rem;
        }
      }
    }
    &-master {
      position: relative;
      &--descr {
        width: 75%;
        margin-left: 9.115vw;
      }
      &--ul {
        & ul {
          list-style: none;
          & li {
            font: $fontMuseoSansCyrlLight_30;
            background-image: url(../img/learn/programm/check.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 2vw;
            background-size: 3%;
            @include lg_900 {
              padding-left: 2rem;
              background-size: auto;
            }
            @include md_767 {
              padding-left: 2rem;
              background-size: auto;
            }
            @include sm_567 {
              padding-left: 2rem;
              background-size: auto;
            }
          }
        }
      }
      &--img {
        position: relative;
        @include lg_900 {
          display: inline-block;
        }
        @include md_767 {
          display: inline-block;
        }
        @include sm_567 {
          display: inline-block;
        }
      }
      &--txtcenter {
        @include lg_900 {
          text-align: center;
        }
        @include md_767 {
          text-align: center;
        }
        @include sm_567 {
          text-align: center;
        }
      }
      &--name {
        @include nameCard;
        font: $fontMuseoSansCyrlBold_30;
        bottom: 4vw;
        right: 1vw;
        padding: 0.538vw 2.719vw;
        @include lg_900 {
          bottom: 9rem;
          right: 1rem;
        }
        @include md_767 {
          bottom: 9rem;
          right: 1rem;
        }
        @include sm_567 {
          bottom: 9rem;
          right: 1rem;
        }
      }
      &--rank {
        @include masterCard;
        font: $fontMuseoSansCyrlMed_15;
        bottom: 1.5vw;
        right: -1vw;
        @include lg_900 {
          bottom: 6rem;
          right: 0rem;
        }
        @include md_767 {
          bottom: 6rem;
          right: 0rem;
        }
        @include sm_567 {
          bottom: 6rem;
          right: 0rem;
        }
      }
      &--title {
        text-align: left;
        margin-bottom: 2vw;
      }
      &--branch {
        position: absolute;
        right: -10vw;
        top: -8vw;
        width: 25vw;
        @include lg_900 {
          width: 33rem;
        }
        @include md_767 {
          width: 23rem;
        }
        @include sm_567 {
          width: 14rem;
        }
      }
      &--leaves {
        position: absolute;
        top: 1vw;
        width: 5vw;
        right: -6vw;
        @include lg_900 {
          width: 5rem;
        }
        @include md_767 {
          width: 5rem;
        }
        @include sm_567 {
          width: 5rem;
        }
      }
      &--blurR {
        position: absolute;
        right: -18vw;
        top: -8vw;
        width: 22vw;
        @include lg_900 {
          width: 30rem;
        }
        @include md_767 {
          width: 25rem;
        }
        @include sm_567 {
          width: 12rem;
        }
      }
      &--leavesL {
        position: absolute;
        left: -10vw;
        top: 0vw;
        width: 6vw;
        @include lg_900 {
          width: 16rem;
        }
        @include md_767 {
          width: 12rem;
        }
        @include sm_567 {
          width: 7rem;
        }
      }
    }
    &-diplom {
      position: relative;
      &--title {
        text-align: left;
        margin-top: 11.198vw;
        @include lg_900 {
          text-align: center;
        }
        @include md_767 {
          text-align: center;
        }
        @include sm_567 {
          text-align: center;
        }
        & p {
          margin-top: 3vw;
        }
      }
      &--img {
        position: absolute;
        width: 70vw;
        top: -4vw;
        right: -26vw;
        @include lg_900 {
          width: 60rem;
          margin: 1.5rem auto 1.5rem auto;
          position: static;
        }
        @include md_767 {
          width: 50rem;
          margin: 1.5rem auto 1.5rem auto;
          position: static;
        }
        @include sm_567 {
          width: auto;
          margin-top: 1.5rem;
          position: static;
        }
      }
      &--leavesC {
        position: absolute;
        top: 1vw;
        left: 23vw;
        @include lg_900 {
          width: 11rem;
        }
        @include md_767 {
          width: 8rem;
        }
        @include sm_567 {
          width: 5rem;
          top: -1rem;
        }
      }
      &--blur {
        position: absolute;
        top: -2vw;
        left: -19vw;
        @include lg_900 {
          width: 10rem;
          z-index: -1;
        }
        @include md_767 {
          width: 10rem;
          z-index: -1;
        }
        @include sm_567 {
          width: 10rem;
          z-index: -1;
        }
      }
    }
    &-discount {
      margin-top: 15.625vw;
      @include lg_900 {
        margin-top: 2rem;
      }
      @include md_767 {
        margin-top: 2rem;
      }
      @include sm_567 {
        margin-top: 2rem;
      }
      &--img {
        position: relative;
        @include lg_900 {
          width: 30rem;
          margin: 0 auto;
        }
        @include md_767 {
          width: 30rem;
          margin: 0 auto;
        }
        @include sm_567 {
          width: 30rem;
          margin: 0 auto;
        }
      }
      &--number {
        @include bigNumber;
        position: absolute;
        right: -3vw;
        bottom: 4vw;
        @include lg_900 {
          font-size: 6rem;
        }
        @include md_767 {
          font-size: 6rem;
        }
        @include sm_567 {
          font-size: 6rem;
        }
      }
      &--title {
        text-align: left;
        width: 75%;
        @include lg_900 {
          text-align: center;
          width: auto;
        }
        @include md_767 {
          text-align: center;
          width: auto;
        }
        @include sm_567 {
          text-align: center;
          width: auto;
        }
        & p {
          margin-top: 3vw;
        }
      }
      & .programm--flex {
        justify-content: space-between;
      }
    }
  }
}
