<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    {{> _partials/banner }}
    {{> _partials/about }}
    {{> _partials/works }}
    {{> _partials/services }}
    {{> _partials/team }}
    {{> _partials/says }}
    {{> _partials/companies }}
    {{> _partials/contact }}
    {{> _partials/footer }}
</body>
</html>