<section class="advantages">
    <div class="container">
        <div class="row">
            <div class="advantages--flex">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="advantages__descr section__descr">
                        <div class="advantages__descr--uptext section__descr--uptext">
                            <p>NEW DESIGN</p>
                        </div>
                        <div class="advantages__descr--head section__descr--head">
                            <h2>There is no other platforms for you as like <span
                                    class="advantages__descr--dots section__descr--dots">....</span></h2>
                        </div>
                        <div class="advantages__descr--main section__descr--main">
                            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id
                                elit
                                non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem
                                malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
                            </p>
                            <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper
                                nulla
                                non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae
                                elit
                                libero, a pharetra augue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>