<div class="carousel">
    <div class="carousel--img">
        <img src="img/designMacbook.png" alt="Macbook">
    </div>
    <div class="carousel--img">
        <img src="img/designIphone.png" alt="Iphone">
    </div>
    <div class="carousel--img">
        <img src="img/designIpad.png" alt="Ipad">
    </div>
</div>