<section id="try" class="try">
    <div class="container">
        <div class="try__title section__title">
            <div class="try__title--uptext section__head--uptext">
                <p>New features</p>
            </div>
            <div class="try__title--head section__title--head">
                <h2>Over 1000 designers are using ...</h2>
            </div>
        </div>
        <div class="row">
            <div class="try__form">
                <form class="try--flex" action="">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <div class="try__form--input">
                            <input type="text" placeholder="FULL NAME">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <div class="try__form--input">
                            <input type="text" placeholder="YOUR EMAIL">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <div class="try__form--input">
                            <input type="text" placeholder="PASSWORD">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <div class="try__form--submit">
                            <button type="submit">TRY NOW</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="try__footer">
            <p>By Signing up you agree to our <a href="#"><u>terms&amp;Services.</a></u></p>
        </div>
    </div>
</section>