@import "functions";

//--------------------------------------
// Primary Colors
//--------------------------------------

$orangeGrad: linear-gradient(to top, #ff7c00, #f8c969);
$greenGrad: linear-gradient(to top, #02ad02, #74d16b);
$orange: #ff7c00;
$blueGrad: linear-gradient(to top, #379de4, #a8d2ef);
$txt: #444d65;
$blue: #379de4;
$back: #f4f9fc;
$white: #fff;
$smTxt:#b2b8c7;
$timeColor:#959db4;

//--------------------------------------
// Main colors
//--------------------------------------

//--------------------------------------
// Metrics
//--------------------------------------