* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Gilroy";
	font-size: 10px;
}

body {
	color: #444d65;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

ul {
	list-style: none;
}

input {
	outline: none;
}

button {
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

img {
	max-width: 100%;
	align-self: center;
}

.first {
	background-image: url(../img/main/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.second {
	background-image: url(../img/types/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

details {
	margin-bottom: get-vw(-30px);
}

details>summary {
	outline: none;
	border: none;
	position: relative;
}

details summary::-webkit-details-marker {
	display: none
}

.pad {
	padding-bottom: get-vw(30px);
}

details>div {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-out;
}

.showDet {
	& summary {
		& span>div {

			&:before {
				transform: rotate(180deg);
				background: #FFF;
			}

			&:after {
				transform: rotate(180deg);
				background: #FFF;
			}
		}
	}
}

.cl-btn-4 {
	width: 20px;
	height: 20px;
	box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	background: linear-gradient(to top, #02ad02, #74d16b);
	padding: 16px;
	margin: 20px auto;
	position: relative;
	display: block;
	z-index: 200;
	text-indent: -9999px;
	cursor: pointer;
}

.cl-btn-4:before,
.cl-btn-4:after {
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 48%;
	left: 25%;
	transform: rotate(0deg);
	transition: all 0.3s ease-out;
}

.cl-btn-4:after {
	transform: rotate(-90deg);
	transition: all 0.3s ease-out;
}

.fade-in {
	opacity: 1;
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
	-webkit-animation-duration: 1500ms;
	animation-duration: 1500ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: slide-up-in;
	animation-name: slide-up-in;
}

@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/fonts";

@import "scss/header.scss";
@import "scss/main.scss";
@import "scss/steps.scss";
@import "scss/types.scss";
@import "scss/reviews.scss";
@import "scss/objects.scss";
@import "scss/cost.scss";
@import "scss/partners.scss";
@import "scss/qa.scss";
@import "scss/contacts.scss";
@import "scss/footer.scss";
@import "scss/popupForm.scss";
@import "scss/popupMore.scss";
@import "scss/popupTerms.scss";
@import "scss/endForm.scss";
@import "scss/animations.scss";
//plugins styles
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";