<aside class="aside"> 
    <div class="container">
        <ul class="aside__menu">
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
            <li class="aside__menu-item">
                <a class="aside__menu-main icon icon-1" href="#">Use f for closed</a> 
                <ul class="aside__menu-sub"> 
                    <li class="icon icon-1"><a href="#">Sub 1</a></li> 
                    <li class="icon icon-2"><a href="#">Sub 2</a></li> 
                    <a class="aside__menu-main icon icon-3" href="#">Sub 3</a> 
                        <ul class="aside__menu-sub"> 
                            <li class="icon icon-1"><a href="#">SubSub1</a></li> 
                            <li><a href="#">SubSub2</a></li> 
                            <li><a href="#">SubSub3</a></li> 
                        </ul> 
                </ul>
            </li>
        </ul>
    </div>
</aside>
