<header class="header">
    <div class="container">
        <ul class="header__menu">
            <li class="header__menu-item">
                <a href="#">Home</a>
            </li>
            <li class="header__menu-item">
               <a href="#"> Products</a>
            </li>
            <li class="header__menu-item">
                <a href="#">Company</a>
            </li>
            <li class="header__menu-item">
                <a href="#">Blog</a>
            </li>
        </ul>
    </div>
</header>