 <section class="says" id="says">
        <div class="container">
            <div class="says__title title">
                <h2>WHAT THEY SAYS</h2>
                <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT.</p>
            </div>
            <div class="row">
                <div class="says__slider-flex">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="says__slider slider">
                            <div class="says__slider-img slider-img">
                                <img src="./img/says/says1.jpg" alt="">
                            </div>
                            <div class="says__slider-buttons slider-buttons">
                                <button></button>
                                <button></button>
                                <button></button>
                                <button></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="says__slider-descr">
                            <h3>Al RAYHAN <span>/UX/UI Designer</span></h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora rerum excepturi aperiam
                                esse sunt dolor dignissimos nostrum temporibus est repellat!</p>
                            <span><img src="./img/says/saysStar.png" alt=""></span>
                            <span><img src="./img/says/saysStar.png" alt=""></span>
                            <span><img src="./img/says/saysStar.png" alt=""></span>
                            <span><img src="./img/says/saysStar.png" alt=""></span>
                            <span><img src="./img/says/saysStar.png" alt=""></span>
                        </div>
                        <div class="says__slider-buttons">
                            <div class="says__slider-btn">
                                <button>
                                    <svg width="14px" height="15px">
                                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(0, 0, 0)"
                                            d="M14.000,14.999 L6.426,7.499 L14.000,-0.001 L7.575,-0.001 L-0.000,7.499 L7.575,14.999 L14.000,14.999 Z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="says__slider-btn">
                                <button>
                                    <svg width="14px" height="15px">
                                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(0, 0, 0)"
                                            d="M-0.000,14.999 L7.574,7.499 L-0.000,-0.001 L6.425,-0.001 L14.000,7.499 L6.425,14.999 L-0.000,14.999 Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>