<div class="learn">
    <div class="learn__wawe">
    </div>
    <div class="container">
        <div class="learn__title">
            <h2>
                Хочешь стать мастером <span class="light">
                    шугаринга и восковой
                    депиляции или
                </span> повысить квалификацию?
            </h2>
        </div>
        <div class="row">
            <div class="learn--flex">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="learn__diplom">
                        <img src="img/dep/learn/diplom.png" alt="">
                        <div class="learn__diplom-leave">
                            <img src="img/dep/learn/flower.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                    <div class="learn__descr">
                        <div class="learn__descr-title">
                            <p>Пройди <span class="bold">индивидуальное обучение</span> от студии PINCET
                                с выдачей официального сертфиката</p>
                        </div>
                        <div class="learn__descr-tabs">
                            <div class="learn__descr-btns">
                                <div class="learn__descr-btns--first">
                                    <div class="learn__descr-btns--wraper">
                                        <p>Первичное обучение</p>
                                    </div>
                                </div>
                                <div class="learn__descr-btns--second">
                                    <div class="learn__descr-btns--wraper">
                                        <p>Повышение квалификации</p>
                                    </div>
                                </div>
                            </div>
                            <div class="learn__descr-content">
                                <div class="learn__descr-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum
                                    </p>
                                    <ul>
                                        <li>Модели и расходные материалы предоставляются бесплатно;
                                        </li>
                                        <li>Зоны обучения: бикини, подмышки, ноги и руки!</li>
                                        <li>После обучения мы выдаем сертификат
                                            подтверждающий ваш статус!</li>
                                    </ul>
                                </div>
                                <div class="learn__descr-clarification">
                                    <div class="learn__descr-clarification--top">
                                        <div class="learn__descr-clarification--text">
                                            <p>
                                                Срок обучения
                                            </p>
                                        </div>
                                        <div class="learn__descr-clarification--img">
                                            <p>2 дня</p>
                                            <img src="img/dep/learn/clock.png" alt="">
                                        </div>
                                    </div>
                                    <div class="learn__descr-clarification--bottom">
                                        <div class="learn__descr-clarification--img">
                                            <p>65 <br>руб</p>
                                            <img src="img/dep/learn/book.png" alt="">
                                        </div>
                                        <div class="learn__descr-clarification--text">
                                            <p>
                                                Стоимость
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>