<div class="online">
    <div class="container">
        <div class="online__title">
            <h2><span class="light">
                    Запишитесь
                    на первую процедуру
                </span></h2>
            <div class="online__title-img">
                <img src="img/dep/online" alt="">
            </div>
        </div>
        <div class="row">
            <div class="online--flex">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="online__request">
                        <div class="request" id="request">
                            <div class="request__form">
                                <div class="request__form-inputs">
                                    <div class="request__form-name">
                                        <input type="text" id="name" placeholder="Как вас зовут">
                                    </div>
                                    <div class="request__form-tel">
                                        <input id="inputTel" type="tel" id="tel" paddingВаш телефон>
                                    </div>
                                    <div class="request__form-radio">
                                        <input type="radio" name="time" id="">
                                        <input type="radio" name="time" id="">
                                    </div>
                                    <div class="request__form-btn">
                                        <button>ОСТАВИТЬ ЗАЯВКУ</button>
                                        <img src="img/request/plant.png" alt="растение">
                                    </div>
                                </div>
                                <div class="requesst__form-women">
                                    <img src="img/request/women.png" alt="женщина">
                                    <div class="request__form-women--name">
                                        <p class="purple">ЕКАТЕРИНА</p>
                                    </div>
                                    <div class="request__form-women--master">
                                        <p>Сертифицированный
                                            мастрер по депиляции
                                            воском и шугарингу</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="online__descr">
                        <div class="online__descr-text">
                            <p>Или <span class="bold">напишите нам</span> в
                                удобном для вас Месседжере</p>
                            <p><span></span> Мы онлайн, пишите, это БЕСПЛАТНО </p>
                        </div>
                        <dvi class="online__descr-mesage">
                            <span><img src="img/dep/online/vider.png" alt=""></span>
                            <span><img src="img/dep/online/vider.png" alt=""></span>
                            <span><img src="img/dep/online/vider.png" alt=""></span>
                        </dvi>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="online__img">
        <img src="img/dep/online/phone.png" alt="">
    </div>
</div>