.learn-main {
  & .main {
    &__descr {
      &-title {
        & h1 {
          width: 70%;
          margin-bottom: 1vw;
          @include lg_900 {
            width: auto;
          }
          @include md_767 {
            width: auto;
          }
          @include sm_567 {
            width: auto;
          }
        }
        & p {
          font: $fontMuseoSansCyrlLight_30;
        }
      }
      &-btn {
        width: 19.792vw;
        padding: 1.7vw 0;
        @include lg_900 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        @include md_767 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        @include sm_567 {
          width: auto;
          padding: 2rem 7rem 2rem 1rem;
        }
        & p {
          margin-left: 2.344vw;
          & a {
            color: #fff;
          }
        }
      }
      &-img {
        bottom: 0vh;
        left: 7vw;
        & img {
          max-width: 14vw;
          @include lg_900 {
            max-width: 100%;
          }
          @include md_767 {
            max-width: 100%;
          }
          @include sm_567 {
            max-width: 100%;
          }
        }
        @include lg_900 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 16rem;
        }
        @include md_767 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 16rem;
        }
        @include sm_567 {
          right: -2rem;
          top: -1.5rem;
          left: auto;
          width: 15rem;
        }
      }
      &-list {
        @include lg_900 {
          margin-top: 2rem;
        }
        @include md_767 {
          margin-top: 2rem;
        }
        @include sm_567 {
          margin-top: 2rem;
        }
      }
    }
    &__women {
      max-width: 50.408vw;
      top: 0vw;
      right: 3vw;
      @include lg_900 {
        max-width: 100%;
        bottom: -7rem;
        top: unset;
      }
      @include md_767 {
        max-width: 100%;
        bottom: -4rem;
        top: unset;
      }
      @include sm_567 {
        max-width: 100%;
        bottom: -4rem;
        top: unset;
      }
    }
  }
  &__blur {
    position: absolute;
    bottom: 14vw;
    right: 47vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
  &__leave {
    position: absolute;
    top: 3vw;
    right: 39vw;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
}
