.header {
  padding-top: 1.667vw;
  position: relative;
  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 14.583vw;
    @include lg_900 {
      width: auto;
    }
    @include md_767 {
      width: auto;
    }
    @include sm_567 {
      width: auto;
    }
  }
  &__descr {
    margin-left: -4vw;
    margin-right: 4vw;
    & p {
      max-width: 7.5vw;
      font: $fontMuseoSansCyrlLight_14;
    }
  }
  &__map {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-link {
      display: none;
    }
    &-icon {
      width: 5.063vw;
      height: 5.063vw;
    }
    &-descr {
      &_bold {
        font: $fontMuseoSansCyrlBold_16;
      }
      &_normal {
        font: $fontMuseoSansCyrlLight_16;
      }
      &_hover {
        font: $fontMuseoSansCyrlMed_16;
        margin-top: 0.521vw;
        padding-bottom: 0.313vw;
        color: $colorRozeDark;
        transition: all 0.2s ease;
        position: relative;
        @include beforeLine;
        &::before {
          width: 100%;
        }
        &:hover::before {
          width: 40%;
        }
        &:hover {
          text-shadow: 0 0 0.65px #e07c89, 0 0 0.65px $colorRozeDark;
        }
      }
      @include sm_567 {
        display: none;
      }
    }
  }
  &__contact {
    &-icon {
      margin-right: 0.625vw;
      width: 1.823vw;
      height: 1.823vw;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-phone {
      display: flex;
      align-items: center;
      margin-bottom: 0.573vw;
    }
    &-days {
      display: flex;
      align-items: center;
      @include sm_567 {
        display: none;
      }
    }
    &-tel {
      & a {
        font: $fontMuseoSansCyrlMed_24;
        position: relative;
        &:hover::before {
          width: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 100%;
          width: 0%;
          height: 1px;
          opacity: 0.4;
          border-bottom: 1px solid $colorRozeDark;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }
      }
      &_wraper {
        display: flex;
        align-items: center;
        & span {
          width: 0.313vw;
          height: 0.313vw;
          box-shadow: 0 0 7px 0 rgba(79, 160, 55, 0.61);
          background-color: #27b24b;
          border-radius: 50%;
          -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
          margin-right: 0.469vw;
        }
        & p {
          font: $fontMuseoSansCyrlMed_12;
        }
      }
    }
    &-days {
      & p {
        font: $fontMuseoSansCyrlLight_16;
      }
      & span {
        font: $fontMuseoSansCyrlBold_16;
      }
    }
  }
  &__rec {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 1.094vw 1.354vw;
    background-color: #fff;
    border-radius: 30.1px;
    box-shadow: 0 3px 0 #ebeaea;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      position: absolute;
      background: rgba(248, 165, 165, 0.5);
      width: 3.125vw;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      -webkit-filter: blur(30px);
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      background: rgba(248, 165, 165, 0.2);
      width: 1.563vw;
      height: 100%;
      left: 1.563vw;
      top: 0;
      opacity: 0;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover {
      box-shadow: inset 0 3px 0 #ebeaea;
    }
    &:hover:before {
      transform: translateX(15vw) skewX(-15deg);
      opacity: 0.6;
      transition: 0.7s;
    }
    &:hover:after {
      transform: translateX(15vw) skewX(-15deg);
      opacity: 1;
      transition: 0.7s;
    }
    & span {
      font: $fontMuseoSansCyrlMed_15;
    }
    & img {
      margin-right: 0.521vw;
    }
  }
  &__menu {
    padding: 1.198vw 1.875vw;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.781vw;
    & a {
      font: $fontMuseoSansCyrlLight_15;
      &:hover {
        text-shadow: 0 0 0.65px $colorRozeDark, 0 0 0.65px $colorRozeDark;
        transition: 0.2s ease;
        color: $colorRozeDark;
      }
    }
  }
  &_boxShadow {
    margin: 0 0.938vw;
    height: 0.365vw;
    background-color: #fff;
    opacity: 0.5;
    @include lg_900 {
      display: none;
    }
    @include md_767 {
      display: none;
    }
    @include sm_567 {
      display: none;
    }
  }
}
//media
@include lg_900 {
  .header {
    &_flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__descr {
      text-align: center;
      display: none;
      & p {
        font-size: 2rem;
        max-width: none;
      }
    }
    &__map {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      text-align: center;
      & a,
      p {
        font-size: 2rem;
      }
      &--none {
        display: none;
      }
      &-link {
        display: block;
      }
      &-icon {
        width: 8rem;
        height: auto;
        display: none;
      }
      &-iframe {
        width: 40rem;
        height: 30rem;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        top: unset;
      }
    }
    &__contact {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      & p,
      span {
        font-size: 2rem;
      }
      & a {
        font-size: 2rem;
      }
      &-phone {
        margin-right: 2rem;
      }
      &-tel {
        &_wraper {
          & span {
            border-radius: 50%;
            width: 3px;
            height: 3px;
          }
          & p {
            font-size: 1.8rem;
          }
        }
      }
      &-icon {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        & a {
          display: flex;
        }
        & img {
          max-width: unset;
        }
      }
    }
    &__rec {
      margin-top: 1rem;
      padding: 1rem;
      margin-bottom: 2rem;
      & span {
        font-size: 2rem;
      }
    }
    &__menu {
      display: none;
    }
    &_blurRight {
      z-index: -1;
    }
  }
}
@include md_767 {
  .header {
    &_flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__descr {
      margin-left: 1rem;
      display: none;
      & p {
        font-size: 2rem;
        max-width: none;
      }
    }
    &__map {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      text-align: center;
      & a,
      p {
        font-size: 2rem;
      }
      &--none {
        display: none;
      }
      &-link {
        display: block;
      }
      &-icon {
        width: 8rem;
        height: auto;
        display: none;
      }
      &-iframe {
        width: 40rem;
        height: 30rem;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        top: unset;
      }
    }
    &__contact {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      & p,
      span {
        font-size: 1.8rem;
      }
      & a {
        font-size: 1.8rem;
      }
      &-phone {
        margin-right: 2rem;
      }
      &-tel {
        &_wraper {
          & span {
            border-radius: 50%;
            width: 3px;
            height: 3px;
          }
          & p {
            font-size: 1.6rem;
          }
        }
      }
      &-icon {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        & a {
          display: flex;
        }
        & img {
          max-width: unset;
        }
      }
    }
    &__rec {
      margin-top: 1rem;
      padding: 1rem;
      margin-bottom: 2rem;
      & span {
        font-size: 2rem;
      }
    }
    &__menu {
      display: none;
    }

    &_blurRight {
      z-index: -1;
    }
  }
}
@include sm_567 {
  .header {
    &_flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__descr {
      margin-left: 1rem;
      display: none;
      & p {
        font-size: 1.2rem;
        max-width: none;
      }
    }
    &__map {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      display: none;
      & a,
      p {
        font-size: 2.2rem;
      }
      &--none {
        display: none;
      }
      &-link {
        display: block;
      }
      &-icon {
        width: 8rem;
        height: auto;
        display: none;
      }
      &-iframe {
        width: 20rem;
        height: 15rem;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        top: unset;
      }
    }
    &__contact {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      & p,
      span {
        font-size: 1.2rem;
      }
      & a {
        font-size: 1.5rem;
      }
      &-phone {
        margin-right: 1rem;
      }
      &-tel {
        & a {
          font-size: 1.2rem;
        }
        &_wraper {
          display: none;
        }
      }
      &-icon {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        & a {
          display: flex;
        }
        & img {
          max-width: unset;
        }
      }
    }
    &__rec {
      margin-top: 1rem;
      padding: 1rem;
      width: 14rem;
      margin: 1rem auto 0 auto;
      & span {
        font-size: 1rem;
      }
    }
    &__menu {
      display: none;
    }
    &_blurRight {
      z-index: -1;
    }
  }
}
