.main {
  position: relative;
  padding-top: 5.521vw;
  overflow: hidden;
  &__descr {
    margin-left: 5.99vw;
    position: relative;
    z-index: 1;
    &-list {
      margin-top: 3.125vw;
      & ul {
        list-style: none;
        & li {
          font: $fontMuseoSansCyrlLight_18;
          margin-top: 1.094vw;
          background: url(../img/catalog/main/marker.png) no-repeat left center;
          padding-left: 2vw;
        }
      }
    }
    &-btn {
      position: relative;
      padding: 1.302vw 7.917vw 1.302vw 2.135vw;
      margin-top: 4.583vw;
      letter-spacing: 2.16px;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      background-color: $colorRozeDark;
      border-radius: 39.2px;
      border-image-source: linear-gradient(to top, $colorRozeLighter, #ffffff);
      border-image-slice: 1;
      background-image: linear-gradient(
          to top,
          rgba(241, 153, 157, 0.47),
          rgba(252, 182, 182, 0.99)
        ),
        linear-gradient(to top, $colorRozeLighter, #ffffff);
      box-shadow: 0 8px 13px $colorRozeLighter,
        inset 0 -4px 1px $colorRozeDarker;
      & p {
        font: $fontMuseoSansCyrlBold_14;
        color: #fff;
        text-shadow: 0px 1px 5px rgba(210, 110, 116, 0.49);
        max-width: 10.323vw;
        text-align: center;
      }
      &::after {
        margin-left: -30px;
        content: " ";
        width: 30px;
        height: 300px;
        background: #fff;
        -webkit-animation-delay: 0.05s;
        animation-delay: 0.05s;
        position: absolute;
        left: -40px;
        top: -150px;
        transition: all 0.1s;
        -webkit-animation-name: blink;
        animation-name: blink;
        -webkit-animation-duration: 3.5s;
        animation-duration: 3.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        transform: rotate(45deg);
      }
      &--wraper {
        position: relative;
        display: flex;
      }
    }
    &-img {
      position: absolute;
      position: absolute;
      bottom: 1vh;
      left: 12vw;
      & img {
        max-width: 10.885vw;
      }
    }
    &-card {
      right: -29vw;
      position: absolute;
      bottom: -9vw;
      width: 44.427vw;
    }
    &-info {
      position: absolute;
      top: 9.5vw;
      right: 25.5vw;
      cursor: pointer;
      z-index: 11;
      & img {
        width: 2.083vw;
        height: 2.083vw;
      }
      &:hover .main__descr-info_hover {
        opacity: 1;
        transition: 0.3s ease;
      }
      & img {
        border-radius: 50%;
        -webkit-animation: pulseInfo 2s infinite;
        animation: pulseInfo 2s infinite;
      }
      &_hover {
        opacity: 0;
        transition: 0.3s ease;
        position: absolute;
        top: -11vw;
        left: 1vw;
        z-index: -1;
        text-align: center;
        background-position: center;
        border-top-left-radius: 200% 33%;
        background-color: white;
        border-top-right-radius: 200% 33%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 8px -10px 0px 1px rgba(203, 210, 223, 0.18);
        & p {
          width: 6.354vw;
          margin: 2vw 2vw;
          font: $fontMuseoSansCyrlLight_14;
        }
      }
    }
  }
  &__women {
    position: absolute;
    right: 0;
    top: 9.354vw;
    max-width: 45.408vw;
  }
  &__wawe {
    display: flex;
    position: relative;
    margin-top: 3.125vw;
    max-height: 100%;
    &-svg {
      @include scrollIcon;
    }
    &-img {
      position: absolute;
      top: 3.5vw;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}
//mdeia
@include sm_567 {
  .container {
    padding: 0 15px;
  }
  .main {
    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title {
        order: 1;
        & h1 {
          & span {
            font-size: 2.2rem;
          }
        }
      }
      &-list {
        order: 3;
        margin-top: -10rem;
        & ul {
          & li {
            font-size: 1.4rem;
            padding-left: 3rem;
          }
        }
      }
      &-btn {
        padding: 1rem 9rem 1rem 1rem;
        &--wraper {
          order: 4;
          margin-top: 2rem;
        }
        & p {
          max-width: none;
          font-size: 1rem;
        }
      }
      &-img {
        right: -1rem;
        top: 1.5rem;
        left: auto;
        width: 12rem;
        & img {
          max-width: 100%;
        }
      }
      &-info {
        left: 19rem;
        top: 11rem;
        & img {
          width: 3rem;
          height: auto;
        }
        &_hover {
          top: -12rem;
          left: -9rem;
          & p {
            font-size: 1.2rem;
            width: 10rem;
          }
        }
      }
      &-card {
        order: 2;
        position: relative;
        width: 50rem;
        right: -8rem;
        top: 4rem;
      }
    }
    &__wawe {
      bottom: -2px;
      height: 5rem;
      &-img {
        top: 3rem;
      }
    }
    &__women {
      position: relative;
      bottom: -4rem;
      right: -2rem;
      top: unset;
      max-width: 100%;
    }
  }
}
@include md_767 {
  .main {
    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title {
        order: 1;
        & h1 {
          & span {
            font-size: 2.2rem;
          }
        }
      }
      &-list {
        order: 3;
        margin-top: -10rem;
        & ul {
          & li {
            font-size: 1.4rem;
            padding-left: 3rem;
          }
        }
      }
      &-btn {
        padding: 2rem 9rem 2rem 1rem;
        &--wraper {
          order: 4;
          margin-top: 2rem;
        }
        & p {
          max-width: none;
          font-size: 1.2rem;
        }
      }
      &-img {
        right: -6rem;
        top: 2.5rem;
        left: auto;
        width: 16rem;
        & img {
          max-width: 100%;
        }
      }
      &-info {
        left: 31rem;
        top: 17rem;
        & img {
          width: 3rem;
          height: auto;
        }
        &_hover {
          top: -14rem;
          left: 1rem;
          & p {
            font-size: 1.2rem;
            width: 10rem;
          }
        }
      }
      &-card {
        order: 2;
        position: relative;
        width: 80rem;
        right: -15rem;
        top: 10rem;
      }
    }
    &__wawe {
      bottom: -2px;
      height: 5rem;
      &-img {
        top: 3rem;
      }
    }
    &__women {
      position: relative;
      bottom: -4rem;
      right: -2rem;
      top: unset;
      max-width: 100%;
    }
  }
}

@include lg_900 {
  .main {
    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title {
        order: 1;
        & h1 {
          & span {
            font-size: 2.2rem;
          }
        }
      }
      &-list {
        order: 3;
        margin-top: -10rem;
        & ul {
          & li {
            font-size: 1.4rem;
            padding-left: 3rem;
          }
        }
      }
      &-btn {
        padding: 2rem 9rem 2rem 2rem;
        &--wraper {
          order: 4;
          margin-top: 2rem;
        }
        & p {
          max-width: none;
          font-size: 1.2rem;
        }
      }
      &-img {
        right: -6rem;
        top: 5.5rem;
        left: auto;
        width: 16rem;
        & img {
          max-width: 100%;
        }
      }
      &-info {
        left: 31rem;
        top: 17rem;
        & img {
          width: 3rem;
          height: auto;
        }
        &_hover {
          top: -14rem;
          left: 1rem;
          & p {
            font-size: 1.2rem;
            width: 10rem;
          }
        }
      }
      &-card {
        order: 2;
        position: relative;
        width: 80rem;
        right: -15rem;
        top: 10rem;
      }
    }
    &__wawe {
      bottom: -2px;
      height: 5rem;
      &-img {
        top: 3rem;
      }
    }
    &__women {
      position: relative;
      bottom: -4rem;
      right: -2rem;
      top: unset;
      max-width: 100%;
    }
  }
}
