.services {
  padding-top: $blockPadding_55;
  background-image: url(../img/services/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    & h2 {
      font: $fontMuseoSansCyrlBold_48;
    }
    text-align: center;
  }
  &--flex {
    display: flex;
    justify-content: space-around;
  }
  &__card {
    position: relative;
    margin-top: $blockPadding_55;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35.729vw;
    transition: all 0.3s ease;
    border-radius: 20px;
    &:hover {
      box-shadow: 0px 7px 117px 0 rgba(176, 148, 149, 0.3);
      background-color: #ffffff;
    }
    &:hover .services__card-btn--wraper {
      display: block;
      opacity: 1;
      transition: 0.3s ease;
    }
    &-descr {
      width: 15.323vw;
      text-align: center;
      margin-top: 2.344vw;
      & h3 {
        font: $fontMuseoSansCyrlBold_30;
      }
      & p {
        margin-top: 0.521vw;
        font: $fontMuseoSansCyrlLight_18;
      }
    }
    &-img {
      height: 17.448vw;
      width: 21.875vw;
      text-align: center;
      & img {
        height: 100%;
      }
    }
    &-btn {
      position: relative;
      cursor: pointer;
      margin-top: 2.083vw;
      @include mainBtn;
      &--margin {
        margin-top: 0.5vw;
      }
      &--position {
        top: 1.5vw !important;
      }
      &--wraper {
        position: relative;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease;
      }
      & a {
        color: #fff;
        font: $fontMuseoSansCyrlLight_14;
        letter-spacing: 1.68px;
        padding: 1.563vw 3.646vw 1.563vw 2.083vw;
        display: block;
      }
      &::after {
        margin-left: -30px;
        content: " ";
        width: 30px;
        height: 300px;
        background: #fff;
        animation-delay: 0.05s;
        position: absolute;
        left: -40px;
        top: -150px;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        animation-name: blink;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        transform: rotate(45deg);
      }
      &-img {
        width: 9.063vw;
        position: absolute;
        right: -4vw;
        top: 3vw;
      }
    }
    &-sign {
      margin-top: 2.083vw;
      padding-bottom: 5px;
      border-bottom: 1px dashed $colorRozeDark;
      text-align: center;
      display: inline-block;
      & a {
        font: $fontMuseoSansCyrlMed_12;
        color: $colorRozeDark;
        cursor: pointer;
      }
    }
    &-leave {
      position: absolute;
      width: 4.479vw;
      right: 0;
      bottom: 1vw;
    }
  }
  &__more {
    margin-top: 1.563vw;
    & h2 {
      font: $fontMuseoSansCyrlBold_48;
      text-align: center;
    }
  }
  &__other {
    padding: 1.042vw 1.302vw 1.042vw 1.302vw;
    background-color: #fff;
    border: 1px dashed rgba(220, 178, 180, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    &--padding {
      padding-bottom: 2.344vw;
    }
    &--wraper {
      margin-top: 2.865vw;
      padding: 4px;
      background-color: #fff;
      border-radius: 10px;
      margin-right: 1.563vw;
      transition: all 0.3s ease;
      width: 22.5vw;
      &:hover {
        transform: scale(1.1);
        background-image: linear-gradient(to top, #ee858c, #fabcbc);
      }
      &:hover .services__other {
        background-image: linear-gradient(to top, #ee858c, #fabcbc);
        border: 1px dashed #fff;
      }
      &:hover .services__other-descr {
        color: #fff;
      }
      &:hover .services__other-btn {
        opacity: 1;
      }
    }
    &-img {
      width: 8.333vw;
      margin-right: 1.823vw;
    }
    &-descr {
      width: 6.771vw;
      transition: all 0.1s ease-in-out;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      & p {
        text-align: left;
        font: $fontMuseoSansCyrlLight_24;
        & span {
          font: $fontMuseoSansCyrlBold_24;
        }
      }
    }
    &-btn {
      border-radius: 26.5px;
      background-color: #fff;
      padding: 1.042vw;
      box-shadow: 0px 1px 109px 0 rgba(220, 178, 180, 0.25);
      margin-top: 0.625vw;
      width: 9.583vw;
      transition: all 0.3s ease;
      opacity: 0;
      cursor: pointer;
      & a {
        color: #000;
        font: $fontMuseoSansCyrlMed_13;
      }
    }
  }
  &__blurLeft {
    position: absolute;
    top: 55%;
    left: -6vw;
    width: 15.625vw;
  }
  &__wawe {
    margin-top: 5.99vw;
    position: relative;
    display: flex;
    &-svg {
      padding: 7px;
      border-radius: 50%;
      border: solid 3px #ee858c;
      display: inline;
      position: absolute;
      top: 1.5vw;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      animation: jump 2s infinite linear;
      background-color: #fff;
      &::before {
        content: "";
        position: absolute;
        border: 1px solid #ee858c;
        left: -15px;
        right: -15px;
        top: -15px;
        bottom: -15px;
        border-radius: 50%;
        animation: pulse 1.8s linear infinite;
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        border: 1px solid #ee858c86;
        left: -15px;
        right: -15px;
        top: -15px;
        bottom: -15px;
        border-radius: 50%;
        animation: pulse 1.8s linear infinite;
        opacity: 0;
      }
      &::after {
        animation-delay: 0.5s;
      }
    }
    &-img {
      position: absolute;
      top: 3.5vw;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  &__leaves {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
  }
}
@keyframes jump {
  0% {
    margin-top: 0.5rem;
  }
  40% {
    margin-top: 1rem;
  }
  60% {
    margin-top: 1.5rem;
  }
  80% {
    margin-top: 1rem;
  }
  100% {
    margin-top: 0.5rem;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@include lg_900 {
  .services {
    padding-top: 4rem;
    &--flex {
      flex-wrap: wrap;
    }
    &__title {
      & h2 {
        font-size: $mobFont_26;
      }
    }
    &__card {
      height: auto;
      box-shadow: 0px 7px 117px 0 rgba(176, 148, 149, 0.3);
      background-color: #ffffff;
      width: 35rem;
      margin: 2rem auto;
      height: 95%;
      justify-content: space-between;
      &-img {
        width: 30rem;
        height: 30rem;
      }
      &-descr {
        width: auto;
        margin-top: 2rem;
        & h3 {
          font-size: $mobFont_22;
        }
        & p {
          font-size: $mobFont_18;
        }
      }
      &-leave {
        bottom: 50%;
        right: -20rem;
        width: 15rem;
      }
      &-btn {
        margin-top: 2rem;
        &--wraper {
          opacity: 1;
        }
        &--position {
          top: 5rem !important;
        }
        & a {
          font-size: $mobFont_14;
          padding: 3rem 4rem;
        }
        &-img {
          width: 13rem;
          right: -6rem;
          top: 5rem;
        }
      }
      &-sign {
        margin-top: 2rem;
        margin-bottom: 2rem;
        & a {
          font-size: $mobFont_16;
        }
      }
    }
    &__more {
      margin-top: 3rem;
      & h2 {
        font-size: $mobFont_26;
      }
    }
    &__other {
      padding: 2rem 2.5rem;
      background-image: linear-gradient(to top, #ee858c, #fabcbc);
      border: 1px dashed #fff;
      height: 100%;
      &--wraper {
        margin-top: 2rem;
        width: 35rem;
        margin: 2rem auto;
        height: 20rem;
        &:hover {
          transition: none;
          transform: none;
        }
      }
      &-img {
        width: 25rem;
      }
      &-descr {
        width: auto;
        color: #fff;
        height: 100%;
        justify-content: space-between;
        & p {
          font-size: $mobFont_18;
          & span {
            font-size: $mobFont_18;
          }
        }
      }
      &-btn {
        width: auto;
        opacity: 1;
        padding: 1.5rem;
        margin-top: 2rem;
        & a {
          font-size: $mobFont_16;
        }
      }
    }
    &__wawe {
      margin-top: 3rem;
      &-scroll {
        & a {
          padding: 3px;
          top: 0.5rem;
        }
      }
      &-img {
        top: 3rem;
      }
    }
    &__blurLeft {
      width: 25rem;
      z-index: -1;
      left: -2rem;
    }
  }
}
@include md_767 {
  .services {
    padding-top: 3rem;
    &--flex {
      flex-wrap: wrap;
    }
    &__title {
      & h2 {
        font-size: $mobFont_24;
      }
    }
    &__card {
      height: auto;
      box-shadow: 0px 7px 117px 0 rgba(176, 148, 149, 0.3);
      background-color: #ffffff;
      width: 40rem;
      margin: 1.5rem auto;
      &-img {
        width: 35rem;
        height: 35rem;
      }
      &-descr {
        width: auto;
        margin-top: 1.5rem;
        & h3 {
          font-size: $mobFont_20;
        }
        & p {
          font-size: $mobFont_16;
        }
      }
      &-leave {
        bottom: -8rem;
        right: -7rem;
        width: 8rem;
      }
      &-btn {
        margin-top: 1.5rem;
        &--wraper {
          opacity: 1;
        }
        &--position {
          top: 3rem !important;
        }
        & a {
          font-size: $mobFont_14;
          padding: 2.5rem 3.5rem;
        }
        &-img {
          width: 16rem;
          right: -9rem;
          top: 3rem;
        }
      }
      &-sign {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        & a {
          font-size: $mobFont_14;
        }
      }
    }
    &__more {
      margin-top: 2rem;
      & h2 {
        font-size: $mobFont_24;
      }
    }
    &__other {
      padding: 1.5rem 2rem;
      background-image: linear-gradient(to top, #ee858c, #fabcbc);
      border: 1px dashed #fff;
      &--wraper {
        margin-top: 1.5rem;
        width: 35rem;
        margin: 1.5rem auto;
        height: auto;
        &:hover {
          transition: none;
          transform: none;
        }
      }
      &-img {
        width: 20rem;
      }
      &-descr {
        width: auto;
        color: #fff;
        & p {
          font-size: $mobFont_16;
          & span {
            font-size: $mobFont_16;
          }
        }
      }
      &-btn {
        width: auto;
        opacity: 1;
        padding: 1rem;
        margin-top: 1.5rem;
        & a {
          font-size: $mobFont_14;
        }
      }
    }
    &__wawe {
      margin-top: 2.5rem;
      &-scroll {
        & a {
          padding: 3px;
          top: 0.5rem;
        }
      }
      &-img {
        top: 3rem;
      }
    }
    &__blurLeft {
      width: 20rem;
      z-index: -1;
      left: -2rem;
    }
  }
}
@include sm_567 {
  .services {
    padding-top: 2rem;
    &--flex {
      flex-wrap: wrap;
    }
    &__title {
      & h2 {
        font-size: $mobFont_22;
      }
    }
    &__card {
      height: auto;
      box-shadow: 0px 7px 117px 0 rgba(176, 148, 149, 0.3);
      background-color: #ffffff;
      width: 27rem;
      margin: 1rem auto;
      &-img {
        width: 25rem;
        height: 25rem;
      }
      &-descr {
        width: auto;
        margin-top: 1rem;
        & h3 {
          font-size: $mobFont_18;
        }
        & p {
          font-size: $mobFont_14;
        }
      }
      &-leave {
        bottom: -4rem;
        right: -2rem;
        width: 5rem;
        z-index: 1;
      }
      &-btn {
        margin-top: 1rem;
        &--wraper {
          opacity: 1;
        }
        &--position {
          top: 2rem !important;
        }
        & a {
          font-size: $mobFont_12;
          padding: 1.5rem 2.5rem;
        }
        &-img {
          width: 10rem;
          right: -5rem;
          top: 2rem;
        }
      }
      &-sign {
        margin-top: 1rem;
        margin-bottom: 1rem;
        & a {
          font-size: $mobFont_12;
        }
      }
    }
    &__more {
      margin-top: 1.5rem;
      & h2 {
        font-size: $mobFont_22;
      }
    }
    &__other {
      padding: 1rem 1.5rem;
      background-image: linear-gradient(to top, #ee858c, #fabcbc);
      border: 1px dashed #fff;
      &--wraper {
        margin-top: 1rem;
        width: 25rem;
        margin: 1rem auto;
        height: auto;
        &:hover {
          transition: none;
          transform: none;
        }
      }
      &-img {
        width: 12rem;
      }
      &-descr {
        width: auto;
        color: #fff;
        & p {
          font-size: $mobFont_14;
          & span {
            font-size: $mobFont_14;
          }
        }
      }
      &-btn {
        width: auto;
        opacity: 1;
        padding: 0.5rem;
        margin-top: 1rem;
        & a {
          font-size: $mobFont_12;
        }
      }
    }
    &__wawe {
      margin-top: 2rem;
      & img {
        height: 5rem;
      }
      &-scroll {
        & a {
          padding: 3px;
          top: 0.5rem;
        }
      }
      &-img {
        top: 3rem;
      }
    }
    &__blurLeft {
      width: 12rem;
      z-index: -1;
      left: -2rem;
    }
  }
}
