<div class="description">
    <div class="container">
        <div class="description__title">
            <h2>Контакты</h2>
        </div>
        <div class="description__content">
            <div class="description__content-title">
                <p class="bold">Студия депиляции и массажный кабинет в Бресте</p>
            </div>
            <div class="description__content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laborum velit ratione adipisci hic
                placeat explicabo architecto ab repudiandae odit eos quam maxime, natus beatae accusamus ipsam
                laudantium non. Doloremque ducimus quisquam reiciendis? Eum, sit, sunt atque aut architecto saepe optio
                vero, harum cum animi illum qui. Velit, vel commodi.
            </div>
        </div>
    </div>
    <div class="description__leaves">
        <img src="img/contacts/description/leaves.png" alt="">
    </div>
</div>