.main {
  &__popup {
    padding: 3.906vw 5.469vw 4.063vw 5.469vw;
    background-image: linear-gradient(to top, #fcfdfd, #fdf3ee);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 38.417vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: none;
    &-close {
      text-align: right;
      cursor: pointer;
    }
    &-content {
      width: 27.396vw;
      & h2 {
        font: $fontMuseoSansCyrlLight_36;
        & span {
          font: $fontMuseoSansCyrlBold_36;
        }
      }
      & p {
        font: $fontMuseoSansCyrlLight_16;
        margin-top: 1.198vw;
      }
    }
    &-inputs {
      & input {
        background-color: #fff;
        padding: 1.615vw 0 1.615vw 2.396vw;
        width: 26.042vw;
        color: #989797;
        margin-top: 0.833vw;
        border-radius: 40px;
        border: none;
        border: solid 1px #fbeeef;
        &::placeholder {
          font-size: 0.729vw;
          font-weight: 300;
        }
      }
      & select {
        background-color: #fff;
        padding: 1.615vw 0 1.615vw 2.396vw;
        width: 26.042vw;
        color: #989797;
        margin-top: 0.833vw;
        border-radius: 40px;
        border: none;
        outline: none;
        border: solid 1px #fbeeef;
        appearance: none;
        background-image: url(../img/main/arrow.png);
        background-position: 94%;
        background-repeat: no-repeat;
        &::placeholder {
          font-size: 0.729vw;
          font-weight: 300;
        }
      }
    }
    &-submit {
      position: relative;
      padding: 1.51vw 0 1.51vw 3.542vw;
      width: 26.042vw;
      margin-top: 0.833vw;
      display: inline-block;
      overflow: hidden;
      cursor: pointer;
      border-radius: 40px;
      background-color: $colorRozeDark;
      border-radius: 39.2px;
      border-image-source: linear-gradient(to top, $colorRozeLighter, #ffffff);
      border-image-slice: 1;
      background-image: linear-gradient(
          to top,
          rgba(241, 153, 157, 0.47),
          rgba(252, 182, 182, 0.99)
        ),
        linear-gradient(to top, $colorRozeLighter, #ffffff);
      box-shadow: 0 8px 13px $colorRozeLighter,
        inset 0 -4px 1px $colorRozeDarker;
      & a {
        font: $fontMuseoSansCyrlBold_18;
        font-size: 1.5vw;
        color: #fff;
        text-shadow: 0px 1px 5px rgba(210, 110, 116, 0.49);
        max-width: 9.323vw;
        text-align: center;
      }
      &::after {
        margin-left: -30px;
        content: " ";
        width: 30px;
        height: 300px;
        background: #fff;
        animation-delay: 0.05s;
        position: absolute;
        left: -40px;
        top: -150px;
        transition: all 0.1s;
        animation-name: blink;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        transform: rotate(45deg);
      }
      &_img {
        position: absolute;
        bottom: 0.5vw;
        right: 1vw;
        & img {
          width: 9.448vw;
        }
      }
      &--wraper {
        position: relative;
      }
    }
    &_img {
      position: absolute;
      bottom: 3vw;
      left: -9vw;
      z-index: -1;
    }
    &-complete {
      position: fixed;
      width: 27.24vw;
      padding: 4.01vw 6.667vw 4.255vw 6.667vw;
      background-image: linear-gradient(to top, #fcfdfd, #fdf3ee);
      border-radius: 50px;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      display: none;
      &_text {
        margin-top: 1.354vw;
        p {
          & span {
            font: $fontMuseoSansCyrlBold_30;
          }
          font: $fontMuseoSansCyrlLight_30;
        }
      }
      &_check {
        & img {
          border-radius: 50%;
        }
      }
      &_img {
        position: absolute;
        bottom: 0;
        right: 0;
        & img {
          border-bottom-right-radius: 50px;
        }
      }
      &_close {
        position: absolute;
        top: 2.396vw;
        right: 2.396vw;
        cursor: pointer;
      }
    }
    &_background {
      width: 100vw;
      height: 100vh;
      background-color: #ddd;
      top: 0;
      opacity: 0.5;
      display: none;
      position: fixed;
      z-index: 11;
    }
  }
}
@include lg_900 {
  .main {
    &__popup {
      width: 30rem;
      padding: 0;
      &-close {
        position: absolute;
        right: 4rem;
        top: 2rem;
      }
      &-content {
        width: auto;
        padding: 3rem;
        & h2 {
          font-size: 2.5rem;
          text-align: center;
          & span {
            font-size: 2.5rem;
          }
        }
        & p {
          font-size: 1.5rem;
        }
      }
      &-inputs {
        & select {
          padding: 2rem;
          width: 100%;
          &::placeholder {
            font-size: 1.4rem;
          }
        }
        & input {
          &::placeholder {
            font-size: 1.4rem;
          }
        }
      }
      &-submit {
        width: 100%;
        padding: 2rem;
        left: 50%;
        transform: translate(-50%);
        &--wraper {
          position: relative;
        }
        & a {
          font-size: 1.4rem;
        }
        &_img {
          bottom: 0.5rem;
          right: 0rem;
          width: 10rem;

          & img {
            width: auto;
          }
        }
      }
      &-select {
        & select {
          width: 100%;
        }
      }
      &-name {
        & input {
          padding: 2rem;
          width: 100%;
        }
      }
      &-tel {
        & input {
          width: 100%;
          padding: 2rem;
        }
      }
      &_img {
        bottom: 0px;
        left: -60px;
        width: 10rem;
      }
      &-complete {
        width: 25rem;
        &_close {
          top: 1rem;
          right: 4rem;
        }
        &_text {
          & p {
            font-size: 2rem;
            & span {
              font-size: 2rem;
            }
          }
          & span {
            font-size: 2rem;
          }
        }
        &_img {
          width: 4rem;
        }
      }
    }
  }
}
@include md_767 {
  .main {
    &__popup {
      width: 30rem;
      padding: 0;
      &-close {
        position: absolute;
        right: 4rem;
        top: 2rem;
      }
      &-content {
        width: auto;
        padding: 3rem;
        & h2 {
          font-size: 2.5rem;
          text-align: center;
          & span {
            font-size: 2.5rem;
          }
        }
        & p {
          font-size: 1.5rem;
        }
      }
      &-inputs {
        & select {
          padding: 2rem;
          width: 100%;
          &::placeholder {
            font-size: 1.4rem;
          }
        }
        & input {
          &::placeholder {
            font-size: 1.4rem;
          }
        }
      }
      &-submit {
        width: 100%;
        padding: 2rem;
        left: 50%;
        transform: translate(-50%);
        &--wraper {
          position: relative;
        }
        & a {
          font-size: 1.4rem;
        }
        &_img {
          bottom: 0.5rem;
          right: 0rem;
          width: 10rem;

          & img {
            width: auto;
          }
        }
      }
      &-select {
        & select {
          width: 100%;
        }
      }
      &-name {
        & input {
          padding: 2rem;
          width: 100%;
        }
      }
      &-tel {
        & input {
          width: 100%;
          padding: 2rem;
        }
      }
      &_img {
        bottom: 0px;
        left: -60px;
        width: 10rem;
      }
      &-complete {
        width: 25rem;
        &_close {
          top: 1rem;
          right: 4rem;
        }
        &_text {
          & p {
            font-size: 2rem;
            & span {
              font-size: 2rem;
            }
          }
          & span {
            font-size: 2rem;
          }
        }
        &_img {
          width: 4rem;
        }
      }
    }
  }
}
@include sm_567 {
  .main {
    &__popup {
      width: 30rem;
      padding: 0;
      &-close {
        position: absolute;
        right: 4rem;
        top: 2rem;
      }
      &-content {
        width: auto;
        padding: 3rem;
        & h2 {
          font-size: 2.5rem;
          text-align: center;
          & span {
            font-size: 2.5rem;
          }
        }
        & p {
          font-size: 1.5rem;
        }
      }
      &-inputs {
        & select {
          padding: 2rem;
          width: 100%;
          &::placeholder {
            font-size: 1.4rem;
          }
        }
        & input {
          &::placeholder {
            font-size: 1.4rem;
          }
        }
      }
      &-submit {
        width: 100%;
        padding: 2rem;
        left: 50%;
        transform: translate(-50%);
        &--wraper {
          position: relative;
        }
        & a {
          font-size: 1.4rem;
        }
        &_img {
          bottom: 0.5rem;
          right: 0rem;
          width: 10rem;

          & img {
            width: auto;
          }
        }
      }
      &-select {
        & select {
          width: 100%;
        }
      }
      &-name {
        & input {
          padding: 2rem;
          width: 100%;
        }
      }
      &-tel {
        & input {
          width: 100%;
          padding: 2rem;
        }
      }
      &_img {
        bottom: 0px;
        left: -60px;
        width: 10rem;
      }
      &-complete {
        width: 25rem;
        &_close {
          top: 1rem;
          right: 4rem;
        }
        &_text {
          & p {
            font-size: 2rem;
            & span {
              font-size: 2rem;
            }
          }
          & span {
            font-size: 2rem;
          }
        }
        &_img {
          width: 4rem;
        }
      }
    }
  }
}
.show {
  display: block;
}
.overflowToggle {
  overflow: hidden;
}
