.main {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - 78px);
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-item {
      width: 250px;
      height: 250px;
      margin-bottom: 30px;
      margin-right: 10px;
      text-align: center;
      & img {
        height: 100%;
      }
    }
    &-subtitle {
    }
  }
}
